<div class="ely-page-comments-detail">
    <div class="ely-page-comment" ng-repeat="comment in ctrl.comments.comments">
        <div class="header" layout="row" ng-click="ctrl.goToUserDetail(comment.userId)">
            <img ng-src="{{comment.profileUrl}}" class="profile-preview">
            <div class="profile-container">
                <div class="name md-title">{{comment.name}}</div>
                <div class="date">{{ctrl.getDate(comment.created)}}</div>
                <ely-star-rating class="user-rating" is-readonly="true" is-x-small="true"
                                 number-of-selected-stars-readonly="comment.rating"></ely-star-rating>
            </div>
        </div>
        <ely-expand-text class="description" description="{{comment.comment}}" length="160"></ely-expand-text>
    </div>
    <div class="pagination" layout="row" layout-align="center center">
        <md-button class="md-fab md-mini md-primary" aria-label="Delete Recommendation" ng-click="ctrl.getPrevious()"
                   ng-disabled="ctrl.running" ng-show="ctrl.skip > 0">
            <md-icon md-svg-icon="cardActions:arrowLeft"></md-icon>
        </md-button>
        <md-button class="md-fab md-mini md-primary" aria-label="Delete Recommendation" ng-click="ctrl.getNext()"
                   ng-disabled="ctrl.running" ng-hide="ctrl.skip + ctrl.maxItems >= ctrl.comments.totalNumberOfComments">
            <md-icon md-svg-icon="cardActions:arrowRight"></md-icon>
        </md-button>
    </div>
</div>
