#ely-blog-detail {
  background-color: $background-normal;
  height: 100%;
  .blog-container {
    margin: 0 auto;
    max-width: 600px;
    .blog-header {
      cursor: pointer;
      .user-name {
        line-height: 16px;
        font-size: 14px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .blog-created {
        display: inline-block;
        margin-right: 8px;
        line-height: 14px;
        font-size: 12px;
        color: $secondary-text;
      }
      .public-type {
        font-size: 14px;
        line-height: 16px;
        font-weight: 500;
        color: $primary-color;
      }
    }
    .button-settings-container {
      padding: 0;
      .button-settings {
        margin: 0;
      }
    }
    .blog-content {
      padding: 0 16px 16px 16px;
      .blog-title {
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 16px;
      }
      .image-description-container {
        margin-top: 18px;
        .image {
          cursor: pointer;
          float: left;
          max-width: 300px;
          max-height: 400px;
          margin-right: 16px;
          margin-bottom: 16px;
          @media screen and (min-width: $gt-sm) {
            max-width: 200px;
          }
        }
        .blog-text {
          white-space: pre-wrap;
          font-weight: 300;
        }
      }
    }
  }
}