<div class="body">
    <div class="description">Um die Registrierung deines Benutzerkontos abzuschliessen klicke auf den nachfolgenden Link um deine Email Adresse
        verifizieren. Der Link ist 12 Stunden gültig.
    </div>
    <div class="navigate">
        <a href="<%= link %>">Registrierung bestätigen</a>
    </div>
    <div class="footer">
        Diese Nachricht wurde von Elyoos versandt.
    </div>
</div>