<tr>
    <th style="padding-top:10px;padding-bottom:20px">
        <a style="font-weight:bold;font-size:16px;text-decoration:none;color:#009e97" href="<%= linkToUser %>"><%= user.name %></a>
        <span style="font-weight:normal;font-size:16px;color:black"><%= text1 %></span>
</tr>