<div id="compare-existing-pages" ng-show="ctrl.showPreviews">
    <ely-page-preview-container video-width="160" video-height="255" title="Existiert die Seite bereits?" service="ctrl.SearchPage"
                                page-request-start="ctrl.pageRequest" hide="false"
                                not-request-init-service="true" container-max-width="780"></ely-page-preview-container>
    <div class="commands">
        <md-button class="md-primary md-raised ely-button command-buttons"
                   ng-click="ctrl.continue()">
            Weiter
        </md-button>
        <md-button class="md-primary ely-button command-buttons"
                   ng-click="ctrl.abortHandlingPage()">
            Seite Erstellen Abbrechen
        </md-button>
    </div>
</div>