<div class="modal" tabindex="-1" role="dialog" ng-controller="FileCtrl">
    <div class="modal-dialog" id="modal-preview-file">
        <div class="modal-content">
            <div class="modal-body">
                <div class="cropArea">
                    <ely-image-cropper ng-if="!uploadRunning"
                                       reset="resetImage"
                                       image="imageForUploadPreview"
                                       image-result-data="imageResultData"
                                       ratio="0.62745"
                                       original-size="checkOriginalSize" min-width="100" min-height="200"></ely-image-cropper>
                </div>
                <ely-spin ng-if="uploadRunning"></ely-spin>
            </div>
            <div class="modal-footer">
                <span class="btn btn-default btn-file" ng-class="{disabled: uploadRunning}">
                    Bild auswählen...<input type="file" ely-file-model="imageForUpload"
                                            accept=".jpg, .png, jpeg">
                </span>

                <div class="upload-file-error" ng-show="uploadError">
                    {{uploadError}}
                </div>
                <button type="button" class="btn btn-default"
                        ng-class="{disabled: uploadRunning}" ng-click="$hide()">Abbrechen
                </button>
                <button type="button" class="btn btn-default"
                        ng-class="{disabled: !imageForUploadPreview || uploadRunning || uploadError}"
                        ng-click="getPreview()">
                    Auswählen
                </button>
            </div>
        </div>
    </div>
</div>