<div class="modal" tabindex="-1" role="dialog" ng-controller="FileCtrl">
    <div class="modal-dialog" id="modal-preview-file">
        <div class="modal-content">
            <div class="modal-body">
                <div class="cropArea">
                    <ely-image-cropper ng-if="!uploadRunning"
                                       reset="resetImage"
                                       image="image.imageForUploadPreview"
                                       image-result-data="imageResultData"
                                       ratio="0.62745"
                                       original-size="checkOriginalSize" min-width="100" min-height="160"></ely-image-cropper>
                </div>
                <ely-spin ng-if="uploadRunning"></ely-spin>
            </div>
            <div class="modal-footer">
                <md-button class="md-primary md-raised ely-button btn-file" ng-disabled="uploadRunning">
                    Bild auswählen...<input type="file" ely-file-model="image.imageForUpload"
                                            accept=".jpg, .png, jpeg">
                </md-button>

                <div class="upload-file-error" ng-show="uploadError">
                    {{uploadError}}
                </div>
                <md-button class="md-primary ely-button"
                        ng-disabled="uploadRunning" ng-click="$hide()">Abbrechen
                </md-button>
                <md-button class="md-primary md-raised ely-button"
                        ng-disabled="!image.imageForUploadPreview || uploadRunning || uploadError"
                        ng-click="getPreview()">
                    Auswählen
                </md-button>
            </div>
        </div>
    </div>
</div>