<div class="modal" tabindex="-1" role="dialog" ng-controller="UploadFileCtrl">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="cropArea">
                    <ely-image-upload ng-if="!uploadRunning"
                                      reset="resetImage"
                                      image="imageForUploadPreview"
                                      image-result-data="imageResultData"
                                      get-data-to-upload="updateImageResult"></ely-image-upload>
                </div>
                <ely-spin ng-if="uploadRunning"></ely-spin>
            </div>
            <div class="modal-footer">
                <span class="btn btn-default btn-file" ng-class="{disabled: uploadRunning}">
                    Bild auswählen...<input type="file" ely-file-model="imageForUpload"
                                            accept=".jpg, .png, jpeg">
                </span>
                <div class="upload-file-error" ng-show="uploadError">
                    {{uploadError}}
                </div>
                <button type="button" class="btn btn-default"
                        ng-class="{disabled: !imageForUploadPreview || uploadRunning}"
                        ng-click="startUpload()">
                    Hochladen
                </button>
                <button type="button" class="btn btn-default"
                        ng-class="{disabled: uploadRunning}" ng-click="$hide()">Abbrechen
                </button>
            </div>
        </div>
    </div>
</div>