<div id="carousel" md-swipe-up="ctrl.onSwipeUp()" md-swipe-down="ctrl.onSwipeDown()">
    <div id="login-button" ng-show="ctrl.actualScreen !== 0">
        <md-button class="md-primary md-raised" ng-click="ctrl.actualScreen = 0">
            Login
        </md-button>
    </div>
    <div id="left-column" layout="column" layout-align="center center">
        <div id="carousel-nav-container">
            <div class="carousel-nav" ng-click="ctrl.actualScreen = 0" ng-class="{active: ctrl.actualScreen === 0}">
                <md-tooltip md-direction="right">
                    Login
                </md-tooltip>
            </div>
            <div class="carousel-nav" ng-click="ctrl.actualScreen = 1" ng-class="{active: ctrl.actualScreen === 1}">
                <md-tooltip md-direction="right">
                    Um was geht es?
                </md-tooltip>
            </div>
            <div class="carousel-nav" ng-click="ctrl.actualScreen = 2" ng-class="{active: ctrl.actualScreen === 2}">
                <md-tooltip md-direction="right">
                    Vision
                </md-tooltip>
            </div>
        </div>
    </div>
    <div id="right-column">
        <ely-carousel-login ng-show="ctrl.actualScreen === 0"></ely-carousel-login>
        <ely-carousel-meaning ng-show="ctrl.actualScreen === 1"></ely-carousel-meaning>
        <ely-carousel-vision ng-show="ctrl.actualScreen === 2"></ely-carousel-vision>
    </div>
    <div id="carouse-nav-bottom-button" layout="row" layout-align="center center" ng-show="ctrl.actualScreen < 2"
         ng-click="ctrl.onSwipeUp()">
        <div class="button-description" ng-show="ctrl.actualScreen === 0">Um was geht es?</div>
        <div class="button-description" ng-show="ctrl.actualScreen === 1">Vision</div>
    </div>
</div>