<div class="body">
    <div class="description">Um dein Passwort zur체ck zusetzen klicke auf den folgenden Link. Du hast 20 Minuten Zeit um dein Passwort zu 채ndern.
    Danach ist der Link ung체ltig.</div>
    <div class="navigate">
        <a href="<%= link %>">Passwort zur체ck setzen</a>
    </div>
    <div class="footer">
        Diese Nachricht wurde von Elyoos versandt.
    </div>
</div>