<div class="body">
    <div class="description">Um dein Passwort zurück zusetzen klick auf den folgenden Link</div>
    <div class="navigate">
        <a href="<%= link %>">Passwort zurück setzen</a>
    </div>
    <div class="footer">
        Diese Nachricht wurde von Elyoos versandt.
    </div>
</div>