.ely-page-admin-container {
  padding: 12px;
  border-bottom: 1px solid $divider;
  .page-admin-info {
    font-size: 12px;
    color: $primary-color;
  }
  .page-admin-images {
    .admin-image {
      img {
        height: 32px;
        width: 32px;
        border-radius: 50%;
      }
    }
  }
  .page-admin-actions-container {
    margin-top: 8px;
    .first-element {
      .md-mini {
        margin-left: 0;
      }
    }
  }
}
