#ely-blog-detail {
  #ely-blog-detail-main {
    padding: 12px;
    .blog-header-container {
      .user-avatar {
        cursor: pointer;
        margin-right: 8px;
        img {
          width: 38px;
          height: 38px;
          border-radius: 50%;
        }
      }
      .blog-header {
        .user-name {
          cursor: pointer;
          line-height: 16px;
          font-size: 14px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .blog-created {
          display: inline-block;
          margin-right: 8px;
          line-height: 14px;
          font-size: 12px;
          color: $secondary-text;
        }
        .public-type {
          font-size: 14px;
          line-height: 16px;
          font-weight: 500;
          color: $primary-color;
          .private-visible-type {
            margin-right: 8px;
          }
        }
      }
    }
    .button-settings-container {
      padding: 0;
      .button-settings {
        margin: 0;
      }
    }
    .blog-content {
      background-color: $background-light;
      .blog-title {
        margin-top: 8px;
        margin-bottom: 16px;
        color: $primary-color;
        font-size: 20px;
        overflow: hidden;
        @media screen and (max-width: $gt-xs) {
          max-height: 74px;
        }
        @media screen and (min-width: $gt-sm) {
          font-size: 24px;
        }
      }
      .image-description-container {
        margin-top: 18px;
        overflow: visible;
        .image {
          cursor: pointer;
          float: left;
          max-width: 300px;
          max-height: 400px;
          margin-right: 16px;
          margin-bottom: 16px;
          @media screen and (min-width: $gt-sm) {
            max-width: 200px;
          }
        }
        .blog-text {
          white-space: pre-wrap;
          font-weight: 300;
        }
      }
    }
  }
}