#ely-book-page-detail {
  #ely-book-page-main-detail {
    padding: 12px;
    .title-container {
      .title {
        color: $primary-color;
        font-size: 20px;
        overflow: hidden;
        @media screen and (max-width: $gt-xs) {
          max-height: 74px;
        }
        @media screen and (min-width: $gt-sm) {
          font-size: 24px;
        }
      }
      .authors {
        margin-top: 2px;
        font-size: 14px;
        color: $secondary-text;
      }
    }

    .topic-description {
      margin: 0 0 4px 0;
      @media screen and (min-width: $gt-md) {
        margin-bottom: 8px;
      }
    }

    .image-description-container {
      margin-top: 18px;
      min-height: 165px;
      .image {
        cursor: pointer;
        float: left;
        width: 100px;
        height: 165px;
        margin-right: 16px;
      }
    }
  }
}