#ely-youtube-page-detail {
  #ely-youtube-page-main-detail {
    padding: 12px;
    .title-container {
      .title {
        color: $primary-color;
        font-size: 20px;
        overflow: hidden;
        margin-bottom: 12px;
        @media screen and (max-width: $gt-xs) {
          max-height: 74px;
        }
        @media screen and (min-width: $gt-sm) {
          font-size: 24px;
        }
      }
      .button-settings-container {
        padding: 0;
        .button-settings {
          margin: 0;
          height: 24px;
          min-height: 24px !important;
          padding-top: 0;
          padding-bottom: 0;
        }
      }
    }

    .description {
      margin-top: 12px;
    }

    .topic-description {
      margin: 0 0 4px 0;
    }
  }
}