<head>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,400italic,500,700,300' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="body">
    <%- include('../header/html') %>
    <div id="header-bar"></div>
    <div id="content-container">
        <div class="description">
            <span class="name"><%= userCommentName %></span> hat <span class="title"><%= titleFeedback %></span> kommentiert.
        </div>
        <div class="comment">
            <%= textComment %>
        </div>
        <div class="navigate">
            <a class="btn btn-default" href="https://www.elyoos.org">Elyoos öffnen</a>
        </div>
    </div>
    <div class="footer">
        Diese Nachricht wurde von Elyoos versandt.
    </div>
</div>
</body>