#ely-setting-profile {
  height: 100%;
  background-color: $background-normal;
  padding: 0 6px;
  .container {
    #ely-setting-profile-image {
      width: 100%;
      max-width: 300px;
      margin: 8px 0;
      background-color: white;
    }
    .profile-image {
      width: 180px;
      height: 180px;
      border-radius: 50%;
    }
  }
}
