#ely-setting-profile-image-card {
  width: 100%;
  max-width: 300px;
  margin: 8px 0;
  background-color: white;
}

.ely-setting-profile-image {
  .profile-image {
    cursor: pointer;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    @media screen and (min-width: $gt-md) {
      width: 140px;
      height: 140px;
      margin-top: 16px;
    }
  }
  .contact-statistic {
    cursor: pointer;
    .number-of-contacting {
      position: relative;
      font-weight: 500;
      top: 1px;
      left: 4px;
      color: $primary-color;
    }
    font-size: 16px;
  }
}
