#ely-setting-profile {
  height: 100%;
  background-color: $background-normal;
  .container {
    height: 100%;
    #ely-setting-profile-image {
      width: 95%;
      max-width: 300px;
      background-color: white;
    }
    .profile-image {
      width: 180px;
      height: 180px;
      border-radius: 50%;
    }
  }
}
