#ely-setting-overview {
  width: 300px;
  margin: 0;
  .title {
    position: relative;
    height: 48px;
    border-bottom: 1px solid $divider;
    .setting-icon-left {
      position: absolute;
      margin: 0;
      left: 16px;
      top: 12px;
    }
    .setting-icon-right {
      position: absolute;
      margin: 0;
      right: 16px;
      top: 12px;
    }
    .description-container {
      height: 100%;
      width: 100%;
      .description {
        font-size: 18px;
        font-weight: 500;
        color: $primary-color;
      }
    }
  }
  .content {

    .setting {
      height: 36px;
      border-bottom: 1px solid $divider;
      cursor: pointer;
      .setting-description {
        font-size: 16px;
        font-weight: 500;
      }
    }
    .setting:hover {
      background-color: $hover;
    }
  }
}
