<div id="loginform" layout="column" layout-align="center center">
    <div id="login-container">
        <form name="loginForm" class="login-form-container">
            <md-input-container class="input-element md-block">
                <label>Email</label>
                <input required type="email" name="username" id="id_username" aria-label="Email"
                       ng-model="ctrl.loginuser.email">

                <div ng-messages="loginForm.username.$error">
                    <div ng-message="required">Wird benötigt!</div>
                    <div ng-message="email">Keine gültige E-Mail Adresse!</div>
                </div>
            </md-input-container>
            <md-input-container class="input-element md-block" ng-keypress="ctrl.keyPressed($event)">
                <label>Passwort</label>
                <input type="password" required name="password" id="id_password" aria-label="Passwort" md-autofocus
                       ng-model="ctrl.loginuser.password">

                <div ng-messages="loginForm.password.$error">
                    <div ng-message="required">Wird benötigt!</div>
                </div>
            </md-input-container>
        </form>
        <div class="error-message alert alert-danger" role="alert" ng-show="ctrl.error">
            {{ctrl.error}}
        </div>
        <div layout="row" layout-align="end center" class="action-container">
            <div class="password-reset" ng-click="ctrl.passwordReset = true">Passwort vergessen?</div>
            <md-button id="login" class="md-primary md-raised" type="submit" ng-click="ctrl.login()"
                       ng-disabled="loginForm.$invalid || ctrl.loginRunning">
                Anmelden
            </md-button>
        </div>
        <div layout="row" layout-align="center center">
            <md-progress-circular ng-if="ctrl.loginRunning" md-mode="indeterminate"></md-progress-circular>
        </div>
    </div>
</div>