<div class="page-recommendation-actions" layout="row">
    <div ng-hide="ctrl.uploadRunning">
        <md-button class="page-action md-fab md-mini" aria-label="Recommend Blog"
                   ng-disabled="ctrl.element.recommendedByUser"
                   ng-click="ctrl.recommendPage()">
            <md-icon md-svg-icon="cardActions:thumbUp" class="action-icon"></md-icon>
        </md-button>
        <md-tooltip md-direction="bottom" ng-if="ctrl.element.recommendedByUser">Du hast diese Seite empfohlen</md-tooltip>
        <md-tooltip md-direction="bottom" ng-if="!ctrl.element.recommendedByUser">Diese Seite empfehlen</md-tooltip>
    </div>
    <div ng-show="ctrl.uploadRunning">
        <md-progress-circular class="upload-recommendation" md-mode="indeterminate"
                              md-diameter="16"></md-progress-circular>
    </div>
    <div class="number-container ">
        <div ng-if="!ctrl.element.onlyContact">
            <span class="number">{{ctrl.element.totalNumberOfRecommendations}}</span>
        </div>
        <div ng-if="ctrl.element.onlyContact">
            <span class="number">{{ctrl.element.numberOfRecommendations}}</span>
            <span class="number" ng-if="ctrl.element.numberOfRecommendations !== ctrl.element.totalNumberOfRecommendations">
                ({{ctrl.element.totalNumberOfRecommendations}})</span>
        </div>
    </div>
</div>
