#ely-user-detail-contact-overview {
  min-height: 1000px;
  .contact-overview-container {
    margin: 0 auto;
    width: 296px;
    @media screen and (min-width: $gt-sm) {
      width: 444px;
    }
    @media screen and (min-width: $gt-xmd) {
      width: 592px;
    }
    .contact-overview-title {
      margin: 8px 0 16px 4px;
      font-size: 16px;
      font-weight: 500;
      color: $secondary-text;

      @media screen and (min-width: $gt-md) {
        margin-top: 16px;
      }
    }
    .contact-preview-element {
      margin-right: 4px;
      margin-left: 4px;
      display: inline-block;
    }
  }
}

#ely-user-detail-contact-overview.ely-user-detail-contact-overview-normal {
  min-height: 0;
}