#ely-user-detail-profile-sidenav {
  .header {
    padding-top: 16px;
    .profile-image {
      width: 120px;
      height: 120px;
      border-radius: 50%;
      margin-bottom: 16px;
    }
    .name-container {
      width: 100%;
      padding: 0 16px;
      .name {
        text-align: center;
        word-wrap: break-word;
        white-space: pre-line;
        font-size: 18px;
        font-weight: 500;
        overflow: hidden;
      }
    }
    .type {
      margin: 5px 0 0 0;
      font-size: 14px;
      font-weight: 400;
      color: $secondary-text;
    }
    .blocked {
      margin: 5px 0 0 0;
      font-size: 14px;
      font-weight: 400;
      color: $error-text;
    }
  }
  .commands-user {
    margin-top: 16px;
  }
}