#detail-user-pinwall {
  .title {
    font-size: 16px;
    font-weight: 500;
    color: $secondary-text;
    max-width: 400px;
    margin: 16px auto 0 auto;
  }
  .title-two-column {
    width: 880px;
    max-width: 880px;
  }
  .pinwall-container {
    margin: 0 auto;
  }
}
