.ely-sidnav {
  width: 250px;
  height: 100%;
  .sidnav-header {
    background-color: #ffffff;
    padding: 10px 5px;
    margin-bottom: 10px;
    @media screen and (min-width: $gt-sm) {
      padding-top: 18px;
      padding-left: 12px;
    }
    .user-preview {
      cursor: pointer;
      height: 50px;
      width: 50px;
      margin: 0 10px 10px 10px;
      border-radius: 50%;
      @media screen and (min-width: $gt-sm) {
        height: 82px;
        width: 82px;
      }
    }
    .header-commands {
      height: 24px;
      padding-right: 5px;
      .icon-header {
        margin: 0 5px 0 5px;
        cursor: pointer;
      }
    }
    .user-info {
      cursor: pointer;
      color: $primary-text;
      font-size: 14px;
      font-weight: 500;
      padding: 0 10px;
      overflow: hidden;
      @media screen and (min-width: $gt-sm) {
        font-size: 16px;
        padding-top: 8px
      }
    }
    .user-name {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      color: $primary-color;
    }
  }

  .ely-divider {
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .left-nav-content {
    padding-left: 16px;
    padding-right: 16px;
    .nav-element {
      cursor: pointer;
      padding-top: 12px;
      padding-bottom: 12px;
      width: 100%;
      .icon-container {
        position: relative;
        display: inline-block;
        .icon {
          position: relative;
          height: 24px;
          width: 24px;
          margin-right: 32px;
        }
        .number {
          font-size: 11px;
          font-weight: 700;
          height: 18px;
          min-width: 18px;
          color: white;
          border-radius: 4px;
          position: absolute;
          top: -5px;
          right: 22px;
          background-color: #dc0d17;
        }
        .number:focus {
          outline: none;
        }
      }
      .description {
        display: inline-block;
      }
    }
    .nav-element:focus {
      outline: 0;
    }
    .highlighted {
      color: $primary-color;
    }
  }
}