$search-boarder-radius: 5px;

.ely-toolbar-search-expanded {
  height: 100%;
  width: 100%;
  #ely-toolbar-search {
    height: 100%;
    width: 100%;
    padding: 7px 0 7px 10px;
    .search-container {
      position: relative;
      height: 100%;
      width: 100%;
      background-color: $primary-color-light;
      border-radius: $search-boarder-radius;
      .search-icon {
        cursor: pointer;
        position: absolute;
        z-index: 100;
        padding: 9px 6px;
        height: 42px;
        width: 36px;
        @media screen and (min-width: $gt-xxs) {
          height: 34px;
          padding: 5px 6px;
        }
        @media screen and (min-width: $gt-sm) {
          padding: 13px 6px;
          height: 50px;
        }
      }
      .search-close-icon {
        cursor: pointer;
        position: absolute;
        z-index: 100;
        top:9px;
        right: 5px;
        @media screen and (min-width: $gt-xxs) {
          top:5px;
        }
        @media screen and (min-width: $gt-sm) {
          top:13px;
        }
      }
      .autocomplete-container {
        height: 100%;
        md-autocomplete {
          width: 100%;
          height: 100%;
          min-width: 120px;
          box-shadow: none;
          background-color: $primary-color-light;
          border-radius: $search-boarder-radius;
          md-autocomplete-wrap {
            box-shadow: none;
            width: 100%;
            height: 100%;
            border-radius: $search-boarder-radius;
            @media screen and (min-width: $gt-sm) {
              height: 58px;
            }
            #toolbar-search-input {
              border-radius: $search-boarder-radius;
              background-color: $primary-color-light;
              color: white;
              border: none;
              width: 100%;
              padding-left: 35px;
              padding-right: 35px;
              font-size: 16px;
              font-weight: 400;
              max-width: none;

              height: 42px;
              line-height: 42px;
              @media screen and (min-width: $gt-xxs) {
                height: 34px;
                line-height: 34px;
              }
              @media screen and (min-width: $gt-sm) {
                height: 50px;
                line-height: 50px;
              }
            }
            #toolbar-search-input:focus {
              outline: none;
            }
            #toolbar-search-input::-webkit-input-placeholder {
              color: white;
            }
            #toolbar-search-input:-moz-placeholder {
              color: white;
            }
            #toolbar-search-input::-moz-placeholder {
              color: white;
            }
            #toolbar-search-input:-ms-input-placeholder {
              color: white;
            }
            #toolbar-search-input:placeholder-shown {
              color: white;
            }
            button {
              display: none !important;
            }
          }
        }
      }
    }
  }
}

.toolbar-search-preview {

}

.ely-toolbar-search-collapse {
  width: 40px;
  .ely-toolbar-menu {
    width: 40px;
  }
}