#ely-home {
  position: relative;
  height: 100%;
  #ely-home-container {
    padding: 24px;
    @media screen and (max-width: $gt-sm) {
      padding: 8px;
    }
  }
  .ely-home-overview-element {
    .ely-home-title {
      cursor: pointer;
      padding: 8px;
      margin-bottom: 4px;
      font-size: 16px;
      font-weight: 500;
      border-bottom: 1px solid $divider;
    }
  }
  .ely-home-overview-card-element {
    max-width: 350px;
    height: 250px;
    background-color: white;
  }
}




