#ely-home-overview-feedback {
  height: 100%;
  .ely-content-container {
    padding: 8px 0;
    height: 100%;
    .overview-info {
      padding: 0 8px;
      font-size: 14px;
      color: $primary-text;
      .number {
        font-weight: 500;
      }
    }
    .feedback-container {
      padding: 12px 8px 8px 8px;
      overflow-y: scroll;
      height: 100%;
      .feedback {
        cursor: pointer;
        margin-bottom: 8px;
        .icon {
          padding: 4px;
          height: 24px;
          width: 24px;
        }
        .open {
          .icon {
            color: green;
          }
        }
        .close {
          .icon {
            color: red;
          }
        }
        .feedback-info {
          padding-left: 8px;
          .info-title {
            font-size: 14px;
            color: $primary-text;
            font-weight: 500;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          .info-description {
            font-size: 12px;
            color: $secondary-text;
            .name {
              font-weight: 500;
            }
          }
          .comment {
            margin-top: 4px;
            font-size: 12px;
            color: $secondary-text;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
    }
  }
}

.ely-home-overview-card-element {
  #ely-home-overview-feedback {
    .ely-content-container {
      height: 190px;
      .feedback-container {
        height: 155px;
      }
    }
  }
}
