<div class="home-pinwall-container" ng-style="{'width': containerWidth + 'px'}">
    <div infinite-scroll="nextPinwallInfo()" infinite-scroll-distance="1">
        <div class="home-pinwall-blog-container">
            <ely-home-pinwall-blog show-expand="true" is-expand="isExpanded"></ely-home-pinwall-blog>
        </div>
        <div class="home-pinwall-container-column">
            <ely-home-pinwall-blog show-expand="false" is-expand="isExpanded"></ely-home-pinwall-blog>
            <div ng-repeat="pinwallElement in pinwall1Elements">
                <ely-home-pinwall-element element="pinwallElement"></ely-home-pinwall-element>
            </div>
        </div>
        <div class="home-pinwall-container-column" ng-if="numberOfRows > 1">
            <div ng-repeat="pinwallElement in pinwall2Elements">
                <ely-home-pinwall-element element="pinwallElement"></ely-home-pinwall-element>
            </div>
        </div>
        <div class="home-pinwall-container-column" ng-if="numberOfRows > 2">
            <div ng-repeat="pinwallElement in pinwall3Elements">
                <ely-home-pinwall-element element="pinwallElement"></ely-home-pinwall-element>
            </div>
        </div>
    </div>
</div>