<div class="home-pinwall-container" ng-style="{'width': containerWidth + 'px'}">
    <div class="home-pinwall-container-column">
        <div ng-repeat="pinwallElement in pinwall1Elements">
            <ely-home-pinwall-element element="pinwallElement"></ely-home-pinwall-element>
        </div>
    </div>
    <div class="home-pinwall-container-column" ng-if="numberOfRows > 1">
        <div ng-repeat="pinwallElement in pinwall2Elements">
            <ely-home-pinwall-element element="pinwallElement"></ely-home-pinwall-element>
        </div>
    </div>
    <div class="home-pinwall-container-column" ng-if="numberOfRows > 2">
        <div ng-repeat="pinwal3Element in pinwall1Elements">
            <ely-home-pinwall-element element="pinwallElement"></ely-home-pinwall-element>
        </div>
    </div>
</div>