<div id="ely-feedback-overview">
    <div id="ely-feedback-overview-container" layout="column">
        <div id="overview-commands" layout="row" layout-wrap flex="none">
            <div>
                <md-button class="md-raised md-primary" ng-click="ctrl.modifyDiscussion()" aria-label="modify discussion">
                    Diskussion bearbeiten
                </md-button>
            </div>
            <div>
                <md-button class="md-raised md-primary" ng-click="ctrl.createDiscussionIdea()" aria-label="create discussion idea">
                    Idee hinzufügen
                </md-button>
            </div>
            <span flex></span>
            <div>
                <md-input-container>
                    <label>Sortiert nach</label>
                    <md-select ng-model="ctrl.order" class="md-no-underline overview-order" md-on-close="ctrl.filterChanged()">
                        <md-option value="created">Datum erstellt</md-option>
                        <md-option value="newestModification">Zuletzt geändert</md-option>
                    </md-select>
                </md-input-container>
            </div>
        </div>
        <div id="overview-element-container" flex>
            <ely-feedback-discussion-info discussion="ctrl.overview.discussion"></ely-feedback-discussion-info>
            <div class="feedback-element" ng-repeat="feedback in ctrl.overview.feedback">
                <ely-feedback-info feedback="feedback"></ely-feedback-info>
            </div>
        </div>
    </div>
</div>
