#setup-contact-step {
  .contact-description {
    max-width: 600px;
    font-weight: 500;
    font-size: 16px;
    color: $secondary-text;
    margin-bottom: 24px;
  }
  .contact-container {
    max-width: 600px;
    .contact-recommendation-container {
      .contact-recommendation {
        margin-bottom: 12px;
        .profile-image-container {
          width: 48px;
          height: 48px;
          img {
            border-radius: 50%;
            height: 100%;
            width: 100%;
          }
        }
        .profile-name {
          font-size: 16px;
          font-weight: 500;
          color: $primary-color;
          height: 48px;
          line-height: 48px;
          padding-left: 12px;
          overflow-y: hidden;
        }
        .add-contact-button {
          margin-top: 4px;
        }
      }
    }
    .contact-group {
      width: 250px;
      .contact-group-container {
        padding: 8px 0 8px 8px;
        border: 3px solid $divider;
        border-radius: 8px;
        .contact-group-title {
          font-size: 16px;
          font-weight: 500;
          color: $primary-color;
          margin-bottom: 3px;
        }
        .contact-group-element {
          .group-number {
            cursor: pointer;
            font-size: 14px;
            line-height: 24px;
            text-align: center;
            margin: 8px 12px 8px 0;
            color: white;
            width: 24px;
            background-color: $primary-color-light;
            border-radius: 50%;
            font-weight: 500;
          }
          .group-number.selected-group-number {
            background-color: $secondary-color;
          }
          .group-type {
            cursor: pointer;
            font-size: 16px;
            line-height: 40px;
            font-weight: 500;
            color: $primary-text;
          }
          .group-type.selected-group-type {
            color: $secondary-color;
            font-weight: 700;
          }
        }
        #add-group-button {
          margin-top: 16px;
          margin-left: 0;
        }
      }
    }
  }
}
