.ely-select-location {
  .search-image-icon {
    padding-left: 12px;
  }
  .map-container {
    height: 300px;
    @media screen and (max-width: $gt-xs) {
      margin-bottom: 12px;
    }
    @media screen and (min-width: $gt-xs) {
      margin-left: 12px;
    }
    .ely-map {
      .ely-map-container {
        height: 300px;
        @media screen and (max-width: $gt-xs) {
          height: 200px;
        }
      }
    }
  }
}
