<div id="ely-problem-overview-reason">
    <md-card class="card-problem-description">
        <md-card-content>
            <div class="problem-description">{{ctrl.problemDescription}}</div>
        </md-card-content>
    </md-card>
    <div class="overview-container" ely-infinite-scroll="ctrl.nextReasons()" ng-if="ctrl.overview.reasons.length !== 0">
        <div layout-wrap layout="row">
            <div flex="100" ng-repeat="reason in ctrl.overview.reasons">
                <ely-problem-reason-overview-element element="reason"></ely-problem-reason-overview-element>
            </div>
            <!--<div class="pinwall-gab"></div>-->
        </div>
    </div>
    <md-card ng-if="ctrl.overview.reasons.length === 0">
        <md-card-content>
            <div class="no-reason">Für dieses Problem wurde noch kein Grund erstellt</div>
        </md-card-content>
    </md-card>
    <md-button class="md-fab create-reason-fab" aria-label="Create Reason" ng-click="ctrl.createReason()">
        <md-icon md-svg-icon="navFAB:add"></md-icon>
    </md-button>
</div>
