<div class="autocomplete-container">
    <md-autocomplete ng-disabled="false"
                     md-autofocus="true"
                     md-no-cache="true"
                     md-delay="100"
                     md-min-length="2"
                     md-search-text="ctrl.search"
                     md-selected-item-change="ctrl.openSelectedItem()"
                     md-selected-item="ctrl.selectedItem"
                     md-items="item in ctrl.querySearch(ctrl.search)"
                     md-input-id="toolbar-search-input"
                     md-menu-class="ely-toolbar-search-home"
                     placeholder="Suche"
                     ng-keypress="ctrl.keyPressed($event)">
        <md-item-template>
            <ely-autosuggestion-contact ng-if="item.userId && !item.pageId" item="item"></ely-autosuggestion-contact>
            <ely-autosuggestion-page ng-if="item.pageId" item="item"></ely-autosuggestion-page>
        </md-item-template>
    </md-autocomplete>
</div>