.cropArea-orientation {
  display: inline-block;
  vertical-align: middle;
  margin-left: 6px;

  .cropArea-orientation-img {
    padding: 6px;
    img {
      width: 24px;
      height: 24px;
    }
  }
}

#modal-preview-file {
  width: 580px;
}