<div class="ely-contact-preview">
    <div class="type-preview" layout="row" ng-if="!ctrl.showOnlyContact">
        <div class="type md-title" ng-click="ctrl.toggleExpand()">{{ctrl.statistic.group}}</div>
        <div class="count md-subhead" ng-click="ctrl.toggleExpand()">
            <span ng-if="ctrl.statistic.count > 0">{{ctrl.statistic.count}}</span>
            <ng-pluralize count="ctrl.statistic.count"
                          when="{'0': 'Niemand', '1': ' Person', 'other': ' Personen'}"></ng-pluralize>
        </div>
        <span flex ng-click="ctrl.toggleExpand()" class="ely-spacer"></span>
        <md-menu md-position-mode="target-right target">
            <md-button ng-click="$mdOpenMenu($event)" class="md-icon-button setting" aria-label="Settings Gruppe">
                <md-icon md-svg-icon="system:moreVert"></md-icon>
            </md-button>
            <md-menu-content>
                <md-menu-item>
                    <md-button ng-click="ctrl.changeGroupName()">Gruppe umbennen</md-button>
                </md-menu-item>
                <md-menu-item ng-if="ctrl.statistics.length > 1">
                    <md-button ng-click="ctrl.deleteGroup()">Gruppe löschen</md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </div>
    <div class="contact-previews" ng-show="(ctrl.isExpanded && ctrl.overview.contacts.length > 0) || ctrl.showOnlyContact"
         ng-class="{'no-divider': ctrl.showOnlyContact}">
        <div class="contact-preview" ng-repeat="contact in ctrl.overview.contacts" layout="row"
             ng-class="{'no-divider': ctrl.showOnlyContact}">
            <img class="profile-img" ng-src="{{contact.profileUrl}}" ng-click="ctrl.goToDetail(contact.userId)"/>
            <div class="md-title name" ng-click="ctrl.goToDetail(contact.userId)">{{contact.name}}</div>
            <span flex class="ely-spacer" ng-click="ctrl.goToDetail(contact.userId)"></span>
            <md-menu md-position-mode="target-right target">
                <md-button ng-click="$mdOpenMenu($event)" class="md-icon-button setting-contact" aria-label="Settings Contact">
                    <md-icon md-svg-icon="system:moreVert"></md-icon>
                </md-button>
                <md-menu-content>
                    <md-menu-item ng-if="!ctrl.selectedStatistic">
                        <md-button ng-click="ctrl.moveContact(contact.userId, contact.name)">Gruppe wechseln</md-button>
                    </md-menu-item>
                    <md-menu-item ng-if="ctrl.selectedStatistic">
                        <md-button ng-click="ctrl.moveContactToActive(contact.userId, ctrl.selectedStatistic.group)"
                                   ng-disabled="ctrl.selectedStatistic.group === ctrl.statistic.group">Zu aktiver Gruppe wechseln
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="ctrl.deleteContact(contact.userId)">Kontakt entfernen</md-button>
                    </md-menu-item>
                    <md-menu-item ng-if="!ctrl.deactivateBlockContact">
                        <md-button ng-click="ctrl.blockContact(contact.userId)">Kontakt blockieren</md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
        <div class="next-contacts" ng-show="ctrl.hasNext" layout="row" layout-align="center center">
            <div flex="nogrow">
                <md-button ng-click="ctrl.nextOverview()">Mehr Kontakte</md-button>
            </div>
        </div>
    </div>
</div>
