<div class="popover">
    <div class="arrow"></div>
    <div class="popover-content">
        <form name="popoverForm">
            <button type="button" class="btn btn-default popover-select-privacy" ng-model="contact.selectedPrivacySetting" trigger="click"
                    ng-options="privacySetting.type as privacySetting.type for privacySetting in contact.privacySettings" bs-select>
                Action <span class="caret"></span>
            </button>
            <!--<select class="btn btn-default"
                    ng-options="privacySetting.type for privacySetting in privacySettings"
                    ng-model="selectedPrivacySetting"></select>-->
            <button type="submit" class="btn btn-default"
                    ng-class="{'disabled': contact.selectedPrivacySetting === contact.type}"
                    ng-click="sendNewDescription()">Ändern
            </button>
        </form>
    </div>
</div>