<div class="ely-contact-preview">
    <div class="type-preview" layout="row">
        <div class="type md-title" ng-click="ctrl.toggleExpand()">{{ctrl.title}}</div>
        <div class="count md-subhead" ng-click="ctrl.toggleExpand()" ng-if="ctrl.count > 0">{{ctrl.count}} Kontakte</div>
        <div class="count md-subhead" ng-if="ctrl.count === 0">leer</div>
        <span flex ng-click="ctrl.toggleExpand()" class="ely-spacer"></span>
        <md-menu md-position-mode="target-right target">
            <md-button ng-click="$mdOpenMenu($event)" class="md-icon-button setting" aria-label="Settings Gruppe">
                <md-icon md-svg-icon="system:moreVert"></md-icon>
            </md-button>
            <md-menu-content>
                <md-menu-item>
                    <md-button ng-click="ctrl.openGroupSetting()">Gruppen Settings</md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-click="ctrl.changeGroupName()">Gruppe umbennen</md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-click="ctrl.deleteGroup()">Gruppe löschen</md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </div>
    <div class="contact-previews" ng-show="ctrl.isExpanded && ctrl.overview.contacts.length > 0">
        <div class="contact-preview" ng-repeat="contact in ctrl.overview.contacts" layout="row">
            <img class="profile-img" ng-src="{{contact.profileUrl}}"/>
            <div class="md-title name">{{contact.name}}</div>
            <span flex class="ely-spacer"></span>
            <md-menu md-position-mode="target-right target">
                <md-button ng-click="$mdOpenMenu($event)" class="md-icon-button setting-contact" aria-label="Settings Contact">
                    <md-icon md-svg-icon="system:moreVert"></md-icon>
                </md-button>
                <md-menu-content>
                    <md-menu-item>
                        <md-button ng-click="ctrl.blockContact(contact.userId)">Kontakt blockieren</md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="ctrl.deleteContact(contact.userId)">Als Kontakt entfernen</md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
    </div>
</div>
