<div class="contact-preview">
    <img ng-src="{{contact.profileUrl}}">

    <div class="contact-preview-content">
        <div class="contact-preview-name">
            <div>
                {{contact.name}}
            </div>
            <div class="description-container">
                <div class="description" trigger="click" data-auto-close="true"
                     data-placement="bottom"
                     data-template="app/modules/contact/contactPreview/popoverDescription.html"
                     bs-popover ng-show="!contact.blocked && contact.type">
                    ({{contact.type}})
                </div>
            </div>
            <div class="blocked-description" ng-show="contact.blocked">
                BLOCKIERT
            </div>
        </div>
        <div class="command-icons">
            <button type="button"
                    class="btn btn-default btn-xs dropdown-toggle left"
                    data-toggle="dropdown" aria-expanded="false"
                    bs-dropdown="contact.actions"
                    ng-show="!contact.blocked && contact.type">
                Aktionen <span class="caret"></span>
            </button>
            <button type="button" class="btn btn-default btn-xs left"
                    aria-expanded="false"
                    ng-show="!contact.blocked && !contact.type"
                    ng-click="addNewContact()">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                Als Kontakt hinzufügen
            </button>
            <button type="button" class="btn btn-default btn-xs left"
                    aria-expanded="false"
                    ng-show="contact.blocked"
                    ng-click="unblockContact()">
                Blockierung aufheben
            </button>
            <div class="command-connection-state" ng-hide="contact.connected === 'none'"
                 data-trigger="hover" data-delay="600" data-title="{{tooltipConnectionState.title}}"
                 bs-tooltip>
                <img ng-src="{{contact.connectionImage}}">
            </div>
            <div class="command-connection-block"
                 ng-show="!contact.blocked && (contact.connected === 'none' || contact.connected === 'contactToUser')"
                 data-trigger="hover" data-delay="600" data-title="User blockieren"
                 bs-tooltip ng-click="blockContact()">
                <img src="/app/img/block.png">
            </div>
        </div>
    </div>
    <!--<div class="select-user" ng-show="enableSelect !== 'false'">
        <div class="s2">
            <input type="checkbox" ng-model="contact.selected">
        </div>
    </div>-->
</div>