#reason-create {
  min-width: 310px;
  max-width: 450px;
  width: 100%;
  .reason-create-container {
    width: 100%;

    .header-title {
      color: $primary-color;
      font-size: 16px;
      padding: 20px 16px;
    }

    .content-form {
      width: 100%;
      .content {
        padding: 0 16px 16px 16px;

        .ely-input-container {
          width: 100%;
        }

        .actions-2 {
          .upload-button {
            margin-right: 0;
          }
        }
      }
    }
  }
}