#ely-problem-reason-detail {
  height: 100%;
  background-color: $background-normal;
    #detail-container {
      @include cardElement();
      @include cardRating();
      .title {
        font-size: 16px;
      }
      .description {
        margin-bottom: 15px;
      }
      .caption-problem {
        margin-top: 15px;
      }
      .text-problem {
        margin-top: 10px;
        cursor: pointer;
      }
    }
    .edit-mode-fab {
      @include ely-fab-button();
    }
}


