#ely-problem {
  height: 100%;

  #ely-problem-overview {
    height: 100%;
    width: 100%;
    background-color: $background-normal;
    .problem-overview-container {
      width: 100%;
      height: 100%;
      overflow-y: auto;
    }
  }

  .create-problem-fab {
    @include ely-fab-button();
  }
}


