<md-card id="ely-user-detail-contact-preview">
    <div class="header" layout="row" layout-align="none end">
        <div class="title" ng-click="ctrl.openDetail()">
            {{ctrl.detail.user.forename}}
            <ng-pluralize count="ctrl.detail.numberOfContacts"
                          when="{'0': ' folgt Niemandem',
                                 'other': ' folgt '}"></ng-pluralize>
            <span class="number-contact" ng-if="ctrl.detail.numberOfContacts > 0">{{ctrl.detail.numberOfContacts}}</span>
            <ng-pluralize count="ctrl.detail.numberOfContacts"
                          when="{'0': '',
                                 '1': ' Person',
                                 'other': ' Personen'}"></ng-pluralize>
        </div>
    </div>
    <div class="preview-container">
        <div class="preview-image" ng-repeat="contact in ctrl.detail.contacts" ng-click="ctrl.openUserDetail(contact.userId)">
            <img ng-src="{{contact.profileUrl}}" class="image">
            <div class="name">{{contact.name}}</div>
        </div>
    </div>
    <div ng-if="ctrl.showClose && ctrl.isShowClose">
        <md-button class="md-raised md-primary close-overview-button" ng-click="ctrl.closeDetail()">Übersicht Schliessen</md-button>
    </div>
</md-card>
