<md-card id="ely-user-detail-contact-preview">
    <div class="header" layout="row" layout-align="none end">
        <div class="title">
            <span class="number-contact" ng-if="ctrl.detail.numberOfContacts > 0">{{ctrl.detail.numberOfContacts}}</span>
            <ng-pluralize count="ctrl.detail.numberOfContacts"
                          when="{'0': 'Keine Kontakte',
                                 '1': ' Kontakt',
                                 'other': ' Kontakte'}"></ng-pluralize>
        </div>
        <div class="subtitle" ng-if="ctrl.detail.numberOfSameContacts > 0">
            {{ctrl.detail.numberOfSameContacts}}
            <ng-pluralize count="ctrl.detail.numberOfSameContacts"
                          when="{'1': ' gemeinsamer Kontakt',
                                 'other': ' gemeinsame Kontakte'}"></ng-pluralize>
        </div>
    </div>
    <div class="preview-container">
        <div class="preview-image" ng-repeat="contact in ctrl.detail.contacts" ng-click="ctrl.openUserDetail(contact.userId)">
            <img ng-src="{{contact.profileUrl}}" class="image">
            <div class="name">{{contact.name}}</div>
        </div>
    </div>
</md-card>
