<md-content class="ely-recommendation-popular-column" layout="column" layout-align="center none">
    <div class="title-recommendation-popular">{{ctrl.title}}</div>
    <div class="ely-popular-column-container" ely-height="ctrl.getHeightColumn">
        <div class="ely-popular-column-inner-container ely-popular-column-inner-container{{ctrl.id}}" ng-hide="ctrl.requestRunning"
             ely-infinite-scroll="ctrl.nextRecommendationServer" scroll-position="ctrl.setScrollPosition">
            <ely-recommendation-preview recommendation="recommendation"
                                        ng-repeat="recommendation in ctrl.preview.recommendations"></ely-recommendation-preview>
            <ely-recommendation-preview-no-result ng-show="ctrl.noRecommendationPreview"></ely-recommendation-preview-no-result>
        </div>
        <div class="ely-popular-column-inner-container" ng-show="ctrl.requestRunning">
            <ely-load-screen></ely-load-screen>
        </div>
    </div>
    <div class="ely-popular-navigation" layout="row" layout-align="center center">
        <div>
            <md-button class="md-fab md-mini md-primary" aria-label="Next Recommendations" ng-click="ctrl.nextRecommendations()"
                       ng-disabled="ctrl.scrollTop + ctrl.scrollHeight + 10 >= ctrl.totalScrollHeight">
                <md-icon md-svg-icon="cardActions:arrowDown"></md-icon>
            </md-button>
        </div>
        <div>
            <md-button class="md-fab md-mini md-primary" aria-label="Previous Recommendations" ng-click="ctrl.previousRecommendations()"
                       ng-disabled="ctrl.scrollTop === 0">
                <md-icon md-svg-icon="cardActions:arrowUp"></md-icon>
            </md-button>
        </div>
    </div>
</md-content>
