<md-bottom-sheet layout="column" id="ely-create-page-nav" class="md-grid">
    <div layout="row" layout-align="center center" ng-cloak>
        <div class="action-description">Neuer Beitrag erstellen:</div>
    </div>
    <div ng-cloak>
        <md-list layout="row" layout-align="center center">
            <md-list-item>
                <div>
                    <md-button class="md-grid-item-content" ng-click="ctrl.createBlog()">
                        <md-icon md-svg-icon="nav:blog"></md-icon>
                        <div class="md-grid-text">Blog</div>
                    </md-button>
                </div>
            </md-list-item>
            <md-list-item>
                <div>
                    <md-button class="md-grid-item-content" ng-click="ctrl.createBookPage()">
                        <md-icon md-svg-icon="nav:book"></md-icon>
                        <div class="md-grid-text">Buch</div>
                    </md-button>
                </div>
            </md-list-item>
            <md-list-item>
                <div>
                    <md-button class="md-grid-item-content" ng-click="ctrl.createYoutubePage()">
                        <md-icon md-svg-icon="nav:video"></md-icon>
                        <div class="md-grid-text">Youtube</div>
                    </md-button>
                </div>
            </md-list-item>
            <md-list-item>
                <div>
                    <md-button class="md-grid-item-content" ng-click="ctrl.createLinkPage()">
                        <md-icon md-svg-icon="nav:link"></md-icon>
                        <div class="md-grid-text">Link</div>
                    </md-button>
                </div>
            </md-list-item>
            <md-list-item>
                <div>
                    <md-button class="md-grid-item-content" ng-click="ctrl.createGenericPage()">
                        <md-icon md-svg-icon="nav:place"></md-icon>
                        <div class="md-grid-text">Allgemein</div>
                    </md-button>
                </div>
            </md-list-item>
        </md-list>
    </div>
</md-bottom-sheet>
