<div class="privacy-container">
    <div layout="row">
        <md-select ng-model="ctrl.selectedGroups" multiple="true" class="ely-select-group md-no-underline"
                   ng-change="ctrl.changeData()" md-on-close="ctrl.menuClosed()" flex="none" aria-label="{{ctrl.description}}">
            <md-option ng-value="groupName.type" ng-repeat="groupName in ctrl.groupNames"
                       ng-disabled="groupName.disabled">{{ groupName.type }}</md-option>
        </md-select>
    </div>
    <div class="description">{{ctrl.description}}</div>
</div>
