<div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div id="modal-yes-no-dialog" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" ng-show="title"><h4 class="modal-title" ng-bind="title"></h4></div>
            <div class="modal-body" ng-bind="content"></div>
            <div class="modal-footer">
                <md-button class="ely-button" ng-click="confirm()">Ja</md-button>
                <md-button class="ely-button" ng-click="abort()">Nein</md-button>
            </div>
        </div>
    </div>
</div>
