<div layout="column">
    <div class="header" layout="row">
        <img class="user-avatar" ng-src="{{ctrl.userInfo.profileImagePreview}}" flex="none">
        <div class="header-content">
            <span class="user-name">{{ctrl.userInfo.name}}</span>
            <svg width="18px" height="18px" viewBox="0 0 48 48" fill="#757575" class="divider">
                <path d="M20 34l10-10 -10-10z"></path>
            </svg>
            <span class="visibility" ng-click="ctrl.openVisibility()"> {{ctrl.visibility}}</span>
        </div>
    </div>
    <form name="createBlogForm" class="content-form">
        <div class="content">
            <md-input-container class="blog-input-container">
                <label>Schreibe einen Beitrag...</label>
                <textarea name="blogText" class="blog-input" ng-model="blogText" required md-maxlength="10000"></textarea>
                <div ng-messages="createBlogForm.blogText.$error" ng-show="createBlogForm.blogText.$dirty">
                    <div ng-message="required">Wird benötigt!</div>
                    <div ng-message="md-maxlength">Text ist zu lang</div>
                </div>
            </md-input-container>
            <div class="load-preview-photo" ng-if="imageForUploadPreviewStart" layout layout-align="center center">
                <md-progress-circular md-mode="indeterminate" md-diameter="60"></md-progress-circular>
            </div>
            <div class="preview-photo-container" ng-if="ctrl.imageForUploadPreview">
                <img ng-src="{{ctrl.imageForUploadPreview}}" class="preview-photo">
            </div>
            <div class="actions" layout="row">
                <md-button class="action-icon md-icon-button" aria-label="Add Photo">
                    <label for="upload-photo">
                        <md-icon md-svg-icon="createBlog:addPhoto" class="icon"></md-icon>
                    </label>
                </md-button>
                <input type="file" ely-file-model="imageForUpload" id="upload-photo" ng-hide="true"
                       accept=".jpg, .png, jpeg" ng-disabled="user.uploadBlogIsRunning">
            </div>
            <div class="actions-2" layout="row" layout-align="end center">
                <md-button aria-label="abort" ng-click="ctrl.cancel()">Abbrechen</md-button>
                <md-button class="md-raised md-primary post-button" aria-label="post" ng-disabled="!ctrl.sendBlogAllowed">Posten</md-button>
            </div>
        </div>
    </form>
</div>
