<div class="feedback-info-container" ng-click="ctrl.openDetail(ctrl.feedback)" layout="row">
    <div class="feedback-icon-container" flex="none">
        <md-icon ng-if="ctrl.feedback.type === 'Bug'" md-svg-icon="icons:bug" class="feedback-icon"></md-icon>
        <md-icon ng-if="ctrl.feedback.type === 'Idea'" md-svg-icon="icons:bulb" class="feedback-icon"></md-icon>
        <md-icon ng-if="ctrl.feedback.type === 'Discussion'" md-svg-icon="icons:questionMark" class="feedback-icon"></md-icon>
    </div>
    <div class="feedback-element-info" flex>
        <div class="feedback-title">{{ctrl.feedback.title}}</div>
        <div class="feedback-sub-title">
            Erstellt von <span class="name">{{ctrl.feedback.creator.name}}</span> {{ctrl.getFormattedDate(ctrl.feedback.created, true)}}
            <span ng-show="ctrl.feedback.created !== ctrl.feedback.lastModified && ctrl.feedback.lastModified">
                            - Zuletzt verändert {{ctrl.getFormattedDate(ctrl.feedback.lastModified, true)}}
                        </span>
        </div>
        <div class="info-container" layout="row">
            <md-icon md-svg-icon="icons:thumbUp" class="icon" ng-hide="ctrl.feedback.type === 'Discussion'"></md-icon>
            <div class="number-container" flex="none" ng-hide="ctrl.feedback.type === 'Discussion'">
                <span class="number">{{ctrl.feedback.numberOfRecommendations}}</span>
            </div>
            <md-icon md-svg-icon="icons:comment" class="icon" flex="none" ng-hide="ctrl.feedback.type === 'Discussion'"></md-icon>
            <div class="number-container" flex="none" ng-hide="ctrl.feedback.type === 'Discussion'">
                <span class="number">{{ctrl.feedback.numberOfComments}}</span>
            </div>
            <md-icon md-svg-icon="icons:bulb" class="icon" flex="none" ng-show="ctrl.feedback.type === 'Discussion'"></md-icon>
            <div class="number-container" flex="none" ng-show="ctrl.feedback.type === 'Discussion'">
                <span class="number">{{ctrl.feedback.numberOfIdeas}}</span>
            </div>
            <span flex></span>
        </div>
    </div>
</div>
