<div class="user-recommendation" layout="row" ng-class="{'show-bottom-line': ctrl.showBottomLine}">
    <div class="preview-image" flex="none" ng-hide="(ctrl.element.label === 'Link' || ctrl.element.label === 'Blog') && !ctrl.element.previewUrl">
        <div class="preview-image-container">
            <img ng-src="{{ctrl.element.previewUrl}}" ng-class="{'book': ctrl.element.label === 'Book'}" ng-if="ctrl.element.label !== 'Youtube'">
            <img ng-src="{{ctrl.getYoutubeImage(ctrl.element.linkEmbed)}}" ng-if="ctrl.element.label === 'Youtube'"/>
        </div>
    </div>
    <div class="user-recommendation-content" flex layout="column">
        <div class="title">{{ctrl.element.title}}</div>
        <div>
            <div class="recommendation-created">{{ctrl.getFormattedDate(ctrl.element.created, 'LLL')}}</div>
            <ely-topics-color topics="ctrl.element.topic"></ely-topics-color>
        </div>
        <div class="description" ng-if="ctrl.element.description">{{ctrl.element.description}}</div>
        <div class="description" ng-if="ctrl.element.text">{{ctrl.element.text}}</div>
        <span flex ng-if="ctrl.$mdMedia('gt-xs')"></span>
        <div class="action-container">
            <ely-blog-actions element="ctrl.element" ng-if="ctrl.element.label === 'Blog'"></ely-blog-actions>
            <ely-pinwall-page-recommendation-actions element="ctrl.element" ng-if="ctrl.element.label !== 'Blog'"></ely-pinwall-page-recommendation-actions>
        </div>
    </div>
</div>
