#start-screen {
  #carousel {
    height: 100%;
    width: 100%;
    #right-column {
      //min-height: 100%;
      height: 100%;
      width: 100%;
      background-color: #fafafa;
      @media screen and (min-width: $gt-sm) {
        background-color: #FFFFFF;
      }
    }
    #left-column {
      position: fixed;
      top: 0;
      bottom: 0;
      width: 100px;
      float: left;
      z-index: 10;
      #carousel-nav-container {
        .navigation-button.md-fab.md-mini {
          height: 32px;
          width: 32px;
          line-height: 32px;
          min-height: 0;
          padding: 0;
          margin-bottom: 16px;
          .navigation-icon {
            height: 32px;
            width: 32px;
          }
        }

        .carousel-nav {
          cursor: pointer;
          height: 16px;
          width: 16px;
          margin: 0 16px 10px 16px;
          border-radius: 500%;
          box-shadow: inset 0 0 0 3px $primary-color-light;
          box-sizing: border-box;
        }
        .carousel-nav:hover {
          box-shadow: inset 0 0 0 3px $primary-color;
        }
        .active {
          background: #7986CB;
          box-shadow: none;
          opacity: 1;
        }
      }
    }
    #carousel-nav-miscellaneous {
      position: fixed;
      bottom: 64px;
      left: 32px;
      z-index: 100;
      @media screen and (max-height: 560px) {
        bottom: 52px;
      }
      @media screen and (max-width: $gt-sm) {
        z-index: 0;
      }
      .nav-miscellaneous-element {
        margin-right: 12px;
        display: inline-block;
        font-weight: 500;
        color: $secondary-text;
        cursor: pointer;
        @media screen and (max-height: 560px) {
          font-size: 13px;
        }
      }
      .nav-miscellaneous-element:hover {
        text-decoration: underline;
      }
    }
    #carouse-nav-bottom-button {
      position: fixed;
      cursor: pointer;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 45px;
      background: #7986CB;
      box-shadow: inset 0 3px 0 rgba(0, 0, 0, .1);
      transition: bottom ease-out .5s;
      @media screen and (max-width: $gt-sm) {
        z-index: 0;
      }
      .button-description {
        color: white;
        font-size: 16px;
        font-weight: 700;
      }
    }
    #carouse-nav-bottom-button.ng-hide {
      bottom: -45px;
    }
    #carousel-commands {
      position: fixed;
      top: 8px;
      right: 16px;
      @media screen and (min-width: $gt-xmd) {
        right: 128px;
      }
      #login-button {

      }
      #sign-up-button {

      }
    }
  }
}
