.contact-dialog {
  @media screen and (max-width: $gt-sm) {
    max-width: 100%;
  }
}

#contact-container {
  max-width: 400px;
  .contact-content-container {
    overflow-y: scroll;
    .ely-public-contact {
      padding: 16px;
      color: $primary-text;
      .contact-text {
        margin-top: 12px;
        font-size: 14px;
      }
    }
  }
  .contact-commands {
    height: 52px;
  }
}




