#public-register-footer {
  background-color: $primary-color-light;
  .invite-message {
    text-align: center;
    padding-top: 25px;
    margin: 0 auto;
    font-size: 20px;
    color: white;
    font-weight: 500;
  }
  .register-button {
    cursor: pointer;
    overflow: hidden;
    height: 42px;
    line-height: 42px;
    text-align: center;
    width: 250px;
    color: white;
    outline: none;
    border: 2px solid #D81B60;
    border-radius: 21px;
    font-size: 20px;
    font-weight: 500;
    background-color: #D81B60;
    margin: 15px auto 0 auto;
  }
  .already-login {
    cursor: pointer;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 60px;
    margin: 0 auto;
    font-size: 14px;
    color: white;
    font-weight: 500;
    @media screen and (max-width: 960px) {
      padding-bottom: 30px;
    }
  }
  .already-login:hover {
    text-decoration: underline;
  }
}
