#public-header {
  position: relative;
  background: url("../img/start/background.jpg");
  background-repeat: no-repeat !important;
  background-position: 50% !important;
  #public-header-container {
    padding-top: 15px;
    padding-bottom: 50px;
    background-color: $primary-color-light;
    opacity: 0.9;
    #public-header-inner-container {
      padding: 0 24px;
      max-width: 1000px;
      margin: 0 auto;
      .top-line {
        .elyoos {
          font-size: 42px;
          font-weight: 700;
          color: white;
        }
        .login-button {
          cursor: pointer;
          height: 42px;
          line-height: 42px;
          text-align: center;
          width: 100px;
          color: white;
          border: 2px solid white;
          border-radius: 21px;
          font-size: 16px;
          font-weight: 500;
        }
        .login-button:hover {
          background-color: $primary-color;
        }
      }
      .headline {
        text-align: center;
        color: white;
        margin-top: 150px;
        margin-bottom: 60px;
        font-size: 30px;
        font-weight: 500;
      }
    }
  }
  .register-button {
    position: absolute;
    cursor: pointer;
    overflow: hidden;
    height: 42px;
    line-height: 42px;
    text-align: center;
    width: 250px;
    color: white;
    outline: none;
    border: 2px solid #D81B60;
    border-radius: 21px;
    font-size: 20px;
    font-weight: 500;
    background-color: #D81B60;
    bottom: 20px;
    left: 50%;
    margin-left: -125px;
  }
}




