#login-user {

  min-width: 320px;
  @media screen and (min-width: $gt-xs) {
    min-width: 450px;
  }
  @media screen and (min-width: $gt-sm) {
    min-width: 550px;
  }

  .login-user-content {
    min-width: 320px;
    margin: 0 auto;
    .password-reset-link {
      cursor: pointer;
      font-size: 12px;
      color: $primary-color;
      font-weight: 500;
    }
    .password-reset-link:hover {
      text-decoration: underline;
    }
  }

  .error-message {
    margin: 0 16px;
    padding: 4px;
    background: $tooltip-error;
    color: white;
    border-radius: 2px;
  }
  .error-message.ng-hide-add, .error-message.ng-hide-remove {
    transition: all linear 0.8s;
  }
  .error-message.ng-hide {
    line-height: 0;
    opacity: 0;
  }

  .show-verify-success {
    width: 260px;
    font-size: 14px;
    color: $success;
    margin: 0 auto;
    .success-icon {
      width: 48px;
    }
  }
}




