#loginform {

  .error-message {
    margin: 0 16px;
    padding: 4px;
    background: $tooltip-error;
    color: white;
    border-radius: 2px;
  }
  .error-message.ng-hide-add, .error-message.ng-hide-remove {
    transition: all linear 0.8s;
  }
  .error-message.ng-hide {
    line-height: 0;
    opacity: 0;
  }

  #login-container {
    width: 300px;
    .login-form-container {
      padding: 36px 16px 0 16px;
      @media screen and (max-height: 560px) {
        padding-top: 24px;
      }
      .input-element {
        margin-top: 4px;
        margin-bottom: 4px;
        input:-webkit-autofill {
          -webkit-box-shadow: 0 0 0px 1000px #FFFFFF inset;
          text-shadow: none;
        }
      }
    }
    .show-verify-success {
      width: 260px;
      font-size: 14px;
      color: $success;
      margin: 0 auto;
      .success-icon {
        width: 48px;
      }
    }
  }
  .action-container {
    padding: 0 16px;
    .password-reset {
      margin-right: 38px;
      cursor: pointer;
      font-size: 12px;
      color: $primary-color;
    }
    .password-reset:hover {
      text-decoration: underline;
    }
  }
}

#check-login {
  height: 100%;
}




