#reset-password-request {
  .reset-password-description {
    font-size: 14px;
    font-weight: 500;
    color: $secondary-text;
    max-width: 550px;
    margin: 0 auto;
    .email {
      color: $primary-color;
    }
  }
}




