#ely-vision {
  background-color: #fafafa;
  @media screen and (min-width: $gt-sm) {
    background-color: #FFFFFF;
  }
  #ely-vision-container {
    max-width: 500px;
    @media screen and (min-width: $gt-sm) {
      max-width: 600px;
    }
    @media screen and (min-width: $gt-xmd) {
      max-width: 700px;
    }
    margin: 0 auto;
    padding: 32px 16px 0 16px;
    @media screen and (max-width: $gt-sm) {
      padding-top: 18px;
    }
    .vision-text-bold {
      font-size: 18px;
      font-weight: 500;
      line-height: 26px;
    }
    .vision-text {
      font-size: 18px;
      font-weight: 300;
      line-height: 26px;
    }
    .vision-list {
      font-size: 18px;
      font-weight: 300;
      line-height: 26px;
      li:before {
        color: $secondary-text;
      }
    }
    .vision-preview-image {
      cursor: pointer;
      margin: 0 auto;
      max-width: 400px;
      @media screen and (min-width: $gt-sm) {
        max-width: 500px;
      }
      @media screen and (min-width: $gt-xmd) {
        max-width: 600px;
      }
      img {
        width: 100%;
      }
    }
    .text-divider {
      height: 4px;
    }
  }
}
