<form name="ctrl.addPlaceForm" class="add-place-dialog" aria-label="Manage Place Page" ng-cloak>
    <div class="md-title ely-dialog-title">Ort hinzufügen</div>
    <md-dialog-content>
        <div class="md-dialog-content ely-dialog-content">
            <div layout="row">
                <md-input-container class="input-container">
                    <label>Ort</label>
                    <input name="place" ng-model="ctrl.data.place" required md-maxlength="150" minlength="3"
                           ng-disabled="ctrl.requestStarted" md-no-asterisk
                           ng-keypress="ctrl.keyPressed($event)"/>
                    <div ng-messages="ctrl.managePlacePageForm.place.$error">
                        <div ng-message="required">Wird benötigt!</div>
                        <div ng-message="md-maxlength">Text ist zu lang</div>
                    </div>
                </md-input-container>
                <div class="search-image-icon">
                    <md-button class="md-fab md-mini" aria-label="Search Place" ng-click="ctrl.searchPlace()"
                               ng-disabled="ctrl.requestStarted || ctrl.addPlaceForm.$invalid || ctrl.lastRequestString === ctrl.data.place">
                        <md-icon md-svg-icon="system:search" class="icon"></md-icon>
                    </md-button>
                </div>
            </div>
            <div ng-show="ctrl.requestStarted">
                <ely-load-screen></ely-load-screen>
            </div>
            <div layout="column" layout-gt-xs="row" ng-if="ctrl.places.length > 0">
                <div flex="100" flex-gt-xs="50" flex-order="1">
                    <md-radio-group ng-model="ctrl.selectedPlace" class="md-primary">
                        <md-radio-button ng-repeat="place in ctrl.places" ng-value="place" aria-label="place.formatted">
                            {{place.formatted}}
                        </md-radio-button>
                    </md-radio-group>
                </div>
                <div flex="100" flex-gt-xs="50" flex-order="-1" flex-order-gt-xs="2" class="map-container">
                    <ely-map center="ctrl.selectedPlace.geometry" has-marker-center="true" zoom="15"></ely-map>
                </div>
            </div>
        </div>
    </md-dialog-content>
    <md-dialog-actions>
        <md-button ng-click="ctrl.onBack()">Zurück</md-button>
        <md-button class="md-primary md-raised" ng-click="ctrl.onSelected(ctrl.selectedPlace)"
                   ng-show="ctrl.selectedPlace">Hinzufügen
        </md-button>
    </md-dialog-actions>
</form>