#start-screen {
  position: relative;
  height: 100%;
  background-color: #fafafa;
  @media screen and (min-width: $gt-sm) {
    background-color: #FFFFFF;
  }

  .ely-logo {
    width: 150px;
    @media screen and (min-width: $gt-xs) {
      width: 176px;
    }
    @media screen and (min-width: $gt-lg) {
      width: 220px;
    }
    @media screen and (max-height: 560px) {
      width: 120px;
    }
  }
}




