<md-card class="ely-question-answer-card">
    <div layout="row">
        <ely-forum-answer-rating answer="ctrl.answer"></ely-forum-answer-rating>
        <div class="answer-info-container" ng-click="ctrl.openAnswerDetail()" flex="grow">
            <div ng-if="ctrl.answer.page.label">
                <div layout="row">
                    <md-icon md-svg-icon="cardActions:book" aria-label="Book" class="topic-icon book-icon"
                             ng-hide="ctrl.answer.page.label !== 'Book'"></md-icon>
                    <span class="topic-title" ng-hide="ctrl.answer.page.label !== 'Book'">Buch</span>
                    <md-icon md-svg-icon="cardActions:video" aria-label="Video" class="topic-icon youtube-icon"
                             ng-hide="ctrl.answer.page.label !== 'Youtube'"></md-icon>
                    <span class="topic-title" ng-hide="ctrl.answer.page.label !== 'Youtube'">Youtube</span>
                    <md-icon md-svg-icon="cardActions:link" aria-label="Link" class="topic-icon link-icon"
                             ng-hide="ctrl.answer.page.label !== 'Link'"></md-icon>
                    <span class="topic-title" ng-hide="ctrl.answer.page.label !== 'Link'">Link</span>
                    <span flex></span>
                    <md-menu md-position-mode="target-right target" class="menu-settings-container" ng-if="ctrl.answer.isAdmin"
                             ng-disabled="ctrl.requestRunning">
                        <md-button ng-click="$mdOpenMenu($event)" class="md-icon-button menu-settings" aria-label="Settings">
                            <md-icon md-svg-icon="cardActions:moreVert"></md-icon>
                        </md-button>
                        <md-menu-content>
                            <md-menu-item>
                                <md-button ng-click="ctrl.deleteAnswer(ctrl.answer.answerId, ctrl.answer.page.title)">Löschen</md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </div>
                <div class="page-title">{{ctrl.answer.page.title}}</div>
            </div>
            <div ng-if="!ctrl.answer.page.label">
                <div layout="row">
                    <md-icon md-svg-icon="cardActions:answer" aria-label="Answer" class="topic-icon answer-icon"></md-icon>
                    <span class="topic-title">Antwort</span>
                    <span flex></span>
                    <md-menu md-position-mode="target-right target" class="menu-settings-container" ng-if="ctrl.answer.isAdmin"
                             ng-disabled="ctrl.requestRunning">
                        <md-button ng-click="$mdOpenMenu($event)" class="md-icon-button menu-settings" aria-label="Settings">
                            <md-icon md-svg-icon="cardActions:moreVert"></md-icon>
                        </md-button>
                        <md-menu-content>
                            <md-menu-item>
                                <md-button ng-click="ctrl.deleteAnswer(ctrl.answer.answerId, ctrl.answer.title)">Löschen</md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </div>
                <div class="answer-title">{{ctrl.answer.title}}</div>
            </div>
        </div>
    </div>
</md-card>
