<form name="ctrl.manageBlogForm">
    <div layout="row" layout-sm="column" layout-xs="column" id="blog-manage-input">
        <div>
            <div layout="row" layout-align="center center">
                <div flex="nogrow" class="preview-image">
                    <img ng-src="{{ctrl.data.imageForUploadPreview}}" ng-show="ctrl.data.imageForUploadPreview">
                </div>
            </div>
            <div layout="row" layout-align="center center" class="preview-image-button-container">
                <div flex="nogrow">
                    <ely-load-image-button ng-disabled="ctrl.uploadStarted" label="Bild hinzufügen"
                                           icon="system:image" ng-hide="ctrl.data.imageForUploadPreview" hide
                                           show-gt-sm image-for-upload="imageForUpload"></ely-load-image-button>
                    <ely-load-image-button ng-disabled="ctrl.uploadStarted" label="Bild hinzufügen"
                                           icon="system:image" ng-hide="ctrl.data.imageForUploadPreview" orientation="landscape"
                                           hide-gt-sm image-for-upload="imageForUpload"></ely-load-image-button>
                    <ely-load-image-button-normal ng-disabled="ctrl.uploadStarted" label="Bild ändern"
                                                  aria-label="Edit Picture" ng-show="ctrl.data.imageForUploadPreview"
                                                  image-for-upload="imageForUpload"></ely-load-image-button-normal>
                </div>
            </div>
        </div>
        <div flex="grow" id="blog-inputs">
            <div layout="row">
                <div flex="50">
                    <md-select ng-model="ctrl.data.selectedTopics" multiple="true" placeholder="Thema" required class="ely-select-topic"
                               ng-change="ctrl.dataChanged()">
                        <md-option ng-value="topic" ng-repeat="topic in ctrl.topics">{{ topic.description }}</md-option>
                    </md-select>
                </div>
                <div flex="50" flex-offset="5">
                    <md-select ng-model="ctrl.data.selectedLanguage" placeholder="Sprache" required
                               ng-change="ctrl.dataChanged()">
                        <md-option ng-value="language" ng-repeat="language in ctrl.languages">{{ language.description }}</md-option>
                    </md-select>
                </div>
            </div>
            <div id="select-privacy" ng-if="!ctrl.isEditMode" layout="row" layout-sm="column" layout-xs="column">
                <ely-button ng-disabled="ctrl.uploadStarted" ng-click="ctrl.eventShowPrivacy()" label="Sichtbarkeit" class="privacy-button"
                            orientation="landscape" icon="system:privacy"></ely-button>
                <div layout="row">
                    <svg width="20px" height="20px" viewBox="0 0 48 48" fill="#757575" class="divider">
                        <path d="M20 34l10-10 -10-10z"></path>
                    </svg>
                    <div layout="row" layout-wrap>
                    <span class="privacy-item" ng-repeat="visibility in ctrl.visibility">
                    {{visibility}}<span ng-if="!$last" class="privacy-item-separator">,</span>
                    </span>
                    </div>
                </div>
            </div>
            <div ng-if="!ctrl.isEditMode">
                <md-input-container class="input-container">
                    <label>Titel</label>
                    <input name="title" ng-model="ctrl.data.blogTitle" required md-maxlength="160" ng-change="ctrl.dataChanged()"
                           ng-disabled="ctrl.uploadStarted" ng-blur="ctrl.titleLostFocus()"/>
                    <div ng-messages="ctrl.manageBlogForm.title.$error">
                        <div ng-message="required">Wird benötigt!</div>
                        <div ng-message="md-maxlength">Text ist zu lang</div>
                    </div>
                </md-input-container>
            </div>
            <md-input-container class="input-container">
                <label>Schreibe einen Beitrag...</label>
                <textarea name="blogText" class="blog-input" ng-model="ctrl.data.blogText" required md-maxlength="10000" max-rows="10"
                          ng-disabled="ctrl.uploadStarted" ng-change="ctrl.dataChanged()"></textarea>
                <div ng-messages="ctrl.manageBlogForm.blogText.$error">
                    <div ng-message="required">Wird benötigt!</div>
                    <div ng-message="md-maxlength">Text ist zu lang</div>
                </div>
            </md-input-container>
        </div>
    </div>
</form>
