<div id="ely-setting-overview-desktop">
    <div class="content" layout="column" layout-align="center center">
        <div class="setting" layout="row" layout-align="center center" ng-click="ctrl.openChangeProfileData()">
            <div class="setting-description">Profil</div>
        </div>
        <div class="setting" layout="row" layout-align="center center" ng-click="ctrl.openChangePassword()">
            <div class="setting-description">Passwort ändern</div>
        </div>
        <div class="setting" layout="row" layout-align="center center" ng-click="ctrl.openPrivacyOverview()">
            <div class="setting-description">Privatsphäre</div>
        </div>
    </div>
</div>
