<span>
    <span class="user-name" ng-if="!ctrl.element.thisRecommendationByUser"
          ui-sref="user.detail({userId: ctrl.element.userId})">{{ctrl.element.name}}</span>
    <span class="user-name" ng-if="ctrl.element.thisRecommendationByUser" ui-sref="settings.profile()">Du</span>
    <span ng-if="ctrl.element.thisRecommendationByUser">hast</span>
    <span ng-if="!ctrl.element.thisRecommendationByUser">hat</span>
    <a class="page-title" ui-sref="page.detail({label: 'Generic', pageId: ctrl.element.pageId})">{{ctrl.element.title}}</a>
empfohlen</span>