#content {

  width: 100%;
  height: 100%;

  #content-page-contact {

    width: 100%;
    height: 100%;

    .contact-preview {
      float: left;
      width: 350px;
      height: 100px;
      border: 1px solid #CCC !important;
      margin: 5px 10px 5px 10px;
      padding: 0;
      @include noneSelect();

      .contact-preview-content {
        overflow: hidden;
        float: left;
        height: 100px;
        width: 239px;
        word-wrap: break-word;

        .contact-preview-name {
          padding: 5px 0px 0px 5px;
          font-size: 14px;
          font-weight: bold;
          height: 70px;
          width: 100%;
          color: $primary-color;

          &:hover {
            text-decoration: underline;
            cursor: pointer;
          }

          .description-container {
            .description {
              display: inline-block;
              font-size: 12px;
              color: #9197a3;
              font-weight: normal;

              &:hover {
                text-decoration: underline;
                cursor: pointer;
              }
            }
          }

          .blocked-description {
            font-size: 12px;
            color: red;
            font-weight: bold;
          }
        }
      }

      .select-user {
        float: left;
        height: 100px;

        .s1 {
          height: 100px;
          display: inline-block;
          vertical-align: middle;
        }
        .s2 {
          display: inline-block;
          vertical-align: middle;
          margin-top: 5px;
          margin-left: 15px;
        }
      }

      .command-icons {
        float: left;
        height: 25px;
        width: 230px;

        button {
          float: left;
        }

        .command-connection-state {
          float: left;
          height: 25px;
          width: 25px;
          margin-left: 5px;

          img {
            height: 100%;
            width: 100%;
            border: none;
          }
        }

        .command-connection-block {
          float: left;
          height: 20px;
          width: 20px;
          margin-top: 2px;
          margin-left: 5px;
          cursor: pointer;

          img {
            height: 100%;
            width: 100%;
            border: none;
          }
        }
      }

      img {
        float: left;
        position: relative;
        display: block;
        width: 100px;
        height: 100px;
        border: 1px solid rgba(0, 0, 0, .1);
        margin: -1px 10px 0px -1px;
        cursor: pointer;
      }

      .popover {
        .popover-content {
          padding: 9px 14px;
          .popover-select-privacy {
            max-width: 150px;
            margin-right: 10px;
          }
        }
      }
    }

    .contacting-info {
      width: 100%;
      height: 40px;
      clear: both;
      .contacting-inner-info {
        font-size: 14px;
        font-weight: bold;
        border-bottom: 1px solid $primary-color-darker;
        margin: 6px 10px 10px 10px;
      }
    }

    .pagination {
      width: 100%;
      clear: both;
    }

    .no-contact-description {
      margin: 0 0 0 50px;
    }

    @include centerColumn(340px) {
      #inner-centerCol {
        position: relative;
        width: 740px;
        height: 100%;
        margin: 0 auto;

        @include breakpoint(largeDesktop) {
          width: 1110px;
        }
      }
    }

    @include leftFixedColumn(260px, 80px, $background-left-column, visible) {
      h5 {
        padding-left: 10px;
        font-weight: bold;
      }
      #contact-counter {
        @include noneSelect();
        padding: 0px 10px;
        margin-bottom: 0;
        margin-top: 10px;
        .list-group-item {
          .badge {
            cursor: pointer;
            background-color: $primary-color;
          }

          .contact-description-count {
            white-space: nowrap;
            width: 155px;
            overflow: hidden;
            text-overflow: ellipsis;
            cursor: pointer;
          }
        }
        .list-group-item.group-selected {
          background-color: $primary-color-light;
        }
      }

      #privacy-link {
        display: inline-block;
        width: 190px;
        margin: 5px 5px 5px 25px;
        a {
          color: #000000;
        }
      }

      #help-my-contact {
        display: inline-block;
        img {
          margin-bottom: 25px;
          height: 24px;
          width: 24px;
          cursor: pointer;
        }
      }
    }
  }
  // Contact Details
  #content-page-contact-details {
    width: 100%;
    height: 100%;

    @include centerColumn(80px) {
      #inner-centerCol {
        position: relative;
        width: 800px;
        height: 100%;
        margin: 0 auto;

        #profile-image {
          float: left;
          img {
            width: 250px;
            height: 250px;
          }
        }

        #profile-data {
          float: left;
          margin-left: 60px;
          height: 250px;
          #profile-data-overview {
            height: 216px;
            max-height: 216px;
            #profile-data-name {
              font-weight: bold;
              font-size: 18px;
              margin-bottom: 10px;
              color: $primary-color;
            }
            .profile-data-description {
              font-size: 16px;
              margin-bottom: 4px;
            }
          }
          #profile-command {
          }
        }
      }
    }
  }
}
