#my-contact-statistic {
  position: fixed;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  left: 0px;
  top: 204px;
  width: 230px;
  background-color: $background-left-column-bottom;
  box-shadow: 1px 6px 6px rgba(0, 0, 0, 0.1);
  border-top: 1px solid $divider-light;
  padding-top: 20px;

  h5 {
    padding-left: 10px;
    font-weight: 300;
  }

  #my-contact-statistic-bottom {
    height: 10px;
  }

  #contact-counter {
    @include noneSelect();
    padding: 0px 10px;
    margin-bottom: 0;
    margin-top: 15px;
    .list-group-item {
      height: 30px;
      padding: 5px 15px;
      .badge {
        cursor: pointer;
        background-color: $primary-color;
      }

      .contact-description-count {
        white-space: nowrap;
        width: 130px;
        overflow: hidden;
        text-overflow: ellipsis;
        cursor: pointer;
      }
    }
    .list-group-item.group-selected {
      background-color: $selected-element;
      color: #ffffff;
    }
  }

  #privacy-link {
    display: inline-block;
    width: 190px;
    margin: 5px 5px 5px 25px;
    a {
      color: #000000;
    }
  }

  #help-my-contact {
    display: inline-block;
    margin-left: 20px;
    img {
      margin-bottom: 10px;
      height: 24px;
      width: 24px;
      cursor: pointer;
    }
  }
}
