#leftColNav {
  position: fixed;
  left: 0;
  top: 60px;
  width: 230px;
  z-index: 100;
  background-color: $primary-color-light;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);

  .left-nav-element-container {
    height: 48px;
    width: 230px;
    cursor: pointer;

    .left-nav-element {
      height: 100%;
      width: 100%;

      .left-nav-image-container {
        display: inline-block;
        vertical-align: top;
        width: 65px;
        height: 100%;
        padding-top: 10px;
        .left-nav-image {
          margin-right: 13px;
          margin-top: 2px;
          float: right;
          height: 24px;
          width: 24px;
        }
      }
      .left-nav-description-container {
        display: inline-block;
        vertical-align: top;
        width: 160px;
        height: 100%;
        .left-nav-description {
          font-size: 16px;
          font-weight: 300;
          padding-left: 5px;
          padding-top: 13px;
        }
      }
    }
  }
}