.modal.center .modal-dialog {
  z-index: 101;
  position: fixed;
  top: 40%;
  left: 50%;
  min-width: 320px;
  max-width: 630px;
  width: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.modal-backdrop.am-fade {
  opacity: .5;
  transition: opacity .3s linear;
  z-index: 101;
}
.modal-backdrop.am-fade.ng-enter {
  opacity: 0;
}
.modal-backdrop.am-fade.ng-enter.ng-enter-active {
  opacity: .5;
}
.modal-backdrop.am-fade.ng-leave {
  opacity: .5;
}
.modal-backdrop.am-fade.ng-leave.ng-leave-active {
  opacity: 0;
}
