#content-page-create-edit {

  width: 100%;
  height: 100%;
  padding-top: 95px;

  @include centerColumn(240px) {
    #inner-centerCol {
      position: relative;
      width: 800px;
      @include breakpoint(largeDesktop) {
        width: 1300px;
      }
      margin: 0 auto;

      #content-create-edit-category {
        margin-top: 10px;
        margin-left: 15px;
        #inputTitleId {
          width: 800px;
          @include breakpoint(largeDesktop) {
            width: 1300px;
          }
          padding-right: 10px;
        }
        .category-select-finished {
          margin-top: 10px;
        }
        .content-create-edit-category-element {
          margin-right: 10px;
        }
      }

      #content-create-edit-page-suggestion-commands {
        margin-top: 20px;
        .content-create-edit-page-suggestion-commands-buttons {
          margin-right: 10px;
        }
      }

      #content-create-edit-page-common {
        #content-create-edit-page-common-picture-area {
          margin-top: 10px;
          margin-right: 20px;
          float: left;
          .content-create-edit-page-common-picture {
            height: 200px;
          }
          .content-create-edit-page-common-get-picture {
            margin-top: 10px;
          }
        }

        #content-create-edit-page-common-area {
          margin-top: 10px;
          width: 100%;
          padding-left: 320px;
          margin-left: 15px;

          #content-create-edit-page-common-inner-area {
            float: left;
            width: 100%;
            .ely-form-text-input {
              margin: 15px 0 15px 15px;
            }
          }
        }

        #content-create-edit-page-common-description-area {
          float: left;
          height: 250px;
          width: 100%;
          margin-top: 15px;

          textarea {
            height: 100%;
          }
        }

        .content-create-edit-page-common-commands {
          float: left;
          margin-top: 15px;
          margin-bottom: 10px;
          margin-right: 10px;
        }
      }
    }
  }
}
