.page-preview-container {
  max-height: 400px;
  overflow: hidden;
  .page-preview-inner-container{
    display: inline-block;
    vertical-align: top;
    width: 160px;
    overflow: hidden;
    margin-right: 20px;
    margin-bottom: 20px;

    .page-preview {
      position: relative;
      cursor: pointer;
      width: 160px;
      height: 330px;
      margin-bottom: 10px;
      box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
      border-radius: 2px;
      background: white;

      .page-preview-image-container {
        width: 160px;
        height: 255px;
        display: table-cell;
        vertical-align: middle;
        .page-preview-image {
          width: 100%;
          max-height: 255px;
        }
        .ely-iframe {
          height: 255px;
        }
      }

      .page-preview-title {
        margin-top: 10px;
        padding: 0 10px;
        font-size: 15px;
        width: 160px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: $primary-color;
      }
      .page-preview-language {
        margin-left: 10px;
        font-size: 12px;
        font-weight: 300;
      }
      .page-preview-contact {
        position: absolute;
        bottom: 25px;

        .page-preview-contact-name {
          display: inline-block;
          vertical-align: middle;
          font-size: 14px;
          font-weight: 300;
          margin-left: 10px;
          width: 140px;
          max-height: 40px;
          overflow: hidden;
        }
      }
      .page-preview-rating {
        position: absolute;
        bottom: 5px;
        left: 10px;
      }
    }

    .page-preview-long {
      @extend .page-preview;
      height: 380px;

      .page-preview-rating {
        //left: 50px;
      }
    }

    .page-preview-landscape {
      height: 160px;
      width: 300px;
    }
  }
}