#content {

  width: 100%;
  height: 100%;

  #content-page-overview {

    width: 100%;
    height: 100%;

    @include centerColumn(340px) {
      #inner-centerCol {
        position: relative;
        width: 800px;
        height: 100%;
        margin: 0 auto;

        @include breakpoint(largeDesktop) {
          width: 1110px;
        }

        .page-preview {

          border-bottom: 1px solid $divider-light;
          display: block;
          height: 100px;
          width: 100%;

          .page-preview-image {
            height: 100px;
            width: 100px;
            float: left;
            cursor: pointer;
            height: 100px;
            width: 150px;

            img {
              max-height: 90px;
              padding-top: 10px;
            }
          }
          .page-preview-text {
            float: left;
            margin-top: 10px;
            width: 300px;
            @include breakpoint(largeDesktop) {
              width: 450px;
            }
            white-space: nowrap;
            .page-preview-title {
              font-size: 16px;
              font-weight: bold;
              color: $primary-color;
              cursor: pointer;
              overflow: hidden;
              text-overflow: ellipsis;
            }
            .page-preview-category {
              font-size: 12px;
            }

            .page-preview-rating-overview {

              .page-preview-no-rating-overview-text {
                font-style: italic;
              }
              .page-preview-rating-overview-description {
                margin-left: 5px;
                display: inline-block;
              }
            }
          }

          .page-preview-user-recommendation {
            display: inline-block;
            padding-top: 10px;
            margin-left: 10px;

            .page-preview-user-recommendation-rating {
              margin-top: 3px;
            }
            .page-preview-user-recommendation-no-comment {
              margin-top: 16px;
            }
            .page-preview-user-recommendation-comment {
              font-size: 13px;
              font-style: italic;
              word-wrap: break-word;
              overflow: hidden;
              text-overflow: ellipsis;
              width: 150px;
              height: 33px;
            }
          }
        }
      }
    }

    @include leftFixedColumn(260px, 80px, $background-left-column, visible) {

      .page-preview-add-page {
        margin: 10px 0px 10px 10px;
      }
    }
  }
}
