#content-page-detail {
  .page-detail-header-preview {
    display: table-cell;
    position: relative;
    padding-left: 20px;

    .page-detail-header-preview-title {
      font-size: 30px;
      font-weight: 100;
      color: $primary-color;
      margin-bottom: 10px;
    }

    .page-detail-activity {
      width: 350px;
      height: 30px;
      border-radius: 5px;
      margin-right: 10px;
      margin-bottom: 10px;
      padding-top: 5px;
      padding-left: 10px;
      background-color: #ffffff;
      cursor: pointer;
      .page-detail-activity-time {
        margin-right: 10px;
        vertical-align: middle;
        width: 80px;
        display: inline-block;
      }
      .page-detail-activity-title {
        display: inline-block;
        vertical-align: middle;
        width: 245px;
        overflow: hidden;
      }
    }
  }
}
