.page-preview-container {
  height: 350px;
  overflow: hidden;
  .page-preview-inner-container{
    display: inline-block;
    vertical-align: top;
    width: 160px;
    overflow: hidden;
    margin-right: 20px;
    margin-bottom: 20px;

    .page-preview {
      position: relative;
      cursor: pointer;
      width: 160px;
      height: 330px;
      margin-bottom: 10px;
      box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
      border-radius: 2px;
      background: white;

      .page-preview-image-container {
        width: 160px;
        height: 255px;
        display: table-cell;
        vertical-align: middle;
        .page-preview-image {
          width: 100%;
          max-height: 255px;
        }
      }

      .page-preview-title {
        margin-top: 10px;
        padding: 0 10px;
        font-size: 15px;
        width: 160px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: $primary-color;
      }
      .page-preview-description {

      }
      .page-preview-rating {
        position: absolute;
        bottom: 5px;
        left: 10px;
      }
    }
  }
}