#content-settings {

  width: 100%;
  height: 100%;

  @include centerColumn(80px) {

    #inner-centerCol {
      position: relative;
      width: 800px;
      margin: 0 auto;

      #manage-profile-photo-container {
        float: left;
        margin: 0 10px 0 20px;

        img {
          width: 250px;
          height: 250px;
        }
      }

      #manage-profile {
        float: left;
        width: 500px;
      }
    }
  }

  @include leftFixedColumn(260px, 80px) {
    background-color: $background-left-column;

    ul {
      width: 100%;
      padding: 0 10px;

      .active {
        a {
          color: #FFFFFF;
        }
      }

      a {
        color: #000000;
      }
    }
  }
}