#content-settings-profile {

  width: 100%;
  height: 100%;

  @include centerColumn(80px) {

    #inner-centerCol {
      position: relative;
      width: 800px;
      margin: 0 auto;

      #manage-profile-photo-container {
        float: left;
        margin: 0 10px 0 20px;

        img {
          width: 250px;
          height: 250px;
        }
      }

      #manage-profile {
        float: left;
        width: 500px;
      }
    }
  }
}