<div id="modal-dialog-add-recommendation">
    <div class="modal-header">
        <h4 class="modal-title">Deine Bewertung für
            <div class="title">{{ title}}</div>
        </h4>
    </div>
    <div class="modal-body">
        <div class="description">
            <textarea class="form-control" ng-model="ctrl.recommendationDescription" maxlength="1000"></textarea>
        </div>
    </div>
    <div class="modal-footer">
        <ely-star-rating number-of-selected-stars="ctrl.numberOfSelectedStars"></ely-star-rating>
        <div class="error" ng-show="ctrl.error">{{ctrl.error}}</div>
        <md-button class="md-primary ely-button"  ng-click="ctrl.abort()">Abbrechen</md-button>
        <md-button class="md-primary md-raised ely-button" ng-click="ctrl.addRecommendation()" ng-disabled="ctrl.numberOfSelectedStars === -1">
            Hinzufügen
        </md-button>
    </div>
</div>