<div class="modal" tabindex="-1" role="dialog" aria-hidden="true" ng-controller="ModalAddRecommendationCtrl">
    <div id="modal-dialog-add-recommendation" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Deine Bewertung für
                    <div class="modal-dialog-add-recommendation-title">{{title}}</div>
                </h4>
            </div>
            <div class="modal-body">
                <div class="modal-dialog-add-recommendation-description">
                    <textarea class="form-control" ng-model="recommendationDescription" maxlength="1000"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <ely-star-rating number-of-selected-stars="numberOfSelectedStars"></ely-star-rating>
                <div class="modal-dialog-add-recommendation-error" ng-show="error">{{error}}</div>
                <button type="button" class="btn btn-default" ng-click="$hide()">Abbrechen</button>
                <button type="button" class="btn btn-default" ng-click="addRecommendation()" ng-class="{disabled: numberOfSelectedStars === -1}">
                    Hinzufügen
                </button>
            </div>
        </div>
    </div>
</div>
