<div id="ely-link-page-main-detail">
    <div class="title-container" layout="row">
        <div>
            <div class="md-title title" ng-click="ctrl.openLink(ctrl.pageDetail.page.link)">{{ctrl.pageDetail.page.title}}</div>
            <div>
                <div class="page-link" ng-click="ctrl.openLink(ctrl.pageDetail.page.link)">{{ctrl.pageDetail.page.hostname}}
                    <md-tooltip md-direction="right">{{ctrl.pageDetail.page.link}}</md-tooltip>
                </div>
            </div>
        </div>
    </div>
    <div class="image-description-container">
        <img class="image" ng-src="{{ctrl.pageDetail.page.imageUrl}}" ng-if="ctrl.pageDetail.page.imageUrl"
             ng-click="ctrl.openLink(ctrl.pageDetail.page.link)">
        <ely-expand-text class="description" description="{{ctrl.pageDetail.page.description}}" length="300"></ely-expand-text>
    </div>
</div>
