<div class="page-detail-header-preview" ng-show="pageDetail.page.activities.length > 0" ng-controller="pageHeaderActivityPreviewCtrl">
    <div class="page-detail-header-preview-title">
        N&auml;chste Kurse
    </div>
    <div class="page-detail-activity" ng-repeat="activity in pageDetail.page.activities">
        <div ng-click="openDetail(activity.pageId, activity.label)">
            <div class="page-detail-activity-time">{{getTime(activity.startTime)}}</div>
            <div class="page-detail-activity-title">{{activity.title}}</div>
        </div>
    </div>
</div>
