<div class="md-padding ely-pinwall-container">
    <div id="pinwall-no-result" ng-if="ctrl.noPinwall === true && pinwall.length === 0">
        <div class="title">Keine Beiträge gefunden</div>
        <div class="description">Es wurden mit den aktuellen <span class="filter">Filtereinstellungen</span> keine Beiträge gefunden.</div>
    </div>
    <div class="one-column-container" ng-if="!ctrl.isBreakpoint">
        <ely-pinwall-contacting contacting="ctrl.contacting" ng-if="ctrl.contacting.numberOfContacting > 0"
                                reload-pinwall="ctrl.reloadPinwall"></ely-pinwall-contacting>
        <ely-pinwall-construction-info
                ng-show="ctrl.showInfo === 'true' && pinwall.length > 0"></ely-pinwall-construction-info>
        <ely-pinwall-recommended-user recommended-user="ctrl.recommendedUser" reload-pinwall="ctrl.reloadPinwall"
                                      ng-if="ctrl.recommendedUser.length > 0"></ely-pinwall-recommended-user>
        <ely-pinwall-element flex="grow" element="pinwallElement"
                             ng-repeat="pinwallElement in pinwall"></ely-pinwall-element>
        <div class="pinwall-gab" ng-if="ctrl.gap && pinwall.length > 0"></div>
    </div>
    <div class="two-column-container" ng-if="ctrl.isBreakpoint" layout="row">
        <div flex="50" class="first-column">
            <ely-pinwall-construction-info
                    ng-show="ctrl.showInfo === 'true' && pinwall.length > 0"></ely-pinwall-construction-info>
            <ely-pinwall-contacting contacting="ctrl.contacting" ng-if="ctrl.contacting.numberOfContacting > 0"
                                    reload-pinwall="ctrl.reloadPinwall"></ely-pinwall-contacting>
            <ely-pinwall-recommended-user recommended-user="ctrl.recommendedUser" reload-pinwall="ctrl.reloadPinwall"
                                          ng-if="ctrl.recommendedUser.length > 0"></ely-pinwall-recommended-user>
            <ely-pinwall-element element="pinwallElement"
                                 ng-repeat="pinwallElement in ctrl.columns.pinwallFirstColumn"></ely-pinwall-element>
        </div>
        <div flex="50" class="second-column">
            <ely-pinwall-element on-blog-removed="ctrl.blogRemoved" element="pinwallElement"
                                 ng-repeat="pinwallElement in ctrl.columns.pinwallSecondColumn"></ely-pinwall-element>
        </div>
    </div>
</div>