<md-dialog id="manage-youtube-page" aria-label="Manage Youtube Page" class="manage-page">
    <form ng-show="!ctrl.showExistingPages" ng-cloak>
        <div class="md-title ely-dialog-title">Video <span class="highlighted">{{ctrl.data.title}}</span> bearbeiten</div>
        <md-dialog-content>
            <div class="md-dialog-content ely-dialog-content">
                <ely-manage-youtube is-edit-mode="true" data="ctrl.data"
                                 ng-if="!ctrl.selectImage"
                                 event-data-changed="ctrl.dataChanged"></ely-manage-youtube>
            </div>
        </md-dialog-content>
        <md-dialog-actions>
            <md-button ng-click="ctrl.cancel()" target="_blank" md-autofocus>Abbrechen</md-button>
            <md-button class="md-primary md-raised" ng-click="ctrl.modifyYoutube()" ng-if="ctrl.isEditMode"
                       ng-disabled="ctrl.uploadStarted || !ctrl.isValidToChange">Ändern
            </md-button>
        </md-dialog-actions>
    </form>
    <md-progress-linear ng-if="ctrl.uploadStarted" md-mode="indeterminate"></md-progress-linear>

    <ely-existing-page-overview-dialog pages="ctrl.searchResult.pages" ng-if="ctrl.showExistingPages"
                                       cancel="ctrl.cancel" finish="ctrl.closeOverviewPages"></ely-existing-page-overview-dialog>
</md-dialog>