#ely-pinwall-contacting {
  @include cardElement();
  width: 100%;
  margin: 8px 0;
  .card-title {
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 24px;
  }
  .contacting-user {
    margin-bottom: 16px;
    .profile-image {
      height: 40px;
      width: 40px;
      border-radius: 50%;
      cursor: pointer;
    }
    .user-name {
      margin-left: 12px;
      line-height: 40px;
      font-size: 16px;
      font-weight: 500;
      cursor: pointer;
      max-width: 240px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      @media screen and (min-width: $gt-xs) {
        max-width: 260px;
      }
      @media screen and (min-width: $gt-md) {
        max-width: 300px;
      }
    }
  }
  .number-of-contacting {
    cursor: pointer;
    margin-top: 24px;
    .number {
      font-weight: 500;
      color: $primary-color;
    }
    font-size: 14px;
    font-weight: 500;
  }
}


