.ely-pinwall-container {
  .important-message-container {
    margin: 0 auto 12px auto;
    padding: 8px;
    border: 3px solid #FFB300;
    border-radius: 8px;
    background-color: #FFECB3;
    min-height: 32px;
    .important-message-inner-container {
      padding: 0 8px;
      font-size: 16px;
      color: $primary-text;
      .link {
        cursor: pointer;
        color: $primary-color;
      }
      .link:hover {
        text-decoration: underline;
      }
    }
  }
  .one-column-container {
    margin: 0 auto;
    max-width: 400px;
  }
  .two-column-container {
    margin: 0 auto;
    width: 930px;
  }
}


