.card-recommendation-desktop {
  @include cardElement();
  margin: 8px 0;
  .header {
    padding: 16px;
    .user-image {
      cursor: pointer;
      height: 40px!important;
      width: 40px;
      margin-right: 12px;
      border-radius: 50%;
    }
    .recommendation-title {
      font-size: 14px;
      color: $secondary-text;
      font-weight: 300;
      .user-name {
        cursor: pointer;
        color: $primary-text;
        font-weight: 500;
      }
      .user-name:link {
        text-decoration: none;
      }
      .user-name:visited {
        text-decoration: none;
      }
      .user-name:hover {
        text-decoration: underline;
      }
      .page-title {
        cursor: pointer;
        font-weight: 400;
        color: $primary-color;
      }
      .page-title:link {
        text-decoration: none;
      }
      .page-title:visited {
        text-decoration: none;
      }
      .page-title:hover {
        text-decoration: underline;
      }
    }
    .recommendation-created {
      font-size: 12px;
      line-height: 24px;
      color: $secondary-text;
      vertical-align: middle;
      display: inline-block;
      margin-right: 8px;
    }
    .popular-recommendation-title {
      font-size: 18px;
      cursor: pointer;
      font-weight: 400;
      color: $primary-color;
    }
    .popular-recommendation-title:hover {
      text-decoration: underline;
    }
  }
}


