.book-recommendation-desktop {
  padding: 0 16px 16px 16px;
  .content-container {
    .book-preview-image {
      width: 115px;
      min-height: 150px;
      margin-right: 12px;
      cursor: pointer;
      @media screen and (min-width: 1500px) {
        width: 130px;
        min-height: 180px;
      }
      img {
        width: 100%;
        border-radius: 2px;
      }
    }
    .description-container {
      position: relative;
      .topic-description {
        .topic-type {
          margin-top: 0;
        }
      }
      .book-description {
        cursor: pointer;
        max-height: 102px;
        overflow: hidden;
        font-size: 14px;
        color: $secondary-text;
        overflow: hidden;
        -ms-scroll-limit: 0 0 0 0;
        @media screen and (max-width: $gt-xxs) {
          font-size: 12px;
          max-height: 155px;
        }
      }
      .action-container {
        position: absolute;
        bottom: -2px;
        left: -8px;
      }
    }
  }
}


