<form id="manage-book-page-input" name="ctrl.manageBookPageForm" layout="row" layout-sm="column" layout-xs="column">
    <div>
        <div layout="row" layout-align="center center">
            <div flex="nogrow" class="preview-image">
                <img ng-src="{{ctrl.data.dataUri}}" ng-show="ctrl.data.dataUri">
            </div>
        </div>
        <div layout="row" layout-align="center center">
            <div flex="nogrow">
                <ely-button ng-disabled="ctrl.uploadStarted" ng-click="ctrl.openImagePreview()" label="Titelbild hinzufügen"
                            icon="system:image" ng-hide="ctrl.data.dataUri" hide show-gt-sm></ely-button>
                <ely-button ng-disabled="ctrl.uploadStarted" ng-click="ctrl.openImagePreview()" label="Titelbild hinzufügen"
                            icon="system:image" ng-hide="ctrl.data.dataUri" orientation="landscape" hide-gt-sm></ely-button>
                <md-button class="md-primary" ng-disabled="ctrl.uploadStarted" ng-click="ctrl.openImagePreview()"
                           aria-label="Edit Picture" ng-show="ctrl.data.dataUri">Titelbild ändern
                </md-button>
            </div>
        </div>
    </div>
    <div flex-offset-gt-sm="5" flex="grow">
        <div layout="row">
            <div flex="50">
                <md-select ng-model="ctrl.data.selectedTopics" multiple="true" placeholder="Thema" required class="ely-select-topic"
                           ng-change="ctrl.dataChanged(true)">
                    <md-option ng-value="topic" ng-repeat="topic in ctrl.topics">{{ topic.description }}</md-option>
                </md-select>
            </div>
            <div flex="50" flex-offset="5">
                <md-select ng-model="ctrl.data.selectedLanguages" placeholder="Sprache" class="ely-select-topic" required
                           ng-change="ctrl.dataChanged()">
                    <md-option ng-value="language" ng-repeat="language in ctrl.languages">{{ language.description }}</md-option>
                </md-select>
            </div>
        </div>
        <div ng-if="!ctrl.isEditMode">
            <md-input-container class="input-container" flex>
                <label>Titel</label>
                <input name="title" ng-model="ctrl.data.title" required md-maxlength="160"
                       ng-disabled="ctrl.uploadStarted" ng-change="ctrl.titleHasChanged()" ng-blur="ctrl.titleLostFocus()"/>
                <div ng-messages="ctrl.manageBookPageForm.title.$error">
                    <div ng-message="required">Wird benötigt!</div>
                    <div ng-message="md-maxlength">Text ist zu lang</div>
                </div>
            </md-input-container>
            <div class="page-exists-warning" ng-if="ctrl.pageExists" ng-click="ctrl.eventShowExistingOverview()">Diese Seite existiert
                möglicherweise bereits. Hier klicken...
            </div>
        </div>
        <md-input-container class="input-container">
            <label>Autor</label>
            <input name="author" ng-model="ctrl.data.author" required md-maxlength="255"
                   ng-disabled="ctrl.uploadStarted" ng-change="ctrl.dataChanged()"/>
            <div ng-messages="ctrl.manageBookPageForm.author.$error">
                <div ng-message="required">Wird benötigt!</div>
                <div ng-message="md-maxlength">Text ist zu lang</div>
            </div>
        </md-input-container>
        <md-input-container class="input-container">
            <label>Allgemeine Beschreibung</label>
            <textarea name="description" ng-model="ctrl.data.description" required md-maxlength="3000"
                      ng-disabled="ctrl.uploadStarted" ng-change="ctrl.dataChanged()"></textarea>
            <div class="hint" ng-if="ctrl.manageBookPageForm.description.$valid || ctrl.manageBookPageForm.description.$pristine">
                Beschreibe in einer allgemeinen Form worum es in diesem Buch geht. Vermeide persönliche Kommentare.
            </div>
            <div ng-messages="ctrl.manageBookPageForm.description.$error">
                <div ng-message="required">Wird benötigt!</div>
                <div ng-message="md-maxlength">Text ist zu lang</div>
            </div>
        </md-input-container>
        <md-input-container class="input-container">
            <label>Erscheinungsdatum (optional)</label>
            <input name="publishDate" ng-model="ctrl.data.publishDate" ng-disabled="ctrl.uploadStarted"
                   ng-change="ctrl.publishDateChanged()"/>
            <div ng-messages="ctrl.manageBookPageForm.publishDate.$error">
                <div ng-message="ely-date">Ungültiges Datum (z.B {{ctrl.getDateExample()}})</div>
            </div>
        </md-input-container>
    </div>
</form>
