<md-card class="pinwall-blog-card">
    <md-card-header>
        <md-card-avatar ng-click="ctrl.openUserDetail()">
            <img class="md-user-avatar" ng-src="{{ctrl.element.profileUrl}}"/>
        </md-card-avatar>
        <md-card-header-text ng-click="ctrl.openUserDetail()">
            <span class="md-title user-name">{{ctrl.element.name}}</span>
            <span class="md-subhead">{{ctrl.getFormattedDate(ctrl.element.created, 'LLL')}}</span>
        </md-card-header-text>
    </md-card-header>
    <div class="blog-image-container" ng-if="ctrl.element.url" ng-click="ctrl.openDetail()">
        <img ng-src="{{ctrl.element.url}}" class="md-card-image">
    </div>
    <md-card-content>
        <div class="md-body-1 blog-text" ng-click="ctrl.openDetail()">{{ctrl.previewText}}</div>
    </md-card-content>
    <md-card-actions layout="row" lauout-align="end center" ng-if="ctrl.element.isAdmin">
        <md-button ng-click="ctrl.deleteBlog()" ng-disabled="ctrl.requestBlogDeleteRunning">Löschen</md-button>
    </md-card-actions>
    <md-divider></md-divider>
    <md-progress-linear ng-if="ctrl.requestBlogDeleteRunning" md-mode="indeterminate"></md-progress-linear>
</md-card>