<div id="public-header">
    <div id="public-header-container">
        <div id="public-header-inner-container">
            <div class="top-line" layout="row">
                <div class="elyoos">Elyoos</div>
                <span flex></span>
                <div class="login-button" ng-click="ctrl.openLogin()">Login</div>
            </div>
            <div class="headline">Das Netzwerk für einen sozialen Wandel</div>
        </div>
    </div>
    <div class="register-button" ng-click="ctrl.openRegister()">Registrieren</div>
    <div class="login-link" ng-click="ctrl.openLogin()">Du hast bereits ein Benutzerkonto? Login</div>
</div>