<form name="ctrl.addAddressForm" class="ely-select-location" aria-label="Select location" ng-cloak>
    <div layout="row" class="select-container">
        <md-autocomplete ng-disabled="false" class="search-autocomplete"
                         md-autofocus="true"
                         md-no-cache="false"
                         md-delay="600"
                         md-min-length="3"
                         md-search-text="ctrl.addressSearch"
                         md-search-text-change="ctrl.addressSearchChanged()"
                         md-selected-item-change="ctrl.addressChanged(item)"
                         md-items="item in ctrl.autocompleteAddress(ctrl.addressSearch)"
                         md-item-text="item.address"
                         md-input-id="toolbar-search-input"
                         md-menu-class="toolbar-search-preview"
                         placeholder="Wo bist du Zuhause?"
                         ng-keypress="ctrl.keyPressed($event)"
                         flex="grow">
            <md-item-template>
                <div ng-bind-html="item.address"></div>
            </md-item-template>
            <md-not-found>
                Keine Adressen gefunden.
            </md-not-found>
        </md-autocomplete>
        <div class="search-image-icon" flex="none">
            <md-button class="md-fab md-mini" aria-label="Search place" ng-click="ctrl.searchAddress()"
                       ng-disabled="ctrl.requestStartedValue || !ctrl.addressSearchIsValid || ctrl.lastRequestString === ctrl.addressSearch">
                <md-icon md-svg-icon="system:search" class="icon"></md-icon>
            </md-button>
        </div>
    </div>
    <div>
        <div class="not-found-message" ng-if="ctrl.noMessagesFound">
            Keine Adressen gefunden.
        </div>
        <md-radio-group ng-model="ctrl.selectedAddress" class="md-primary" ng-change="ctrl.addressChanged(ctrl.selectedAddress)">

            <div layout="row" ng-repeat="address in ctrl.addresses">
                <md-radio-button ng-value="address" aria-label="address.address">
                    {{address.address}}
                </md-radio-button>
            </div>
        </md-radio-group>
    </div>
</form>