<form name="ctrl.addAddressForm" class="ely-select-location" aria-label="Select location" ng-cloak>
    <div layout="row">
        <!--<md-input-container class="input-container" flex="grow">
            <label>Ort</label>
            <input name="addressSearch" ng-model="ctrl.addressSearch" ng-change="ctrl.addressSearchChanged()"
                   ng-disabled="ctrl.requestStarted" ng-keypress="ctrl.keyPressed($event)"/>
        </md-input-container>-->
        <md-autocomplete ng-disabled="false"
                         md-autofocus="true"
                         md-no-cache="true"
                         md-delay="500"
                         md-min-length="2"
                         md-search-text="ctrl.searchText"
                         md-selected-item-change="ctrl.searchAddress()"
                         md-items="item in ctrl.querySearch(ctrl.searchText)"
                         md-item-text="item.name"
                         md-input-id="toolbar-search-input"
                         md-menu-class="toolbar-search-preview"
                         placeholder="Suche Person"
                         ng-keypress="ctrl.keyPressed($event)"
                         flex="grow">
            <md-item-template>
                <div ng-bind-html="item.address"></div>
            </md-item-template>
        </md-autocomplete>
        <div class="search-image-icon" flex="none">
            <md-button class="md-fab md-mini" aria-label="Search place" ng-click="ctrl.searchAddress()"
                       ng-disabled="ctrl.requestStarted || !ctrl.addressSearchIsValid || ctrl.lastRequestString === ctrl.addressSearch">
                <md-icon md-svg-icon="system:search" class="icon"></md-icon>
            </md-button>
        </div>
    </div>
    <div layout="column" layout-gt-xs="row">
        <div flex="100" flex-gt-xs="50" flex-order="1">
            <md-radio-group ng-model="ctrl.selectedAddress" class="md-primary" ng-change="ctrl.addressChanged()">
                <div layout="row">
                    <md-radio-button ng-value="null" aria-label="Keine Adresse">
                        Keine Adresse
                    </md-radio-button>
                </div>
                <div layout="row" ng-if="ctrl.userLocation">
                    <md-radio-button ng-value="ctrl.userLocation" aria-label="User Addresse">
                        {{ctrl.userLocation.address}}
                    </md-radio-button>
                </div>
                <div layout="row" ng-repeat="address in ctrl.addresses">
                    <md-radio-button ng-value="address" aria-label="address.address">
                        {{address.address}}
                    </md-radio-button>
                </div>
            </md-radio-group>
        </div>
        <div flex="100" flex-gt-xs="50" flex-order="-1" flex-order-gt-xs="2" ng-if="ctrl.selectedAddress">
            <ely-map center="ctrl.selectedAddress" has-marker-center="true" zoom="15" class="map-container"></ely-map>
        </div>
    </div>
</form>