.card-compact-pinwall-element {
  @include cardElement();
  margin: 8px auto;
}

.compact-pinwall-element {
  padding: 8px 8px 8px 0;
  min-height: 90px;
  width: 100%;
  @media screen and (min-width: $gt-xs) {
    height: 155px;
  }
  .preview-image {
    width: 80px;
    padding-bottom: 10px;
    .preview-image-container {
      cursor: pointer;
      position: relative;
      margin-top: 2px;
      margin-left: 8px;
      width: 70px;
      height: 70px !important;
      border-radius: 4px;
      opacity: 0.99;
      overflow: hidden;
      img {
        position: absolute;
        left: 50%;
        top: 50%;
        height: 100%;
        width: auto;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
      }
      img.book {
        height: 170% !important;
      }
    }
  }
  .compact-pinwall-element-content {
    margin-left: 8px;
    .title {
      cursor: pointer;
      font-size: 14px;
      font-weight: 500;
      color: $primary-color;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .created {
      cursor: pointer;
      display: inline-block;
      font-size: 12px;
      color: $secondary-text;
      margin-bottom: 8px;
      margin-right: 8px;
    }
    .description {
      cursor: pointer;
      font-size: 11px;
      color: $secondary-text;
      line-height: 1.2em;
      max-height: 3.6em;
      overflow: hidden;

      @media screen and (min-width: $gt-xs) {
        font-size: 12px;
        max-height: 4.8em;
      }
    }
    .action-container {
      margin-left: -8px;
      .blog-actions {
        padding: 0;
      }
    }
  }
}

.compact-pinwall-element.show-bottom-line {
  border-bottom: 1px solid $divider;
  margin-bottom: 8px;
}
