.add-question-answer {
  width: 100%;
  .ely-dialog-content {
    padding-top: 0;
  }
  .page-element-container {
    margin-bottom: 0;
  }
  .ely-dialog-title {
    padding: 16px 24px;
    margin-bottom: 0;
    border-bottom: 1px solid $divider;
  }
  .input-container {
    width: 100%;
  }
}