#create-question {
  width: 100%;
  max-width: 500px;
  .ely-dialog-title {
    padding: 16px 24px;
    margin-bottom: 0;
    border-bottom: 1px solid $divider;
  }
  .ely-input-container {
    width: 100%;
  }
}