<div id="ely-question" layout="column" >
    <div id="ely-question-commands" flex="none">
        <div layout="row" layout-align="start center" id="ely-question-commands-inner-container">
            <ely-icon-button icon="navFAB:add" label="Neue Frage" ng-click="ctrl.createQuestion()"></ely-icon-button>
            <ely-icon-button icon="navFAB:filter" label="Filter" ng-click="ctrl.openFilterDialog()"></ely-icon-button>
        </div>
    </div>
    <ely-forum-question-overview commands="ctrl.commands" flex></ely-forum-question-overview>
</div>
