<head>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,400italic,500,700,300' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="body">
    <%- include('../header/html') %>
    <div id="header-bar"></div>
    <div id="content-container">
        <div class="invite-container">
            <img src="cid:url" class="invite-preview-image"/>
            <div class="description">
                <span class="name"><%= name %></span> hat dich eingeladen auf <a href="https://www.elyoos.org">Elyoos</a> ein Benutzerkonto zu
                erstellen.
                <div class="navigate">
                    <a href="https://www.elyoos.org">www.elyoos.org</a>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="elyoos-description-container">
            <div class="header-description">Diese Internetplattform widmet sich der Frage, was jeder Einzelne tun kann, um unsere Welt zum Positiven
                zu verändern. Die Vision ist ein soziales Netzwerk, welches inspiriert, die Augen öffnet und Alternativen aufzeigt.
            </div>
            <div class="description">Welche Möglichkeiten existieren um eine friedliche und gerechte Zukunft für Alle zu erschaffen? Was können wir
                heute tun um dieses Ziel zu erreichen? Auf diese Fragen gibt es unzählige gute Antworten, die jedoch oft in der heutigen
                Informationsflut unter gehen. Elyoos wurde entwickelt, um mit Hilfe der modernsten Webtechnologien das einfache Teilen und
                Diskutieren von sozialen Themen zu ermöglichen.
            </div>
            <div class="description">Das Netzwerk befindet sich momentan in der Aufbauphase. Es braucht noch viel Entwicklungsarbeit, damit aus der Vision
                eines weltumspannenden Netzwerkes für den sozialen Wandel Realität wird. Ich bin jedoch überzeugt, dass dies mit deiner Hilfe gelingen
                wird. Unterstützen kannst du dieses Ziel mit einer regen Nutzung von Elyoos und möglichst viel konstruktivem Feedback.
            </div>
            <div class="description">Ich bin der Überzeugung, dass die Zeit reif ist für ein soziales Netzwerk, welches einen echten Beitrag zur
                Verbesserung unserer Welt leistet!
            </div>
            <div class="developer-container" layout="row">
                <img src="cid:founderImage" flex="none">
                <div class="info">
                    <div class="name">Roger Waldvogel</div>
                    <div class="info-description">Entwickler von Elyoos</div>
                </div>
            </div>
            <div class="navigate">
                <a href="https://www.elyoos.org">www.elyoos.org</a>
            </div>
        </div>
    </div>
    <div class="footer">
        Diese Nachricht wurde von Elyoos versandt.
    </div>
</div>
</body>