<body>
<div class="body">
    <%- include('../header/html') %>
    <div id="header-bar"></div>
    <div id="content-container">
        <div class="invite-container">
            <img src="<%= url %>" class="invite-preview-image"/>
            <div class="description">
                <span class="name"><%= name %></span> hat dich eingeladen auf Elyoos ein Konto zu erstellen.
            </div>
        </div>
        <div class="navigate">
            <a href="https://www.elyoos.org">elyoos.org</a>
        </div>
    </div>
    <div class="footer">
        Diese Nachricht wurde von Elyoos versandt.
    </div>
</div>
</body>