$map-recommendation-width: 300px;

#ely-map-view {
  height: 100%;
  background-color: $background-normal;
  #map-container {
    float: left;
    width: 100%;
    height: 100%;
    #ely-map {
      height: 100%;
      margin-right: $map-recommendation-width;
      #map-id {
        height: 100%;
      }
    }
  }
  #map-legend {
    float: right;
    width: $map-recommendation-width;
    margin-left: -$map-recommendation-width;
    height: 100%;
  }
}


