$primary-color-dark: #303F9F;
$primary-color: #3F51B5;
$primary-color-light: #7986CB;

$secondary-color: #009688;

$background-normal: #e9ebee;

$hover: #C5CAE9;

$divider: rgba(0, 0, 0, 0.12);

$disabled-text: rgba(0, 0, 0, 0.38);
$secondary-text: rgba(0, 0, 0, 0.54);
$primary-text: rgba(0, 0, 0, 0.87);

$disabled-white-text: rgba(255, 255, 255, 0.0);
$secondary-white-text: rgba(255, 255, 255, 0.7);
$primary-white-text: rgba(255, 255, 255, 1);

$warning: #EF6C00;
$tooltip-error: #a94442;
$error-text: rgb(255, 87, 34);
$tooltip-error-background: #f2dede;
$success: #43a047;
$closed: #a94442;
$closed-background: #FFCDD2;
$open: #43a047;
$open-background: #A5D6A7;

$gt-xxs: 480px;
$gt-xs: 600px;
$gt-sm: 960px;
$gt-md: 1280px;
$gt-xmd: 1440px;
$gt-lg: 1920px;