<div class="searchBoxForm">
    <div class="input-group">
        <input class="form-control" placeholder="{{description}}" ng-model="query"
               ng-keypress="sendGetUser($event)"
               ng-options="user.name as user.name for user in getUserSuggestion($viewValue)"
               data-trigger="focus" bs-typeahead>
        <span class="input-group-btn">
            <button class="btn btn-default" type="button" ng-click="getUser(query)">Suchen</button>
        </span>
    </div>
</div>