<md-dialog id="manage-book-page" aria-label="Manage Book Page" class="manage-page" ng-cloak
           ng-class="{'create-book-page-preview-image': ctrl.selectImage}">
    <form name="ctrl.manageBookPageForm" ng-show="!ctrl.selectImage && !ctrl.recommendPage && !ctrl.showExistingPages">
        <div class="md-title title" ng-if="!ctrl.isEditMode">Seite für ein Buch erstellen</div>
        <div class="md-title title" ng-if="ctrl.isEditMode">Buch <span class="title-modify">{{ctrl.data.title}}</span> bearbeiten</div>
        <md-dialog-content>
            <div class="md-dialog-content ely-dialog-content" layout="column" layout-gt-sm="row">
                <div>
                    <div layout="row" layout-align="center center">
                        <div flex="nogrow">
                            <img class="preview-image" ng-src="{{ctrl.data.dataUri}}" ng-show="ctrl.data.dataUri">
                        </div>
                    </div>
                    <div layout="row" layout-align="center center">
                        <div flex="nogrow">
                            <md-button class="md-primary" ng-disabled="ctrl.uploadStarted" ng-click="ctrl.selectImage = true"
                                       aria-label="Add Picture">
                                <span ng-if="!ctrl.data.dataUri">Titelbild hinzufügen</span>
                                <span ng-if="ctrl.data.dataUri">Titelbild ändern</span>
                            </md-button>
                        </div>
                    </div>
                </div>
                <div flex-offset-gt-sm="10">
                    <md-select ng-model="ctrl.data.selectedCategories" multiple="true" placeholder="Thema" required class="ely-select-category"
                               ng-change="ctrl.changeData()">
                        <md-option ng-value="category" ng-repeat="category in ctrl.categories">{{ category.description }}</md-option>
                    </md-select>
                    <div ng-if="!ctrl.isEditMode">
                        <md-input-container class="input-container" flex>
                            <label>Titel</label>
                            <input name="title" ng-model="ctrl.data.title" required md-maxlength="100"
                                   ng-disabled="ctrl.uploadStarted" ng-change="ctrl.titleHasChanged()" ng-blur="ctrl.titleLostFocus()"/>
                            <div ng-messages="ctrl.manageBookPageForm.title.$error">
                                <div ng-message="required">Wird benötigt!</div>
                                <div ng-message="md-maxlength">Text ist zu lang</div>
                            </div>
                        </md-input-container>
                        <div class="page-exists-warning" ng-if="ctrl.pageExists" ng-click="ctrl.showExistingPages = true">Diese Seite existiert
                            möglicherweise bereits. Hier klicken...
                        </div>
                    </div>
                    <md-input-container class="input-container">
                        <label>Beschreibung</label>
                        <textarea name="description" ng-model="ctrl.data.description" required md-maxlength="10000"
                                  ng-disabled="ctrl.uploadStarted" ng-change="ctrl.changeData()"></textarea>
                        <div ng-messages="ctrl.manageBookPageForm.description.$error">
                            <div ng-message="required">Wird benötigt!</div>
                            <div ng-message="md-maxlength">Text ist zu lang</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="input-container">
                        <label>Autor</label>
                        <input name="author" ng-model="ctrl.data.author" required md-maxlength="255"
                               ng-disabled="ctrl.uploadStarted" ng-change="ctrl.changeData()"/>
                        <div ng-messages="ctrl.manageBookPageForm.author.$error">
                            <div ng-message="required">Wird benötigt!</div>
                            <div ng-message="md-maxlength">Text ist zu lang</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="input-container">
                        <label>Erscheinungsdatum (optional)</label>
                        <input name="publishDate" ng-model="ctrl.data.publishDate" ng-disabled="ctrl.uploadStarted"
                               ng-change="ctrl.publishDateChanged()"/>
                        <div ng-messages="ctrl.manageBookPageForm.publishDate.$error">
                            <div ng-message="ely-date">Ungültiges Datum (z.B {{ctrl.getDateExample()}})</div>
                        </div>
                    </md-input-container>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions>
            <md-button ng-click="ctrl.cancel()">Abbrechen</md-button>
            <md-button class="md-primary md-raised" ng-click="ctrl.createBook()" ng-if="!ctrl.isEditMode"
                       ng-disabled=" ctrl.uploadStarted || ctrl.manageBookPageForm.$invalid">Erstellen
            </md-button>
            <md-button class="md-primary md-raised" ng-click="ctrl.modifyBook()" ng-if="ctrl.isEditMode"
                       ng-disabled=" ctrl.uploadStarted || ctrl.manageBookPageForm.$invalid || !ctrl.dataHasChanged">Ändern
            </md-button>
        </md-dialog-actions>
    </form>
    <md-progress-linear ng-if="ctrl.uploadStarted && !ctrl.selectImage" md-mode="indeterminate"></md-progress-linear>

    <ely-preview-picture ratio="0.62745" cancel="ctrl.cancelPreviewImage" finish="ctrl.setPreviewImage"
                         ng-show="ctrl.selectImage && !ctrl.recommendPage"></ely-preview-picture>

    <ely-existing-page-overview pages="ctrl.searchResult.pages" ng-if="ctrl.showExistingPages && !ctrl.recommendPage"
                                cancel="ctrl.cancel" finish="ctrl.closeOverviewPages"></ely-existing-page-overview>

    <ely-add-recommendation ng-if="ctrl.recommendPage" title="ctrl.title" page-id="ctrl.pageId"
                            finish="ctrl.recommendationFinish" abort="ctrl.recommendationFinish"></ely-add-recommendation>
</md-dialog>