<div ng-class="{'ely-toolbar-search-expanded': ctrl.isExpanded, 'ely-toolbar-search-collapse': !ctrl.isExpanded}">
    <div id="ely-toolbar-search" ng-if="ctrl.isExpanded">
        <div class="search-container">
            <md-icon md-svg-icon="system:search" class="search-icon"></md-icon>
            <ely-toolbar-contact-search ng-if="ctrl.serviceName === 'contact'" commands="ctrl.commands"></ely-toolbar-contact-search>
            <ely-toolbar-thread-search ng-if="ctrl.serviceName === 'threads'" commands="ctrl.commands"></ely-toolbar-thread-search>
            <md-icon md-svg-icon="system:close" class="search-close-icon" ng-click="ctrl.closeExpand()"></md-icon>
        </div>
    </div>
    <div ng-if="!ctrl.isExpanded" class="ely-toolbar-menu">
        <md-button class="md-icon-button" aria-label="Search" ng-click="ctrl.openExpand()">
            <md-icon md-svg-icon="system:search"></md-icon>
        </md-button>
    </div>
</div>