
.category-description {
  padding: 0 16px;
  .category-type {
    display: inline-block;
    font-size: 12px;
    font-weight: 400;
    height: 16px;
    line-height: 16px;
    vertical-align: middle;
    padding: 2px 4px;
    border-radius: 4px;
    color: white;
    margin-right: 4px;
    margin-bottom: 4px;
  }
  .spiritual {
    background-color: #BA68C8;
  }
  .health {
    background-color: #039BE5;
  }
  .environmental {
    background-color: #43A047;
  }
  .education {
    background-color: #A1887F;
  }
  .personalDevelopment {
    background-color: #7986CB;
  }
  .socialDevelopment {
    background-color: #009688;
  }
}

.category-icon {
  margin-bottom: 8px;
}
.youtube-icon {
  color: #cd201f;
}
.book-icon {

}
.answer-icon {
  color: #F9A825;
}

.ely-select-category {
  .md-select-value {
    span {
      max-width: 95%;
      .md-text {
        white-space: normal;
      }
    }
  }
}


