h1.website-structure-title {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 28px;
  font-style: normal;
  font-variant: normal;
  font-weight: 100;
}

h2.website-structure-title {
  margin-top: 20px;
  margin-bottom: 15px;
  font-size: 18px;
  color: $primary-color;
  font-style: normal;
  font-variant: normal;
  font-weight: 300;
}

.ely-button {
  text-transform: none;
  margin-left: 0;
}

.ely-input-container {
  margin: 9px 0;
}

.pinwall-gab {
  height: 60px;
  width: 100%;
}
