<md-dialog id="manage-link-page" aria-label="Manage Link Page" class="manage-page"
           ng-class="{'create-link-page-preview-image': ctrl.selectImage}">
    <form name="ctrl.manageLinkPageForm" ng-show="!ctrl.selectImage " ng-cloak>
        <div class="md-title ely-dialog-title">Link <span class="highlighted">{{ctrl.data.title}}</span> bearbeiten</div>
        <md-dialog-content>
            <div class="md-dialog-content ely-dialog-content">
                <ely-manage-link is-edit-mode="true" data="ctrl.data" event-show-image="ctrl.showImage"
                                 ng-if="!ctrl.selectImage"
                                 event-data-changed="ctrl.dataChanged"></ely-manage-link>
            </div>
        </md-dialog-content>
        <md-dialog-actions>
            <md-button ng-click="ctrl.cancel()" target="_blank" md-autofocus>Abbrechen</md-button>
            <md-button class="md-primary md-raised" ng-click="ctrl.modifyLink()"
                       ng-disabled="ctrl.uploadStarted || !ctrl.isValidToChange">Ändern
            </md-button>
        </md-dialog-actions>
    </form>
    <md-progress-linear ng-if="ctrl.uploadStarted" md-mode="indeterminate"></md-progress-linear>

    <ely-preview-picture ratio="1.3364" cancel="ctrl.cancelPreviewImage" finish="ctrl.setPreviewImage"
                         ng-if="ctrl.selectImage"></ely-preview-picture>
</md-dialog>