<div class="ely-page-admin-container" ng-if="ctrl.pageDetail.administrators.isAdmin">
    <div class="page-section-title">Du bist Administrator dieses Beitrages</div>
    <div class="page-admin-actions-container" layout="row">
        <div>
            <md-button class="page-admin-action md-fab md-mini" aria-label="Edit Page" ng-disabled="ctrl.requestRunning" ng-click="ctrl.editPage()"
                       ng-show="ctrl.$mdMedia('gt-sm')">
                <md-icon md-svg-icon="cardActions:edit" class="action-icon"></md-icon>
            </md-button>
            <md-button class="page-admin-action md-raised" aria-label="Edit Page" ng-disabled="ctrl.requestRunning" ng-click="ctrl.editPage()"
                       ng-hide="ctrl.$mdMedia('gt-sm')">
                Beitrag bearbeiten
            </md-button>
        </div>
        <div ng-if="ctrl.pageDetail.recommendation.summary.all.numberOfRecommendations === 0 ||
                  (ctrl.pageDetail.recommendation.summary.all.numberOfRecommendations === 1 && ctrl.pageDetail.recommendation.user.recommendationId)">
            <md-button class="md-fab md-mini" aria-label="Delete Page" ng-disabled="ctrl.requestRunning" ng-click="ctrl.deletePage()"
                       ng-show="ctrl.$mdMedia('gt-sm')">
                <md-icon md-svg-icon="cardActions:delete" class="action-icon"></md-icon>
            </md-button>
            <md-button class="md-raised" aria-label="Delete Page" ng-disabled="ctrl.requestRunning" ng-click="ctrl.deletePage()"
                       ng-hide="ctrl.$mdMedia('gt-sm')">
                Beitrag löschen
            </md-button>
        </div>
    </div>
</div>
