.ely-select-location {
  .select-container {
    margin-bottom: 12px;
    .search-autocomplete {
      margin-top: 6px;
    }
    .search-image-icon {
      padding-left: 12px;
    }
  }
  .no-address-button {
    margin-left: 0;
    margin-top: 0;
    padding-left: 0;
    margin-bottom: 24px;
  }
}
