#stepper-dialog.fix-height-dialog {
  height: 300px;
  @media screen and (min-height: 550px) {
    height: 500px;
  }

  @media screen and (min-height: 850px) {
    height: 800px;
  }
  .stepper-dialog-form {
    height: 300px;
    @media screen and (min-height: 550px) {
      height: 500px;
    }

    @media screen and (min-height: 850px) {
      height: 800px;
    }
  }
}
