<md-card class="ely-search-result-link-page">
    <div class="link-page-container" ui-sref="page.detail({label: ctrl.page.label, pageId: ctrl.page.pageId})">
        <div class="link-header">
            <div class="link-title">{{ctrl.page.title}}</div>
            <div class="page-rating" ng-if="ctrl.page.recommendation.summary.numberOfRatings > 0">
                <ely-star-rating is-readonly="true" is-x-small="true"
                                 number-of-selected-stars-readonly="ctrl.page.recommendation.summary.rating"></ely-star-rating>
                <span class="description">({{ctrl.page.recommendation.summary.numberOfRatings}})</span>
            </div>
            <div class="page-rating" ng-if="ctrl.page.recommendation.summary.numberOfRatings === 0">
                <span class="description">Keine Bewertung</span>
            </div>
            <ely-topics topics="ctrl.page.topic"></ely-topics>
        </div>
        <img ng-src="{{ctrl.page.url}}" class="link-image" flex="none">
    </div>
</md-card>
