.ely-recommendation-preview.ely-recommendation-preview-mobile {
  max-width: none;
  margin: 12px auto;

}

.ely-recommendation-preview.last-recommendation {
  border-bottom: none;
}

.ely-recommendation-preview-no-result {
  max-width: 320px;
  margin: 12px auto;
  height: 70px;
  line-height: 70px;
  font-size: 14px;
  padding-left: 16px;
}
