<div id="content-settings-security">
    <div id="centerCol">
        <div id="inner-centerCol">
            <h1 class="website-structure-title">
                Privatsphäre Einstellung für {{selectedType.type}}
            </h1>
            <div class="content-privacy">
                <div class="privacy-setting-row">
                    <div class="select-privacy-settings">
                        <input type="checkbox" ng-model="selectedType.profileVisible">

                        <div class="select-privacy-settings-text">
                            Mein Profil ist sichtbar
                        </div>
                        <div class="select-privacy-settings-description" ng-show="privacySettings.noContactSelected">
                            Wenn diese Funktion deaktiviert ist, können andere User die Du nicht zu deinen Kontakten hinzugefügt hast nur deinen Namen
                            sehen. Alle anderen Profildaten bleiben verborgen.
                        </div>
                        <div class="select-privacy-settings-description" ng-show="!privacySettings.noContactSelected">
                            Wenn diese Funktion deaktiviert ist, können andere User die Du der Gruppe {{selectedType.type}} hinzugefügt hast nur
                            deinen Namen sehen. Alle anderen Profildaten bleiben verborgen.
                        </div>
                    </div>
                </div>
                <div class="privacy-setting-row">
                    <div class="select-privacy-settings">
                        <input type="checkbox" ng-model="selectedType.contactsVisible" ng-disabled="!selectedType.profileVisible">

                        <div ng-class="{'select-privacy-settings-text': selectedType.profileVisible, 'select-privacy-settings-text-disabled': !selectedType.profileVisible}">
                            Meine Kontakte sind sichtbar
                        </div>
                        <div class="select-privacy-settings-description" ng-show="privacySettings.noContactSelected">
                            Bestimmt ob User die Du nicht als Kontakte hinzugefügt hast deine Kontakte sehen können.
                        </div>
                        <div class="select-privacy-settings-description" ng-show="!privacySettings.noContactSelected">
                            Bestimmt ob User die Du der Gruppe {{selectedType.type}} hinzugefügt hast deine Kontake sehen können.
                        </div>
                    </div>
                </div>
                <div class="privacy-setting-row">
                    <div class="select-privacy-settings">
                        <input type="checkbox" ng-model="selectedType.imageVisible" ng-disabled="!selectedType.profileVisible">

                        <div ng-class="{'select-privacy-settings-text': selectedType.profileVisible, 'select-privacy-settings-text-disabled': !selectedType.profileVisible}">
                            Mein Profilbild ist sichtbar
                        </div>
                        <div class="select-privacy-settings-description" ng-show="privacySettings.noContactSelected">
                            Bestimmt ob User die Du nicht als Kontakte hinzugefügt hast dein Profilbild sehen können.
                        </div>
                        <div class="select-privacy-settings-description" ng-show="!privacySettings.noContactSelected">
                            Bestimmt ob User die Du der Gruppe {{selectedType.type}} hinzugefügt hast dein Profilbild sehen können.
                        </div>
                    </div>
                </div>
                <div class="privacy-setting-row">
                    <div class="select-privacy-settings">
                        <input type="checkbox" ng-model="selectedType.profileDataVisible" ng-disabled="!selectedType.profileVisible">

                        <div ng-class="{'select-privacy-settings-text': selectedType.profileVisible, 'select-privacy-settings-text-disabled': !selectedType.profileVisible}">
                            Meine Profildaten sind sichtbar
                        </div>
                        <div class="select-privacy-settings-description" ng-show="privacySettings.noContactSelected">
                            Bestimmt ob User die Du nicht als Kontakte hinzugefügt hast deine Profil Daten, wie z.B. deinen Geburtstag, sehen können.
                        </div>
                        <div class="select-privacy-settings-description" ng-show="!privacySettings.noContactSelected">
                            Bestimmt ob User die Du der Gruppe {{selectedType.type}} hinzugefügt hast deine Profil Daten, wie z.B. deinen Geburtstag,
                            sehen können.
                        </div>
                    </div>
                </div>
                <div class="privacy-setting-button-row">
                    <ely-send-button button-description="Änderung übernehmen" send-data="updatePrivacyType"
                                     error-placement="right" model="selectedType"></ely-send-button>
                </div>
            </div>
        </div>
    </div>
    <div id="privacy-setting-overview">
        <ul class="list-group">
            <div>
                <li class="list-group-item" ng-click="setPrivacyTypeNoContact()"
                    ng-class="{'group-selected': privacySettings.noContactSelected}">

                    <div class="privacy-type-description">Kein Kontakt</div>
                </li>
            </div>
            <div ng-repeat="privacy in privacySettings.normal">
                <li class="list-group-item"
                    ng-class="{'group-selected': selectedType.type === privacy.type}">
                    <div class="list-group-item-container">
                        <img ng-if="privacySettings.normal.length > 1"
                             class="list-group-item-icons"
                             src="app/img/delete.png" trigger="click"
                             data-auto-close="true"
                             data-placement="bottom"
                             data-template-url="app/modules/settings/popoverDeletePrivacy.html"
                             bs-popover/>
                    </div>
                    <div class="list-group-item-container">
                        <img class="list-group-item-icons" src="app/img/edit.png"
                             trigger="click"
                             data-auto-close="true"
                             data-placement="bottom"
                             data-template-url="app/modules/settings/popoverRenamePrivacy.html"
                             bs-popover/>
                    </div>
                    <div class="privacy-type-description"
                         ng-click="setPrivacyType(privacy.type)">{{privacy.type}}
                    </div>
                </li>
            </div>
            <div>
                <div class="privacy-adding" ng-if="!showNewPrivacySettingInput && privacySettings.normal.length < 10">
                    <a href="#" ng-click="showAddingNewPrivacySetting()">Neuer Privatsphären Typ
                        hinzufügen...</a>
                </div>
                <div class="privacy-adding-input" ng-if="showNewPrivacySettingInput">
                    <input class="form-control" placeholder="Privatsphären Typ" ng-maxlength="30"
                           ng-model="addingPrivacy.newPrivacyName">
                    <button class="btn btn-default" type="button" ng-click="addPrivacySetting()"
                            ng-class="{disabled: addingPrivacy.newPrivacyName.trim() === ''}">
                        Hinzufügen
                    </button>
                    <button class="btn btn-default privacy-abort-adding" type="button"
                            ng-click="abortAddingNewPrivacy()">Abbrechen
                    </button>
                </div>
            </div>
        </ul>
    </div>
</div>