<div>
    <ely-pinwall-blog element="ctrl.element" on-blog-removed="ctrl.onBlogRemoved" ng-if="ctrl.element.pinwallType === 'Blog'"></ely-pinwall-blog>
    <ely-pinwall-recommendation-mobile ng-if="ctrl.element.pinwallType === 'Recommendation' && !ctrl.$mdMedia('gt-md')"
                                       element="ctrl.element"></ely-pinwall-recommendation-mobile>
    <ely-pinwall-recommendation-desktop ng-if="ctrl.element.pinwallType === 'Recommendation' && ctrl.$mdMedia('gt-md')"
                                       element="ctrl.element"></ely-pinwall-recommendation-desktop>
</div>