<md-dialog id="select-contact-group" aria-label="Select Contact Group" ng-cloak>
    <md-dialog-content class="md-dialog-content">
        <div class="md-title title"><span class="name">{{ctrl.name}}</span> den Kontakten hinzufügen</div>
        <md-radio-group ng-model="ctrl.selectedType">
            <md-radio-button ng-repeat="typeValue in ctrl.types" value="{{typeValue}}" aria-label="{{typeValue}}">{{typeValue}}</md-radio-button>
        </md-radio-group>
    </md-dialog-content>
    <md-dialog-actions>
        <md-button ng-click="ctrl.cancel()">Abbrechen</md-button>
        <md-button class="md-primary" ng-click="ctrl.accept()">Hinzufügen</md-button>
    </md-dialog-actions>
</md-dialog>