h1 {
  font-size: 24px;
  font-weight: 400;
}

h2 {
  font-size: 20px;
  font-weight: 400;
}

h3 {
  font-size: 18px;
  font-weight: 400;
}

body {
  height: 100%;
  min-height: 100%;
}

.ely-card {
  padding: 16px;
  border: 1px solid #e0e0e0;
  border-radius: 6px;
  background-color: #ffffff;
  box-shadow: none;
}

.elyoos-dialog-error-message {
  padding: 8px;
  border-radius: 6px;
  background-color: #EF5350;
  color: #ffffff;;
}

.elyoos-dialog-warning-message {
  padding: 8px;
  border-radius: 6px;
  background-color: #FFD54F;
}

#elyoos-dialog-header {
  padding: 16px;
  .title-element-primary {
    color: $primary-color;
  }
}

.ely-loading-progress {
  margin-top: 12px;
  text-align: center
}