<div class="pinwall-recommendation-rating-overview">
    <div ng-if="ctrl.element.numberOfSamePinwallData > 2 && ctrl.element.userHasRecommended
                    && !ctrl.element.thisRecommendationByUser" class="container">
        <span class="number">Du</span> und <span class="number">{{ctrl.element.numberOfSamePinwallData - 2}}</span>
        <ng-pluralize count="ctrl.element.numberOfSamePinwallData - 2"
                      when="{'1': ' weitere Person der Du folgst hat diese Seite bewertet',
                                  'other': ' weitere Personen denen Du folgst haben diese Seite bewertet'}"></ng-pluralize>
    </div>
    <div ng-if="ctrl.element.numberOfSamePinwallData > 1 && !ctrl.element.userHasRecommended" class="container">
        <span class="number">{{ctrl.element.numberOfSamePinwallData - 1}}</span>
        <ng-pluralize count="ctrl.element.numberOfSamePinwallData - 1"
                      when="{'1': ' weitere Person der Du folgst hat diese Seite bewertet',
                                  'other': ' weitere Personen denen Du folgst haben diese Seite bewertet'}"></ng-pluralize>
    </div>
    <div ng-if="ctrl.element.numberOfSamePinwallData === 2 && ctrl.element.userHasRecommended && !ctrl.element.thisRecommendationByUser"
         class="container">
        <span class="number">Du</span> hast diese Seite auch bewertet
    </div>
</div>
