<md-content id="ely-contacting-overview">
    <div ely-infinite-scroll="ctrl.nextContacting()">
        <div class="md-padding" layout-wrap layout="row">
            <div flex="100">
                <md-card id="overview-text">
                    <md-card-content>
                        <div class="number-of-contacting" ng-if="ctrl.users.numberOfAllContactings > 0">
                            <span class="number">{{ctrl.users.numberOfAllContactings}}</span>
                            Personen haben Dich als Kontakt
                        </div>
                        <div class="number-of-contacting" ng-if="ctrl.users.numberOfAllContactings === 0">
                            Noch niemand hat Dich in seine Kontaktliste aufgenommen
                        </div>
                    </md-card-content>
                </md-card>
            </div>
            <div flex="100" ng-repeat="contactingUsers in ctrl.users.contactingUsers">
                <ely-contact-preview-square user="contactingUsers"></ely-contact-preview-square>
            </div>
        </div>
    </div>
</md-content>
