<div id="ely-contacting-overview">
    <div ely-infinite-scroll="ctrl.nextContacting" class="overview-container">
        <div class="overview-container-inner">
            <div layout="row" class="contacting-info">
                <div class="number-of-contacting-title"><span class="number-of-contacting">{{ctrl.users.numberOfAllContactings}}</span>
                    <ng-pluralize count="ctrl.users.numberOfAllContactings" when="{'1': ' Person führt Dich als Kontakt',
                                     'other': ' Personen führen Dich als Kontakt'}"></ng-pluralize>
                </div>
                <span flex></span>
                <md-icon class="help-icon" md-svg-icon="cardActions:help" ng-show="!ctrl.expandHelp" ng-click="ctrl.expandHelp = true"></md-icon>
                <md-icon class="help-icon" md-svg-icon="cardActions:arrowUp" ng-show="ctrl.expandHelp" ng-click="ctrl.expandHelp = false"></md-icon>
            </div>
            <div class="contact-element" ng-repeat="contactingUsers in ctrl.users.contactingUsers">
                <ely-contact-preview-square user="contactingUsers"></ely-contact-preview-square>
            </div>
        </div>
    </div>
</div>
