#toolbar-header {
  position: relative;
  width: 100%;
  margin-top: -56px;
  @media screen and (min-width: $gt-md){
    margin-top: -64px;
    //top: 64px;
  }
}

.user-icon {
  height: 24px;
  width: 24px;
}