#toolbar-header {
  position: relative;
  width: 100%;
  margin-top: -56px;
  @media screen and (min-width: $gt-md) {
    margin-top: -64px;
  }
  .ely-toolbar-menu {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
  }
}
#ely-toolbar-sub-nav {
  padding-left: 5px;
  font-size: 16px;
  .md-select-value {
    border-bottom-color: $primary-color;
    color: white;
  }
}