<md-card id="ely-pinwall-recommended-user">
    <md-card-content>
        <div class="title-container" layout="row">
            <div class="card-title">Kontaktvorschläge</div>
            <span flex></span>
            <md-menu md-position-mode="target-right target" class="menu-container">
                <md-button ng-click="$mdOpenMenu($event)" class="md-icon-button" aria-label="Settings contact suggestion">
                    <md-icon md-svg-icon="cardActions:moreVert"></md-icon>
                </md-button>
                <md-menu-content>
                    <md-menu-item>
                        <md-button ng-click="ctrl.hideContactSuggestion()">
                            Vorschläge verbergen
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
        <div class="recommended-user" ng-repeat="user in ctrl.recommendedUser | limitTo: 5" layout="row"
             ng-class="{'last-user': $last}">
            <img ng-src="{{user.profileUrl}}" class="profile-image" ui-sref="user.detail({userId: user.userId})">
            <div layout="column" layout-align="center start">
                <div class="user-name" ui-sref="user.detail({userId: user.userId})">{{user.name}}</div>
                <div class="sub-title-user-name sub-title-user-name-{{user.userId}}"
                     ng-if="user.numberOfSameContacts === 1 && !user.invitedUser"
                     ng-click="ctrl.showSameContact($event, user.userId, user.name)">
                    Ein Kontakt kennt diese Person
                </div>
                <div class="sub-title-user-name sub-title-user-name-{{user.userId}}"
                     ng-if="user.numberOfSameContacts > 1 && !user.invitedUser"
                     ng-click="ctrl.showSameContact($event, user.userId, user.name)">
                    <span class="number">{{user.numberOfSameContacts }}</span> Kontakte kennen diese Person
                </div>
                <div class="sub-title-user-name" ng-if="user.invitedUser"
                     ui-sref="user.detail({userId: user.userId})">Einladung per E-Mail
                </div>
            </div>
            <span flex></span>
            <md-button class="md-icon-button" aria-label="Add to contact"
                       ng-click="ctrl.addContact(user.userId, user.name)">
                <md-icon md-svg-icon="cardActions:addContact"></md-icon>
                <md-tooltip md-direction="left">Zu Deinen Kontakten hinzufügen</md-tooltip>
            </md-button>
        </div>
        <div ng-if="ctrl.recommendedUser.length > 5" layout="row" layout-align="center center">
            <div>
                <md-button class="md-primary" id="button-more-contact-recommendations" aria-label="More contact"
                           ui-sref="settings.profile({overview: 'recommendation'})">
                    Mehr Kontaktvorschläge
                </md-button>
            </div>
        </div>
    </md-card-content>
</md-card>