<div id="content-threads">
    <div id="centerCol">
        <div id="inner-centerCol">
            <div ng-repeat="thread in threads.threads" class="thread-preview" ng-click="openThread(thread.threadId)">
                <div class="thread-preview-image">
                    <img ng-src="{{thread.profileUrl}}" class="img-circle">
                </div>
                <div class="thread-preview-text">
                    <div class="thread-preview-description">
                        {{thread.description}}
                    </div>
                    <div ng-class="{'thread-preview-previewText': !thread.hasNotReadMessages, 'thread-preview-previewTextBold': thread.hasNotReadMessages}">
                        {{thread.previewText}}
                    </div>
                </div>
                <div ng-class="{'thread-preview-date': !thread.hasNotReadMessages, 'thread-preview-dateBold': thread.hasNotReadMessages}">
                    {{getFormattedDate(thread.lastUpdate)}}
                </div>
            </div>
        </div>
    </div>
    <div id="leftCol">
        <div id="inner-leftCol">

        </div>
    </div>
    <div id="leftColNav" ng-include="'app/modules/messages/leftNavCol.html'"></div>
</div>