<div id="content-page-detail">
    <div id="centerCol">
        <div id="inner-centerCol">
            <div class="page-detail-header">
                <div class="page-detail-header-image">
                    <img ng-src="{{pageDetail.page.titleUrl}}">
                </div>
                <div class="page-detail-header-list">
                    <div class="row">
                        <div class="page-detail-header-title">
                            {{pageDetail.page.title}}
                        </div>
                        <div class="page-detail-header-category">
                            ({{category}})
                        </div>
                    </div>
                    <div class="row" ng-show="contributorsWithProfile.length > 0 || contributors.length > 0">
                        <div class="page-detail-contributor-title">
                            {{contributorPrefix}}
                        </div>
                        <div class="page-detail-header-contributor-with-Profile" ng-repeat="contributor in contributorsWithProfile"
                             ng-click="openUserDetail(contributor.userId, contributor.isLoggedInUser)">
                            <div ng-if="contributor.isLoggedInUser">Ich</div>
                            <div ng-if="!contributor.isLoggedInUser">{{contributor.name}}</div>
                        </div>
                        <div class="page-detail-header-contributor" ng-repeat="contributor in contributors">
                            {{contributor.name}}
                        </div>
                    </div>
                    <div class="row" ng-show="pageDetail.page.link">
                        <div class="page-detail-header-link" ng-click="openLink(pageDetail.page.link)">
                            {{pageDetail.page.link}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="page-detail-header-admin-title">
                            Administratoren der Seite
                        </div>
                        <div class="page-detail-header-admins" ng-repeat="administrator in pageDetail.administrators"
                             ng-click="openUserDetail(administrator.userId, administrator.isLoggedInUser)">
                            <div ng-if="!$last">
                                <div ng-if="administrator.isLoggedInUser">Ich,</div>
                                <div ng-if="!administrator.isLoggedInUser">{{administrator.name}},</div>
                            </div>
                            <div ng-if="$last">
                                <div ng-if="administrator.isLoggedInUser">Ich</div>
                                <div ng-if="!administrator.isLoggedInUser">{{administrator.name}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-detail-description">
                {{pageDetail.page.description}}
            </div>
            <div class="page-detail-reference-pages">
                <div class="page-detail-reference-title">

                </div>
                <div class="page-detail-reference-preview" ng-repeat="pagePreview in pageDetail.page.pageReference">
                    <div class="page-detail-reference-preview-content">
                        <img ng-src="{{pagePreview.previewUrl}}">

                        <div class="profile-contacts-preview-name">
                            <div class="name">{{pagePreview.title}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="leftCol">
        <div id="inner-leftCol">

        </div>
    </div>
    <div id="leftColNav" ng-include="'app/modules/page/leftNavCol.html'"></div>
</div>