<div id="content-page-overview">
    <div id="centerCol">
        <div id="inner-centerCol">
            <div ng-show="search.pages.length > 0" class="page-overview-container">
                <h1 class="page-overview-title">Suchergebnisse</h1>

                <div class="page-preview-container">
                    <div ng-repeat="pagePreview in search.pages" class="page-preview-inner-container">
                        <ely-page-preview page-preview="pagePreview"></ely-page-preview>
                    </div>
                </div>
            </div>
            <div ng-show="newestPages.pages.length > 0 && !search.pages.length > 0" class="page-overview-container">
                <h1 class="page-overview-title">Neuste Bewertungen deiner Kontakte</h1>

                <div class="page-preview-container">
                    <div ng-repeat="pagePreview in newestPages.pages" class="page-preview-inner-container">
                        <ely-page-preview page-preview="pagePreview"></ely-page-preview>
                    </div>
                </div>
            </div>
            <div ng-show="popularBookPagesContact.pages.length > 0 && !search.pages.length > 0" class="page-overview-container">
                <h1 class="page-overview-title">Beliebteste B&uuml;cher deiner Kontakte</h1>

                <div class="page-preview-container">
                    <div ng-repeat="pagePreview in popularBookPagesContact.pages" class="page-preview-inner-container">
                        <ely-page-preview page-preview="pagePreview"></ely-page-preview>
                    </div>
                </div>
            </div>
            <div ng-show="popularBookPages.pages.length > 0 && !search.pages.length > 0" class="page-overview-container">
                <h1 class="page-overview-title">Beliebteste B&uuml;cher</h1>

                <div class="page-preview-container">
                    <div ng-repeat="pagePreview in popularBookPages.pages" class="page-preview-inner-container">
                        <ely-page-preview page-preview="pagePreview"></ely-page-preview>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="leftCol">
        <div id="inner-leftCol">
            <ely-search-box description="Suche nach Seite..." query="query"
                            get-query-suggestion="getUserSuggestion"
                            get-query="searchPage"></ely-search-box>
            <button class="btn btn-default page-preview-add-page" type="button" ng-click="createNewPage()">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Seite erstellen
            </button>
            <div id="page-overview-counter-description">Filter:</div>
            <ul id="page-overview-counter" class="list-group">
                <div>
                    <li class="list-group-item"
                        ng-class="{'group-selected': filterDisabled}">

                        <div class="page-overview-description" ng-click="selectedAllPages()">Alle Anzeigen
                        </div>
                    </li>
                </div>
                <div ng-repeat="filter in filters">
                    <li class="list-group-item"
                        ng-class="{'group-selected': filter.selected}">

                        <div class="contact-description-count"
                             ng-click="selectedFilter(filter)">{{filter.description}}
                        </div>
                    </li>
                </div>
            </ul>
        </div>
    </div>
    <div id="leftColNav" ng-include="'app/modules/page/leftNavCol.html'"></div>
</div>