<div id="ely-home">
    <div class="pinwall-container" ng-style="{'width': containerWidth + 'px'}">
        <div infinite-scroll="nextPinwallInfo()" infinite-scroll-distance="1">
            <div class="pinwall-blog-container">
                <ely-home-pinwall-blog show-expand="true" is-expand="isExpanded" user-info="userInfo"
                                       blog-added="blogAdded" number-of-rows="numberOfRows"></ely-home-pinwall-blog>
            </div>
            <div class="pinwall-container-column">
                <ely-home-pinwall-blog show-expand="false" is-expand="isExpanded"></ely-home-pinwall-blog>
                <div ng-repeat="pinwallElement in pinwallElements[0]" class="pinwall-container-element">
                    <ely-home-pinwall-element element="pinwallElement" element-removed="elementRemoved"></ely-home-pinwall-element>
                </div>
            </div>
            <div class="pinwall-container-column" ng-if="numberOfRows > 1">
                <div ng-repeat="pinwallElement in pinwallElements[1]" class="pinwall-container-element">
                    <ely-home-pinwall-element element="pinwallElement" element-removed="elementRemoved"></ely-home-pinwall-element>
                </div>
            </div>
            <div class="pinwall-container-column" ng-if="numberOfRows > 2">
                <div ng-repeat="pinwallElement in pinwallElements[2]" class="pinwall-container-element">
                    <ely-home-pinwall-element element="pinwallElement" element-removed="elementRemoved"></ely-home-pinwall-element>
                </div>
            </div>
        </div>
    </div>
</div>