<md-content id="ely-home">
    <div class="pinwall-container" ely-infinite-scroll="ctrl.nextPinwallInfo()">
        <ely-pinwall pinwall="ctrl.home.pinwall" gap="true"></ely-pinwall>
    </div>
    <md-card class="pinwall-no-element" ng-if="ctrl.noPinwall">
        <md-content>
            <div class="no-pinwall-title">Deine Pinwall ist noch leer. Gründe dafür könnten sein:</div>
            <ul>
                <li class="action">Du hast noch keine <span class="link" ui-sref="contact.overview">Kontakte</span></li>
                <li class="action">Du hast noch keinen <span ng-click="ctrl.createBlog()" class="link">Blog</span> geschrieben</li>
            </ul>
        </md-content>
    </md-card>
    <md-button class="md-fab create-blog-fab" aria-label="Create blog" ng-click="ctrl.createBlog()">
        <md-icon md-svg-icon="navFAB:add"></md-icon>
    </md-button>
</md-content>
