<md-content id="ely-home">
    <div class="pinwall-container" ely-infinite-scroll="ctrl.nextPinwallInfo()">
        <ely-pinwall contacting="ctrl.home.contacting" pinwall="ctrl.home.pinwall" gap="true"></ely-pinwall>
    </div>
    <md-card class="pinwall-no-element" ng-if="ctrl.noPinwall && ctrl.home.pinwall.length === 0">
        <md-content>
            <div class="no-pinwall-title">Deine Pinwall ist noch leer. Gründe dafür könnten sein:</div>
            <ul>
                <li class="action">Du hast noch keine <span class="link" ui-sref="contact.overview">Kontakte</span></li>
                <li class="action">Du hast noch keinen <span ng-click="ctrl.createBlog()" class="link">Blog</span> geschrieben</li>
            </ul>
        </md-content>
    </md-card>
    <md-button class="md-fab create-blog-fab" aria-label="Create blog" ng-click="ctrl.openSideNavRight()">
        <md-icon md-svg-icon="navFAB:add"></md-icon>
    </md-button>
    <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="rightHomeNav" md-is-open="isSideNavOpen">
        <ely-home-right-sidenav pinwall="ctrl.home.pinwall"></ely-home-right-sidenav>
    </md-sidenav>
</md-content>
