<md-dialog id="ely-upload-crop-image">
    <div id="ely-preview-picture">
        <div class="crop-area-container">
            <div class="cropArea" layout="row" layout-align="center center">
                <ely-image-cropper commands="ctrl.commands"
                                   image="ctrl.imageForUploadPreview"
                                   image-result-data="ctrl.startImageUpload"
                                   ratio="{{ctrl.ratio}}"
                                   min-width="100" min-height="100"
                                   ng-if="!ctrl.unsupportedFile"></ely-image-cropper>
                <div class="unsupported-file" ng-if="ctrl.unsupportedFile">Dieser File Type kann nicht hochgeladen werden</div>
            </div>
        </div>
        <div layout="row" layout-align="start center" class="action-commands">
            <div class="action-icon-container">
                <ely-load-image-button class="action-icon" image-for-upload="imageForUpload" icon="createBlog:addPhoto"
                                       aria-label="Add Photo"></ely-load-image-button>
            </div>
            <span flex></span>
            <md-button ng-click="ctrl.cancel()">Abbrechen</md-button>
            <md-button class="md-primary" ng-disabled="ctrl.running || !ctrl.hasImage" ng-click="ctrl.uploadImage()">Hochladen</md-button>
        </div>
        <md-progress-linear class="progress-bar" ng-if="ctrl.running" md-mode="indeterminate"></md-progress-linear>
    </div>
</md-dialog>
