<div class="ely-search-result-page">
    <ely-home-search-result-book-page page="ctrl.page" ng-if="ctrl.page.label ==='Book'"></ely-home-search-result-book-page>
    <ely-home-search-result-youtube-page page="ctrl.page" ng-if="ctrl.page.label ==='Youtube'"></ely-home-search-result-youtube-page>
    <ely-home-search-result-link-page page="ctrl.page" ng-if="ctrl.page.label ==='Link'"></ely-home-search-result-link-page>
    <ely-home-search-result-blog-page page="ctrl.page" ng-if="ctrl.page.label ==='Blog'"></ely-home-search-result-blog-page>
</div>
