<div id="ely-home-info-container" layout="column">
    <div id="ely-home-info-content-container" ely-height="ctrl.setHeightColumn" flex="grow">
        <div id="ely-home-info-content-inner-container" ely-infinite-scroll="ctrl.nextEvents"
             scroll-position="ctrl.setScrollPosition">
            <div ely-height="ctrl.setTotalHeightColumn">
                <div class="ely-home-info-event-container" ng-repeat="event in ctrl.events.events">
                    <ely-home-info-container-event event="event"></ely-home-info-container-event>
                </div>
            </div>
        </div>
    </div>
    <div id="ely-home-info-navigation" layout="row" layout-align="center center" flex="none">
        <div>
            <md-button class="md-fab md-mini md-primary" aria-label="Next Events" ng-click="ctrl.buttonNextEvents()"
                       ng-disabled="ctrl.scrollTop + ctrl.scrollHeight + 10 >= ctrl.totalScrollHeight">
                <md-icon md-svg-icon="cardActions:arrowDown"></md-icon>
            </md-button>
        </div>
        <div>
            <md-button class="md-fab md-mini md-primary" aria-label="Previous Recommendations" ng-click="ctrl.buttonPreviousEvents()"
                       ng-disabled="ctrl.scrollTop === 0">
                <md-icon md-svg-icon="cardActions:arrowUp"></md-icon>
            </md-button>
        </div>
    </div>
</div>
