#ely-thread-overview {
  background-color: $background-normal;
  height: 100%;
  .thread-container {
    .no-thread {
      padding: 32px;
      font-size: 16px;
      font-weight: 500;
      color: $primary-text;
    }
  }
}