<md-card class="ely-search-result-book-page">
    <div class="book-page-container" layout="row" ng-click="ctrl.goToDetail()">
        <img ng-src="{{ctrl.page.previewUrl}}" class="book-image" flex="none">
        <div class="info-container">
            <div class="page-title">{{ctrl.page.title}}</div>
            <div class="page-rating" ng-if="ctrl.page.recommendation.summary.numberOfRatings > 0">
                <span class="number-of-ratings">({{ctrl.page.recommendation.summary.numberOfRatings}})</span>
            </div>
            <ely-topics-color topics="ctrl.page.topic"></ely-topics-color>
        </div>
    </div>
</md-card>
