<div id="content-page-user-recommendation">
    <div id="centerCol">
        <div id="inner-centerCol" ng-controller="GetPageAndExtendCtrl">
            <div ng-show="noSearchResult && !noPage">
                <div class="website-structure-header">
                    <h1 class="website-structure-title">Keine Suchergebnisse</h1>
                </div>
                <div>
                    <b>{{query}}</b> liefert kein Suchresultat
                </div>
            </div>
            <div ng-show="noPage">
                <div class="website-structure-header">
                    <h1 class="website-structure-title">Du hast noch keine Seite bewertet</h1>
                </div>
                <div>
                    Um Seiten zu bewerten gehe zu <a ui-sref="page.overview">Empfehlungen</a>
                </div>
            </div>
            <div class="page-preview-expand-container" ng-hide="noSearchResult">
                <div ng-repeat="pagePreview in pagePreviews.pages" class="page-preview-inner-container">
                    <ely-page-preview page-preview="pagePreview" video-width="160"
                                      video-height="255"></ely-page-preview>
                </div>
            </div>
            <button type="button" class="btn btn-default page-user-recommendation-expand" ng-click="getNextPages()"
                    ng-show="pagePreviews.pages.length < pagePreviews.totalNumberOfPages">Mehr
            </button>
            <div class="page-user-recommendation-expand">

            </div>
            <div id="search-box-container">
                <ely-search-box description="Suche nach Seite mit einer Bewertung von Dir..." query="query"
                                get-query-suggestion="searchSuggestionPage"
                                get-query="searchPage"></ely-search-box>
            </div>
        </div>
    </div>
</div>