<div id="send-email-invitation-container" ng-if="step.selected">
    <div class="send-email-invitation-description" ng-hide="ctrl.successfullySent">
        <span ng-if="ctrl.data.selectedAddresses.length > 1">An diese <span class="number">{{ctrl.data.selectedAddresses.length}}</span>
            E-Mail-Addressen werden Einladungen versendet.</span>
        <span ng-if="ctrl.data.selectedAddresses.length === 1">An diese
            E-Mail-Addresse wird eine Einladung versendet.</span>
    </div>
    <div id="overview-email-container" ng-hide="ctrl.successfullySent">
        <div ng-repeat="email in ctrl.data.selectedAddresses" class="email-address">
            {{email.email}}
        </div>
    </div>
    <div ng-if="ctrl.successfullySent">
        <div class="send-email-invitation-title-success">
            Einladungen erfolgreich versendet.
        </div>
        <div class="send-email-invitation-description-success">
            Vielen Dank das du mithilfst, den Bekanntheitsgrad von Elyoos zu steigern.
        </div>
    </div>
</div>
