<md-card class="ely-recommendation-preview">
    <ely-recommendation-preview-youtube ng-if="ctrl.recommendation.label === 'Youtube'"
                                        recommendation="ctrl.recommendation"></ely-recommendation-preview-youtube>
    <ely-recommendation-preview-book ng-if="ctrl.recommendation.label === 'Book'"
                                     recommendation="ctrl.recommendation"></ely-recommendation-preview-book>
    <ely-recommendation-preview-link ng-if="ctrl.recommendation.label === 'Link'"
                                     recommendation="ctrl.recommendation"></ely-recommendation-preview-link>
    <ely-recommendation-preview-blog ng-if="ctrl.recommendation.label === 'Blog'"
                                     recommendation="ctrl.recommendation"></ely-recommendation-preview-blog>
</md-card>
