.add-place-dialog {
  .ely-dialog-content {
    .search-image-icon {
      padding-left: 12px;
    }
    .map-container {
      @media screen and (max-width: $gt-xs) {
        margin-bottom: 12px;
      }
      @media screen and (min-width: $gt-xs) {
        margin-left: 12px;
      }
      #ely-map {
        #map-id {
          @media screen and (max-width: $gt-xs) {
            height: 300px;
          }
        }
      }
    }
  }
}