#create-book-page {
  width: 100%;
  min-width: 300px;
  max-width: 800px;
  .title {
    font-size: 18px;
    padding: 16px 24px;
    border-bottom: 1px solid $divider;
  }
  .ely-dialog-content {
    padding-bottom: 0;
    .select-category {
      .md-select-value {
        span {
          max-width: 95%;
          .md-text {
            white-space: normal;
          }
        }
      }
    }
    .input-container {
      width: 100%;
      margin: 0px;
    }
    .preview-image {
      width: 100px;
    }
  }
}

.create-book-page-preview-image {
  max-width: 600px;
  height: 90%;
}