.ely-page-overview-youtube {
  .youtube-title {
    font-size: 14px;
    font-weight: 500;
    color: $primary-text;
    @media screen and (min-width: $gt-md) {
      font-size: 18px;
      max-height: none;
    }
  }
}