#ely-page-overview {
  .page-element-container {
    margin-bottom: 16px;
    .page-overview-element {
      padding: 8px 16px;
      .page-image-preview {
        height: 60px;
        max-width: 38px;
        margin-right: 8px;
      }
      .page-container {
        .page-title {
          font-size: 16px;
        }
        .page-rating {
        }
        .page-description {
          margin-top: 4px;
          font-size: 14px;
          color: $secondary-text;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }
    }
  }
}