#ely-feedback-detail-comment-container {
  margin-top: 12px;
  .comment-container {
    padding-bottom: 12px;
    margin-bottom: 12px;
    .info-header {
      .status {
        font-size: 14px;
        color: $secondary-text;
      }
      .name {
        font-size: 16px;
        color: $primary-text;
        font-weight: 500;
      }
      .admin {
        font-size: 14px;
        color: $primary-text;
      }
      .date {
        font-size: 14px;
        color: $secondary-text;
      }
    }
    .comment-text {
      margin-top: 14px;
      color: $secondary-text;
      white-space: pre-wrap;
      .ely-expand-text-description {
        font-size: 16px;
      }
    }
  }
  .closed-status {
    padding: 8px 8px 12px 8px;
    border: 3px solid $closed;
    background-color: $closed-background;
    border-radius: 6px;
  }
  .open-status {
    padding: 8px 8px 12px 8px;
    border: 3px solid $open;
    background-color: $open-background;
    border-radius: 6px;
  }
  .divider {
    border-bottom: solid 1px $divider;
  }
}
