<div id="page-category-selection">
    <div class="card-element">
        <div class="description" aria-hidden="false">Kategorie</div>
        <div id="content" layout="column">
            <form name="categoryForm">
                <div layout="row" layout-wrap="" class="row-select-category">
                    <div flex="33">
                        <md-checkbox class="md-primary" ng-model="ctrl.categories.Book"
                                     aria-label="Buch" ng-disabled="ctrl.isSingleSelectionDisabled && !ctrl.categories.Book"
                                     ng-change="ctrl.categoriesSelectionChanged()"> Buch
                        </md-checkbox>
                    </div>
                    <div flex="33">
                        <md-checkbox class="md-primary" ng-model="ctrl.categories.Youtube"
                                     aria-label="Video (Youtube)" ng-disabled="ctrl.isSingleSelectionDisabled && !ctrl.categories.Youtube"
                                     ng-change="ctrl.categoriesSelectionChanged()"> Video
                            (Youtube)
                        </md-checkbox>
                    </div>
                    <div flex="33">
                        <md-checkbox class="md-primary" ng-model="ctrl.categories.Movie"
                                     aria-label="Film" ng-disabled="ctrl.isSingleSelectionDisabled && !ctrl.categories.Movie"
                                     ng-change="ctrl.categoriesSelectionChanged()"> Film
                        </md-checkbox>
                    </div>
                </div>
                <div layout="row" layout-wrap="" class="row-select-category">
                    <div flex="33">
                        <md-checkbox class="md-primary" ng-model="ctrl.categories.School"
                                     aria-label="Schule" ng-disabled="ctrl.isMultipleSelectionDisabled"
                                     ng-change="ctrl.categoriesSelectionChanged()"> Schule
                        </md-checkbox>
                    </div>
                    <div flex="33">
                        <md-checkbox class="md-primary" ng-model="ctrl.categories.Seminar"
                                     aria-label="Seminar" ng-disabled="ctrl.isMultipleSelectionDisabled"
                                     ng-change="ctrl.categoriesSelectionChanged()"> Seminar
                        </md-checkbox>
                    </div>
                    <div flex="33">
                        <md-checkbox class="md-primary" ng-model="ctrl.categories.Practice"
                                     aria-label="Praxis" ng-disabled="ctrl.isMultipleSelectionDisabled"
                                     ng-change="ctrl.categoriesSelectionChanged()"> Praxis
                        </md-checkbox>
                    </div>
                    <div flex="33">
                        <md-checkbox class="md-primary" ng-model="ctrl.categories.Shop"
                                     aria-label="Shop" ng-disabled="ctrl.isMultipleSelectionDisabled"
                                     ng-change="ctrl.categoriesSelectionChanged()"> Shop
                        </md-checkbox>
                    </div>
                    <div flex="33">
                        <md-checkbox class="md-primary" ng-model="ctrl.categories.Events"
                                     aria-label="Events" ng-disabled="ctrl.isMultipleSelectionDisabled"
                                     ng-change="ctrl.categoriesSelectionChanged()"> Events
                        </md-checkbox>
                    </div>
                    <div flex="33">
                        <md-checkbox class="md-primary" ng-model="ctrl.categories.SeminarCenter"
                                     aria-label="Seminarzentrum" ng-disabled="ctrl.isMultipleSelectionDisabled"
                                     ng-change="ctrl.categoriesSelectionChanged()">
                            Seminarzentrum
                        </md-checkbox>
                    </div>
                    <div flex="33">
                        <md-checkbox class="md-primary" ng-model="ctrl.categories.Travel"
                                     aria-label="Reisen" ng-disabled="ctrl.isMultipleSelectionDisabled"
                                     ng-change="ctrl.categoriesSelectionChanged()"> Reisen
                        </md-checkbox>
                    </div>
                </div>
                <div layout="row">
                    <button type="button" class="btn btn-default content-create-edit-category-element"
                            ng-model="ctrl.selectedLanguage" ng-change="ctrl.languageChanged()" name="inputLanguage" id="inputLanguageId"
                            bs-options="language.description as language.description for language in ctrl.languages"
                            data-placeholder="Sprache der Seite auswählen" ng-class="ctrl.isLanguageDisabled"
                            bs-select=""
                            tabindex="0" aria-invalid="false">Sprache der Seite auswählen<span class="caret"></span></button>
                </div>
                <div layout="row">
                    <md-input-container id="inputTitleId">
                        <label>Titel</label>
                        <input ng-model="ctrl.title" ng-change="ctrl.titleChanged()" name="categoryTitle" md-maxlength="100" required="">

                        <div ng-messages="categoryForm.categoryTitle.$error">
                            <div ng-message="required">Dieses Feld wird benötigt!</div>
                        </div>
                    </md-input-container>
                </div>
                <div layout="row" class="content-create-edit-category-element">
                    <md-button class="md-primary md-raised ely-button category-select-finished" ng-show="ctrl.showContinueButton"
                               ng-click="ctrl.categorySelectFinished()" ng-disabled="ctrl.isFinishDisabled"
                               aria-hidden="false" aria-disabled="true" disabled="disabled"><span>Weiter</span></md-button>
                </div>
            </form>
        </div>
    </div>
</div>