<div class="viewport" ng-class="{'viewport-toolbar-removed': !ctrl.showToolbar}">
    <ely-toolbar id="toolbar-header" ng-if="!ctrl.$mdMedia('gt-md')" ng-show="ctrl.showToolbar"></ely-toolbar>
    <md-sidenav md-component-id="left" class="md-sidenav-left md-whiteframe-z2" md-is-locked-open="false" ng-if="!ctrl.$mdMedia('gt-md')">
        <ely-left-nav-container class="ely-sidnav"></ely-left-nav-container>
    </md-sidenav>
    <div class="content" ui-view="content" ng-cloak ng-if="!ctrl.$mdMedia('gt-md')"></div>

    <div ng-if="ctrl.$mdMedia('gt-md')" layout="row" class="ely-gt-md-content">
        <md-sidenav flex="none" md-component-id="left" class="md-sidenav-left md-whiteframe-z2 ely-sidnav-expanded" md-is-locked-open="true"
                    ng-if="ctrl.showLeftNav">
            <ely-left-nav-container class="ely-sidnav"></ely-left-nav-container>
        </md-sidenav>
        <div class="ely-gt-md-content-container" ng-style="ctrl.loginStyle">
            <ely-toolbar id="toolbar-header" ng-show="ctrl.showToolbar"></ely-toolbar>
            <div class="content" ui-view="content" ng-cloak></div>
        </div>
    </div>
</div>
