.forum-add-page {
  height: 90%;
  .ely-dialog-title {
    padding: 16px 24px;
    margin-bottom: 0;
    border-bottom: 1px solid $divider;
  }
  .page-element-container {
    margin-top: -20px;
  }
}