<div id="change-password-request" layout="column" layout-align="center center">
    <div id="container">
        <form name="resetPasswordForm" class="form-container">
            <div class="change-password-description">Gib deine E-Mail Adresse an mit der Du Deinen Elyoos Account erstellt hast.</div>
            <md-input-container class="input-element md-block">
                <label>Email</label>
                <input required type="email" name="username" id="id_username" aria-label="Email"
                       ng-model="ctrl.email">

                <div ng-messages="resetPasswordForm.username.$error">
                    <div ng-message="required">Wird benötigt!</div>
                    <div ng-message="email">Keine gültige E-Mail Adresse!</div>
                </div>
            </md-input-container>
        </form>
        <div layout="row" layout-align="end center">
            <md-button id="back" class="md-primary" type="submit" ng-click="ctrl.back = false">
                Zurück
            </md-button>
            <md-button id="reset" class="md-primary md-raised" type="submit" ng-click="ctrl.sendResetPasswordRequest()"
                       ng-disabled="resetPasswordForm.$invalid || ctrl.running">
                Senden
            </md-button>
        </div>
        <div layout="row" layout-align="center center">
            <md-progress-circular ng-if="ctrl.running" md-mode="indeterminate"></md-progress-circular>
        </div>
    </div>
</div>