<div class="page-element">
    <h2 class="website-structure-title">{{title}}</h2>

    <div class="page-rating-review" ng-hide="showCommentDetail">
        <div class="page-rating-review-summary">
            <div class="page-rating-review-number">
                {{summaryRating}}
            </div>
            <ely-star-rating is-readonly="true" is-x-small="true"
                             number-of-selected-stars-readonly="summaryRating"></ely-star-rating>
            <div class="page-rating-review-total">
                {{totalNumberOfRatings}} total
            </div>
        </div>
        <div class="page-rating-review-diagram">
            <div class="page-rating-review-line">
                <md-icon md-svg-icon="rating:full" class="page-rating-review-line-star" aria-label=""></md-icon>

                <div class="page-rating-review-line-number">5</div>
                <div class="page-rating-review-line-block">
                    <div class="page-rating-review-line-block-5" ng-style="{'width': rating[4].width + '%'}">{{rating[4].numberOfRatings}}</div>
                </div>
            </div>
            <div class="page-rating-review-line">
                <md-icon md-svg-icon="rating:full" class="page-rating-review-line-star" aria-label=""></md-icon>

                <div class="page-rating-review-line-number">4</div>
                <div class="page-rating-review-line-block">
                    <div class="page-rating-review-line-block-4" ng-style="{'width': rating[3].width + '%'}">{{rating[3].numberOfRatings}}</div>
                </div>
            </div>
            <div class="page-rating-review-line">
                <md-icon md-svg-icon="rating:full" class="page-rating-review-line-star" aria-label=""></md-icon>

                <div class="page-rating-review-line-number">3</div>
                <div class="page-rating-review-line-block">
                    <div class="page-rating-review-line-block-3" ng-style="{'width': rating[2].width + '%'}">{{rating[2].numberOfRatings}}</div>
                </div>
            </div>
            <div class="page-rating-review-line">
                <md-icon md-svg-icon="rating:full" class="page-rating-review-line-star" aria-label=""></md-icon>

                <div class="page-rating-review-line-number">2</div>
                <div class="page-rating-review-line-block">
                    <div class="page-rating-review-line-block-2" ng-style="{'width': rating[1].width + '%'}">{{rating[1].numberOfRatings}}</div>
                </div>
            </div>
            <div class="page-rating-review-line">
                <md-icon md-svg-icon="rating:full" class="page-rating-review-line-star" aria-label=""></md-icon>

                <div class="page-rating-review-line-number">1</div>
                <div class="page-rating-review-line-block">
                    <div class="page-rating-review-line-block-1" ng-style="{'width': rating[0].width + '%'}">{{rating[0].numberOfRatings}}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-rating-comments-detail">
        <md-button class="page-rating-comments-nav" ng-click="previousComments()" aria-label="" ng-show="skipComments > 0">
            <md-icon md-svg-icon="nav:arrowBack" class="comments-nav-icon" ></md-icon>
        </md-button>
        <div class="page-rating-comments-previews" ng-style="beginningSkip">
            <div ng-repeat="userReview in review.reviews" class="page-rating-comment-preview">
                <div class="page-rating-comment-left">
                    <img ng-src="{{userReview.profileUrl}}" class="img-circle page-rating-comment-img">
                </div>
                <div class="page-rating-comment-right">
                    <div class="page-rating-comment-header">
                        <div class="page-rating-comment-name">
                            {{userReview.name}}
                        </div>
                        <div class="page-rating-comment-created">
                            {{userReview.created}}
                        </div>
                    </div>
                    <ely-star-rating is-readonly="true" is-x-small="true"
                                     number-of-selected-stars-readonly="userReview.rating"></ely-star-rating>
                    <div class="page-rating-comment-description">
                        {{userReview.comment}}
                    </div>
                </div>
            </div>
            <div class="comment-clear"></div>
        </div>
        <md-button class="page-rating-comments-nav" ng-click="nextComments()" aria-label=""
                   ng-show="totalNumberOfRatings > skipComments + numberOfElements">
            <md-icon md-svg-icon="nav:arrowNext" class="comments-nav-icon"></md-icon>
        </md-button>
    </div>
</div>