<md-dialog id="blog-detail" aria-label="Detail Blog" ng-cloak>
    <div id="blog-header" layout="row" flex="none">
        <img ng-src="{{ctrl.element.profileUrl}}" class="user-avatar" flex="none" ng-click="ctrl.openUserDetail()">
        <div class="title-container" flex ng-click="ctrl.openUserDetail()">
            <div class="title md-title">{{ctrl.element.name}}</div>
            <div class="subtitle md-subhead">{{ctrl.getFormattedDate(ctrl.element.created, 'LLL')}}</div>
        </div>
        <md-button class="md-icon-button md-primary" aria-label="Close Detail" ng-click="ctrl.cancel()">
            <md-icon md-svg-icon="nav:close" class="icon"></md-icon>
        </md-button>
    </div>
    <md-dialog-content>
        <img ng-src="{{ctrl.element.urlFull}}" class="detail-image" ng-show="ctrl.element.urlFull">
        <div class="blog-text">{{ctrl.element.text}}</div>
    </md-dialog-content>
</md-dialog>