<div id="ely-recommendation-popular-overview" layout="row">
    <div class="ely-recommendation-popular-overview-container" layout="row" flex="grow" ng-if="ctrl.$mdMedia('(min-width: 510px)')">
        <ely-recommendation-popular-column flex="50" id="1" ely-title="Beliebteste Beiträge"
                                           period="all"></ely-recommendation-popular-column>
        <ely-recommendation-popular-column flex="50" id="2" ely-title="Beliebteste Beiträge in den letzten 14 Tage"
                                           period="twoWeeks"></ely-recommendation-popular-column>
    </div>
    <div class="ely-recommendation-popular-overview-container" ng-if="!ctrl.$mdMedia('(min-width: 510px)')">
        <md-tabs md-border-bottom md-center-tabs class="recommendation-tabs"
                 md-selected="ctrl.selectedTab">
            <md-tab class="recommendation-tab">
                <md-tab-label>
                    <md-icon md-svg-icon="tabs:thumbUp" class="icon ely-tab-icon"></md-icon>
                    <md-tooltip md-direction="bottom">
                        Beliebteste Beiträge
                    </md-tooltip>
                </md-tab-label>
                <md-tab-body class="recommendation-tab-content">
                    <ely-recommendation-popular-column-mobile id="1" period="all"
                                                              ng-if="ctrl.selectedTab === 0"></ely-recommendation-popular-column-mobile>
                </md-tab-body>
            </md-tab>
            <md-tab class="recommendation-tab">
                <md-tab-label>
                    <md-icon md-svg-icon="tabs:thumbUp" class="icon ely-tab-icon"></md-icon>
                    <span class="tab-timespan">14 Tage</span>
                    <md-tooltip md-direction="bottom">
                        Beliebteste Beiträge in den letzten 14 Tage
                    </md-tooltip>
                </md-tab-label>
                <md-tab-body class="recommendation-tab-content">
                    <ely-recommendation-popular-column-mobile id="2" period="twoWeeks"
                                                              ng-if="ctrl.selectedTab === 1"></ely-recommendation-popular-column-mobile>
                </md-tab-body>
            </md-tab>
        </md-tabs>
    </div>
    <md-button class="md-fab filter-fab" aria-label="Filter Empfehlungen" ng-click="ctrl.openSideNavRight()" ng-if="!ctrl.$mdMedia('gt-md')">
        <md-icon md-svg-icon="navFAB:filter"></md-icon>
    </md-button>
    <md-sidenav flex="none" class="md-sidenav-right md-whiteframe-z2 ely-sidenav-right" md-component-id="rightFilterRecommendationNav"
                md-is-locked-open="ctrl.$mdMedia('gt-md')">
        <ely-recommendation-popular-side-nav-filter></ely-recommendation-popular-side-nav-filter>
    </md-sidenav>
</div>
