.ely-expand-text {
  .ely-expand-text-description {
    font-size: 14px;
    font-weight: 300;
    max-height: 4.2em;
    overflow: hidden;
  }

  .ely-expand-expand {
    margin-top: 10px;
    font-size: 12px;
    color: #999;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}