.pinwall-blog-card {
  max-width: 400px;
  min-width: 288px;
  width: 100%;
  margin: 8px 0;
  .user-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .blog-image-container {
    width: 100%;
    height: 200px;
    overflow: hidden;
  }
  .blog-text {

  }
}


