#blog-create {
  min-width: 310px;
  max-width: 700px;
  width: 100%;
  max-height: 90%;
  .blog-create-container {
    height: 100%;
    .content-form {
      height: 100%;
    }
    .header {
      height: 56px;
      padding: 16px 16px 8px 16px;
      .user-avatar {
        border-radius: 50%;
        height: 32px;
        width: 32px;
        margin-right: 10px;
      }
      .header-content {
        .user-name {
          color: #000;
          font-weight: 500;
          font-size: 14px;
        }
        .visibility {
          display: inline-block;
          color: #4285f4;
          cursor: pointer;
          font-size: 14px;
          font-weight: 500;
          margin-right: 6px;
        }
        .divider {
          display: inline-block;
          vertical-align: bottom;
        }
      }
    }

    .ely-dialog-content {
      padding-top: 0;
      padding-bottom: 0;
      .blog-input-container {
        width: 100%;
      }

      .load-preview-photo {
        height: 100px;
        width: 100%;
      }
      .preview-photo-container {
        width: 100%;
        .preview-photo {
          max-width: 100%;
          max-height: 200px;
          border-radius: 2px;
          margin: 0 auto;
        }
      }
    }
    .visibility-container {
      .header {
        height: 40px;
        .title {
          line-height: 40px;
          font-size: 16px;
          font-weight: 500;
        }
        .done {
          float: right;
          margin-top: 3px;
        }
      }
      .public {
        padding: 16px;
        .box {
          margin-top: 5px;
          margin-bottom: 5px;
        }
      }
      .section-types {
        padding: 16px;
        .section-types-public {
          color: $disabled-text;
        }
        .type {
          margin: 10px 0;
        }
      }
    }
  }
}