#blog-create {
  min-width: 310px;
  max-width: 450px;
  width: 100%;
  .blog-create-container {
    width: 100%;
    .header {
      padding: 16px;
      .user-avatar {
        border-radius: 50%;
        height: 32px;
        width: 32px;
        margin-right: 10px;
      }
      .header-content {
        .user-name {
          color: #000;
          font-weight: 500;
          font-size: 14px;
        }
        .visibility {
          color: #4285f4;
          cursor: pointer;
          font-size: 14px;
          font-weight: 500;
        }
        .divider {
          display: inline-block;
          vertical-align: bottom;
        }
      }
    }

    .content-form {
      width: 100%;
      .content {
        margin-top: 10px;
        padding: 16px;
        .blog-input-container {
          width: 100%;
          label {
            color: #000;
            font-weight: 500;
          }
        }
        .actions {
          .action-icon {
            padding: 0;
            margin: 0;
            height: 24px;
            width: 24px;
          }
        }
        .actions-2 {
          margin-top: 10px;
          .post-button {
            margin-right: 0;
          }
        }

        .load-preview-photo {
          height: 100px;
          width: 100%;
        }
        .preview-photo-container {
          width: 100%;
          .preview-photo {
            max-width: 100%;
            border-radius: 2px;
          }
        }
      }
    }
    .visibility-container {
      .header {
        height: 40px;
        .title {
          line-height: 40px;
          font-size: 16px;
          font-weight: 500;
        }
        .done {
          float: right;
          margin-top: 3px;
        }
      }
      .public {
        padding: 16px;
        .box {
          margin-top: 5px;
          margin-bottom: 5px;
        }
      }
      .section-types {
        padding: 16px;
        .type {
          margin: 10px 0;
        }
      }
    }
  }
}