#ely-home {
  .pinwall-container {
    .pinwall-blog-container {
      @extend .pinwall-container-column;
      width: 100%;
      margin-top: 20px;
    }

    .blog-input-container {
      margin-top: 5px;
      .md-default-theme {
        label {
          color: #000000;
          font-weight: 300;
        }
      }
    }

    .blog-send {
      margin-bottom: 10px;
      .upload-blog-running {
        position: relative;
        display: inline-block;
        vertical-align: bottom;
        height: 30px;
        width: 30px;
        margin-left: 5px;
        margin-bottom: 10px;
      }
    }
    .card-element.pinwall-blog-element {
      background-color: #ffffff;
      width: 420px;
    }

    .pinwall-blog-element-extended {
      @extend .pinwall-blog-element;
      position: relative;
      left: 0;
      -webkit-transition: cubic-bezier(0.250, 0.460, 0.450, 0.940), width .4s ease, left .4s ease, box-shadow .4s ease, margin .4s ease, border .4s ease;
      transition: cubic-bezier(0.250, 0.460, 0.450, 0.940), width .4s ease, left .4s ease, box-shadow .4s ease, margin .4s ease, border .4s ease;

      .blog-visibility {
        margin-bottom: 15px;
        label {
          width: 70px;
          text-align: left;
          padding-right: 5px;
        }
        .blog-select-all {
          margin-top: 5px;
          margin-left: 70px;
          input {
            position: relative;
            top: 2px;
            margin-right: 3px;
          }
        }
        .blog-select-all.is-selected {
          display: inline-block;
          margin-left: 0px;
          input {
            position: relative;
            top: 2px;
            margin-right: 3px;
          }
        }
      }

      .blog-attachment {
        margin-bottom: 10px;
        label {
          width: 70px;
          text-align: left;
          padding-right: 5px;
        }
        .blog-attachment-element {
          display: inline-block;
          vertical-align: top;
          cursor: pointer;
          img {
            height: 20px;
            width: 20px;
            margin-right: 5px;
          }
          .attachment-text {
            display: inline-block;
            vertical-align: top;
            margin-top: 2px;
            color: #737373;
            font-size: 12px;
            font-weight: bold;
          }
        }
      }

      .blog-photo-container {
        position: relative;
        margin-bottom: 10px;
        img {
          display: block;
          margin: 0 auto;
          max-width: 100%;
          max-height: 1500px;
        }
      }

      .blog-photo-container-commands {
        background-color: #fff;
        border: 1px solid #d8d8d8;
        height: 46px;
        margin-bottom: 15px;

        .command-element {
          cursor: pointer;
          display: inline-block;
          width: 46px;
          height: 46px;
          padding: 12px 15px;
          img {
            height: 20px;
          }
        }
      }

      .load-photo {
        height: 100px;
        display: block;
      }

      .blog-input {
        -webkit-transition: cubic-bezier(0.250, 0.460, 0.450, 0.940), height .4s ease;
        transition: cubic-bezier(0.250, 0.460, 0.450, 0.940), height .4s ease;
      }
    }

    .pinwall-blog-element-extended.is-extended {
      width: 540px;
      margin-right: 30px;
      left: 160px;
      box-shadow: 0 2px 40px 0 rgba(0, 0, 0, .4);

      .blog-input {
        height: 8em;
      }
    }

    .pinwall-blog-element-extended.is-extended.one-column {
      width: 420px;
      left: 0px;
    }

    .pinwall-blog-element-extended.is-extended.three-column {
      width: 780px;
      left: 250px;
    }
  }
}