#ely-home {
  height: 100%;
  background-color: $background-normal;
  .pinwall-container {
    width: 100%;
    height: 100%;
    overflow-y: auto;
  }
  .create-blog-fab {
    position: fixed;
    bottom: 0;
    right: 0;
    @media screen and (min-width: $gt-md){
      bottom: 15px;
      right: 20px;
    }
  }
}


