#ely-home {
  height: 100%;
  background-color: $background-normal;
  .pinwall-container {
    height: 100%;
    padding: 0 8px;
    overflow-y: auto;
    .pinwall-inner-container {
      max-width: 400px;
      margin: 0 auto;
      @media screen and (min-width: $gt-sm) {
        max-width: 880px;
        width: 880px;
      }
    }
    .pinwall-no-element {
      margin: 0 auto;
    }
  }
  .create-blog-fab {
    position: fixed;
    bottom: 0;
    right: 0;
    @media screen and (min-width: $gt-sm) {
      bottom: 15px;
      right: 24px;
    }
  }
}


