.pinwall-recommendation-card {
  max-width: 400px;
  min-width: 280px;
  width: 100%;
  margin: 8px 0;
  .youtube-recommendation {
    .user-name {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .description {
      padding: 10px 16px;
      .page-title {
        font-weight: 500;
        padding-left: 2px;
        font-size: 14px;
        color: $primary-color;
      }
    }
  }

  .book-recommendation {
    .preview-img {
      width: 100px;
      height: 159px;
      border-radius: 2px;
    }
    .content-container {
      position: relative;
      padding: 10px 16px;
      .title {
        font-weight: 500;
        padding-left: 2px;
        font-size: 14px;
        color: $primary-color;
      }
      .recommended {
        margin-top: 5px;
        margin-bottom: 20px;
        font-weight: 300;
        font-size: 14px;
        color: #999;
      }
      .user-avatar {
        border-radius: 50%;
        height: 34px;
        width: 34px;
        margin-right: 10px;
      }
      .user-name {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 14px;
      }
      .actions {

      }
    }
  }
}


