<md-dialog id="ely-add-feedback-comment-dialog" layout="column">
    <form name="ctrl.feedbackCommentForm" class="ely-add-feedback-comment" flex="auto">
        <div class="md-title ely-dialog-title">Kommentar erstellen</div>
        <md-dialog-content>
            <div class="md-dialog-content ely-dialog-content">
                <md-input-container class="input-container">
                    <label>Kommentar</label>
                    <textarea name="text" ng-model="ctrl.text" md-maxlength="3000"
                              ng-disabled="ctrl.uploadRunning" max-rows="10" required></textarea>
                    <div ng-messages="ctrl.feedbackCommentForm.text.$error">
                        <div ng-message="required">Wird benötigt!</div>
                        <div ng-message="md-maxlength">Text ist zu lang</div>
                    </div>
                </md-input-container>
            </div>
        </md-dialog-content>
        <md-dialog-actions>
            <md-button ng-click="ctrl.abort()" ng-hide="ctrl.abortDisabled && !ctrl.error"
                       target="_blank" md-autofocus>Abbrechen</md-button>
            <md-button class="md-primary md-raised"
                       ng-disabled="ctrl.uploadRunning || ctrl.feedbackCommentForm.$invalid"
                       ng-click="ctrl.uploadFeedbackComment()">Erstellen
            </md-button>
        </md-dialog-actions>
    </form>
    <span flex></span>
    <md-progress-linear ng-if="ctrl.uploadRunning" md-mode="indeterminate"></md-progress-linear>
</md-dialog>
