<form name="ctrl.stepperDialogForm" id="stepper-dialog" ng-cloak>
    <div layout="column">
        <div class="stepper-header" layout="row" layout-align="center center" flex="none" ng-if="ctrl.$mdMedia('(min-width: 900px)')">
            <div class="step-description" ng-repeat="step in ctrl.steps">
                <div class="step-number" ng-class="{'inactive-step': $index > ctrl.selectedStep}">{{$index + 1}}</div>
                <div class="step-label" ng-class="{'inactive-step': $index > ctrl.selectedStep}">{{step.label}}</div>
                <div class="step-bar-right" ng-hide="$last"></div>
                <div class="step-bar-left" ng-hide="$first"></div>
            </div>
        </div>
        <div class="stepper-mobile-header" flex="none" ng-if="!ctrl.$mdMedia('(min-width: 900px)')">
            <div class="step-description" ng-repeat="step in ctrl.steps" ng-show="step.selected" layout="row">
                <span class="step-label">{{step.label}}</span>
                <span flex></span>
                <span class="steps">Schritt <span class="actual-step">{{$index + 1}}</span> von <span>{{ctrl.steps.length}}</span></span>
            </div>
        </div>
        <md-dialog-content layout="column">
            <div ng-class="{'md-dialog-content': !ctrl.disableDialogContent, 'ely-dialog-content': !ctrl.disableDialogContent}"
                 ng-transclude ely-handling-column-flex>

            </div>
        </md-dialog-content>
        <md-dialog-actions>
            <md-button ng-click="ctrl.optionalFirst()" ng-if="ctrl.optionalFirst && !ctrl.finishInfo" target="_blank" md-autofocus
                       ng-hide="ctrl.command">{{ctrl.optionalFirstLabel}}
            </md-button>
            <md-button class="md-primary" ng-click="ctrl.back()" ng-show="ctrl.selectedStep > 0 && !ctrl.command && !ctrl.finishInfo"
                       ng-disabled="ctrl.showProgress || ctrl.disableNavigation">
                Zurück
            </md-button>
            <md-button class="md-primary md-raised" ng-click="ctrl.next()" ng-disabled="ctrl.showProgress || ctrl.disableNavigation"
                       ng-hide="ctrl.selectedStep === ctrl.steps.length - 1 || ctrl.command || ctrl.finishInfo">
                Weiter
            </md-button>
            <md-button class="md-primary md-raised" ng-click="ctrl.finish()" ng-disabled="ctrl.showProgress || ctrl.disableNavigation"
                       ng-show="ctrl.selectedStep === ctrl.steps.length - 1 && !ctrl.command && !ctrl.finishInfo">
                {{ctrl.finishLabel}}
            </md-button>
            <md-button ng-click="ctrl.abortCommand()" ng-show="ctrl.command && !ctrl.finishInfo" ng-disabled="ctrl.showProgress">
                Abbrechen
            </md-button>
            <md-button class="md-primary md-raised" ng-click="ctrl.command()" ng-show="ctrl.command && !ctrl.finishInfo"
                       ng-disabled="ctrl.showProgress || ctrl.commandIsDisabled">
                {{ctrl.commandLabel}}
            </md-button>
            <md-button class="md-primary md-raised" ng-click="ctrl.closeModal()" ng-show="ctrl.finishInfo">
                Ok
            </md-button>
        </md-dialog-actions>
    </div>
    <span flex></span>
    <md-progress-linear ng-if="ctrl.showProgress" md-mode="indeterminate"></md-progress-linear>
</form>
