<div id="carousel" md-swipe-up="ctrl.onSwipeUp()" md-swipe-down="ctrl.onSwipeDown()">
    <div id="carousel-commands" layout="row">
        <div id="sign-up-button" ng-class="{'login-screen': ctrl.actualScreen === 0}">
            <md-button class="md-primary md-raised" ng-click="ctrl.startRegister()">
                Registrieren
            </md-button>
        </div>
        <div id="login-button" ng-show="ctrl.actualScreen !== 0">
            <md-button class="md-primary md-raised" ng-click="ctrl.actualScreen = 0">
                Anmelden
            </md-button>
        </div>
    </div>
    <div id="carousel-nav-miscellaneous" ng-show="ctrl.actualScreen === 0 && ctrl.$mdMedia('(min-height: 350px)')">
        <div class="nav-miscellaneous-element" ng-click="ctrl.openAgb()">AGB</div>
    </div>
    <div id="carouse-nav-bottom-button" layout="row" layout-align="center center"
         ng-show="ctrl.actualScreen < 1 && ctrl.$mdMedia('(min-height: 350px)')" ng-click="ctrl.onSwipeUp()">
        <div class="button-description" ng-show="ctrl.actualScreen === 0">Um was geht es?</div>
    </div>
    <div id="right-column">
        <ely-carousel-login ng-show="ctrl.actualScreen === 0"></ely-carousel-login>
        <ely-carousel-vision ng-show="ctrl.actualScreen === 1" show-preview-image="true"></ely-carousel-vision>
    </div>
    <div class="ely-facebook-container">
        <iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fwww.facebook.com%2FelyoosNetwork%2F&layout=button_count&size=large&mobile_iframe=true&width=93&height=28&appId"
                width="93" height="28" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
    </div>
</div>