<div class="ely-page-event-container" ng-show="ctrl.hasEvents || ctrl.isAdmin">
    <div class="page-section-title">Veranstaltungen</div>
    <div class="commands-container" ng-if="ctrl.isAdmin">
        <ely-icon-button class="first-element" icon="cardActions:add" label="Neue Veranstaltung" ng-click="ctrl.createEvent()"
                         show-label-always="true"></ely-icon-button>
    </div>
    <div class="ely-page-event-content">
        <ely-page-detail-events-overview-container is-admin="ctrl.isAdmin"
                                                   commands="ctrl.commandsOverviewContainer"></ely-page-detail-events-overview-container>
    </div>
</div>
