<div ng-class="{'ely-toolbar-search-expanded': ctrl.isExpanded, 'ely-toolbar-search-collapse': !ctrl.isExpanded}">
    <div id="ely-toolbar-search" ng-if="ctrl.isExpanded">
        <div class="search-container">
            <md-icon md-svg-icon="system:searchIcon" class="search-icon" ng-click="ctrl.commands.startSearch()"></md-icon>
            <ely-toolbar-contact-search ng-if="ctrl.serviceName === 'contact'" commands="ctrl.commands"
                                        request-started="ctrl.requestStarted()"></ely-toolbar-contact-search>
            <ely-toolbar-thread-search ng-if="ctrl.serviceName === 'threads'" commands="ctrl.commands"
                                       request-started="ctrl.requestStarted()"></ely-toolbar-thread-search>
            <ely-toolbar-home-search ng-if="ctrl.serviceName === 'home'" commands="ctrl.commands" on-close="ctrl.closeExpand"
                                       request-started="ctrl.requestStarted()"></ely-toolbar-home-search>
            <md-icon md-svg-icon="system:close" class="search-close-icon" ng-click="ctrl.closeExpandAll()"
                     ng-if="(ctrl.showClose && ctrl.lockOpen) || !ctrl.lockOpen"></md-icon>
        </div>
    </div>
    <div ng-if="!ctrl.isExpanded" class="ely-toolbar-menu">
        <md-button class="md-icon-button" aria-label="Search" ng-click="ctrl.openExpand()">
            <md-icon md-svg-icon="system:searchIcon"></md-icon>
        </md-button>
    </div>
</div>