<md-dialog id="register-user" aria-label="Register User" ng-cloak>
    <form name="ctrl.registerUserForm" class="register-form-container" autocomplete="off" ng-show="!ctrl.showAgb">
        <div class="md-title ely-dialog-title" flex="none">Benutzerkonto erstellen für Elyoos</div>
        <md-dialog-content>
            <div class="md-dialog-content ely-dialog-content" layout="column">
                <md-input-container class="ely-input-container">
                    <label>Email</label>
                    <input name="email" ng-model="ctrl.userToRegister.email" required ng-disabled="ctrl.running"/>
                    <div ng-messages="ctrl.registerUserForm.email.$error" ng-show="ctrl.registerUserForm.email.$dirty">
                        <div ng-message="required">Wird benötigt!</div>
                    </div>
                </md-input-container>
                <md-input-container class="ely-input-container">
                    <label>Passwort</label>
                    <input name="password" type="password" ng-model="ctrl.userToRegister.password" required ng-disabled="ctrl.running"/>
                    <div ng-messages="ctrl.registerUserForm.password.$error" ng-show="ctrl.registerUserForm.password.$dirty">
                        <div ng-message="required">Wird benötigt!</div>
                    </div>
                </md-input-container>
                <md-input-container class="ely-input-container">
                    <label>Vorname</label>
                    <input name="forename" ng-model="ctrl.userToRegister.forename" required ng-disabled="ctrl.running"/>
                    <div ng-messages="ctrl.registerUserForm.forename.$error" ng-show="ctrl.registerUserForm.forename.$dirty">
                        <div ng-message="required">Wird benötigt!</div>
                    </div>
                </md-input-container>
                <md-input-container class="ely-input-container">
                    <label>Nachname</label>
                    <input name="surname" ng-model="ctrl.userToRegister.surname" required ng-disabled="ctrl.running"/>
                    <div ng-messages="ctrl.registerUserForm.surname.$error" ng-show="ctrl.registerUserForm.surname.$dirty">
                        <div ng-message="required">Wird benötigt!</div>
                    </div>
                </md-input-container>
                <md-input-container class="ely-input-container">
                    <label>Geburtstag</label>
                    <input name="birthday" ng-model="ctrl.userToRegister.birthday" required ng-disabled="ctrl.running"
                           ng-change="ctrl.change()"/>
                    <div ng-messages="ctrl.registerUserForm.birthday.$error" ng-show="ctrl.registerUserForm.birthday.$dirty">
                        <div ng-message="required">Wird benötigt!</div>
                        <div ng-message="birthday-format">Ungültiges Datum (z.B {{ctrl.getDateExample()}})</div>
                    </div>
                </md-input-container>
                <md-input-container class="ely-input-container">
                    <label>Strasse (optional)</label>
                    <input name="street" ng-model="ctrl.userToRegister.street" ng-disabled="ctrl.running"/>
                </md-input-container>
                <md-input-container class="ely-input-container">
                    <label>Ort (optional)</label>
                    <input name="place" ng-model="ctrl.userToRegister.place" ng-disabled="ctrl.running"/>
                </md-input-container>
                <md-input-container class="ely-input-container">
                    <label>Land</label>
                    <md-select ng-model="ctrl.userToRegister.selectedCountryCode" ng-model-options="{trackBy: '$value.code'}"
                               ng-change="ctrl.change()">
                        <md-option ng-repeat="countryCode in ctrl.countryCodes" ng-value="countryCode">
                            {{countryCode.country}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <md-radio-group ng-model="ctrl.userToRegister.female" layout="row" class="select-gender">
                    <md-radio-button value="false">Mann</md-radio-button>
                    <md-radio-button value="true"> Frau</md-radio-button>
                </md-radio-group>
                <md-checkbox ng-model="ctrl.agb" aria-label="AGB's zustimmen">
                    Ich akzeptiere die <span class="agb-link" ng-click="ctrl.openAgb()">AGB's</span>
                </md-checkbox>
                <div class="ely-recaptcha" vc-recaptcha theme="'light'" key="'6LfWvyYTAAAAADB8n5MjlwL2V23ZRKCJY3wUbixJ'"
                     on-create="ctrl.setWidgetId(widgetId)" on-success="ctrl.setResponse(response)" on-expire="ctrl.cbExpiration()"></div>
            </div>
        </md-dialog-content>
        <md-dialog-actions>
            <md-button ng-click="ctrl.cancel()">Abbrechen</md-button>
            <md-button class="md-primary md-raised" ng-click="ctrl.createAccount()"
                       ng-disabled=" ctrl.running || ctrl.registerUserForm.$invalid || !ctrl.agb">Erstellen
            </md-button>
        </md-dialog-actions>
    </form>
    <div ng-show="ctrl.showAgb" class="terms-container" layout="column">
        <div class="terms-content-container">
            <ely-terms></ely-terms>
        </div>
        <div class="terms-commands" flex="none" layout="row">
            <span flex></span>
            <md-button ng-click="ctrl.showAgb = false">Zurück</md-button>
        </div>
    </div>
    <md-progress-linear ng-if="ctrl.running" md-mode="indeterminate"></md-progress-linear>
</md-dialog>