<md-content id="ely-problem-reason-detail">
    <md-card id="detail-container">
        <md-card-header>
            <div class="rating-container" layout="column" layout-align="start center" ng-click="ctrl.rateReason()">
                <md-button class="md-icon-button arrow" aria-label="like">
                    <md-icon md-svg-icon="cardActions:arrowUp" ng-class="{'enabled': !ctrl.detail.reason.ratedByUser}"></md-icon>
                </md-button>
                <div class="number-of-rating">{{ctrl.detail.reason.numberOfRatings}}</div>
                <md-button class="md-icon-button arrow" aria-label="dislike" ng-click="ctrl.removeRatingReason()">
                    <md-icon md-svg-icon="cardActions:arrowDown" ng-class="{'enabled': ctrl.detail.reason.ratedByUser}"
                    ></md-icon>
                </md-button>
            </div>
            <md-card-header-text class="md-title title" ng-click="ctrl.openReasonDetail()">{{ctrl.detail.reason.title}}</md-card-header-text>
        </md-card-header>
        <md-card-content>
            <!--<div class="md-title title">{{ctrl.detail.reason.title}}</div>-->
            <div class="md-body-1 description">{{ctrl.detail.reason.description}}</div>
            <md-divider></md-divider>
            <div class="md-caption caption-problem">Grund gehört zu folgendem Problem:</div>
            <div class="md-body-1 text-problem" ng-click="ctrl.goToProblem()">{{ctrl.detail.reason.problem.description}}</div>
        </md-card-content>
    </md-card>
    <md-button class="md-fab edit-mode-fab" aria-label="Change to Edit Mode" ng-click="ctrl.edit()">
        <md-icon md-svg-icon="navFAB:edit"></md-icon>
    </md-button>
</md-content>
