<div class="page-recommendation-actions" layout="row">
    <div ng-show="!ctrl.element.recommendedByUser">
        <md-button class="page-action md-fab md-mini" aria-label="Recommend Blog" ng-disabled="ctrl.element.isAdmin || ctrl.requestRunning"
                   ng-click="ctrl.recommendPage()">
            <md-icon md-svg-icon="cardActions:thumbUp" class="action-icon"></md-icon>
        </md-button>
    </div>
    <div ng-show="ctrl.element.recommendedByUser && ctrl.element.userRecommendationId">
        <md-button class="page-action md-fab md-mini" aria-label="Remove Recommendation Blog" ng-disabled="ctrl.requestRunning"
                   ng-click="ctrl.removeRecommendationPage()">
            <md-icon md-svg-icon="cardActions:thumbDown" class="action-icon"></md-icon>
        </md-button>
    </div>
    <div class="number-container ">
        <span class="number">{{ctrl.element.numberOfRecommendations}}</span>
    </div>
    <!--<div class="blog-action">
        <md-button class="blog-action md-fab md-mini" aria-label="Comment Blog">
            <md-icon md-svg-icon="cardActions:comment" class="action-icon"></md-icon>
        </md-button>
    </div>-->
</div>