<body>
<div class="body">
    <%- include('../header/html') %>
    <div id="header-bar"></div>
    <div id="content-container">
        <div class="description"><span class="name"><%= forename %></span>, Du hast
            <% if (numberOfUnreadMessages === 1) { %>
            <span class="number"><%= numberOfUnreadMessages %></span> ungelesene Nachricht
            <% } %>
            <% if (numberOfUnreadMessages > 1) { %>
            <span class="number"><%= numberOfUnreadMessages %></span> ungelesene Nachrichten
            <% } %>
        </div>
        <div class="navigate">
            <a class="btn btn-default" href="https://www.elyoos.org">Elyoos öffnen</a>
        </div>
    </div>
    <div class="footer">
        Diese Nachricht wurde von Elyoos versandt.
    </div>
</div>
</body>