<div class="body">
    <div class="description"><span class="name"><%= forename %></span>, Du hast ungelesene Nachrichten</div>
    <ul class="overview">
        <% if (numberOfUnreadMessages === 1) { %>
        <li class="element"><span class="number"><%= numberOfUnreadMessages %></span> unglesene Nachricht</li>
        <% } %>
        <% if (numberOfUnreadMessages > 1) { %>
        <li class="element"><span class="number"><%= numberOfUnreadMessages %></span> unglesene Nachrichten</li>
        <% } %>
    </ul>
    <div class="navigate">
        <a class="btn btn-default" href="https://www.elyoos.com">Elyoos öffnen</a>
    </div>
    <div class="footer">
        Diese Nachricht wurde von Elyoos versandt.
    </div>
</div>