<md-content id="ely-page-detail" ng-cloak>
    <div class="page-container">
        <ely-page-detail-book page-detail="ctrl.pageDetail" ng-if="ctrl.label === 'Book'"></ely-page-detail-book>
        <ely-page-detail-youtube page-detail="ctrl.pageDetail" ng-if="ctrl.label === 'Youtube'"></ely-page-detail-youtube>
        <ely-page-detail-link page-detail="ctrl.pageDetail" ng-if="ctrl.label === 'Link'"></ely-page-detail-link>
        <ely-page-detail-place page-detail="ctrl.pageDetail" ng-if="ctrl.label === 'Place'"></ely-page-detail-place>
        <ely-blog-detail blog-detail="ctrl.pageDetail" ng-if="ctrl.label === 'Blog'"></ely-blog-detail>
    </div>
</md-content>
