<div class="link-recommendation-desktop">
    <div class="link-preview-image" ng-click="ctrl.openLink(ctrl.element.link)" ng-if="ctrl.element.linkPreviewUrl">
        <img ng-src="{{ctrl.element.linkPreviewUrl}}">
    </div>
    <div class="link-description" ng-click="ctrl.openLink(ctrl.element.link)">{{ctrl.element.description}}</div>
    <div class="action-container">
        <ely-pinwall-page-recommendation-actions request-running="ctrl.requestRunning"
                                                 element="ctrl.element"></ely-pinwall-page-recommendation-actions>
    </div>
</div>