@mixin noneSelect() {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

@mixin ely-fab-button() {
  position: fixed;
  bottom: 0;
  right: 0;
  @media screen and (min-width: $gt-md) {
    bottom: 15px;
    right: 20px;
  }
}

.img-circle {
  border-radius: 50%;
}

.ely-tab-icon {
  height: 16px;
  width: 16px;
}

.md-tab {
  text-transform: none !important;
}

.md-button {
  text-transform: none !important;
}