<div id="content-create-page-common" ng-show="state.actual === 3" ng-controller="PageCreateCommonSectionCtrl">
    <form name="commonForm" class="form-horizontal" role="form" novalidate>
        <div class="website-structure-header">
            <div class="website-structure-header-title">
                <h2>Allgemeines</h2>
            </div>
        </div>
        <div id="content-create-page-common-picture-area">
            <img ng-src="{{imagePreview}}" class="content-create-page-common-picture">

            <div>
                <button type="button" class="btn btn-default content-create-page-common-get-picture"
                        data-animation="am-fade-and-scale" data-placement="center"
                        data-backdrop="static"
                        data-template="app/modules/util/file/previewFile.html" bs-modal="modal">
                    Titelbild ausw&aumlhlen..
                </button>
            </div>
        </div>
        <div id="content-create-page-common-area">
            <div id="content-create-page-common-inner-area">
                <div ng-include="'app/modules/page/createPage/commonBook.html'" ng-show="category.seletedCategoryType === 'BookPage'"></div>
            </div>
        </div>
        <div id="content-create-page-common-description-area">
                    <textarea class="form-control" placeholder="Beschreibung"
                              ng-maxlength="10000"
                              maxLength="10000"
                              ng-model="page.description" required></textarea>
        </div>
        <div>
            <button type="submit"
                    class="btn btn-default content-create-page-common-commands"
                    ng-click="createPage()"
                    ng-class="{disabled: commonForm.$invalid}">
                Seite erstellen
            </button>
        </div>
    </form>
</div>
</div>