<div id="content-page-create">
    <div id="centerCol">
        <div id="inner-centerCol">
            <div class="website-structure-header">
                <h1 class="website-structure-title">Kategorie ausw&aumlhlen</h1>
            </div>
            <div id="content-create-category" ng-controller="PageCreateSelectCategoryCtrl">
                <form class="form-horizontal" name="categoryForm" role="form" novalidate>
                    <div class="form-group">
                        <button type="button" class="btn btn-default content-create-category-element" ng-model="category.selectedCategory"
                                name="inputCategory"
                                id="inputCategoryId"
                                bs-options="category as category for category in categories"
                                data-placeholder="Kategorie ausw&aumlhlen"
                                ng-class="{disabled: !categoryFirstSelect}"
                                bs-select>
                            <span class="caret"></span>
                        </button>
                        <button type="button" class="btn btn-default content-create-category-element" ng-model="category.selectedLanguage"
                                name="inputLanguage"
                                id="inputLanguageId"
                                bs-options="language.description as language.description for language in languages"
                                data-placeholder="Sprache der Seite ausw&aumlhlen"
                                ng-class="{disabled: !categoryFirstSelect}"
                                bs-select>
                            <span class="caret"></span>
                        </button>
                    </div>
                    <div class="form-group">
                        <input name="inputTitle" ng-model="category.title"
                               class="form-control" id="inputTitleId"
                               placeholder="Titel"
                               maxLength="100">
                    </div>
                    <div class="form-group content-create-category-element">
                        <div>
                            <button type="submit"
                                    class="btn btn-default category-select-finished"
                                    ng-click="categorySelectFinished()"
                                    ng-class="{disabled: categoryFinishedButtonDisabled}"
                                    ng-show="categoryFirstSelect">
                                Fertig
                            </button>
                            <button type="submit"
                                    class="btn btn-default category-select-finished"
                                    ng-click="categorySelectFinished()"
                                    ng-show="!categoryFirstSelect && state.actual === 1">
                                Titel umbenennen
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div id="content-create-page-suggestions" ng-show="state.actual === 2">
                <div class="website-structure-header">
                    <h1 class="website-structure-title">Existiert die Seite die Du erstellen m&oumlchten bereits?</h1>
                </div>
                <div class="page-preview-container">
                    <div ng-repeat="pagePreview in page.pageSuggestions.pages" class="page-preview-inner-container">
                        <ely-page-preview page-preview="pagePreview"></ely-page-preview>
                    </div>
                </div>
                <div id="content-create-page-suggestion-commands">
                    <button type="submit"
                            class="btn btn-default content-create-page-suggestion-commands-buttons"
                            ng-click="abortCreatePage()">
                        Seite Erstellen Abbrechen
                    </button>
                    <button type="submit"
                            class="btn btn-default content-create-page-suggestion-commands-buttons"
                            ng-click="suggestionContinue()">
                        Weiter
                    </button>
                </div>
            </div>
            <div ng-include="'app/modules/page/createPage/commonSection.html'"></div>
        </div>
    </div>
</div>