<md-card class="card-recommendation-desktop">
    <div class="header" layout="row">
        <div ng-click="ctrl.openUserDetail()">
            <img class="user-image" ng-src="{{ctrl.element.profileUrl}}"/>
        </div>
        <div>
            <div class="md-title recommendation-title">
                <ely-pinwall-recommendation-desktop-blog-title element="ctrl.element"
                                                               ng-if="ctrl.element.label === 'Blog'"></ely-pinwall-recommendation-desktop-blog-title>
                <ely-pinwall-recommendation-desktop-book-title element="ctrl.element"
                                                               ng-if="ctrl.element.label === 'Book'"></ely-pinwall-recommendation-desktop-book-title>
                <ely-pinwall-recommendation-desktop-youtube-title element="ctrl.element"
                                                                  ng-if="ctrl.element.label === 'Youtube'"></ely-pinwall-recommendation-desktop-youtube-title>
                <ely-pinwall-recommendation-desktop-link-title element="ctrl.element"
                                                               ng-if="ctrl.element.label === 'Link'"></ely-pinwall-recommendation-desktop-link-title>
            </div>
            <div>
                <div class="md-subhead recommendation-created">{{ctrl.getFormattedDate(ctrl.element.created, 'LLL')}}</div>
                <ely-topics-color topics="ctrl.element.topic"></ely-topics-color>
            </div>
        </div>
    </div>
    <ely-pinwall-recommendation-desktop-blog element="ctrl.element" request-running="ctrl.requestRunning"
                                             ng-if="ctrl.element.label === 'Blog'"></ely-pinwall-recommendation-desktop-blog>
    <ely-pinwall-recommendation-desktop-book element="ctrl.element" request-running="ctrl.requestRunning"
                                             ng-if="ctrl.element.label === 'Book'"></ely-pinwall-recommendation-desktop-book>
    <ely-pinwall-recommendation-desktop-youtube element="ctrl.element" request-running="ctrl.requestRunning"
                                                ng-if="ctrl.element.label === 'Youtube'"></ely-pinwall-recommendation-desktop-youtube>
    <ely-pinwall-recommendation-desktop-link element="ctrl.element" ng-if="ctrl.element.label === 'Link'"
                                             request-running="ctrl.requestRunning"></ely-pinwall-recommendation-desktop-link>
    <md-progress-linear ng-if="ctrl.requestRunning" md-mode="indeterminate"></md-progress-linear>
</md-card>
