<md-dialog id="manage-generic-page" aria-label="Manage Generic Page" class="manage-page"
           ng-class="{'create-generic-page-preview-image': ctrl.selectImage}">
    <form ng-if="!ctrl.selectImage" ng-cloak>
        <div class="md-title ely-dialog-title" ng-if="ctrl.isEditMode">Beitrag <span class="highlighted">{{ctrl.actualTitle}}</span>
            bearbeiten
        </div>
        <md-dialog-content>
            <div class="md-dialog-content ely-dialog-content">
                <ely-manage-generic is-edit-mode="true" data="ctrl.data" event-show-image="ctrl.showImage"
                                 ng-if="!ctrl.selectImage"
                                 event-data-changed="ctrl.dataChanged"></ely-manage-generic>
            </div>
        </md-dialog-content>
        <md-dialog-actions>
            <md-button ng-click="ctrl.cancel()" target="_blank" md-autofocus>Abbrechen</md-button>
            <md-button class="md-primary md-raised" ng-click="ctrl.editGenericPage()" ng-if="ctrl.isEditMode"
                       ng-disabled="ctrl.uploadStarted || !ctrl.isValidToChange">
                Ändern
            </md-button>
        </md-dialog-actions>
    </form>
    <md-progress-linear ng-if="ctrl.uploadStarted" md-mode="indeterminate"></md-progress-linear>

    <ely-preview-picture ratio="1.3364" cancel="ctrl.cancelPreviewImage" finish="ctrl.setPreviewImage"
                         ng-if="ctrl.selectImage"></ely-preview-picture>
</md-dialog>