.ely-page-info-container {
  margin-top: 22px;
  .page-action.md-fab.md-mini {
    height: 28px;
    width: 28px;
    line-height: 28px;
    min-height: 0;
    margin: 0;
    .action-icon {
      height: 16px;
      width: 16px;
      min-height: 16px;
      min-width: 16px;
    }
  }
  .number-container {
    margin-left: 8px;
    color: $primary-text;
    height: 28px;
    .number {
      line-height: 28px;
      font-size: 14px;
      vertical-align: middle;
    }
  }
  .topic-container {
    margin-bottom: 8px;
  }
  .info-detail-container {
    margin-right: 8px;
    .info-expand {
      cursor: pointer;
      height: 32px;
      width: 100%;
      .info-icon {
        float: right;
        margin: 2px;
        height: 24px;
        width: 24px;
      }
    }
    .info-detail-expanded-container {
      font-size: 12px;
      color: $secondary-text;
      .info-detail-row {
        margin-bottom: 4px;
        .right-column-info-detail {
          margin-left: 8px;
        }
      }
    }
    .admin-image {
      display: inline-block;
      vertical-align: middle;
      cursor: pointer;
      img {
        height: 28px;
        width: 28px;
        border-radius: 50%;
      }
    }
  }
}
