#ely-place-page-detail {
  #ely-place-page-main-detail {
    max-width: 600px;
    min-width: 300px;
    .title-container {
      .title {
        cursor: pointer;
        overflow: hidden;
        @media screen and (max-width: $gt-xs) {
          max-height: 74px;
        }
        @media screen and (min-width: $gt-sm) {
          font-size: 18px;
        }
      }
      .button-settings-container {
        padding: 0;
        .button-settings {
          margin: 0;
        }
      }
    }

    .topic-description {
      margin: 0 0 4px 0;
    }

    .image-description-container {
      cursor: pointer;
      .image {
        width: 100%;
        max-width: 552px;
        margin-bottom: 8px;
      }
    }
  }
}