#ely-page-rating-overview {
  max-width: 600px;
  .page-rating-review {
    width: 100%;

    .page-rating-review-summary {
      width: 120px;

      .page-rating-review-number {
        font-size: 48px;
        line-height: 48px;
        font-weight: 300;
        margin-top: 28px;
        margin-bottom: 5px;
        color: $primary-text;
      }

      .page-rating-review-total {
        margin-top: 7px;
        font-size: 12px;
        font-weight: 400;
        color: $secondary-text;
      }
    }

    .page-rating-review-diagram {
      padding-top: 15px;
      width: 100%;
      max-width: 300px;
      .page-rating-review-line {
        height: 24px;
        width: 90%;
        .page-rating-review-line-star {
          height: 12px;
          width: 12px;
          margin-right: 3px;
        }
        .page-rating-review-line-number {
          margin-right: 5px;
          width: 10px;
          font-size: 11px;
          line-height: 24px;
        }
        .page-rating-review-line-block {
          position: relative;
          height: 24px;
          .page-rating-review-line-block-5 {
            position: absolute;
            top: 0;
            left: 0;
            font-size: 11px;
            line-height: 24px;
            padding-left: 5px;
            background-color: rgb(136, 177, 49);
            width: 100%;
            height: 100%;
          }
          .page-rating-review-line-block-4 {
            @extend .page-rating-review-line-block-5;
            background-color: rgb(153, 204, 0);
          }
          .page-rating-review-line-block-3 {
            @extend .page-rating-review-line-block-5;
            background-color: rgb(255, 207, 2);
          }
          .page-rating-review-line-block-2 {
            @extend .page-rating-review-line-block-5;
            background-color: rgb(255, 159, 2);
          }
          .page-rating-review-line-block-1 {
            @extend .page-rating-review-line-block-5;
            background-color: rgb(255, 111, 49);
          }
        }
      }
    }
  }
}