<div class="ely-page-info-container">
    <div class="page-section-title">Info</div>
    <div class="ely-page-info-content">
        <div layout="row" class="recommendation-content">
            <div ng-hide="ctrl.uploadRunning">
                <md-button class="page-action md-fab md-mini" aria-label="Recommend Page"
                           ng-disabled="ctrl.pageDetail.recommendation.user.recommendationId || ctrl.requestRunning ||
                           (ctrl.label === 'Blog' && ctrl.pageDetail.page.isAdmin)"
                           ng-click="ctrl.addRecommendation()">
                    <md-icon md-svg-icon="cardActions:thumbUp" class="action-icon"></md-icon>
                </md-button>
                <md-tooltip md-direction="bottom"
                            ng-show="!ctrl.pageDetail.recommendation.user.recommendationId && !ctrl.pageDetail.administrators.isAdmin">Diesen Beitrag
                    empfehlen
                </md-tooltip>
            </div>
            <div ng-show="ctrl.uploadRunning">
                <md-progress-circular class="upload-recommendation" md-mode="indeterminate"
                                      md-diameter="16"></md-progress-circular>
            </div>
            <div class="number-container">
                <span class="number">{{ctrl.pageDetail.recommendation.summary.all.numberOfRecommendations}}</span>
                <span class="description">Empfehlungen</span>
            </div>
            <span flex></span>
            <div ng-show="ctrl.pageDetail.recommendation.user">
                <md-button class="page-action md-fab md-mini" aria-label="Remove Recommendation"
                           ng-disabled="ctrl.requestRunning" ng-click="ctrl.deleteRecommendation()">
                    <md-icon md-svg-icon="cardActions:thumbDown" class="action-icon"></md-icon>
                </md-button>
                <md-tooltip md-direction="left">Deine Empfehlung entfernen
                </md-tooltip>
            </div>
        </div>
        <div layout="row" class="info-detail-row" ng-if="ctrl.pageDetail.recommendation.user">
            <span>Empfohlen von dir:</span>
            <span flex></span>
            <span class="right-column-info-detail">{{ctrl.pageDetail.recommendation.user.created}}</span>
        </div>
        <div layout="row" class="info-detail-row">
            <span>Beitrag wurde erstellt:</span>
            <span flex></span>
            <span class="right-column-info-detail">{{ctrl.pageDetail.page.createdFormatted}}</span>
        </div>
        <div layout="row" class="info-detail-row"
             ng-show="ctrl.pageDetail.page.created !== ctrl.pageDetail.page.modified && ctrl.pageDetail.page.modified">
            <span>Zuletzt verändert:</span>
            <span flex></span>
            <span class="right-column-info-detail">{{ctrl.pageDetail.page.modifiedFormatted}}</span>
        </div>
        <div layout="row" class="info-detail-row"
             ng-show="ctrl.pageDetail.page.created !== ctrl.pageDetail.page.modified && ctrl.pageDetail.page.label === 'Youtube'">
            <span ng-class="{'link': ctrl.pageDetail.page.linkHistory.length > 0}" ng-click="ctrl.openLinkHistory()">Link verändert:</span>
            <span flex></span>
            <span class="right-column-info-detail" ng-if="ctrl.pageDetail.page.linkHistory.length === 0">Nie</span>
            <span class="right-column-info-detail link" ng-click="ctrl.openLinkHistory()"
                  ng-if="ctrl.pageDetail.page.linkHistory.length > 0">{{ctrl.pageDetail.page.linkHistory.length}} mal</span>
        </div>
        <div layout="row" class="info-detail-row">
            <span>Sprache:</span>
            <span flex></span>
            <span class="right-column-info-detail" ng-repeat="language in ctrl.pageDetail.page.language">{{ctrl.getLanguage(language)}}</span>
        </div>
        <div class="topic-container">
            <ely-topics-color is-text-expanded="true" topics="ctrl.pageDetail.page.topic"></ely-topics-color>
        </div>
    </div>
</div>
