#ely-add-recommendation {
  width: 100%;
  .description-container {
    padding: 16px 24px;

    .input-container {
      width: 100%;
      margin: 0;
    }
    .star-rating {
      margin-top: 24px;
    }
  }
  .star-rating-commands {
    margin-left: 24px;
    margin-bottom: 4px;
  }
}