#ely-recommendation-popular-overview {
  height: 100%;
  background-color: $background-normal;
  .ely-recommendation-popular-overview-container {
    height: 100%;
    width: 100%;
    background-color: $background-normal;
    max-width: 950px;
    margin: 0 auto;
    .recommendation-tabs {
      height: 100%;
      width: 100%;
      md-tabs-wrapper {
        background-color: #ffffff;
      }
      .md-active > div{
        height: 100%;
      }
      .tab-timespan {
        margin-top: 2px;
        margin-left: 4px;
      }
    }
  }
  .ely-sidenav-right {
    height: 100%;
    width: 200px;
    @media screen and (min-width: $gt-xmd) {
      width: 250px;
    }
  }
  .filter-fab {
    position: fixed;
    bottom: 0;
    right: 0;
  }
}
