#popular-recommendation-sidenav-filter {
  height: 100%;
  padding: 48px 16px;

  .popular-filter-title {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 8px;
    padding-left: 4px;
  }

  .popular-sidnav-input-container {
    width: 100%;
    margin-bottom: 8px;
  }
}
