<md-card class="ely-question-card">
    <div layout="row">
        <div class="description" ng-click="ctrl.goToQuestionOverview()">{{ctrl.question.description}}</div>
        <span flex></span>
        <md-menu md-position-mode="target-right target" class="menu-settings-container" ng-if="ctrl.question.isAdmin"
                 ng-disabled="ctrl.requestRunning">
            <md-button ng-click="$mdOpenMenu($event)" class="md-icon-button menu-settings" aria-label="Settings">
                <md-icon md-svg-icon="cardActions:moreVert"></md-icon>
            </md-button>
            <md-menu-content>
                <md-menu-item>
                    <md-button ng-click="ctrl.deleteQuestion(ctrl.question.questionId)">Löschen</md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </div>
    <ely-topics topics="ctrl.question.topic"></ely-topics>
</md-card>
