@mixin ng-repeat($elementName) {
  .#{$elementName}.ng-enter, .#{$elementName}.ng-move {
    -webkit-transition: 0.5s linear all;
    -moz-transition: 0.5s linear all;
    -o-transition: 0.5s linear all;
    transition: 0.5s linear all;
    opacity: 0;
  }
  .#{$elementName}.ng-enter.ng-enter-active,
  .#{$elementName}.ng-move.ng-move-active {
    opacity: 1;
  }

  .#{$elementName}.ng-leave {
    -webkit-animation: 0.7s remove_animation;
    -moz-animation: 0.7s remove_animation;
    -o-animation: 0.7s remove_animation;
    animation: 0.7s remove_animation;
  }

  @keyframes remove_animation {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  @-webkit-keyframes remove_animation {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  @-moz-keyframes remove_animation {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  @-o-keyframes remove_animation {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
}