<div id="modify-group-setting">
    <form name="ctrl.modifyGroupForm" ng-cloak>
        <md-dialog-content class="md-dialog-content ely-dialog-content">
            <div class="md-title ely-dialog-title" ng-if="ctrl.setting.type">Gruppe <span class="group">{{ctrl.setting.type}}</span> bearbeiten</div>
            <div class="md-title ely-dialog-title" ng-if="!ctrl.setting.type">Privatspähren Einstellung für Personen die Du nicht zu deinen Kontakten
                hinzugefügt hast
            </div>
            <div>
                <md-checkbox ng-model="ctrl.setting.profileVisible" aria-label="Profile visible" class="select-privacy"
                             ng-change="ctrl.selectProfileVisibleChanged()"
                             ng-disabled="ctrl.uploadStarted">
                    <span ng-show="ctrl.setting.profileVisible">Profil ist sichtbar</span>
                    <span ng-show="!ctrl.setting.profileVisible">Profil ist verborgen</span>
                </md-checkbox>
                <div class="privacy-element-description" ng-show="!ctrl.setting.profileVisible">Es wird nur noch Dein Name angezeigt.
                </div>
            </div>
            <md-divider class="privacy-divider"></md-divider>
            <div>
                <md-checkbox ng-model="ctrl.setting.contactsVisible" ng-disabled="!ctrl.setting.profileVisible || ctrl.uploadStarted"
                             ng-change="ctrl.selectChanged()"
                             aria-label="Contacts visible"
                             class="select-privacy">
                    <span ng-show="ctrl.setting.contactsVisible">Kontakte sind sichtbar</span>
                    <span ng-show="!ctrl.setting.contactsVisible">Kontakte sind verborgen</span>
                </md-checkbox>
                <div class="privacy-element-description" ng-show="ctrl.setting.contactsVisible">Deine Kontakte und wer Dich als Kontakt führt ist
                    sichtbar.
                </div>
                <div class="privacy-element-description" ng-show="!ctrl.setting.contactsVisible">Deine Kontakte und wer Dich als Kontakt führt wird
                    nicht angezeigt.
                </div>
            </div>
            <div>
                <md-checkbox ng-model="ctrl.setting.imageVisible" ng-disabled="!ctrl.setting.profileVisible || ctrl.uploadStarted"
                             ng-change="ctrl.selectChanged()"
                             aria-label="Image visible"
                             class="select-privacy">
                    <span ng-show="ctrl.setting.imageVisible">Profilbild ist sichtbar</span>
                    <span ng-show="!ctrl.setting.imageVisible">Profilbild ist verborgen</span>
                </md-checkbox>
                <div class="privacy-element-description" ng-show="ctrl.setting.imageVisible">Deine Profilbild ist sichtbar.
                </div>
                <div class="privacy-element-description" ng-show="!ctrl.setting.imageVisible">Es wird nur ein Standartbild angezeigt.
                </div>
            </div>
            <div>
                <md-checkbox ng-model="ctrl.setting.profileDataVisible" ng-disabled="!ctrl.setting.profileVisible || ctrl.uploadStarted"
                             ng-change="ctrl.selectChanged()"
                             aria-label="Profile Data visible"
                             class="select-privacy">
                    <span ng-show="ctrl.setting.profileDataVisible">Profildaten sind sichtbar</span>
                    <span ng-show="!ctrl.setting.profileDataVisible">Profildaten sind verborgen</span>
                </md-checkbox>
                <div class="privacy-element-description" ng-show="ctrl.setting.profileDataVisible">Deine Profildaten wie Geburtstag, Wohnort usw.
                    werden angezeigt.
                </div>
                <div class="privacy-element-description" ng-show="!ctrl.setting.profileDataVisible">Deine Profildaten wie Geburtstag, Wohnort usw.
                    werden nicht angezeigt.
                </div>
            </div>
            <div>
                <md-checkbox ng-model="ctrl.setting.pinwallVisible" ng-disabled="!ctrl.setting.profileVisible || ctrl.uploadStarted"
                             ng-change="ctrl.selectChanged()"
                             aria-label="Profile Data visible"
                             class="select-privacy">
                    <span ng-show="ctrl.setting.pinwallVisible">Empfehlungen werden angezeigt</span>
                    <span ng-show="!ctrl.setting.pinwallVisible">Empfehlungen sind verborgen</span>
                </md-checkbox>
                <div class="privacy-element-description" ng-show="ctrl.setting.pinwallVisible">Deine Empfehlungen von Blogs, Videos, Büchern usw. werden
                    angezeigt.
                </div>
                <div class="privacy-element-description" ng-show="!ctrl.setting.pinwallVisible">Deine Empfehlungen von Blogs, Videos, Büchern usw.
                    werden nicht angezeigt.
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions>
            <md-button ng-click="ctrl.cancel()">Abbrechen</md-button>
            <md-button class="md-primary" ng-click="ctrl.accept()"
                       ng-disabled="ctrl.uploadStarted || !ctrl.uploadAllowed">
                Ändern
            </md-button>
        </md-dialog-actions>
    </form>
    <md-progress-linear ng-if="ctrl.uploadStarted" md-mode="indeterminate"></md-progress-linear>
</div>