<div class="popover" id="popover-profile-preview" ng-controller="ProfilePreviewPopoverCtrl">
    <div class="arrow"></div>
    <div class="popover-content">
        <div id="profile-preview-content">
            <img ng-src="{{userHeaderInfo.profileImagePreview}}" id="profile-preview-image" class="img-rounded">
            <div id="profile-preview-description">
                <div id="profile-preview-name">
                    {{userHeaderInfo.name}}
                </div>
                <div id="profile-preview-email">
                    {{userHeaderInfo.email}}
                </div>
            </div>
        </div>
        <div id="profile-preview-commands">
            <button class="btn btn-default" id="profile-preview-change" type="button" ng-click="openProfileEdit($hide)">
                Profil bearbeiten
            </button>
            <button class="btn btn-default" id="profile-preview-logout" type="button" ng-click="logout()">
                 Abmelden
            </button>
        </div>
    </div>
</div>
