<md-content id="ely-answer-detail">
    <div class="md-padding container">
        <ely-forum-detail-question-overview-card question="ctrl.detail.answer.question"></ely-forum-detail-question-overview-card>
        <div class="ely-main-title" ng-if="ctrl.detail.answer.type === 'solution'">Lösungsvorschlag</div>
        <div class="ely-main-title" ng-if="ctrl.detail.answer.type === 'explanation'">Erklärung</div>
        <ely-forum-answer-detail-card answer="ctrl.detail.answer"></ely-forum-answer-detail-card>
    </div>
</md-content>
