<div id="ely-thread-overview">
    <div class="thread-container" ely-infinite-scroll="ctrl.nextThreads()" ng-show="!ctrl.showThreadSearch">
        <div layout-wrap layout="row">
            <div flex="100" ng-repeat="thread in ctrl.messages.threads" layout="row" layout-align="center">
                <ely-messages-thread thread="thread"></ely-messages-thread>
            </div>
            <div class="no-thread" ng-if="ctrl.messages.threads.length === 0 && !ctrl.showLoad">Du hast noch keine Nachrichten erhalten oder
                verschickt.
            </div>
        </div>
    </div>
    <div class="thread-container" ng-show="ctrl.showThreadSearch">
        <div layout-wrap layout="row">
            <div flex="100" ng-repeat="thread in ctrl.threadSearchResult.threads" layout="row" layout-align="center">
                <ely-messages-thread thread="thread"></ely-messages-thread>
            </div>
            <div class="no-thread" ng-if="ctrl.threadSearchResult.threads.length === 0 && !ctrl.showLoad">Für diese Anfrage wurde niemand gefunden.
            </div>
        </div>
    </div>
    <ely-load-screen ng-if="ctrl.showLoad"></ely-load-screen>
</div>
