#ely-create-news-dialog {
  min-width: 60%;

  .info-confirmation {
    font-size: 16px;
    font-weight: 500;
    color: $warning;
    margin-bottom: 12px;
  }
  .input-container {
    width: 100%;
  }
}




