#ely-home {
  height: 100%;
  background-color: $background-normal;
  #pinwall-commands {
    height: 70px;
    max-width: 400px;
    margin: 0 auto;
    padding: 0 12px 0 8px;
    @media screen and (min-width: $gt-sm) {
      max-width: 950px;
      width: 950px;
    }
    #create-content-fab {
      #create-fab-text {
        margin-left: 4px;
        cursor: pointer;
        font-size: 16px;
        font-weight: 500;
        color: $primary-text;
      }
    }
    #create-content-fab:hover {
      #create-fab-text {
        text-decoration: underline;
      }
    }
  }
  .pinwall-container {
    padding: 0 8px;
    overflow-y: auto;
    .pinwall-inner-container {
      max-width: 400px;
      margin: 0 auto;
      @media screen and (min-width: $gt-sm) {
        max-width: 950px;
        width: 950px;
      }
      .ely-pinwall-container {
        padding-top: 0;
      }
    }
  }
  .filter-fab {
    position: fixed;
    bottom: 0;
    right: 0;
    @media screen and (min-width: $gt-sm) {
      bottom: 15px;
      right: 24px;
    }
    @media screen and (min-width: $gt-md) {
      bottom: 25px;
      right: 48px;
    }
  }
}


