#loginform {
  height: 100%;
  .error-message {
    background: $tooltip-error;
    color: white;
    border-radius: 2px;
  }
  .error-message.ng-hide-add, .error-message.ng-hide-remove {
    transition: all linear 0.8s;
  }
  .error-message.ng-hide {
    line-height: 0;
    opacity: 0;
  }

  #login-card {
    width: 300px;

    .input-element {

      input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0px 1000px #FFFFFF inset;
        text-shadow: none;
      }

    }
  }
}

#check-login {
  height: 100%;
}




