<md-content id="ely-user-detail">
    <div class="container" layout="row" layout-align="center" layout-wrap ng-if="ctrl.$mdMedia('xs')">
        <ely-user-detail-profile flex="100" detail="ctrl.userDetail" number-of-groups="ctrl.numberOfGroups"></ely-user-detail-profile>
        <div ng-if="!ctrl.showOverviewContact && !ctrl.showOverviewContacting">
            <ely-user-detail-contacts-preview flex="100" detail="ctrl.userDetail" show-detail="ctrl.showContactOverview"
                                              ng-if="ctrl.userDetail.contacts.length > 0"></ely-user-detail-contacts-preview>
            <ely-user-detail-contacting-preview flex="100" detail="ctrl.userDetail" show-detail="ctrl.showContactingOverview"
                                                ng-if="ctrl.userDetail.contacting.length > 0"></ely-user-detail-contacting-preview>
            <ely-user-detail-pinwall user-name="ctrl.userName"></ely-user-detail-pinwall>
        </div>

        <ely-user-detail-overview-contact flex="100" service="ctrl.UserDetailContacts" name="{{ctrl.userDetail.user.forename}}" title="Kontakte"
                                          ng-if="ctrl.showOverviewContact"></ely-user-detail-overview-contact>
        <ely-close-sub-toolbar description="Kontaktübersicht schliessen" on-close="ctrl.close"
                               ng-if="ctrl.showOverviewContact"></ely-close-sub-toolbar>

        <ely-user-detail-overview-contact flex="100" service="ctrl.UserDetailContactings" ng-if="ctrl.showOverviewContacting"
                                          name="{{ctrl.userDetail.user.forename}}"
                                          title="Follower"></ely-user-detail-overview-contact>
        <ely-close-sub-toolbar description="Übersich Followers schliessen" on-close="ctrl.close"
                               ng-if="ctrl.showOverviewContacting"></ely-close-sub-toolbar>
    </div>
</md-content>
