<md-content id="ely-user-detail">
    <div class="container" layout="row" layout-align="center" layout-wrap ng-if="!ctrl.$mdMedia('gt-md')"
         ely-infinite-scroll="ctrl.commands.nextPinwallInfo()">
        <ely-user-detail-profile flex="100" detail="ctrl.userDetail" number-of-groups="ctrl.numberOfGroups"></ely-user-detail-profile>
        <div ng-if="!ctrl.showOverviewContact && !ctrl.showOverviewContacting" flex="100" layout="row" layout-align="center" layout-wrap>
            <ely-user-detail-contacts-preview flex="100" detail="ctrl.userDetail" show-detail="ctrl.showContactOverview"
                                              ng-if="ctrl.userDetail.contacts.length > 0"></ely-user-detail-contacts-preview>
            <ely-user-detail-contacting-preview flex="100" detail="ctrl.userDetail" show-detail="ctrl.showContactingOverview"
                                                ng-if="ctrl.userDetail.contacting.length > 0"></ely-user-detail-contacting-preview>
            <ely-user-detail-pinwall commands="ctrl.commands" user-name="ctrl.userName"></ely-user-detail-pinwall>
        </div>

        <ely-user-detail-overview-contact flex="100" service="ctrl.UserDetailContacts" name="{{ctrl.userDetail.user.forename}}" title="Kontakte"
                                          ng-if="ctrl.showOverviewContact"></ely-user-detail-overview-contact>
        <ely-close-sub-toolbar description="Kontaktübersicht schliessen" on-close="ctrl.close"
                               ng-if="ctrl.showOverviewContact"></ely-close-sub-toolbar>

        <ely-user-detail-overview-contact flex="100" service="ctrl.UserDetailContactings" ng-if="ctrl.showOverviewContacting"
                                          name="{{ctrl.userDetail.user.forename}}"
                                          title="Follower"></ely-user-detail-overview-contact>
        <ely-close-sub-toolbar description="Übersich Followers schliessen" on-close="ctrl.close"
                               ng-if="ctrl.showOverviewContacting"></ely-close-sub-toolbar>
    </div>
    <div>
        <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right" md-is-locked-open="$mdMedia('gt-md')">

        </md-sidenav>
    </div>
</md-content>
