<div class="show-contact-panel">
    <div ng-if="!ctrl.running">
        <div class="user-name"><span ng-if="ctrl.contacts.contacts.length === 1">Folgender Kontakt kennt</span>
            <span ng-if="ctrl.contacts.contacts.length > 1">Folgende Kontakte kennen</span>
            <span class="name">{{ctrl.name}}</span>:
        </div>
        <div ng-repeat="contact in ctrl.contacts.contacts" class="contact-name"
             ng-class="{'last-contact-name':$last}">
            {{contact.name}}
        </div>
        <div class="more-user" ng-if="ctrl.additionalContacts > 0">
            + {{ctrl.additionalContacts}}
            <span ng-if="ctrl.additionalContacts === 1">weiterer Kontakt</span>
            <span ng-if="ctrl.additionalContacts > 1">weitere Kontakte</span>
        </div>
    </div>
    <div ng-if="ctrl.running" class="progress-view" layout="row" layout-align="center center">
        <div>
            <md-progress-circular md-mode="indeterminate" md-diameter="24"></md-progress-circular>
        </div>
    </div>
</div>
