#ely-contact-recommendation-overview {
  height: 100%;
  background-color: $background-normal;

  .overview-container {
    height: 100%;
    overflow-y: auto;
    .overview-container-inner {
      width: 296px;
      margin: 0 auto;
      @media screen and (min-width: $gt-xs) {
        width: 592px;
      }
      @media screen and (min-width: $gt-xmd) {
        width: 740px;
      }
      .recommendation-info {
        margin: 16px 4px 8px 4px;
        padding: 16px;
        background-color: white;
        .recommendation-info-text {
          line-height: 24px;
          vertical-align: middle;
          font-weight: 500;
          color: $primary-text;
        }
        .menu-container {
          margin: 0;
          padding: 0;
          .setting-button {
            padding: 0 8px;
            height: 24px;
            min-height: 24px;
          }
        }
      }
      .contact-element-container {
        .contact-element {
          margin-right: 4px;
          margin-left: 4px;
          display: inline-block;
        }
      }
    }
  }
}
