.ely-contact-preview-square {
  position: relative;
  width: 140px;
  height: 170px;
  margin: 8px auto;

  .user-preview-img {
    cursor: pointer;
    margin-top: 16px;
    margin-bottom: 8px;
    height: 48px !important;
    width: 48px;
    min-height: 48px;
    min-width: 48px;
    border-radius: 50%;
  }
  .user-name {
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    height: 24px;
    line-height: 24px;
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 16px;
  }
  .contact-type {
    height: 18px;
    min-width: 1px;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: $secondary-text;
    padding: 0 16px;
  }
  .number-of-same-contacts {
    min-width: 1px;
    font-size: 12px;
    color: $secondary-text;
    padding: 0 8px;
    text-align: center;
    cursor: pointer;
  }
  .user-blocked {
    margin-top: 5px;
    height: 13px;
    min-width: 1px;
    font-size: 11px;
    color: $error-text;
    padding: 0 16px;
  }
  .user-commands {
  }
}