#ely-contact {
  height: 100%;
  background-color: $background-normal;
  .contact-tabs {
    height: 100%;
    md-tabs-wrapper {
      background-color: #ffffff;
    }
    .add-new-group {
      padding-right: 16px;
      background-color: $background-normal;
    }
  }
}
