<div id="setup-contact-step" ng-if="step.selected">
    <div ng-if="!ctrl.showAddGroup">
        <div class="contact-description">
            Füge Personen deiner Kontaktliste hinzu welche du kennst oder deren Beiträge und Empfehlungen du folgen möchtest. Die hinzugefügte Person muss bei diesem Vorgang keine
            Freundschaftsanfrage bestätigen.
        </div>
        <div class="contact-container" layout="row" layout-xs="column">
            <div class="contact-recommendation-container" flex flex-order-xs="2">
                <div ng-repeat="user in ctrl.users.recommendedUser" layout="row" class="contact-recommendation">
                    <div class="profile-image-container" flex="none">
                        <img ng-src="{{user.profileUrl}}"/>
                    </div>
                    <div class="profile-name">{{user.name}}</div>
                    <span flex></span>
                    <div>
                        <md-button class="md-icon-button add-contact-button" aria-label="Add to contact" ng-click="ctrl.addContact(user.userId)">
                            <md-icon md-svg-icon="cardActions:addContact"></md-icon>
                        </md-button>
                    </div>
                </div>
            </div>
            <div class="contact-group" flex="none" flex-offset-gt-xs="5" flex-order-xs="1">
                <ely-tutorial-contact-group statistics="ctrl.statistics" show-add-group="ctrl.showAddGroup" upload-running="ctrl.uploadRunning"
                                            selected-group="ctrl.selectedGroup" disable-navigation="ctrl.disableNavigation"
                                            new-group-opened="ctrl.newGroupOpened"></ely-tutorial-contact-group>
            </div>
        </div>
    </div>
    <ely-setting-add-group ng-if="ctrl.showAddGroup" finish-event="ctrl.addNewGroupFinish" disabled-upload="ctrl.disableNavigation"
                           upload-started="ctrl.uploadRunning" add-group="ctrl.commandStepperDialog"></ely-setting-add-group>
</div>