<md-card id="ely-setting-profile-image">
    <md-card-content>
        <div layout="column" layout-align="none center">
            <img ng-src="{{ctrl.profile.profileImage}}" class="profile-image">
            <div>
                <md-button class="md-primary" ng-click="ctrl.uploadProfileImage()">Bild ändern</md-button>
            </div>
            <div class="contact-statistic">
                <span ng-if="ctrl.profile.numberOfContacting > 0" class="number-of-contacting">{{ctrl.profile.numberOfContacting}}</span>
                <ng-pluralize count="ctrl.profile.numberOfContacting"
                              when="{'0': 'Noch Niemand hat Dich als Kontakt',
                                    '1': ' hat Dich als Kontakt',
                                    'other': ' haben Dich als Kontakt'}"></ng-pluralize>
            </span>
        </div>
    </md-card-content>
</md-card>
