<div class="youtube-recommendation-desktop">
    <div class="main-container">
        <ely-iframe ng-if="!ctrl.showImagePreview" width="418" height="300" secure-link="https://www.youtube.com/embed/"
                    src="ctrl.getYoutubeAutoplayLink(ctrl.element.link)"
                    layout="row" layout-align="center center"></ely-iframe>
        <img ng-src="{{ctrl.getYoutubeImage(ctrl.element.link)}}" ng-if="ctrl.showImagePreview" ng-click="ctrl.showImagePreview = false"
             class="youtube-preview-image"/>
        <div class="youtube-description">{{ctrl.element.description}}</div>
    </div>
    <div class="action-container">
        <ely-pinwall-page-recommendation-actions request-running="ctrl.requestRunning"
                                                 element="ctrl.element"></ely-pinwall-page-recommendation-actions>
    </div>
</div>