#invite-friends-dialog {
  #add-email-container {
    max-height: 100%;
    @media screen and (min-width: $gt-xs) {
      min-width: 400px;
    }
    #ely-contact-input {
      padding: 0 24px;
    }
    .ely-dialog-content {
      padding: 0;

      #overview-valid-email-container {
        overflow-y: auto;
        padding: 0 24px;
        .valid-email {
          font-size: 16px;
          font-weight: 500;
          color: $secondary-text;
          margin-bottom: 6px;
          .email-suggestion {
            font-size: 14px;
            .link {
              text-decoration: underline;
              font-style: italic;
              cursor: pointer;
              color: $primary-color;
            }
          }
        }
      }
    }
  }
}
