#invite-friends-dialog {
  #add-email-container {
    @media screen and (min-width: $gt-xs) {
      min-width: 400px;
    }
    #overview-valid-email-container {
      .valid-email {
        font-size: 14px;
        font-weight: 500;
        color: $secondary-text;
        margin-bottom: 6px;
      }
    }
  }
}
