#invite-friends-dialog {
  .ely-import-basic-auth {
    @media screen and (min-width: $gt-xs) {
      min-width: 500px;
    }
    .ely-dialog-title {
      .service-name {
        font-weight: 700;
        color: $primary-color;
      }
    }
    #dialog-container {
      max-width: 250px;
      margin: 0 auto;
    }
  }
}
