#select-user-step {
  .ely-import-container {
    margin-bottom: 6px;
    @media screen and (min-width: $gt-xs) {
      margin-bottom: 12px;
    }
    .source-container {
      margin-bottom: 6px;
      cursor: pointer;
      height: 32px;
      @media screen and (min-width: $gt-xs) {
        height: 48px;
      }
      .image-container {
        margin-right: 12px;
        height: 32px;
        width: 32px;
        @media screen and (min-width: $gt-xs) {
          height: 48px;
          width: 48px;
        }
        img {
          height: 100%;
          width: 100%;
        }
      }
      .source-description {
        font-size: 14px;
        line-height: 32px;
        color: $primary-text;
        font-weight: 500;
        vertical-align: middle;
        @media screen and (min-width: $gt-xs) {
          font-size: 18px;
          line-height: 48px;
        }
      }
    }
    .source-container:hover {
      text-decoration: underline;
    }
  }
}
