#invite-friends-dialog {
  @media screen and (max-width: $gt-xs) {
    max-height: 95%;
  }
  @media screen and (min-width: $gt-xs) {
    min-width: 550px;
  }
  @media screen and (min-width: $gt-sm) {
    min-width: 800px;
  }
  .ely-dialog-title {
    padding: 16px 24px;
    margin-bottom: 0;
    border-bottom: 1px solid $divider;
  }
  #contact-import-source-container {
    padding: 12px 24px 24px 24px;
    .title {
      font-size: 14px;
      font-weight: 700;
      color: $secondary-text;
      margin-bottom: 12px;
    }
    #open-custom-emails {
      margin-left: 0;
    }
  }
  .ely-dialog-content {
    padding-top: 0;
    #contact-list-container {
      padding-top: 18px;
      overflow-y: auto;
      .contact-list-element {
        margin-bottom: 8px;
        .name {
          font-size: 12px;
          color: $secondary-text;
        }
      }
    }
  }
  .load-screen-container {
    height: 200px;
    .ely-loading-screen {
      height: 200px;
    }
  }
}