#invite-friends-dialog {
  .ely-dialog-title {
    padding: 16px 24px;
    margin-bottom: 0;
    border-bottom: 1px solid $divider;
  }
  .ely-dialog-content {
    #contact-import-source-container {
      .title {
        font-size: 14px;
        font-weight: 700;
        color: $secondary-text;
        margin-bottom: 12px;
      }
    }
    #contact-list-container {
      .contact-list-element {
        margin-bottom: 8px;
        .name {
          font-size: 12px;
          color: $secondary-text;
        }
      }
    }
  }
  .load-screen-container {
    height: 200px;
    .ely-loading-screen {
      height: 200px;
    }
  }
}