#invite-friends-dialog {
  .ely-dialog-title {
    padding: 16px 24px;
    margin-bottom: 0;
    border-bottom: 1px solid $divider;
  }
  #invite-friends-dialog-content {
    .ely-dialog-content {
      padding-top: 0;
      height: 100%;
      #contact-import-source-container {
        margin-top: 12px;
        @media screen and (max-width: $gt-xs) {
          max-height: 95%;
          margin-bottom: 12px;
        }
        @media screen and (min-width: $gt-xs) {
          min-width: 430px;
        }
        @media screen and (min-width: $gt-sm) {
          min-width: 700px;
        }
        .title {
          font-size: 14px;
          font-weight: 700;
          color: $secondary-text;
          margin-bottom: 12px;
        }
        #open-custom-emails {
          margin-left: 0;
          .md-fab {
            margin-left: 0;
          }
        }
      }
      #filter-contact {
        height: 50px;
        margin-bottom: 24px;
      }
      #contact-list-container {
        overflow-y: auto;
        height: 100%;
        .contact-list-element {
          margin-bottom: 8px;
          .name {
            font-size: 12px;
            color: $secondary-text;
          }
        }
        .contact-list-element.select-all-element {
          border-bottom: 1px solid $divider;
          margin-bottom: 22px
        }
      }
    }
  }
  .load-screen-container {
    height: 200px;
    .ely-loading-screen {
      height: 200px;
    }
  }
  #select-info {
    font-size: 12px;
    @media screen and (min-width: $gt-xs) {
      font-size: 14px;
    }
    #select-number {
      font-weight: 500;
      color: $primary-color;
    }
  }
  #only-selected {
    #only-selected-checkbox {
      margin-bottom: 1px;
      margin-left: 24px;
      font-size: 14px;
    }
  }
}