#invite-friends-dialog {
  #send-email-invitation-container {
    height: 100%;
    .ely-dialog-content {
      height: 100%;
      padding-top: 24px;
      .send-email-invitation-description {
        font-size: 16px;
        font-weight: 500;
        color: $primary-text;
        margin-bottom: 24px;
        max-width: 300px;
        .number {
          color: $primary-color;
        }
      }
      .send-email-invitation-title-success {
        font-size: 16px;
        font-weight: 500;
        color: $success;
      }
      .send-email-invitation-description-success {
        font-size: 16px;
        font-weight: 500;
        margin-top: 16px;
        max-width: 300px;
        color: $secondary-text;
      }
      #overview-email-container {
        .email-address {
          font-size: 16px;
          font-weight: 500;
          color: $secondary-text;
          margin-bottom: 6px;
        }
      }
    }
  }
}
