$primary-color: #009e97;
$secondary-color: #D81B60;

$background-normal: #f2f2f2;

$hover: #E1F5FE;
$selected: #E0E0E0;

$selected-button: #607D8B;


$divider: rgba(0, 0, 0, 0.12);

$disabled-text: rgba(0, 0, 0, 0.38);
$secondary-text: rgba(0, 0, 0, 0.54);
$primary-text: rgba(0, 0, 0, 0.87);

$disabled-white-text: rgba(255, 255, 255, 0.0);
$secondary-white-text: rgba(255, 255, 255, 0.7);
$primary-white-text: rgba(255, 255, 255, 1);

$success-text: #4CAF50;
$error-text: #EF5350;
$warning: #EF6C00;

$xs: 700px;
$sm: 850px;
$md: 950px;