h1 {
  font-size: 24px;
  font-weight: 400;
}

h2 {
  font-size: 20px;
  font-weight: 400;
}

h3 {
  font-size: 18px;
  font-weight: 400;
}

h3.feed-desktop-sidebar-title {
  font-size: 16px;
  font-weight: 500;
}

body {
  height: 100%;
  min-height: 100%;
  font-family: Roboto, Arial, sans-serif;;
  color: #14171a;
}

.dumonda-me-dialog-error-message {
  padding: 8px 0;
  color: #EF5350;
}

.dumonda-me-dialog-warning-message {
  padding: 8px 0;
  color: #EF6C00;
}

#dumonda-me-dialog-header {
  padding: 16px;
  font-weight: 500;
  .title-element-primary {
    color: #1E88E5;
  }
}

.ely-loading-progress {
  margin-top: 12px;
  text-align: center
}

.ely-menu-container {
  max-width: 460px;
  @media screen and (max-width: 400px) {
    max-width: 300px;
  }
  .menu-title {
    font-weight: 500;
    font-size: 16px;
    padding: 16px;
    .primary-title {
      font-size: 16px;
      color: #1E88E5;
    }
    .primary-link-title {
      text-decoration: none;
      font-size: 16px;
      color: #1E88E5;
    }
    :hover.primary-link-title{
      text-decoration: underline;
    }
  }
  .menu-content {
    padding: 8px 16px 24px 16px;

  }
  .menu-commands {
    display: flex;
    button {
      margin-right: 16px;
    }
  }
}

.mobile-dialog-content {
  @media screen and (max-width: 600px) {
    height: 100%;
  }
}