#ely-question {

  .question-overview-element {
    margin: 0 auto;
    min-width: 280px;
    max-width: 600px;
    padding: 10px;
    cursor: pointer;
    .activity-rating {
      width: 48px;
      margin-right: 8px;
      .number {
        font-size: 17px;
        font-weight: 300;
      }
      .rating-description {
        margin-top: 4px;
        font-size: 12px;
      }
    }
    .description {
      font-size: 17px;
      font-weight: 400;
      color: $primary-color;
    }
    .category-description {
      margin-top: 4px;
      padding: 0;
      .category-type {
        font-size: 12px;
        height: 17px;
        line-height: 17px;
      }
    }
  }
}


