#ely-question {
  height: 100%;

  #ely-question-overview {
    height: 100%;
    width: 100%;
    background-color: $background-normal;
    .question-overview-container {
      width: 100%;
      height: 100%;
      overflow-y: auto;
    }
  }

  .create-question-fab {
    @include ely-fab-button();
  }
}


