<md-card class="pinwall-blog-card">
    <md-card-header>
        <md-card-avatar ng-click="ctrl.openUserDetail()">
            <img class="md-user-avatar" ng-src="{{ctrl.element.profileUrl}}"/>
        </md-card-avatar>
        <div ng-click="ctrl.openUserDetail()" class="blog-header">
            <div layout="row" layout-wrap>
                <div class="md-title user-name">{{ctrl.element.name}}</div>
                <div>
                    <svg width="16px" height="16px" viewBox="0 0 48 48" fill="#757575" class="divider">
                        <path d="M20 34l10-10 -10-10z"></path>
                    </svg>
                </div>
                <div class="public-type" ng-if="!ctrl.element.isPrivate">Öffentlich</div>
                <div class="public-type" ng-if="ctrl.element.isPrivate">Privat</div>
            </div>
            <div class="blog-created">{{ctrl.getFormattedDate(ctrl.element.created, 'LLL')}}</div>
        </div>
        <span flex></span>
        <md-menu md-position-mode="target-right target" class="button-settings-container" ng-if="ctrl.element.isAdmin"
                 ng-disabled="ctrl.requestBlogDeleteRunning">
            <md-button ng-click="$mdOpenMenu($event)" class="md-icon-button button-settings" aria-label="Settings">
                <md-icon md-svg-icon="cardActions:moreVert"></md-icon>
            </md-button>
            <md-menu-content>
                <md-menu-item>
                    <md-button ng-click="ctrl.deleteBlog()">Löschen</md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </md-card-header>
    <div class="blog-image-container" ng-if="ctrl.element.url" ng-click="ctrl.openDetail()">
        <img ng-src="{{ctrl.element.url}}" class="md-card-image">
    </div>
    <md-card-content>
        <div class="md-body-1 blog-text" ng-click="ctrl.openDetail()">{{ctrl.previewText}}</div>
    </md-card-content>
    <md-divider></md-divider>
    <md-progress-linear ng-if="ctrl.requestBlogDeleteRunning" md-mode="indeterminate"></md-progress-linear>
</md-card>