<form name="resetPasswordForm" id="reset-password-request">
    <div class="md-title ely-dialog-title">Passwort zurücksetzen</div>
    <md-dialog-content>
        <div class="md-dialog-content ely-dialog-content" ng-if="!ctrl.emailSent">
            <div class="reset-password-description">Gib deine E-Mail Adresse an mit der du deinen Elyoos Account erstellt hast.</div>
            <md-input-container class="input-element md-block">
                <label>Email</label>
                <input required type="email" name="username" id="id_username" aria-label="Email"
                       ng-model="ctrl.email" md-no-asterisk ng-disabled="ctrl.running">

                <div ng-messages="resetPasswordForm.username.$error">
                    <div ng-message="required">Wird benötigt!</div>
                    <div ng-message="email">Keine gültige E-Mail Adresse!</div>
                </div>
            </md-input-container>
        </div>
        <div class="md-dialog-content ely-dialog-content" ng-if="ctrl.emailSent">
            <div class="reset-password-description">Es wurde ein Email mit einem Link zum zurücksetzten des Passwortes an
                <span class="email">{{ctrl.email}}</span> versendet. Der Link ist nur 12 Stunden gültig.
            </div>
        </div>
    </md-dialog-content>
    <md-dialog-actions>
        <md-button ng-click="ctrl.back = false" ng-if="ctrl.emailSent">Ok</md-button>
        <md-button ng-click="ctrl.back = false" ng-if="!ctrl.emailSent">Zurück</md-button>
        <md-button class="md-primary md-raised" ng-click="ctrl.sendResetPasswordRequest()"
                   ng-disabled="resetPasswordForm.$invalid || ctrl.running" ng-if="!ctrl.emailSent">Zurücksetzten
        </md-button>
    </md-dialog-actions>
</form>