<div class="ely-setting-profile-sidenav">
    <div class="profile-sidnav-title">Ansicht:</div>
    <ely-button  ng-click="ctrl.showPagesEnabled()" label="Beiträge" is-button-selected="ctrl.showPagesSelected" class="ely-nav-button"
                 icon="system:pageOverview" orientation="landscape"></ely-button>
    <ely-button  ng-click="ctrl.showContactsEnabled()" label="Kontakte" class="ely-nav-button" is-button-selected="ctrl.showContactsSelected"
                 icon="nav:contact" orientation="landscape"></ely-button>
    <div class="profile-sidnav-title">Einstellungen:</div>
    <ely-button  ng-click="ctrl.uploadProfileImage()" label="Profilbild ändern" class="ely-nav-button"
                icon="nav:profile" orientation="landscape"></ely-button>
    <ely-button  ng-click="ctrl.openChangeProfileData()" label="Allgemeines" class="ely-nav-button"
                 icon="system:userData" orientation="landscape"></ely-button>
    <ely-button  ng-click="ctrl.openChangePassword()" label="Passwort ändern" class="ely-nav-button"
                 icon="system:key" orientation="landscape"></ely-button>
    <ely-button  ng-click="ctrl.openPrivacyOverview()" label="Privatsphäre" class="ely-nav-button"
                 icon="system:privacy" orientation="landscape"></ely-button>
</div>