<form name="ctrl.addEmailAddressForm" ely-handling-column-flex id="add-email-container">
    <div class="description-add-email" flex="none">Du kannst auch mehrere Adressen erfassen in dem du sie mit einem der folgenden Zeichen trennst: <br>; , Leerzeichen oder Return
    </div>
    <div id="ely-contact-input" flex="auto">
        <md-input-container class="input-element md-block">
            <label>E-Mail-Addressen</label>
            <textarea name="emailAddresses" id="emailAddresses" aria-label="Email" ng-change="ctrl.emailChanged()"
                      ng-model="ctrl.newEmailAddresses" max-rows="4"></textarea>

            <div ng-messages="ctrl.addEmailAddressForm.emailAddresses.$error">
                <div ng-message="ely-custom-message">Ungültige E-Mail-Addressen</div>
            </div>
        </md-input-container>
    </div>
    <div id="overview-valid-email-container" flex="auto">
        <div ng-repeat="email in ctrl.overviewValidEmails" class="valid-email">
            {{email.email}}
            <span class="email-suggestion" ng-if="email.suggestion">
                            (Meinst Du <span class="link" ng-click="ctrl.replaceEmailAddress(email)">{{email.suggestion}}</span> ?)</span>
        </div>
    </div>
</form>
