<div id="ely-user-detail-profile-sidenav">
    <div layout="column" layout-align="none center" class="header">
        <img ng-src="{{ctrl.detail.user.profileUrl}}" class="profile-image" ng-click="ctrl.openImageView()">
        <div class="name-container">
            <div class="name">{{ctrl.detail.user.name}}</div>
        </div>
        <div class="type" ng-if="ctrl.detail.user.type && !ctrl.detail.user.blocked">{{ctrl.detail.user.type}}</div>
        <div class="blocked" ng-if="ctrl.detail.user.blocked">BLOCKIERT</div>
    </div>
    <div class="commands-user" layout="row" layout-align="start center">
        <div>
            <md-button class="md-icon-button" aria-label="Add to contact" ng-if="!ctrl.detail.user.type && !ctrl.detail.user.blocked"
                       ng-click="ctrl.addContact()">
                <md-icon md-svg-icon="cardActions:addContact"></md-icon>
            </md-button>
        </div>
        <div>
            <md-button class="md-icon-button" aria-label="Open chat" ng-if="!ctrl.detail.user.blocked"
                       ng-click="ctrl.writeMessage()">
                <md-icon md-svg-icon="cardActions:chat"></md-icon>
            </md-button>
        </div>
        <span flex></span>
        <md-menu md-position-mode="target-right target">
            <md-button ng-click="$mdOpenMenu($event)" class="md-icon-button setting-contact" aria-label="Settings Contact">
                <md-icon md-svg-icon="cardActions:moreVert"></md-icon>
            </md-button>
            <md-menu-content>
                <md-menu-item ng-if="ctrl.detail.user.type && ctrl.numberOfGroups > 1">
                    <md-button ng-click="ctrl.moveContact()">Gruppe wechseln</md-button>
                </md-menu-item>
                <md-menu-item ng-if="ctrl.detail.user.type">
                    <md-button ng-click="ctrl.deleteContact()">Kontakt entfernen</md-button>
                </md-menu-item>
                <md-menu-item ng-if="!ctrl.detail.user.blocked">
                    <md-button ng-click="ctrl.blockContact()">Benutzter blockieren</md-button>
                </md-menu-item>
                <md-menu-item ng-if="ctrl.detail.user.blocked">
                    <md-button ng-click="ctrl.unblockContact()">Blockierung aufheben</md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </div>
</div>
