.ely-message-info {
  position: relative;
  .number {
    font-size: 11px;
    font-weight: 700;
    height: 18px;
    min-width: 18px;
    color: white;
    border-radius: 4px;
    position: absolute;
    top: 3px;
    right: 5px;
    background-color: #dc0d17;
  }
  .number:focus {
    outline: none;
  }
}
