.ely-toolbar-search-home {
  li {
    border-bottom: 1px solid $divider;
    white-space: normal;
  }
  .autosuggestion-user {
    padding-top: 5px;
    padding-bottom: 5px;
    .profile-Image {
      margin-right: 8px;
      height: 38px;
      width: 38px;
      border-radius: 2px;
    }
    .profile-container {
      height: 38px;
      .user-name {
        display: block;
        font-size: 14px;
        font-weight: 500;
        height: 19px;
        line-height: 14px;
        color: $primary-text;
      }
      .user-relationship {
        display: block;
        height: 19px;
        line-height: 14px;
        font-size: 12px;
        color: $secondary-text;
      }
    }
  }
  .autosuggestion-page {
    padding-top: 5px;
    padding-bottom: 5px;
    .label-icon {
      margin: 7px 15px 7px 7px;
      height: 24px;
      width: 24px;
    }
    .page-container {
      .page-title {
        display: block;
        font-size: 14px;
        font-weight: 500;
        height: 19px;
        line-height: 14px;
        color: $primary-text;
      }
      .page-rating {
        display: block;
        line-height: 14px;
        .ely-star-rating {
          margin-left: -2px;
        }
        .number-of-ratings {
          margin-left: 4px;
          font-size: 12px;
          color: $secondary-text;
        }
      }
    }
  }

  li:last-child {
    border-bottom-width: 0;
  }
}