.ely-detail-answer-youtube-page {
  .youtube-title {
    font-size: 16px;
    color: $primary-text;
    max-height: 57px;
    overflow-y: hidden;
    margin-bottom: 4px;
  }
  .youtube-description {
    margin-top: 4px;
    font-size: 14px;
    color: $secondary-text;
  }
}


