//include all partial scss files
@import 'elyoos/_variables';
@import 'mixins/_screen';
@import 'mixins/_util';
@import 'directives/_cropper';
@import 'directives/_formTextInput';
@import 'directives/_iFrame';
@import 'directives/_searchBox';
@import 'directives/_paginationNextPrevious';
@import 'directives/_sendButton';
@import 'directives/_starRating';

@import 'elyoos/_common';
@import 'elyoos/_contactContacting';
@import 'elyoos/_contactDetails';
@import 'elyoos/_contactMiniPreview';
@import 'elyoos/_contactMy';
@import 'elyoos/_contactPreview';
@import 'elyoos/_contactStatistic';
@import 'elyoos/_header';
@import 'elyoos/_headerProfilePreview';
@import 'elyoos/_homeNavElement';
@import 'elyoos/_leftColNav';
@import 'elyoos/_messages';
@import 'elyoos/_pageCreateEdit';
@import 'elyoos/_pageCreateEditBook';
@import 'elyoos/_pageCreateEditYoutube';
@import 'elyoos/_pageDetail';
@import 'elyoos/_pageDetailReview';
@import 'elyoos/_pageOverview';
@import 'elyoos/_pagePreview';
@import 'elyoos/_recommendationHome';
@import 'elyoos/_recommendationModal';
@import 'elyoos/_settingsPassword';
@import 'elyoos/_settingsProfile';
@import 'elyoos/_settingsPrivacy';

html, body {
  margin: 0;
  font-family: Roboto, Arial, sans-serif;
  background-color: $background-normal;
  width: 100%;
  height: 100%;
}

#viewport {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
}

#content {
  width: 100%;
  height: 100%;

  #content-container {
    width: 100%;
    height: 100%;
  }
}

textarea {
  opacity: 0.99;
}

#userinfo {
  float: left;
}

#nav-content {
  position: fixed;
  margin-top: 80px;
  top: 0px;
  left: 0px;
}

.navigation {
  position: absolute;
  top: 100px;
  left: 50%;
  margin-left: -405px;
  width: 810px;
}

#navigation-connections {
  background-color: #FFBABA;
}

.navigation-second {
  float: left;
}

#default-nav {
  float: right;
  min-width: 60px;
  height: 60px;
}

#profileImage {
  height: 60px;
}

#loginform {

  position: absolute;
  width: 400px;
  top: 100px;
  left: 50%;
  margin-left: -200px;
}

.alert-input {
  padding: 5px;
  margin-bottom: 0px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.control-label em {
  font-weight: normal;
}

.innerCol {
  margin-top: 10px;
  padding-right: 10px;
  height: 100%;
}

.sortable-header {
  cursor: pointer;
}

.img-table-preview {
  float: left;
  width: 48px;
  height: 48px;
  margin-right: 10px;
}

#no-javascript {
  position: fixed;
  top: 20px;
  left: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #ff0000;
}

//tooltips
.ely-tooltip-error {
  .tooltip-inner {
    background-color: $tooltip-error-background;
    color: $tooltip-error;
    font-weight: bold;
    opacity: 1;
  }
}

.tooltip.ely-tooltip-error {
  .tooltip-arrow {
    border-right-color: $tooltip-error-background;
  }
}