//include all partial scss files
@import 'elyoos/_variables';
@import 'mixins/_animation';
@import 'mixins/_card';
@import 'mixins/_screen';
@import 'mixins/_util';
@import 'common/_cropper';
@import 'common/_expandText';
@import 'common/_formTextInput';
@import 'common/_iFrame';
@import 'common/_loadScreen';
@import 'common/_searchBox';
@import 'common/_sendButton';
@import 'common/_starRating';
@import 'elyoos/_index';

body, html {
  background-color: $background-normal;
  height: 100%;
}

.viewport {
  padding-top: 56px;
  @media screen and (min-width: $gt-md){
    padding-top: 0;
  }
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.ely-gt-md-content {
  height: 100%;
  position: relative;
  .ely-sidnav-expanded {
    width: 250px;
    height: 100%;
  }
}

.ely-gt-md-content-container {
  padding-top: 64px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 250px;
  right: 0;

}

.content {
  height: 100%;
  position: relative;
}

#no-javascript {
  position: fixed;
  top: 100px;
  left: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #ff0000;
}

//tooltips
.ely-tooltip-error {
  .tooltip-inner {
    background-color: $tooltip-error-background;
    color: $tooltip-error;
    font-weight: bold;
    opacity: 1;
  }
}

.tooltip.ely-tooltip-error {
  .tooltip-arrow {
    border-right-color: $tooltip-error-background;
  }
}