#manage-profile-photo-container {
  height: 300px;
  float: left;
  margin: 0px 10px 20px 40px;
  padding: 10px 10px 50px 10px;
}

#profile-image-big {
  height: 250px;
}

#manage-profile {
  float: left;
  margin-top: 5px;
  margin-left: 20px;
  width: 500px;
}

#nav-content {
  width: 200px;
}

#recommend-header {
  position: fixed;
  top: 100px;
  left: 250px;
  width: 600px;
  height: 100px;
}

#comment-length {
  font-weight: normal;
}