.blog-actions {
  padding: 0 8px 8px 8px;
  .blog-action.md-fab.md-mini {
    height: 28px;
    width: 28px;
    line-height: 28px;
    min-height: 0;
    .action-icon {
      height: 16px;
      width: 16px;
      min-height: 16px;
      min-width: 16px;
    }
  }
  .upload-recommendation {
    top: 12px;
    left: 10px;
    margin-right: 28px;
  }
  .number-container {
    margin-left: 2px;
    margin-right: 8px;
    color: $primary-color;
    height: 40px;
    .number {
      line-height: 40px;
      font-size: 14px;
      font-weight: 500;
      vertical-align: middle;
    }
    .number-contact {
      line-height: 40px;
      font-size: 14px;
      font-weight: 400;
      color: $secondary-text;
      vertical-align: middle;
    }
  }
}


