#ely-pinwall-recommended-user {
  @include cardElement();
  width: 100%;
  margin: 8px 0;
  .title-container {
    .menu-container {
      position: relative;
      padding: 0;
      left: 3px;
    }
    .card-title {
      font-size: 14px;
      font-weight: 500;
      line-height: 41px;
      vertical-align: middle;
    }
    margin-bottom: 12px;
  }
  .recommended-user {
    margin-bottom: 16px;
    .profile-image {
      height: 40px;
      width: 40px;
      border-radius: 50%;
      cursor: pointer;
    }
    .user-name {
      margin-left: 12px;
      line-height: 40px;
      font-size: 16px;
      font-weight: 500;
      cursor: pointer;
    }
  }
  .recommended-user.last-user {
    margin-bottom: 8px;
  }
  #button-more-contact-recommendations {
    min-width: 30px;
  }
}


