<div id="loginform" layout="column" layout-align="center center">
    <md-card id="login-card">
        <md-card-header>
            <md-card-header-text class="md-headline">Login</md-card-header-text>
        </md-card-header>
        <md-card-content layout-padding>
            <form name="loginForm">
                <md-input-container class="input-element md-block">
                    <label>Email</label>
                    <input required="" type="email" name="username" id="id_username" aria-label="Email"
                           ng-model="ctrl.loginuser.email">

                    <div ng-messages="loginForm.username.$error">
                        <div ng-message="required">Dieses Feld wird benötigt!</div>
                        <div ng-message="email">Keine gültige E-Mail Adresse!</div>
                    </div>
                </md-input-container>
                <md-input-container class="input-element md-block">
                    <label>Passwort</label>
                    <input type="password" required="" name="password" id="id_password" aria-label="Passwort" md-autofocus
                           ng-model="ctrl.loginuser.password">

                    <div ng-messages="loginForm.password.$error">
                        <div ng-message="required">Dieses Feld wird benötigt!</div>
                    </div>
                </md-input-container>
            </form>
            <div class="error-message alert alert-danger" role="alert" ng-show="ctrl.error">
                {{ctrl.error}}
            </div>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
            <md-button id="login" class="md-primary" type="submit" ng-click="ctrl.login()"
                       ng-disabled="loginForm.$invalid || ctrl.loginRunning">
                Anmelden
            </md-button>
        </md-card-actions>
        <md-progress-linear ng-if="ctrl.loginRunning" md-mode="indeterminate"></md-progress-linear>
    </md-card>
</div>