<div id="tutorial-profile-image-step" ng-if="ctrl.step.selected">
    <div class="image-preview-container" ng-if="!ctrl.selectedImage">
        <div class="image-preview-inner-container" layout="row" layout-xs="column">
            <div class="image-handling-container" flex="none">
                <div class="image-container">
                    <img ng-src="{{ctrl.profileImage}}">
                </div>
                <div class="select-image-button-container" layout="row" layout-align="center center">
                    <div>
                        <md-button class="md-raised upload-image-button" ng-click="ctrl.showCropImage()">
                            Profilbild ändern
                        </md-button>
                    </div>
                </div>
            </div>
            <div class="image-description-container" flex-offset-gt-sm="5">
                Falls du nicht möchtest das jeder dein Profilbild sieht, kannst du dieses in Schritt 5 nur für deine Kontakte freigeben.
            </div>
        </div>
    </div>
    <div class="image-crop-container" ng-if="ctrl.selectedImage">
        <ely-upload-crop-image event-running="ctrl.uploadRunning" ratio="1" finish="ctrl.finish" upload-url="/api/user/settings/uploadProfileImage"
                               start-upload-image="ctrl.startUploadImage" event-has-image="ctrl.hasImage"></ely-upload-crop-image>
    </div>
</div>