#start-screen {
  #carousel {
    #carousel-technology {
      #carousel-technology-container {
        .technology-description {
          width: 500px;
          font-size: 18px;
          font-weight: 300;
          line-height: 28px;
          margin-bottom: 32px;
        }
      }
    }
  }
}
