#start-screen {
  #carousel {
    #carousel-meaning {
      height: 100%;
      .meaning-container {
        .meaning-description {
          width: 500px;
          margin-top: 16px;
          margin-bottom: 16px;
          padding: 8px 16px;
          border-radius: 4px;
          background-color: #e9f6fe;
          .meaning-title {

          }
          .meaning-text {
            font-size: 18px;
            font-weight: 300;
            line-height: 28px;
          }
        }
      }
    }
  }
}
