.reset-password {
  #container {
    width: 300px;
    .form-container {
      padding: 32px 16px 0 16px;
      .ely-input-container {
        width: 100%;
      }
    }
    .success-message {
      margin: 0 16px;
      padding: 8px;
      border-radius: 2px;
      color: $primary-white-text;
      background-color: $success;
    }
    .error-message {
      margin: 0 16px;
      padding: 8px;
      border-radius: 2px;
      color: $primary-white-text;
      background-color: $tooltip-error;
    }
  }
}




