#start-screen {
  position: relative;
  height: 100%;
  background-color: #fafafa;
  @media screen and (min-width: $gt-sm) {
    background-color: #FFFFFF;
  }

  .text-phase-description {
    cursor: pointer;
    color: $warning;
    font-size: 14px;
    text-align: center;
    margin-top: 16px;
    @media screen and (min-width: $gt-md) {
      margin-bottom: 32px;
    }
  }
  .text-phase-description:hover {
    text-decoration: underline;
  }
  .description {
    width: 180px;
    color: $secondary-text;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 16px;
  }
  .ely-logo {
    width: 150px;
    @media screen and (min-width: $gt-xs) {
      width: 176px;
    }
    @media screen and (min-width: $gt-lg) {
      width: 220px;
    }
  }
}




