<div ng-controller="HomePinwallElementBlogCtrl">
    <div class="description"> Blog
        <div class="options" ng-show="element.isAdmin">
            <!--<img src="app/img/settings.png">-->
            <md-menu>
                <md-button ng-click="$mdOpenMenu($event)" class="md-icon-button md-primary" aria-label="Settings">
                    <md-icon md-svg-icon="system:setting"></md-icon>
                </md-button>
                <md-menu-content>
                    <md-menu-item><md-button ng-click="removeBlog(element.blogId)">L&ouml;schen</md-button></md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
    </div>
    <img class="profile-image img-circle" ng-src="{{cacheUrl(element.profileUrl)}}">

    <div class="profile-description">
        <div class="profile-name">{{element.name}}</div>
        <div class="time">{{getFormattedDate(element.created, 'LLL')}}</div>
    </div>
    <div class="blog-text">
        <ely-expand-text class="blog-text-expand" description="{{element.text}}" ng-if="!element.hasOwnProperty('url')"
                         max-height="30em"></ely-expand-text>
        <div class="blog-text-image" ng-if="element.hasOwnProperty('url')" ng-click="openFullScreenDetail()">{{element.text}}</div>
    </div>
    <div class="blog-image-preview" ng-if="element.hasOwnProperty('url')" ng-click="openFullScreenDetail()">
        <img ng-src="{{cacheUrl(element.url)}}">
    </div>
</div>