<div ng-controller="HomePinwallElementContactingCtrl">
    <div class="pinwall-element-description"> Personen die Dich als Kontakt hinzugef&uuml;gt haben</div>
    <div class="pinwall-element-profile-messages" ng-repeat="contacting in element.contacting">
        <div ng-click="openDetail(contacting.userId)">
            <img class="pinwall-element-profile-image img-circle" ng-src="{{contacting.profileUrl}}">

            <div class="pinwall-element-profile-description">
                <div class="pinwall-element-profile-name">{{contacting.name}}</div>
                <div class="pinwall-element-info">{{getFormattedDate(contacting.contactAdded)}}</div>
            </div>
        </div>
    </div>
    <div class="pinwall-element-link" ng-show="element.numberOfContacting === 4" ui-sref="contact.contacting">
        1 weitere Person hat Dich als Kontakt hinzugef&uuml;gt
    </div>
    <div class="pinwall-element-link" ng-show="element.numberOfContacting > 4" ui-sref="contact.contacting">
        {{element.numberOfContacting - 3}} weitere Personen haben Dich als Kontakt hinzugef&uuml;gt
    </div>
</div>