<div ng-controller="HomePinwallElementNewMessageCtrl">
    <div class="description"> Du hast neue Nachrichten</div>
    <div class="profile-messages" ng-repeat="message in element.messages">
        <div ng-click="openThread(message.threadId)">
            <img class="profile-image img-circle" ng-src="{{cacheUrl(message.profileUrl)}}">

            <div class="profile-description">
                <div class="profile-name">{{message.name}}</div>
                <div class="info" ng-show="message.numberOfUnreadMessages === 1">{{message.numberOfUnreadMessages}} neue Nachricht
                </div>
                <div class="info" ng-show="message.numberOfUnreadMessages > 1">{{message.numberOfUnreadMessages}} neue Nachrichten
                </div>
            </div>
        </div>
    </div>
</div>