<div ng-controller="HomePinwallElementNewMessageCtrl">
    <div class="pinwall-element-description"> Du hast neue Nachrichten</div>
    <div class="pinwall-element-profile-messages" ng-repeat="message in element.messages">
        <div ng-click="openThread(message.threadId)">
            <img class="pinwall-element-profile-image img-circle" ng-src="{{message.profileUrl}}">

            <div class="pinwall-element-profile-description">
                <div class="pinwall-element-profile-name">{{message.name}}</div>
                <div class="pinwall-element-info" ng-show="message.numberOfUnreadMessages === 1">{{message.numberOfUnreadMessages}} neue Nachricht
                </div>
                <div class="pinwall-element-info" ng-show="message.numberOfUnreadMessages > 1">{{message.numberOfUnreadMessages}} neue Nachrichten
                </div>
            </div>
        </div>
    </div>
</div>