<div class="home-pinwall-element">
    <div ng-include="'app/modules/home/homePinwallElement/recommendation.html'" ng-if="element.type === 'Recommendation'"></div>
    <div ng-include="'app/modules/home/homePinwallElement/noRecommendation.html'" ng-if="element.type === 'NoRecommendations'"></div>
    <div ng-include="'app/modules/home/homePinwallElement/newMessages.html'" ng-if="element.type === 'NewMessages'"></div>
    <div ng-include="'app/modules/home/homePinwallElement/contacting.html'" ng-if="element.type === 'Contacting'"></div>
    <div ng-include="'app/modules/home/homePinwallElement/blog.html'" ng-if="element.type === 'Blog'"></div>
</div>