.ely-detail-answer-book-page {
  .book-title-image {
    float: left;
    width: 64px;
    height: 101px;
    margin-right: 8px;
  }
  .book-title {
    font-size: 16px;
    color: $primary-text;
    max-height: 57px;
    overflow-y: hidden;
    margin-bottom: 8px;
  }
  .book-description {
    font-size: 14px;
    color: $secondary-text;
  }
}


