<div layout="column" layout-align="none center" class="ely-setting-profile-image">
    <img ng-src="{{ctrl.profile.profileImage}}" class="profile-image" ng-click="ctrl.openImageView()">
    <div>
        <md-button class="md-primary" ng-click="ctrl.uploadProfileImage()">Bild ändern</md-button>
    </div>
    <div class="contact-statistic" ng-click="ctrl.goToContacting()">
        <md-icon md-svg-icon="tabs:people" class="icon ely-tab-icon"></md-icon>
        <md-icon md-svg-icon="tabs:arrowForward" class="icon ely-tab-icon"></md-icon>
        <md-icon md-svg-icon="tabs:person" class="icon ely-tab-icon"></md-icon>

        <span class="number-of-contacting">{{ctrl.profile.numberOfContacting}}</span>
        <md-tooltip md-direction="bottom">Haben Dich als Kontakt</md-tooltip>
    </div>
</div>
