#login-user {

  min-width: 320px;
  @media screen and (min-width: $gt-xs) {
    min-width: 450px;
  }
  @media screen and (min-width: $gt-sm) {
    min-width: 550px;
  }

  .login-user-content {
    width: 320px;
    margin: 0 auto;
    .password-reset-link {
      cursor: pointer;
      font-size: 12px;
      color: $primary-color;
      font-weight: 500;
    }
    .password-reset-link:hover {
      text-decoration: underline;
    }
  }

  .error-message {
    margin: 0 16px;
    padding: 4px;
    background: $tooltip-error;
    color: white;
    border-radius: 2px;
  }
  .error-message.ng-hide-add, .error-message.ng-hide-remove {
    transition: all linear 0.8s;
  }
  .error-message.ng-hide {
    line-height: 0;
    opacity: 0;
  }

  .show-verify-success {
    max-width: 320px;
    font-size: 14px;
    font-weight: 500;
    color: $success;
    margin-bottom: 12px;
  }
  .show-error {
    max-width: 320px;
    font-size: 14px;
    font-weight: 500;
    color: $tooltip-error;
    margin-bottom: 12px;
  }

  #loginbutton {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
    color: rgba(255,255,255,0.87);
    background-color: rgb(63,81,181);
    display: inline-block;
    position: relative;
    cursor: pointer;
    min-height: 36px;
    min-width: 88px;
    line-height: 36px;
    vertical-align: middle;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-grid-row-align: center;
    align-items: center;
    text-align: center;
    border-radius: 3px;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 0;
    padding: 0 6px;
    margin: 6px 8px;
    white-space: nowrap;
    font-weight: 500;
    font-size: 14px;
    font-style: inherit;
    font-variant: inherit;
    font-family: inherit;
    text-decoration: none;
    overflow: hidden;
    -webkit-transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);
    transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);
  }

  #loginbutton[disabled] {
    background-color: rgba(0,0,0,0.12);
    color: rgba(0,0,0,0.38);
    cursor: default;
    text-transform: none !important;

  }
}




