#ely-news {
  min-height: 100%;
  background-color: #FFFFFF;
  #ely-news-container {
    min-height: 100%;
    max-width: 500px;
    @media screen and (min-width: $gt-sm) {
      max-width: 600px;
    }
    @media screen and (min-width: $gt-xmd) {
      max-width: 700px;
    }
    margin: 0 auto;
    padding: 32px 16px 0 16px;
    @media screen and (max-width: $gt-sm) {
      padding-top: 18px;
    }
    .news-element {
      margin-bottom: 48px;
      .news-created {
        font-size: 14px;
        font-weight: 400;
        color: $secondary-text;
      }
      .news-title {
        font-weight: 500;
        color: $primary-color;
        margin-top: 6px;
      }
      .news-text {
        font-size: 18px;
        font-weight: 300;
        line-height: 26px;
      }
    }
  }
}
