#reset-password-container {
  height: 100%;
  .reset-password-open {
    cursor: pointer;
    margin: 24px auto 0 auto;
    overflow: hidden;
    height: 42px;
    line-height: 42px;
    text-align: center;
    width: 250px;
    color: white;
    outline: none;
    border: 2px solid #D81B60;
    border-radius: 21px;
    font-size: 20px;
    font-weight: 500;
    background-color: #D81B60;
  }
}

#password-reset-dialog {

  .success-message {
    max-width: 200px;
    margin: 0 auto;
    font-size: 14px;
    font-weight: 500;
    padding: 8px;
    color: $success;
  }
  .error-message {
    max-width: 200px;
    margin: 0 auto;
    font-size: 14px;
    font-weight: 500;
    padding: 8px;
    color: $tooltip-error;
  }
}




