<md-card class="ely-contact-preview-square" layout="column" layout-align="none center">
    <img ng-src="{{ctrl.user.profileUrl}}" class="md-card-image user-preview-img" ng-click="ctrl.goToDetail()">
    <div class="user-name" ng-click="ctrl.goToDetail()">{{ctrl.user.name}}</div>
    <div class="contact-type" ng-if="!ctrl.user.blocked && !ctrl.user.numberOfSameContacts > 0 && !ctrl.user.invitedUser">
        {{ctrl.user.type}}
    </div>
    <div class="number-of-same-contacts number-of-same-contacts-{{ctrl.user.userId}}"
         ng-if="!ctrl.user.blocked && ctrl.user.numberOfSameContacts === 1"
         ng-click="ctrl.showSameContact($event, ctrl.user.userId, ctrl.user.name)">
        Ein Kontakt kennt diese Person
    </div>
    <div class="number-of-same-contacts number-of-same-contacts-{{ctrl.user.userId}}"
         ng-if="!ctrl.user.blocked && ctrl.user.numberOfSameContacts > 1"
         ng-click="ctrl.showSameContact($event, ctrl.user.userId, ctrl.user.name)">
        <span class="number">{{ctrl.user.numberOfSameContacts}}</span> Kontakte kennen diese Person
    </div>
    <div class="number-of-same-contacts" ng-if="!ctrl.user.blocked && ctrl.user.invitedUser">
        Einladung per E-Mail
    </div>
    <div class="user-blocked" ng-if="ctrl.user.blocked">BLOCKIERT</div>
    <div flex></div>
    <div class="user-commands">
        <md-button class="md-icon-button" aria-label="Add to contact" ng-if="!ctrl.user.type && !ctrl.user.blocked && !ctrl.isUser"
                   ng-click="ctrl.addContact()">
            <md-icon md-svg-icon="cardActions:addContact"></md-icon>
        </md-button>
        <md-button class="md-icon-button" aria-label="Remove contact"
                   ng-if="ctrl.user.type && !ctrl.user.blocked" ng-click="ctrl.deleteContact()">
            <md-icon md-svg-icon="cardActions:removeContact"></md-icon>
        </md-button>
        <md-button class="md-warn" ng-if="ctrl.user.blocked" ng-click="ctrl.unblockContact()">aufheben</md-button>
    </div>
</md-card>
