@mixin cardRating() {
  .rating-container {
    margin-right: 16px;
    .enabled {
      color: $primary-color;
    }
    .arrow {
      height: 24px;
      min-height: 24px;
      padding-top: 0;
      padding-bottom: 0;
    }
    .arrow-down {
      padding-left: 0;
      padding-right: 0;
      margin-top: 5px;
    }
    .number-of-rating {
      line-height: 16px;
      font-size: 16px;
      font-weight: 500;
    }
  }
}