<md-dialog id="reason-create" aria-label="Create Reason" ng-cloak layout="row">
    <div layout="column" class="reason-create-container">
        <div class="header-title md-title">Erstelle eine neuen Grund</div>
        <form name="createReasonForm" class="content-form">
            <div class="content">
                <md-input-container class="ely-input-container">
                    <label>Titel</label>
                <textarea name="titleReason" ng-model="titleReason" required md-maxlength="160"
                          ng-disabled="ctrl.uploadStarted"></textarea>
                    <div ng-messages="createReasonForm.titleReason.$error" ng-show="createReasonForm.titleReason.$dirty">
                        <div ng-message="required">Wird benötigt!</div>
                        <div ng-message="md-maxlength">Text ist zu lang</div>
                    </div>
                </md-input-container>
                <md-input-container class="ely-input-container">
                    <label>Beschreibung</label>
                <textarea name="descriptionReason" ng-model="descriptionReason" required md-maxlength="1000"
                          ng-disabled="ctrl.uploadStarted"></textarea>
                    <div ng-messages="createReasonForm.descriptionReason.$error" ng-show="createReasonForm.descriptionReason.$dirty">
                        <div ng-message="required">Wird benötigt!</div>
                        <div ng-message="md-maxlength">Text ist zu lang</div>
                    </div>
                </md-input-container>
                <div class="actions" layout="row">

                </div>
                <div class="actions-2" layout="row" layout-align="end center">
                    <md-button aria-label="abort" ng-click="ctrl.cancel()" ng-disabled="ctrl.uploadStarted">Abbrechen</md-button>
                    <md-button class="md-raised md-primary upload-button" aria-label="post"
                               ng-disabled="!ctrl.sendReasonAllowed || ctrl.uploadStarted"
                               ng-click="ctrl.uploadReason()">
                        Erstellen
                    </md-button>
                </div>
            </div>
        </form>
        <md-progress-linear ng-if="ctrl.blogUploadStarted" md-mode="indeterminate"></md-progress-linear>
    </div>
</md-dialog>