#detail-user-pinwall {
  height: 100%;
  #user-pinwall-commands-container {
    @media screen and (max-width: $gt-xs) {
      background-color: $background-light;
    }
    #pinwall-commands {
      max-width: 340px;
      margin: 0 auto;

      @media screen and (min-width: 1500px) {
        max-width: 450px;
      }
      @media screen and (min-width: 1750px) {
        max-width: 920px;
      }
    }
  }
  .pinwall-container {
    overflow-y: auto;
  }
  .pinwall-no-element {
    margin: 0 auto;
  }
}
