<div id="ely-create-right-sidenav">
    <div class="md-title title">Was möchtest Du Erstellen?</div>
    <md-divider></md-divider>
    <div class="create-action" layout="row" ng-click="ctrl.createExplanation()">
        <div class="image" flex="none">
            <md-icon md-svg-icon="nav:add"></md-icon>
        </div>
        <div class="text">Erklärung</div>
    </div>
    <div class="create-action" layout="row" ng-click="ctrl.createSolution()">
        <div class="image" flex="none">
            <md-icon md-svg-icon="nav:add"></md-icon>
        </div>
        <div class="text">Lösungsvorschlag</div>
    </div>
</div>
