<div id="ely-add-recommendation" layout="column">
    <form name="ctrl.recommendationForm" layout="column" flex="grow">
        <div class="md-title title">Bewertung für <span class="title-modify">{{ctrl.title}}</span></div>
        <div class="description-container" layout="column" layout-align="none end" flex="grow">
            <md-input-container class="input-container">
                <label>Beschreibung</label>
                <input name="description" ng-model="ctrl.description" md-maxlength="1000"
                       ng-disabled="ctrl.uploadRunning"/>
                <div ng-messages="ctrl.recommendationForm.description.$error">
                    <div ng-message="md-maxlength">Text ist zu lang</div>
                </div>
            </md-input-container>
            <ely-star-rating class="star-rating" is-readonly="ctrl.uploadRunning" number-of-selected-stars="ctrl.numberOfSelectedStars" show-xs
                             hide-gt-xs></ely-star-rating>
        </div>
        <div layout="row" layout-align="start center" class="action-commands">
            <ely-star-rating class="star-rating-commands" is-readonly="ctrl.uploadRunning" number-of-selected-stars="ctrl.numberOfSelectedStars"
                             hide-xs show-gt-xs></ely-star-rating>
            <span flex></span>
            <md-button ng-click="ctrl.abort()">Abbrechen</md-button>
            <md-button class="md-primary" ng-disabled="ctrl.uploadRunning || ctrl.recommendationForm.$invalid || ctrl.numberOfSelectedStars === -1"
                       ng-click="ctrl.uploadRecommendation()">Bewerten
            </md-button>
        </div>
    </form>
    <md-progress-linear ng-if="ctrl.uploadRunning" md-mode="indeterminate"></md-progress-linear>
</div>
