<div id="ely-add-recommendation">
    <form name="ctrl.recommendationForm">
        <div class="md-title title"><span class="title-modify">{{ctrl.titleRecommendation}}</span></div>
        <div class="description-container">
            <md-input-container class="input-container">
                <label>Kommentar</label>
                <textarea name="description" ng-model="ctrl.description" md-maxlength="1000"
                       ng-disabled="ctrl.uploadRunning" max-rows="5"></textarea>
                <div ng-messages="ctrl.recommendationForm.description.$error">
                    <div ng-message="md-maxlength">Text ist zu lang</div>
                </div>
            </md-input-container>
        </div>
        <div layout="row" layout-align="start center" class="action-commands">
            <span flex></span>
            <md-button ng-click="ctrl.abort()" ng-hide="ctrl.abortDisabled && !ctrl.error">Abbrechen</md-button>
            <md-button class="md-primary md-raised"
                       ng-disabled="ctrl.uploadRunning || ctrl.recommendationForm.$invalid"
                       ng-click="ctrl.uploadRecommendation()">Empfehlen
            </md-button>
        </div>
    </form>
    <md-progress-linear ng-if="ctrl.uploadRunning" md-mode="indeterminate"></md-progress-linear>
</div>
