.modal {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.ely-dialog-title {
  font-size: 18px;
  margin-bottom: 16px;
  .highlighted {
    color: $primary-color;
  }
}

.modal-sm {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 300px;
}

#modal-dialog-set-privacy {
  width: 350px;
  .privacy-selection {
    margin-bottom: 22px;
    margin-right: 10px;
    max-width: 120px;
  }
  .privacy-description {
    display: inline-block;
    max-width: 180px;
    word-wrap: normal;
  }
}
