.ely-button {
  text-transform: none;
  margin-left: 0;
}

.ely-input-container {
  margin: 9px 0;
}

.pinwall-gab {
  height: 60px;
  width: 100%;
}

*:focus {
  outline: none;
}

#beta-message {
  margin: 8px;
  padding: 8px;
  border-radius: 4px;
  background-color: $background-info;
  cursor: pointer;
  color: white;
  .title {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 6px;
  }
  .description {
    font-size: 14px;
  }
}
