<div id="content-page-contact">
    <div id="centerCol">
        <div id="inner-centerCol">
            <div ng-repeat="contact in users.contacts">
                <ely-contact-preview contact="contact" statistic="users.statistic"
                                     privacy-settings="users.privacySettings"
                                     number-of-contacts="users.numberOfContacts"></ely-contact-preview>
            </div>
            <div ng-show="!isUserSearch && users.contactsForPagination > itemsPerPage"
                 class="pagination">
                <ely-pagination-next-previous total-items="users.contactsForPagination"
                                              items-per-page="{{itemsPerPage}}"
                                              get-pagination-set="paginationChanged"></ely-pagination-next-previous>
            </div>
            <div ng-show="users.numberOfContacts === 0 && users.contacts.length === 0">
                <div class="no-contact-description">
                    <h3>Du hast noch keine Kontakte</h3>
                    {{help.content}}
                </div>
            </div>
        </div>
        <div id="search-box-container">
            <ely-search-box description="Suche nach Personen..." query="query"
                            get-query-suggestion="getUserSuggestion"
                            get-query="getUser"></ely-search-box>
        </div>
    </div>
    <div id="my-contact-statistic">
        <ul id="contact-counter" class="list-group" ng-controller="DescriptionCounterCtrl">
            <div>
                <li class="list-group-item"
                    ng-class="{'group-selected': allContactsSelected}">
                    <span class="badge">{{users.numberOfContacts}}</span>

                    <div class="contact-description-count" ng-click="selectedAllContacts()">
                        Alle
                        Kontakte
                    </div>
                </li>
            </div>
            <div ng-repeat="statistic in users.statistic">
                <li class="list-group-item"
                    ng-class="{'group-selected': statistic.selected}">
                    <span class="badge">{{statistic.count}}</span>

                    <div class="contact-description-count"
                         ng-click="selectedStatisticType(statistic)">{{statistic.type}}
                    </div>
                </li>
            </div>
        </ul>
        <div id="privacy-link">
            <a ui-sref="settings.privacy">Privatsphären Einstellungen verwalten...</a>
        </div>
        <div id="help-my-contact" data-animation="am-fade-and-scale" data-placement="center" data-backdrop="false"
             bs-modal="help">
            <img src="/app/img/help.png">
        </div>
    </div>
</div>