.ely-form-text-input {
  .ely-input-error-wrapper {
    position: relative;
    .ely-input-image-error {
      position: absolute;
      right: 0px;
      top: 0px;
      margin-right: -45px;
      margin-top: -34px;

      img {
        cursor: pointer;
        width: 34px;
        height: 34px;

        padding: 2px;

        -webkit-transition: all linear 0.5s;
        transition: all linear 0.5s;

        .ng-hide {
          opacity: 0;
        }
      }
    }
  }
}