.ely-topics-color {
  display: inline-block;
  cursor: pointer;
  .topic-circle {
    display: inline-block;
    vertical-align: middle;
    padding: 0 4px;
    height: 16px;
    line-height: 16px;
    border-radius: 6px;
    margin-right: 4px;
    margin-bottom: 4px;
    color: $primary-white-text !important;
    font-size: 12px;
    font-weight: 500;
  }
  .topic-circle.text-expanded {
    height: 19px;
    line-height: 19px;
    border-radius: 4px;
  }
  .health {
    background-color: #039BE5;
  }
  .environmental {
    background-color: #43A047;
  }
  .spiritual {
    background-color: #BA68C8;
  }
  .personalDevelopment {
    background-color: #7986CB;
  }
  .socialDevelopment {
    background-color: #009688;
  }
  .education {
    background-color: #A1887F;
  }
  .politics {
    background-color: #F06292;
  }
  .economy {
    background-color: #827717;
  }
}
