.ely-topics-vertical-color {
  cursor: pointer;
  padding: 10px 0;
  height: 70px;
  width: 16px;
  margin-right: 4px;
  overflow: hidden;
  .topic-vertical-box {
    display: inline-block;
    width: 10px !important;
    height: 10px !important;
    margin: 4px 3px 0 3px;
  }
  .health {
    background-color: #039BE5;
  }
  .environmental {
    background-color: #43A047;
  }
  .spiritual {
    background-color: #BA68C8;
  }
  .personalDevelopment {
    background-color: #7986CB;
  }
  .socialDevelopment {
    background-color: #009688;
  }
  .education {
    background-color: #A1887F;
  }
  .politics {
    background-color: #F06292;
  }
  .economy {
    background-color: #827717;
  }
}

.ely-topics-vertical-color.two-columns {
  width: 32px;
}
