<md-card id="ely-page-comments"
         ng-if="(ctrl.recommendation.summary.contact.numberOfRatings > 0 || ctrl.recommendation.summary.all.numberOfRatings > 0) &&
         !(ctrl.recommendation.summary.all.numberOfRatings === 1 && ctrl.recommendation.user)">
    <md-card-content>
        <md-tabs md-border-bottom md-dynamic-height md-center-tabs class="overview-rating-tabs">
            <md-tab label="Alle">
                <md-content class="md-padding">
                    <ely-page-detail-user-comments-detail only-contact="false"></ely-page-detail-user-comments-detail>
                </md-content>
            </md-tab>
            <md-tab ng-if="ctrl.recommendation.summary.contact.numberOfRatings > 0 &&
            ctrl.recommendation.summary.contact.numberOfRatings !== ctrl.recommendation.summary.all.numberOfRatings">
                <md-tab-label>
                    <span class="tab-me">Ich</span>
                    <md-icon md-svg-icon="tabs:arrowForward" class="icon ely-tab-icon"></md-icon>
                    <md-icon md-svg-icon="tabs:person" class="icon ely-tab-icon"></md-icon>
                </md-tab-label>
                <md-tab-body>
                    <md-content class="md-padding">
                        <ely-page-detail-user-comments-detail only-contact="true"></ely-page-detail-user-comments-detail>
                    </md-content>
                </md-tab-body>
            </md-tab>
        </md-tabs>
    </md-card-content>
</md-card>
