<md-dialog id="manage-book-page" aria-label="Manage Book Page" class="manage-page"
           ng-class="{'create-book-page-preview-image': ctrl.selectImage}">
    <form name="ctrl.manageBookPageForm" ng-show="!ctrl.selectImage" ng-cloak>
        <div class="md-title ely-dialog-title" >Buch <span class="highlighted">{{ctrl.data.title}}</span> bearbeiten</div>
        <md-dialog-content>
            <div class="md-dialog-content ely-dialog-content">
                <ely-manage-book is-edit-mode="true" data="ctrl.data" event-show-image="ctrl.showImage"
                                 ng-if="!ctrl.selectImage"
                                 event-data-changed="ctrl.dataChanged"></ely-manage-book>
            </div>
        </md-dialog-content>
        <md-dialog-actions>
            <md-button ng-click="ctrl.cancel()" target="_blank" md-autofocus>Abbrechen</md-button>
            <md-button class="md-primary md-raised" ng-click="ctrl.modifyBook()" ng-if="ctrl.isEditMode"
                       ng-disabled="ctrl.uploadStarted || !ctrl.isValidToChange">
                Ändern
            </md-button>
        </md-dialog-actions>
    </form>
    <md-progress-linear ng-if="ctrl.uploadStarted && !ctrl.selectImage" md-mode="indeterminate"></md-progress-linear>

    <ely-preview-picture ratio="0.62745" cancel="ctrl.cancelPreviewImage" finish="ctrl.setPreviewImage"
                         ng-if="ctrl.selectImage"></ely-preview-picture>
</md-dialog>