<div id="select-user-step" ng-if="ctrl.step.selected" ely-handling-column-flex>
    <div id="select-user-step-container" ng-hide="ctrl.showAddEmails || ctrl.showBasicAuth" ely-handling-column-flex>
        <div id="select-header" ng-if="ctrl.contacts.addresses.length > 0" flex="none">
            <div id="filter-email-container" hide-xs>
                <input name="emailAddresses" id="filter-email" aria-label="filter email" ng-model="ctrl.filterEmailAddresses.email"
                       ng-change="ctrl.filterChanged()"
                       placeholder="E-Mail-Adressen filtern" ng-disabled="ctrl.importStarted || ctrl.contacts.addresses.length < 5"/>
            </div>
            <div id="select-info">
                <span id="select-number" ng-if="ctrl.selectedAddresses.length > 0">{{ctrl.selectedAddresses.length}}</span>
                <span ng-if="ctrl.selectedAddresses.length === 0">
                    Keine E-Mail von <span class="total-number">{{ctrl.contacts.addresses.length}}</span>
                </span>
                <span ng-if="ctrl.selectedAddresses.length === 1">
                    E-Mail von <span class="total-number">{{ctrl.contacts.addresses.length}}</span>
                </span>
                <span ng-if="ctrl.selectedAddresses.length > 1">
                    E-Mails von <span class="total-number">{{ctrl.contacts.addresses.length}}</span>
                </span> ausgewählt
            </div>
            <div layout="row" layout-xs="column" id="select-check-box-container">
                <div id="only-selected">
                    <md-checkbox id="only-selected-checkbox" aria-label="Show only selected Email" ng-model="ctrl.showOnlySelected"
                                 ng-true-value="true" ng-false-value="false" ng-change="ctrl.onlySelectedChanged()"
                                 ng-disabled="ctrl.importStarted || ctrl.selectedAddresses.length === 0 ||
                                              ctrl.selectedAddresses.length === ctrl.contacts.addresses.length">
                        Nur ausgewählte E-Mails anzeigen
                    </md-checkbox>
                </div>
                <div class="select-all-element" ng-if="!ctrl.filterInUse">
                    <md-checkbox class="selected-all-checkbox" aria-label="Toggle Email" ng-model="ctrl.isSelectedAll"
                                 ng-change="ctrl.toggleAllEmailSelections()"
                                 ng-disabled="ctrl.importStarted || ctrl.contacts.addresses.length <= 1">
                        <span ng-if="!ctrl.maxSelected">Alle E-Mail-Addressen auswählen</span>
                        <span ng-if="ctrl.maxSelected">Es dürfen maximal 1000 E-Mail Adressen ausgewählt werden.</span>
                    </md-checkbox>
                </div>
                <div class="select-all-element" ng-if="ctrl.filterInUse">
                    <md-checkbox class="selected-all-checkbox" aria-label="Toggle filtered email" ng-model="ctrl.isSelectedAllFiltered"
                                 ng-change="ctrl.toggleAllSelectedEmailSelections()"
                                 ng-disabled="ctrl.importStarted || ctrl.filteredEmailResult.length === 0">
                        <span ng-if="!ctrl.maxSelected">Alle angezeigten E-Mail-Addressen auswählen</span>
                        <span ng-if="ctrl.maxSelected">Es dürfen maximal 1000 E-Mail Adressen ausgewählt werden.</span>
                    </md-checkbox>
                </div>
            </div>
        </div>
        <div ely-handling-flex id="select-user-step-content">
            <div id="contact-import-source-container">
                <div class="title" hide show-gt-xs ng-hide="ctrl.contacts.addresses.length > 0">Hier kannst du deine Freunde und Bekannte einladen um auf Elyoos ein Benutzerkonto
                    zu erstellen. An die von dir ausgewählten Adressen
                    wird eine Einladung per E-Mail versendet. Damit du nicht mühsam jede einzelne E-Mail-Adresse eingeben musst, kannst du wenn möglich deine Adressen auch von den
                    untenstehenden Quellen importieren. Dein Passwort und Benutzerkonto wird dabei von Elyoos nicht gespeichert. Diese werden lediglich für den Import verwendet.
                </div>
                <div layout="row" layout-wrap id="import-container" ng-class="{'import-disabled': ctrl.importStarted}">
                    <ely-import-gmail import-started="ctrl.sourceImportStarted" import-finish="ctrl.sourceImportFinish" flex="50" flex-gt-sm="33"
                                      contacts="ctrl.contacts" ng-hide="ctrl.successfullyImportedServices.includes('gmail')"
                                      deactivate="ctrl.importStarted"></ely-import-gmail>
                    <ely-import-outlook import-started="ctrl.sourceImportStarted" import-finish="ctrl.sourceImportFinish" flex="50" flex-gt-sm="33"
                                        contacts="ctrl.contacts" ng-hide="ctrl.successfullyImportedServices.includes('outlook')"
                                        deactivate="ctrl.importStarted"></ely-import-outlook>
                    <ely-import-yahoo import-started="ctrl.sourceImportStarted" import-finish="ctrl.sourceImportFinish" flex="50" flex-gt-sm="33"
                                      contacts="ctrl.contacts" ng-hide="ctrl.successfullyImportedServices.includes('yahoo')"
                                      deactivate="ctrl.importStarted"></ely-import-yahoo>
                    <ely-import-gmx open-basic-auth="ctrl.openBasicAuthGmx" flex="50" flex-gt-sm="33"
                                    ng-hide="ctrl.successfullyImportedServices.includes('GMX')"></ely-import-gmx>
                    <ely-import-web-de open-basic-auth="ctrl.openBasicAuthWebDe" flex="50" flex-gt-sm="33"
                                       ng-hide="ctrl.successfullyImportedServices.includes('WEB.DE')"></ely-import-web-de>
                    <div flex="100" flex-gt-xs="50" flex-gt-sm="33">
                        <ely-icon-button id="open-custom-emails" icon="navFAB:add" label="E-Mail hinzufügen" show-label-always="true"
                                         ng-click="ctrl.openAddCustomEmails()" ely-disabled="ctrl.importStarted"></ely-icon-button>
                    </div>
                </div>
            </div>
            <div id="contact-list-container" ng-show="ctrl.contacts.addresses.length > 0">
                <div ng-repeat="contact in (ctrl.filteredEmailResult = (ctrl.contactsToShow | orderBy:'email' | filter:ctrl.filterEmailAddresses))"
                     class="contact-list-element">
                    <div>
                        <md-checkbox ng-checked="ctrl.emailExists(contact)"
                                     ng-click="ctrl.toggleEmail(contact)"
                                     aria-label="Select Email {{contact.email}}" ng-disabled="ctrl.importStarted">
                            {{contact.email}} <br/>
                            <span class="name">{{contact.name}}
                                <span ng-if="contact.sourceImportDescription">(Importiert von {{contact.sourceImportDescription}})</span>
                            </span>
                        </md-checkbox>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ely-import-add-email-address ng-if="ctrl.showAddEmails" added-emails="ctrl.addEmails" cancel="ctrl.closeAddCustomEmails">
    </ely-import-add-email-address>
    <ely-import-basic-auth ng-if="ctrl.showBasicAuth" service-name="{{ctrl.basicAuthName}}" service="ctrl.basicAuthService"
                           finish="ctrl.closeBasicAuth" contacts="ctrl.contacts"></ely-import-basic-auth>
</div>
