<div id="loginform">
    <div class="card-element">
        <div class="description">Login</div>
        <form name="loginForm">
            <md-input-container class="input-element">
                <label>Email</label>
                <input required="" type="email" name="username" id="id_username" aria-label="Email" autofocus="autofocus"
                       ng-model="loginuser.email">

                <div ng-messages="loginForm.username.$error">
                    <div ng-message="required">Dieses Feld wird ben&ouml;tigt!</div>
                    <div ng-message="email">Keine gültige E-Mail Adresse!</div>
                </div>
            </md-input-container>
            <md-input-container class="input-element">
                <label>Passwort</label>
                <input type="password" required="" name="password" id="id_password" aria-label="Passwort" autofocus="autofocus"
                       ng-model="loginuser.password">

                <div ng-messages="loginForm.password.$error">
                    <div ng-message="required">Dieses Feld wird ben&ouml;tigt!</div>
                </div>
            </md-input-container>
            <md-button id="login" type="submit" class="md-primary md-raised ely-button" ng-click="login()"
                       ng-disabled="loginForm.$invalid">
                Anmelden
            </md-button>
        </form>
    </div>
    <div id="error-message" class="alert alert-danger" role="alert" ng-if="error">
        {{error}}
    </div>
</div>