#ely-feedback-detail {
  height: 100%;
  #ely-feedback-detail2 {
    height: 100%;
    overflow-y: scroll;
    background-color: $background-light;
    #ely-feedback-detail-container {
      max-width: 900px;
      padding: 32px 16px 16px 16px;
      margin: 0 auto;
      height: 100%;
      #ely-feedback-detail-inner-container {
        border-bottom: solid 1px $divider;
        padding: 8px 0 0 0;
        margin-bottom: 8px;
        .ely-feedback-status-container {
          margin-bottom: 14px;
          .status {
            color: white;
            font-size: 16px;
            font-weight: 500;
            padding: 2px 8px;
            border-radius: 8px;
          }
          .status-open {
            background-color: $success;
          }
          .status-closed {
            background-color: #a94442;
          }
          .feedback-type {
            font-size: 14px;
            color: $primary-text;
            margin-left: 8px;
          }
        }
        .ely-feedback-detail-title {
          font-size: 29px;
          color: $primary-text;
          font-weight: 300;
        }
        .ely-feedback-subheading {
          margin-top: 4px;
          font-size: 14px;
          color: $secondary-text;
          .name {
            color: $primary-text;
            font-weight: 500;
          }
        }
        .ely-feedback-info-container {
          margin-top: 8px;
          .load-feedback-recommendation {
            top: 11px;
          }
          .feedback-recommend.md-fab.md-mini {
            height: 28px;
            width: 28px;
            line-height: 28px;
            min-height: 0;
            margin-left: 0;
            .action-icon {
              height: 16px;
              width: 16px;
              min-height: 16px;
              min-width: 16px;
            }
          }
          .number-container {
            margin-left: 2px;
            margin-right: 8px;
            color: $primary-text;
            height: 40px;
            .number {
              line-height: 40px;
              font-size: 14px;
              vertical-align: middle;
            }
          }
          .chat-icon {
            margin-left: 18px;
            margin-right: 6px;
          }
        }
        .ely-feedback-detail-description {
          white-space: pre-wrap;
          margin-top: 12px;
          font-size: 16px;
          color: $secondary-text;
        }
        .ely-feedback-commands {
          margin-top: 12px;
          .create-comment {
            margin-left: 0;
          }
          .comments-order {
            min-width: 100px;
          }
        }
      }
      .ely-feedback-detail-comments {
        .main-title {
          font-size: 16px;
          font-weight: 500;
          color: $primary-text;
          padding-bottom: 8px;
          border-bottom: solid 1px $divider;
        }
      }
    }
  }
}
