#ely-feedback-group-overview {
  height: 100%;
  #ely-feedback-group-overview2 {
    height: 100%;
    overflow-y: scroll;
    background-color: $background-light;
    #ely-feedback-group-overview-container {
      max-width: 900px;
      padding: 32px 16px 16px 16px;
      margin: 0 auto;
      #ely-feedback-group-inner-container {
        .ely-feedback-overview-title {
          font-size: 29px;
          color: $primary-text;
          font-weight: 300;
        }
        .ely-feedback-overview-description {
          margin-top: 12px;
          font-size: 16px;
          color: $secondary-text;
        }
        .create-feedback {
          margin-left: 0;
          margin-top: 12px;
        }
        .ely-feedback-content {
          margin-top: 8px;
          border-top: 1px solid $divider;
          .feedback-tab-content {
            padding-top: 18px;
          }
        }
      }
    }
  }
}
