<div layout="row" ng-clock>
    <div class="image-container" flex="none">
        <img ng-src="{{ctrl.recommendation.url}}" ng-class="{'book': ctrl.recommendation.label === 'Book'}" ng-click="ctrl.navToDetail()">
        <md-icon md-svg-icon="cardActions:link" class="recommendation-type-image-icon"
                 ng-if="ctrl.recommendation.label === 'Link' && !ctrl.recommendation.url"></md-icon>
    </div>
    <div class="info-container" flex>
        <div class="recommendation-preview-title" ng-click="ctrl.navToDetail()">{{ctrl.recommendation.title}}</div>
        <div class="recommendation-preview-writer-name" ng-if="ctrl.recommendation.label === 'Blog'"> von {{ctrl.recommendation.writerName}}</div>
        <div class="recommendation-type">
            <md-icon md-svg-icon="cardActions:book" class="recommendation-type-icon" ng-if="ctrl.recommendation.label === 'Book'">
                <md-tooltip md-direction="left">Buch</md-tooltip>
            </md-icon>
            <md-icon md-svg-icon="cardActions:video" class="recommendation-type-icon" ng-if="ctrl.recommendation.label === 'Youtube'">
                <md-tooltip md-direction="left">Youtube</md-tooltip>
            </md-icon>
            <md-icon md-svg-icon="cardActions:link" class="recommendation-type-icon" ng-if="ctrl.recommendation.label === 'Link'">
                <md-tooltip md-direction="left">Link</md-tooltip>
            </md-icon>
            <md-icon md-svg-icon="cardActions:blog" class="recommendation-type-icon" ng-if="ctrl.recommendation.label === 'Blog'">
                <md-tooltip md-direction="left">Blog</md-tooltip>
            </md-icon>
        </div>
        <div class="number-of-recommendations">
            <md-icon md-svg-icon="cardActions:thumbUp" class="thumb-up-icon"></md-icon>
            <span class="number">{{ctrl.recommendation.numberOfRecommendations}}</span>
        </div>
    </div>
    <ely-topics-vertical-color topics="ctrl.recommendation.topic" flex="none"></ely-topics-vertical-color>
</div>
