<div id="overview-group-setting-content">
    <ely-settings-privacy-group-profile-visible id="profile-visible" description="Sehen dein Profil."
                                                profile-visible-changed="ctrl.profileVisibleChanged" group-names="ctrl.groupNamesProfileVisible"
                                                settings="settings"></ely-settings-privacy-group-profile-visible>
    <ely-settings-privacy-group description="Sehen dein Profilbild." property-name="imageVisible" group-names="ctrl.groupNames"
                                settings="settings"></ely-settings-privacy-group>
    <ely-settings-privacy-group description="Sehen wer dich als Kontakt hat und deine eigenen Kontakte."
                                property-name="contactsVisible" group-names="ctrl.groupNames"
                                settings="settings"></ely-settings-privacy-group>
    <ely-settings-privacy-group description="Sehen deine Empfehlungen und Beiträge." property-name="pinwallVisible" group-names="ctrl.groupNames"
                                settings="settings"></ely-settings-privacy-group>
    <md-button class="md-raised upload-privacy-button" ng-click="ctrl.upload()" ng-if="!ctrl.instantUpdate"
               ng-disabled="ctrl.uploadDisabled || ctrl.uploadStarted">Einstellung ändern
    </md-button>
</div>