<md-card id="ely-user-detail-contact-preview">
    <div class="header" layout="row" layout-align="none end">
        <div class="title" ng-click="ctrl.openDetail()">

            <md-icon md-svg-icon="tabs:people" class="icon ely-tab-icon"></md-icon>
            <md-icon md-svg-icon="tabs:arrowForward" class="icon ely-tab-icon"></md-icon>
            <md-icon md-svg-icon="tabs:person" class="icon ely-tab-icon"></md-icon>

            <span class="number-contact" ng-if="ctrl.detail.numberOfContacting > 0">{{ctrl.detail.numberOfContacting}}</span>
            <md-tooltip md-direction="top">Haben {{ctrl.detail.user.forename}} als Kontakt</md-tooltip>
        </div>
    </div>
    <div class="preview-container">
        <div class="preview-image" ng-repeat="contacting in ctrl.detail.contacting" ng-click="ctrl.openUserDetail(contacting.userId)">
            <img ng-src="{{contacting.profileUrl}}" class="image">
            <div class="name">{{contacting.name}}</div>
        </div>
    </div>
    <div ng-if="ctrl.showClose && ctrl.isShowClose">
        <md-button class="md-raised md-primary close-overview-button" ng-click="ctrl.closeDetail()">Übersicht Schliessen</md-button>
    </div>
</md-card>
