#manage-link-page {
  width: 100%;
}
#manage-link-page-input {
  .preview-image {
    width: 150px;
    img {
      width: 100%;
    }
  }
}

.create-link-page-preview-image {
  max-width: 600px;
  height: 90%;
}