#manage-book-page {
  .ely-dialog-content {
    .preview-image {
      width: 150px;
      img {
        width: 100%;
      }
    }
  }
}

.create-book-page-preview-image {
  max-width: 600px;
  height: 90%;
}