#manage-generic-page {
  width: 100%;
}
#manage-generic-page-input {
  #title-image-container {
    width: 150px;
    img {
      width: 100%;
    }
    .image-change-button {

    }
  }
}

.create-generic-page-preview-image {
  max-width: 600px;
  height: 90%;
}