#blog-manage {

  .preview-image {
    max-width: 150px;
    max-height: 300px;
  }
  #select-privacy {
    margin-bottom: 16px;
    .privacy-button {
      margin-right: 8px;
      max-width: 130px;
      @media screen and (max-width: $gt-sm) {
        margin-bottom: 8px;
      }
    }
    .divider {
      height: 44px;
      @media screen and (max-width: $gt-sm) {
        height: 22px;
      }
    }
    .privacy-item {
      line-height: 44px;
      height: 44px;
      font-size: 16px;
      color: $primary-color;
      font-weight: 500;
      @media screen and (max-width: $gt-sm) {
        line-height: 22px;
        height: 22px;
      }
      .privacy-item-separator {
        margin-right: 8px;
      }
    }
  }
  .visibility-container {
    .header {
      height: 40px;
      padding: 16px 16px 8px 16px;
      .title {
        line-height: 40px;
        font-size: 16px;
        font-weight: 500;
      }
      .done {
        float: right;
        margin-top: 3px;
      }
    }
    .public {
      padding: 16px;
      .box {
        margin-top: 5px;
        margin-bottom: 5px;
      }
    }
    .section-types {
      padding: 16px;
      .section-types-public {
        color: $disabled-text;
      }
      .type {
        margin: 10px 0;
      }
    }
  }
}