<div id="content-settings-password">
    <div id="centerCol">
        <div id="inner-centerCol">
            <div id="manage-profile">
                <form class="form-horizontal" name="profileForm" role="form" novalidate>
                    <div class="form-group">
                        <label for="inputPasswordActual" class="col-sm-4 control-label">Aktuelles
                            Passwort
                        </label>

                        <div class="col-sm-8">
                            <input name="inputPasswordActual" ng-model="password.actualPassword"
                                   class="form-control"
                                   type="password"
                                   id="inputPasswordActual"
                                   required ng-maxlength="55" ng-minlength="1">
                            <div class="alert-input alert-danger"
                                 ng-show="profileForm.inputPasswordActual.$error.minlength">
                                <span>Das Passwort muss mindestens 1 Zeichen lang sein</span>
                            </div>
                            <div class="alert-input alert-danger"
                                 ng-show="profileForm.inputPasswordActual.$error.maxlength">
                                <span>Das Passwort darf nicht länger als 55 Zeichen sein</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword" class="col-sm-4 control-label">Neu
                        </label>

                        <div class="col-sm-8">
                            <input name="inputPassword" ng-model="password.newPassword"
                                   class="form-control"
                                   type="password"
                                   id="inputPassword"
                                   required ng-maxlength="55" ng-pattern="/^(?=.*[A-Z])(?=.*\d)/">
                            <div class="alert-input alert-danger"
                                 ng-show="profileForm.inputPassword.$error.pattern">
                                <span>Das Passwort muss mindestens eine Zahl und einen Grossbuchstaben beinhalten</span>
                            </div>
                            <div class="alert-input alert-danger"
                                 ng-show="profileForm.inputPassword.$error.minlength">
                                <span>Das Passwort muss mindestens 8 Zeichen lang sein</span>
                            </div>
                            <div class="alert-input alert-danger"
                                 ng-show="profileForm.inputPassword.$error.maxlength">
                                <span>Das Passwort darf nicht länger als 55 Zeichen sein</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label  id="label-password-confirm" for="inputPasswordConfirm" class="col-sm-4 control-label">Neues
                            Passwort erneut eingeben
                        </label>

                        <div class="col-sm-8">
                            <input name="inputPasswordConfirm"
                                   ng-model="password.newPasswordConfirm"
                                   class="form-control"
                                   type="password"
                                   id="inputPasswordConfirm"
                                   required ng-maxlength="55">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-4 col-sm-8">
                            <div>
                                <button id="submit-change-profile" type="submit"
                                        class="btn btn-default"
                                        ng-click="submitNewPassword()">
                                    Passwort ändern
                                </button>
                            </div>
                            <div class="alert-input alert-danger"
                                 ng-show="profileForm.$invalid && submitFailed">
                                <span>Bitte fülle alle Werte korrekt aus</span>
                            </div>
                            <div class="alert-input alert-danger"
                                 ng-show="newPasswordNotEqual">
                                <span>Das neue Passwort stimmt nicht überein</span>
                            </div>
                            <div class="alert-input alert-danger"
                                 ng-show="profileForm.$invalid == false && submitFailedToServer">
                                <span>Fehler auf dem Server. Die Werte konnten nicht gespeichert werden</span>
                            </div>
                            <div class="alert-input alert-success"
                                 ng-show="successUserDataChange && profileForm.$pristine">
                                <span>Passwort erfolgreich geändert</span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>