<div class="popover" ng-controller="DeletePrivacyCtrl">
    <div class="arrow"></div>
    <div class="popover-content">
        <form name="popoverForm">
            <div class="popover-element-description">
                Kontakte <b>{{privacy.type}}</b> werden beim löschen der Privatsphären Einstellung verschoben nach:
            </div>
            <button type="button" class="btn btn-default popover-element-right" ng-model="otherPrivacySettingType"
                    ng-options="privacyType for privacyType in otherPrivacySettingTypes" bs-select>
                Action <span class="caret"></span>
            </button>
            <div class="popover-element-divider"></div>
            <div class="popover-element-right">
                <button type="submit" class="btn btn-default"
                        ng-click="deletePrivacySetting()">Löschen
                </button>
            </div>
            <div class="popover-element">
                <button type="submit" class="btn btn-default"
                        ng-click="$hide()">Abbrechen
                </button>
            </div>
        </form>
    </div>
</div>