<div id="content-settings">
    <div id="centerCol">
        <div id="inner-centerCol">
            <div id="manage-profile-photo-container">
                <div>
                    <img class="img-rounded img-responsive"
                         ng-src="{{userDataToChange.profileImage}}"/>
                </div>
                <button id="change-profile-image" type="submit" class="btn btn-default">Foto
                    ändern..
                </button>
            </div>
            <div id="manage-profile">
                <form class="form-horizontal" name="profileForm" role="form" novalidate>
                    <div class="form-group">
                        <label for="inputEmail" class="col-sm-4 control-label">E-Mail</label>

                        <div class="col-sm-8">
                            <input name="inputEmail" ng-model="userDataToChange.email"
                                   class="form-control"
                                   id="inputEmail"
                                   ng-disabled="true">
                        </div>
                    </div>
                    <div class="form-group"
                         ng-class="{'has-error': profileForm.inputForename.$invalid && (visitedForename || submitFailed)}">
                        <label for="inputForenameId" class="col-sm-4 control-label">Vorname
                        </label>

                        <div class="col-sm-8">
                            <input name="inputForename" ng-model="userDataToChange.forename"
                                   class="form-control"
                                   id="inputForenameId" ng-blur="visitedForename = true"
                                   placeholder="Vorname" required ng-maxlength="30">

                            <div class="alert-input alert-danger"
                                 ng-show="profileForm.inputForename.$error.required && (visitedForename || submitFailed)">
                                <span>Es wird ein Vorname benötigt</span>
                            </div>
                            <div class="alert-input alert-danger"
                                 ng-show="profileForm.inputForename.$error.maxlength && (visitedForename || submitFailed)">
                                <span>Der Vorname darf nicht länger als 30 Zeichen sein</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group"
                         ng-class="{'has-error': profileForm.inputSurename.$invalid && (visitedSurename || submitFailed)}">
                        <label for="inputSurename" class="col-sm-4 control-label">Nachname</label>

                        <div class="col-sm-8">
                            <input name="inputSurename" ng-model="userDataToChange.surname"
                                   class="form-control"
                                   id="inputSurename" ng-blur="visitedSurename = true"
                                   placeholder="Nachname" required ng-maxlength="50">

                            <div class="alert-input alert-danger"
                                 ng-show="profileForm.inputSurename.$error.required && (visitedSurename || submitFailed)">
                                <span>Es wird ein Nachname benötigt</span>
                            </div>
                            <div class="alert-input alert-danger"
                                 ng-show="profileForm.inputSurename.$error.maxlength && (visitedSurename || submitFailed)">
                                <span>Der Nachname darf nicht länger als 50 Zeichen sein</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group"
                         ng-class="{'has-error': profileForm.inputBirthday.$invalid && (visitedBirthday || submitFailed)}">
                        <label for="inputBirthday" class="col-sm-4 control-label">Geburtstag</label>

                        <div class="col-sm-8">
                            <input name="inputBirthday" ng-model="userDataToChange.birthday"
                                   class="form-control"
                                   id="inputBirthday" ng-blur="visitedBirthday = true"
                                   placeholder="z.B 26.03.1982" required/>

                            <div class="alert-input alert-danger"
                                 ng-show="profileForm.inputBirthday.$error.required && (visitedBirthday || submitFailed)">
                                <span>Bitte geben Sie ihren Geburtstag an</span>
                            </div>
                            <div class="alert-input alert-danger"
                                 ng-show="profileForm.inputBirthday.$error.date && (visitedBirthday || submitFailed)">
                                <span>Geben sie ein gültigen Geburtstag ein (z.B. 1982-03-26)</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputStreet" class="col-sm-4 control-label">Strasse
                            <em>(optional)</em>
                        </label>

                        <div class="col-sm-8">
                            <input name="inputStreet" ng-model="userDataToChange.street"
                                   class="form-control" id="inputStreet"
                                   placeholder="Strasse" ng-blur="visitedStreet= true"
                                   ng-maxlength="80">

                            <div class="alert-input alert-danger"
                                 ng-show="profileForm.inputStreet.$error.maxlength && (visitedStreet || submitFailed)">
                                <span>Die Strasse darf nicht mehr als 80 Zeichen haben</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPlace" class="col-sm-4 control-label">Ort
                            <em>(optional)</em>
                        </label>

                        <div class="col-sm-8">
                            <input name="inputPlace" ng-model="userDataToChange.place"
                                   class="form-control"
                                   id="inputPlace"
                                   placeholder="Ort" ng-blur="visitedPlace= true" ng-maxlength="80">

                            <div class="alert-input alert-danger"
                                 ng-show="profileForm.inputPlace.$error.maxlength && (visitedPlace || submitFailed)">
                                <span>Der Ort darf nicht mehr als 80 Zeichen haben</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group"
                         ng-class="{'has-error': profileForm.inputCountry.$invalid && (visitedCountry || submitFailed)}">
                        <label for="inputCountryId" class="col-sm-4 control-label">Land</label>

                        <div class="col-sm-8">
                            <input name="inputCountry" class="form-control" id="inputCountryId"
                                   ng-model="userDataToChange.country"
                                   placeholder="Land" ng-blur="visitedCountry = true" required
                                   ng-maxlength="50">

                            <div class="alert-input alert-danger"
                                 ng-show="profileForm.inputCountry.$error.required && (visitedCountry || submitFailed)">
                                <span>Bitte geben Sie das Land an wo sie wohnen</span>
                            </div>
                            <div class="alert-input alert-danger"
                                 ng-show="profileForm.inputCountry.$error.maxlength && (visitedCountry || submitFailed)">
                                <span>Der Name des Landes darf nicht länger als 50 Zeichen sein</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputGender" class="col-sm-4 control-label">Geschlecht</label>

                        <div class="col-sm-8">
                            <div class="btn-group" id="inputGender">
                                <label class="btn btn-default"
                                       ng-click="userDataToChange.female = true; profileForm.$setDirty()"
                                       ng-class="{'active': userDataToChange.female == true}">Frau</label>
                                <label class="btn btn-default"
                                       ng-click="userDataToChange.female = false; profileForm.$setDirty()"
                                       ng-class="{'active': userDataToChange.female == false}">Mann</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-4 col-sm-8">
                            <div>
                                <button id="submit-change-profile" type="submit"
                                        class="btn btn-default"
                                        ng-click="submitProfileData()">
                                    Profil ändern
                                </button>
                            </div>
                            <div class="alert-input alert-danger"
                                 ng-show="profileForm.$invalid && submitFailed">
                                <span>Bitte füllen Sie alle Werte korrekt aus</span>
                            </div>
                            <div class="alert-input alert-danger"
                                 ng-show="profileForm.$invalid == false && submitFailedToServer">
                                <span>Fehler auf dem Server. Die Werte konnten nicht gespeichert werden</span>
                            </div>
                            <div class="alert-input alert-success"
                                 ng-show="successUserDataChange && profileForm.$pristine">
                                <span>Profil erfolgreich geändert</span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="leftColNav" ng-include="'app/modules/settings/leftNavCol.html'"></div>
</div>