<div id="content-settings-profile">
    <div id="centerCol">
        <div id="inner-centerCol">
            <div id="manage-profile-photo-container">
                <div>
                    <img class="img-rounded img-responsive"
                         ng-src="{{userDataToChange.profileImage}}"/>
                </div>
                <button id="change-profile-image" type="button" class="btn btn-default"
                        data-animation="am-fade-and-scale" data-placement="center"
                        data-backdrop="static"
                        data-template="app/modules/util/file/uploadFile.html" bs-modal="modal">
                    Foto ändern..
                </button>
            </div>
            <div id="manage-profile">
                <form class="form-horizontal" name="profileForm" role="form" novalidate>
                    <div class="form-group">
                        <label for="inputEmail" class="col-sm-4 control-label">E-Mail</label>

                        <div class="col-sm-8">
                            <input name="inputEmail" ng-model="userDataToChange.email"
                                   class="form-control"
                                   id="inputEmail"
                                   ng-disabled="true">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-5">
                            <a ui-sref="settings.profile.changePassword">
                                <button id="change-profile-password" type="button"
                                        class="btn btn-default">
                                    Passwort ändern..
                                </button>
                            </a>
                        </div>
                    </div>
                    <ely-form-text-input label="Vorname" input-name="inputForename" input-placeholder="Vorname"
                                         profile-form="profileForm" submit-model="userDataToChange.forename"
                                         max-length="30" required="true"></ely-form-text-input>

                    <ely-form-text-input label="Nachname" input-name="inputSurename" input-placeholder="Nachname"
                                         profile-form="profileForm" submit-model="userDataToChange.surname"
                                         max-length="50" required="true"></ely-form-text-input>

                    <ely-form-text-input label="Geburtstag" input-name="inputBirthday" input-placeholder="z.B {{getDateExample()}}"
                                         profile-form="profileForm" submit-model="userDataToChange.birthday"
                                         required="true"
                                         custom-error-description="Gib einen gültigen Geburtstag ein (z.B. {{getDateExample()}})">

                    </ely-form-text-input>
                    <ely-form-text-input label="Strasse" input-name="inputStreet" input-placeholder="Strasse"
                                         profile-form="profileForm" submit-model="userDataToChange.street"
                                         max-length="80"></ely-form-text-input>
                    <ely-form-text-input label="Ort" input-name="inputPlace" input-placeholder="Ort"
                                         profile-form="profileForm" submit-model="userDataToChange.place"
                                         max-length="80"></ely-form-text-input>
                    <div class="form-group"
                         ng-class="{'has-error': profileForm.inputCountry.$invalid && (visitedCountry || submitFailed)}">
                        <label for="inputCountryId" class="col-sm-4 control-label">Land</label>

                        <div class="col-sm-8">
                            <button type="button" class="btn btn-default" ng-model="selectedCountryCode"
                                    name="inputCountry"
                                    id="inputCountryId"
                                    bs-options="countryCode.country as countryCode.country for countryCode in countryCodes"
                                    data-placeholder="Land"
                                    bs-select>
                                Action <span class="caret"></span>
                            </button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputGender" class="col-sm-4 control-label">Geschlecht</label>

                        <div class="col-sm-8">
                            <div class="btn-group" id="inputGender">
                                <label class="btn btn-default"
                                       ng-click="userDataToChange.female = true; profileForm.$setDirty()"
                                       ng-class="{'active': userDataToChange.female === true}">Frau</label>
                                <label class="btn btn-default"
                                       ng-click="userDataToChange.female = false; profileForm.$setDirty()"
                                       ng-class="{'active': userDataToChange.female === false}">Mann</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-4 col-sm-8">
                            <div>
                                <ely-send-button button-description="Profil ändern" send-data="submitProfileData"
                                                 error-placement="right" model="userDataToChange" ></ely-send-button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>