#inner-leftCol {
  form > * {
    margin: 5px 10px 15px 10px;
  }
}

#newPage-photo-container {
  width: 320px;
  height: 100%;

  .page-picture {
    margin: 5px 10px 15px 10px;
    width: 300px;
    height: 300px;
  }
  button {
    float: right;
    margin-right: 10px;
  }
}

#newPage-data-container {
  width: 500px;
  margin-left: 20px;
}