.contact-preview {
  float: left;
  width: 350px;
  height: 100px;
  border: 1px solid #CCC !important;
  margin: 5px 10px 5px 10px;
  -webkit-user-select: none;

  .contact-preview-content {
    overflow: hidden;
    float: left;
    height: 100px;
    width: 200px;
    word-wrap: break-word;

    .contact-preview-name {
      padding: 5px 0px 0px 5px;
      font-size: 14px;
      font-weight: bold;
      height: 70px;
      width: 100%;
      color: #3b5998;

      .description {
        font-size: 12px;
        color: #9197a3;
        font-weight: normal;

        &:hover {
          text-decoration: underline;
          cursor: pointer;
        }
      }

      .blocked-description {
        font-size: 12px;
        color: red;
        font-weight: bold;
      }
    }

    .command-icons {
      height: 30px;
      width: 100%;

      img {
        margin-left: 5px;
        padding: 1px;
        width: 25px;
        height: 25px;
        border: none;
      }
      .left {
        float: left;
      }
      .right {
        float: right;
      }
    }
  }

  .select {
    float: left;
    height: 100px;

    .s1 {
      height: 100px;
      display: inline-block;
      vertical-align: middle;
    }
    .s2 {
      display: inline-block;
      vertical-align: middle;
      margin-top: 5px;
      margin-left: 15px;
    }
  }

  .command-icons {
    float: left;
    height: 25px;
    width: 190px;
  }

  img {
    float: left;
    position: relative;
    display: block;
    width: 100px;
    height: 100px;
    border: 1px solid rgba(0, 0, 0, .1);
    margin: -1px 10px 0px -1px;
  }

  .popover {
    .popover-content {
      padding: 9px 14px;
    }
  }
}

.pagination {
  position: static;
  width: 100%;

  nav {
    padding-left: 200px;
  }
}

#inner-leftCol {

  background: white;

  #contact-counter {
    .list-group-item {

      .setting-icon {
        display: inline-block;
        float: right;
        cursor: pointer;

        img {
          border: none;
          display: inline-block;
          height: 19px;
          width: 19px;
          margin-left: 5px;
        }
      }

      .contact-description-count {
        width: 155px;
        overflow: hidden;
      }
    }
  }
}

