#select-user-step {
  height: 100%;
  #select-user-step-container {
    height: 100%;
    #select-header {
      padding: 0 24px;
      border-bottom: 1px solid $divider;
      margin-bottom: 6px;
      height: 90px;

      @media screen and (min-width: $gt-xs) {
        height: 100px;
      }
      #select-info {
        font-size: 12px;
        margin-top: 3px;
        margin-right: 18px;
        margin-bottom: 10px;
        @media screen and (min-width: $gt-xs) {
          font-size: 14px;
        }
        #select-number {
          font-weight: 500;
          color: $primary-color;
          margin-bottom: 12px;
        }
        .total-number {
          font-weight: 500;
        }
      }
      #select-check-box-container {
        #only-selected {
          font-size: 14px;
          #only-selected-checkbox {
            margin-bottom: 12px;
          }
        }
        .select-all-element {
          margin-left: 0;
          font-size: 14px;

          @media screen and (min-width: $gt-xs) {
            margin-left: 18px;
          }
          .selected-all-checkbox {
            margin-bottom: 12px;
          }
        }
      }
      #filter-email-container {
        margin-bottom: 12px;
        #filter-email {
          height: 32px;
          width: 100%;
          box-sizing: border-box;
          border: 2px solid #ccc;
          border-radius: 4px;
          font-size: 16px;
          background-color: white;
          padding: 0 12px;
        }
      }
    }
    #select-user-step-content {
      padding: 0 24px;
      overflow-y: auto;
      #contact-import-source-container {
        margin-top: 12px;
        @media screen and (max-width: $gt-xs) {
          max-height: 95%;
          margin-bottom: 12px;
        }
        @media screen and (min-width: $gt-xs) {
          min-width: 430px;
        }
        @media screen and (min-width: $gt-sm) {
          min-width: 700px;
        }
        .title {
          max-width: 800px;
          font-size: 16px;
          font-weight: 500;
          color: $secondary-text;
          margin-bottom: 24px;
        }
        #import-container {
          margin-bottom: 12px;
        }
        #import-container.import-disabled {
          .ely-import-container {
            .source-container {
              .image-container {
                img {
                  opacity: 0.4;
                  filter: alpha(opacity=40); /* msie */
                }
              }
              .source-description {
                color: $disabled-text;
              }
            }
          }

        }
        #open-custom-emails {
          margin-left: 0;
          .md-fab {
            margin-left: 0;
          }
        }
      }
      #contact-list-container {
        .contact-list-element {
          margin-bottom: 8px;
          .name {
            font-size: 12px;
            color: $secondary-text;
          }
        }
      }
    }
  }
}
