<form name="ctrl.overviewGroupForm" ng-cloak layout="column">
    <div class="md-title ely-dialog-title">Privatsphären Einstellungen</div>
    <div layout="column">
        <md-dialog-content id="overview-group-setting-content" ng-cloak layout="column">
            <div class="md-dialog-content ely-dialog-content" flex="auto">
                <div class="privacy-description">Hier kannst du festlegen, wer was von deinem Profil sehen darf.</div>
                <ely-settings-privacy-group-profile-visible id="profile-visible" description="Sehen dein Profil."
                                                            profile-visible-changed="ctrl.profileVisibleChanged" group-names="ctrl.groupNamesProfileVisible"
                                            settings="settings"></ely-settings-privacy-group-profile-visible>
                <ely-settings-privacy-group description="Sehen dein Profilbild." property-name="imageVisible" group-names="ctrl.groupNames"
                                            settings="settings"></ely-settings-privacy-group>
                <ely-settings-privacy-group description="Sehen wer dich als Kontakt hat und deine eigenen Kontakte."
                                            property-name="contactsVisible" group-names="ctrl.groupNames"
                                            settings="settings"></ely-settings-privacy-group>
                <ely-settings-privacy-group description="Sehen deine Empfehlungen und Beiträge." property-name="pinwallVisible" group-names="ctrl.groupNames"
                                            settings="settings"></ely-settings-privacy-group>
            </div>
        </md-dialog-content>
        <md-dialog-actions>
            <md-button ng-click="ctrl.cancel()" target="_blank" md-autofocus>Abbrechen</md-button>
            <md-button class="md-raised md-primary" ng-click="ctrl.upload()"
                       ng-disabled="ctrl.uploadDisabled || ctrl.uploadStarted">Ändern
            </md-button>
        </md-dialog-actions>
    </div>
    <span flex></span>
    <md-progress-linear ng-if="ctrl.uploadStarted" md-mode="indeterminate"></md-progress-linear>
</form>