<md-dialog id="ely-manage-feedback-status-dialog">
    <div id="ely-manage-feedback-status">
        <form name="ctrl.feedbackStatusForm">
            <div class="title" ng-show="ctrl.action === 'close'">Diskussion schliessen</div>
            <div class="title" ng-show="ctrl.action === 'reopen'">Diskussion wieder öffnen</div>
            <div class="description-container">
                <md-input-container class="input-container">
                    <label>Grund</label>
                    <textarea name="reasonText" ng-model="ctrl.reasonText" md-maxlength="500"
                              ng-disabled="ctrl.uploadRunning" max-rows="5" required></textarea>
                    <div ng-messages="ctrl.feedbackStatusForm.reasonText.$error">
                        <div ng-message="required">Wird benötigt!</div>
                        <div ng-message="md-maxlength">Text ist zu lang</div>
                    </div>
                </md-input-container>
            </div>
            <div layout="row" layout-align="start center" class="action-commands">
                <span flex></span>
                <md-button ng-click="ctrl.abort()">Abbrechen</md-button>
                <md-button class="md-primary md-raised"
                           ng-disabled="ctrl.uploadRunning || ctrl.feedbackStatusForm.$invalid"
                           ng-click="ctrl.changeStatus()">
                    <span ng-show="ctrl.action === 'reopen'">Öffnen</span>
                    <span ng-show="ctrl.action === 'close'">Schliessen</span>
                </md-button>
            </div>
        </form>
        <md-progress-linear ng-if="ctrl.uploadRunning" md-mode="indeterminate"></md-progress-linear>
    </div>
</md-dialog>
