<div id="ely-generic-page-main-detail" ng-cloak>
    <div class="title-container">
        <div class="md-title title">{{ctrl.pageDetail.page.title}}</div>
        <div class="sub-title" ng-show="ctrl.pageDetail.page.website" ng-click="ctrl.openLink(ctrl.pageDetail.page.website)">
            {{ctrl.pageDetail.page.website}}
        </div>
    </div>
    <div class="image-description-container">
        <img class="image" ng-src="{{ctrl.pageDetail.page.imagePreview}}" ng-click="ctrl.openImageView()">
        <div class="description">{{ctrl.pageDetail.page.description}}</div>
    </div>
</div>
