<md-card class="card-recommendation-desktop">
    <div class="header" layout="row" ng-if="ctrl.element.order !== 'popular'">
        <div ng-click="ctrl.openUserDetail()" flex="none" class="user-image">
            <img ng-src="{{ctrl.element.profileUrl}}"/>
        </div>
        <div>
            <div class="md-title recommendation-title">
                <ely-pinwall-recommendation-blog-title element="ctrl.element"
                                                               ng-if="ctrl.element.label === 'Blog'"></ely-pinwall-recommendation-blog-title>
                <ely-pinwall-recommendation-book-title element="ctrl.element" order="ctrl.order"
                                                               ng-if="ctrl.element.label === 'Book'"></ely-pinwall-recommendation-book-title>
                <ely-pinwall-recommendation-youtube-title element="ctrl.element"
                                                                  ng-if="ctrl.element.label === 'Youtube'"></ely-pinwall-recommendation-youtube-title>
                <ely-pinwall-recommendation-link-title element="ctrl.element"
                                                               ng-if="ctrl.element.label === 'Link'"></ely-pinwall-recommendation-link-title>
                <ely-pinwall-recommendation-generic-title element="ctrl.element"
                                                       ng-if="ctrl.element.label === 'Generic'"></ely-pinwall-recommendation-generic-title>
            </div>
            <div>
                <div class="md-subhead recommendation-created">{{ctrl.getFormattedDate(ctrl.element.created, 'LLL')}}</div>
                <ely-topics-color topics="ctrl.element.topic"></ely-topics-color>
            </div>
        </div>
    </div>
    <div class="header" ng-if="ctrl.element.order === 'popular'">
        <div class="popular-recommendation-title" ui-sref="page.detail({label: ctrl.element.label, pageId: ctrl.element.pageId})">
            {{ctrl.element.title}}</div>
        <div>
            <div class="md-subhead recommendation-created">
                {{ctrl.getRecommendationType(ctrl.element.label)}}</div>
            <ely-topics-color topics="ctrl.element.topic"></ely-topics-color>
        </div>
    </div>
    <ely-pinwall-recommendation-blog element="ctrl.element" request-running="ctrl.requestRunning"
                                             ng-if="ctrl.element.label === 'Blog'"></ely-pinwall-recommendation-blog>
    <ely-pinwall-recommendation-book element="ctrl.element" request-running="ctrl.requestRunning"
                                             ng-if="ctrl.element.label === 'Book'"></ely-pinwall-recommendation-book>
    <ely-pinwall-recommendation-youtube element="ctrl.element" request-running="ctrl.requestRunning"
                                                ng-if="ctrl.element.label === 'Youtube'"></ely-pinwall-recommendation-youtube>
    <ely-pinwall-recommendation-link element="ctrl.element" ng-if="ctrl.element.label === 'Link'"
                                             request-running="ctrl.requestRunning"></ely-pinwall-recommendation-link>
    <ely-pinwall-recommendation-generic element="ctrl.element" ng-if="ctrl.element.label === 'Generic'"
                                     request-running="ctrl.requestRunning"></ely-pinwall-recommendation-generic>
    <md-progress-linear ng-if="ctrl.requestRunning" md-mode="indeterminate"></md-progress-linear>
</md-card>
