<md-dialog class="add-question-answer" aria-label="Add Question Answer" ng-cloak>
    <form name="ctrl.addQuestionAnswerForm" ng-if="!ctrl.selectPage">
        <div class="md-title ely-dialog-title" ng-if="ctrl.isExplanation">Erklärung hinzufügen</div>
        <div class="md-title ely-dialog-title" ng-if="ctrl.isSolution">Lösungsvorschalg hinzufügen</div>
        <md-dialog-content>
            <div class="md-dialog-content ely-dialog-content">
                <ely-existing-page-overview ng-if="ctrl.pageToReference" pages="[ctrl.pageToReference]"></ely-existing-page-overview>
                <div layout="row" layout-align="center center">
                    <div flex="nogrow">
                        <md-button class="md-primary" ng-disabled="ctrl.uploadStarted" ng-click="ctrl.selectPage = true"
                                   aria-label="Add Page">
                            <span ng-if="!ctrl.pageToReference.pageId">Seite hinzufügen</span>
                            <span ng-if="ctrl.pageToReference.pageId">Seite ändern</span>
                        </md-button>
                    </div>
                </div>
                <md-input-container class="input-container" ng-if="!ctrl.pageToReference.pageId">
                    <label>Titel</label>
                        <textarea name="title" ng-model="ctrl.title" required md-maxlength="160" aria-label="Answer Title"
                                  ng-disabled="ctrl.uploadStarted"></textarea>
                    <div ng-messages="ctrl.addQuestionAnswerForm.title.$error">
                        <div ng-message="required">Wird benötigt!</div>
                        <div ng-message="md-maxlength">Text ist zu lang</div>
                    </div>
                </md-input-container>
                <md-input-container class="input-container">
                    <label>Beschreibung</label>
                        <textarea name="description" ng-model="ctrl.description" required md-maxlength="3000" aria-label="Answer Description"
                                  ng-disabled="ctrl.uploadStarted"></textarea>
                    <div ng-messages="ctrl.addQuestionAnswerForm.description.$error">
                        <div ng-message="required">Wird benötigt!</div>
                        <div ng-message="md-maxlength">Text ist zu lang</div>
                    </div>
                </md-input-container>
            </div>
        </md-dialog-content>
        <md-dialog-actions>
            <md-button ng-click="ctrl.cancel()">Abbrechen</md-button>
            <md-button class="md-primary md-raised" ng-click="ctrl.createAnswer()"
                       ng-disabled="ctrl.uploadStarted || ctrl.addQuestionAnswerForm.$invalid">Erstellen
            </md-button>
        </md-dialog-actions>
    </form>
    <ely-forum-add-page ng-if="ctrl.selectPage" cancel="ctrl.cancelSelectPage" finish="ctrl.finishSelectPage"></ely-forum-add-page>

    <md-progress-linear ng-if="ctrl.uploadStarted" md-mode="indeterminate"></md-progress-linear>
</md-dialog>