<md-content id="ely-home">
    <ely-load-screen ng-if="ctrl.loadRunning"></ely-load-screen>
    <div class="pinwall-container" ely-infinite-scroll="ctrl.nextPinwallInfo" ng-if="!ctrl.loadRunning && !ctrl.showSearch">
        <div class="pinwall-inner-container">
            <ely-pinwall flex="none" contacting="ctrl.home.contacting" recommended-user="ctrl.home.recommendedUser" pinwall="ctrl.home.pinwall"
                         gap="true" no-pinwall="ctrl.noPinwall" reload-pinwall="ctrl.reloadPinwall"></ely-pinwall>
        </div>
    </div>
    <ely-home-search-result search-result="ctrl.searchResult" ng-if="!ctrl.loadRunning && ctrl.showSearch"></ely-home-search-result>
    <md-button class="md-fab create-blog-fab" aria-label="Create blog" ng-click="ctrl.openSideNavRight()" ng-if="!ctrl.loadRunning">
        <md-icon md-svg-icon="navFAB:add"></md-icon>
    </md-button>
</md-content>
