<md-content id="ely-home" layout="column">
    <div id="pinwall-commands" layout="row" flex="none" ng-if="!ctrl.loadRunning && !ctrl.showSearch">
        <div layout="row" layout-align="start center" id="create-content-fab">
            <div>
                <md-button class="md-fab md-mini create-fab" aria-label="Create Content" ng-click="ctrl.openCreatePage()">
                    <md-icon md-svg-icon="navFAB:add"></md-icon>
                </md-button>
            </div>
            <div id="create-fab-text" ng-click="ctrl.openCreatePage()">Neuer Beitrag</div>
        </div>
    </div>
    <div class="pinwall-container" ely-infinite-scroll="ctrl.nextPinwallInfo" ng-if="!ctrl.loadRunning && !ctrl.showSearch" flex>
        <div class="pinwall-inner-container">
            <ely-pinwall flex="none" contacting="ctrl.home.contacting" recommended-user="ctrl.home.recommendedUser" pinwall="ctrl.home.pinwall"
                         gap="true" show-info="true" no-pinwall="ctrl.noPinwall" reload-pinwall="ctrl.reloadPinwall"
                         add-remove-pinwall-element-service="ctrl.addRemovePinwallElementService"></ely-pinwall>
        </div>
    </div>
    <ely-home-search-result search-result="ctrl.searchResult" ng-if="!ctrl.loadRunning && ctrl.showSearch"></ely-home-search-result>
    <md-button class="md-fab filter-fab" aria-label="Filter pinwall" ng-click="ctrl.openSideNavRight()" ng-if="!ctrl.loadRunning">
        <md-icon md-svg-icon="navFAB:filter"></md-icon>
    </md-button>
    <md-sidenav flex="none" class="md-sidenav-right md-whiteframe-z2 ely-sidenav-right" md-component-id="rightFilterRecommendationNav"
                md-is-locked-open="false">
        <ely-blog-recommendation-side-nav-filter></ely-blog-recommendation-side-nav-filter>
    </md-sidenav>
</md-content>
