.ely-detail-answer-link-page {
  .link-title {
    font-size: 16px;
    color: $primary-text;
    max-height: 57px;
    overflow-y: hidden;
    margin-bottom: 4px;
  }
  .link-preview-image {
    cursor: pointer;
  }
  .link-hostname {
    cursor: pointer;
    font-size: 14px;
    margin-bottom: 4px;
  }
  .link-hostname:hover {
    text-decoration: underline;
  }
  .link-description {
    margin-top: 4px;
    font-size: 14px;
    color: $secondary-text;
  }
}


