.desktop-setting-profile {
  height: 100%;
  #user-pinwall-commands-container {
    #pinwall-commands {
      max-width: 500px;
      margin: 0 auto;
    }
  }
  .ely-sidenav-right {
    height: 100%;
    width: 220px;
    .ely-setting-profile-sidenav {
      padding: 12px;
      margin-top: 12px;
      .profile-sidnav-title {
        font-size: 14px;
        margin-bottom: 12px;
        font-weight: 700;
        color: $secondary-text;
      }
      .ely-nav-button {
        width: 100%;
        margin-bottom: 12px;
        .ely-button-icon {
          margin-right: 12px;
        }
      }
    }
  }
}
