#ely-setting-profile {
  height: 100%;
  background-color: $background-normal;

  .container {
    height: 100%;
    overflow-y: auto;
    .container-inner {
      @media screen and (min-width: $gt-md) {
        padding-top: 16px;
      }
    }
  }
}
