<div layout="column" loyout-fill>
    <md-toolbar>
        <div class="md-toolbar-tools" ng-show="ctrl.isLoggedIn">
            <div flex="none">
                <md-button class="md-icon-button ely-toolbar-menu" aria-label="Settings" ng-click="ctrl.openLeftNav()" hide-gt-md>
                    <md-icon md-svg-icon="system:menu"></md-icon>
                </md-button>
            </div>
            <ely-toolbar-search flex="grow" ng-if="ctrl.hasSearch"></ely-toolbar-search>
            <span flex></span>
        </div>
    </md-toolbar>
</div>