<div layout="column" loyout-fill>
    <md-toolbar>
        <div class="md-toolbar-tools" ng-show="ctrl.isLoggedIn" layout="row">
            <div flex="none" hide-gt-md>
                <md-button class="md-icon-button ely-toolbar-menu" aria-label="Settings" ng-click="ctrl.openLeftNav()" >
                    <md-icon md-svg-icon="system:menu"></md-icon>
                </md-button>
            </div>
            <div flex="none" ng-if="ctrl.hasBackNav" hide-gt-md>
                <md-button class="md-icon-button" aria-label="Back" ng-click="ctrl.navigateBack()">
                    <md-icon md-svg-icon="system:arrowBack"></md-icon>
                </md-button>
            </div>
            <div flex class="title" ng-if="ctrl.title" hide-md hide-sm hide-xs>{{ctrl.title}}</div>
            <span flex></span>
            <ely-toolbar-search ng-show="ctrl.hasSearch" search-open="ctrl.searchOpen()" search-close="ctrl.searchClose()"></ely-toolbar-search>
        </div>
    </md-toolbar>
</div>