<div layout="column" loyout-fill>
    <md-toolbar>
        <div class="md-toolbar-tools" ng-show="ctrl.isLoggedIn" layout="row">
            <div flex="none">
                <md-button class="md-icon-button ely-toolbar-menu" aria-label="Settings" ng-click="ctrl.openLeftNav()" hide-gt-md>
                    <md-icon md-svg-icon="system:menu"></md-icon>
                </md-button>
            </div>
            <md-select ng-model="ctrl.selectedSubNav" id="ely-toolbar-sub-nav" ng-if="ctrl.hasSubNav" aria-label="Select Navigation">
                <md-option ng-value="view" ng-repeat="view in ctrl.subViews">{{view.name}}</md-option>
            </md-select>
            <span flex></span>
            <ely-toolbar-search ng-show="ctrl.hasSearch" search-open="ctrl.searchOpen()" search-close="ctrl.searchClose()"></ely-toolbar-search>
        </div>
    </md-toolbar>
</div>