#ely-page-detail {
  background-color: $background-light;
  height: 100%;
  .page-container {
    .page-section-title {
      font-size: 16px;
      font-weight: 500;
      color: $primary-text;
      margin-bottom: 8px;
    }
  }
}