#ely-generic-page-detail {
  #ely-generic-page-main-detail {
    padding: 12px;
    .title-container {
      .title {
        color: $primary-color;
        font-size: 20px;
        overflow: hidden;
        @media screen and (max-width: $gt-xs) {
          max-height: 74px;
        }
        @media screen and (min-width: $gt-sm) {
          font-size: 24px;
        }
      }
    }

    .topic-description {
      margin: 0 0 4px 0;
      @media screen and (min-width: $gt-md) {
        margin-bottom: 8px;
      }
    }

    .image-description-container {
      margin-top: 18px;
      overflow: hidden;
      .image {
        cursor: pointer;
        float: left;
        max-width: 200px;
        @media screen and (max-width: $gt-xs) {
          max-width: 120px;
        }
        margin-right: 16px;
        border-radius: 2px;
      }
      .description {
        font-size: 14px;
        color: $secondary-text;
      }
    }
  }
}