.place-description-container{
  font-size: 14px;
  color: $secondary-text;
  margin-bottom: 4px;
  .description {
    height: 24px;
    line-height: 24px;
    text-align: center;
  }
  .edit-icon {
    height: 24px;
    width: 24px;
    min-height: 24px;
    min-width: 24px;
  }
}

