#ely-youtube-page-detail {
  #ely-youtube-page-main-detail {
    max-width: 600px;
    min-width: 300px;
    .title-container {
      .title {
        margin-bottom: 16px;
        overflow: hidden;
        @media screen and (max-width: $gt-xs) {
          max-height: 74px;
        }
        @media screen and (min-width: $gt-sm) {
          font-size: 18px;
        }
      }
      .button-settings-container {
        padding: 0;
        .button-settings {
          margin: 0;
          height: 24px;
          min-height: 24px !important;
          padding-top: 0;
          padding-bottom: 0;
        }
      }
    }

    .description {
      margin-top: 8px;
    }

    .topic-description {
      margin: 0 0 4px 0;
    }
  }
}