<div class="blog-recommendation-desktop">
    <div class="blog-image-container" ng-if="ctrl.element.url" ng-click="ctrl.openDetail()">
        <img ng-src="{{ctrl.element.url}}" class="md-card-image">
    </div>
    <div layout="row" class="content-container">
        <div class="description-container">
            <div class="blog-text">{{ctrl.previewText}}</div>
        </div>
    </div>
    <ely-pinwall-blog-actions request-running="ctrl.requestRunning" element="ctrl.element"></ely-pinwall-blog-actions>
</div>