.manage-address {
  .ely-dialog-content {
    .search-image-icon {
      padding-left: 12px;
    }
    .load-screen-container {
      height: 150px;
    }
    .address-input-container {
      margin: 0;
    }
    .map-container {
      height: 400px;
      @media screen and (max-width: $gt-xs) {
        margin-bottom: 12px;
      }
      @media screen and (min-width: $gt-xs) {
        margin-left: 12px;
      }
      .ely-map {
        .ely-map-container {
          height: 400px;
          @media screen and (max-width: $gt-xs) {
            height: 300px;
          }
        }
      }
    }
  }
}

#manage-address-page {
  width: 100%;
}