#manage-event {
  width: 100%;
  .ely-dialog-content {
    .ely-start-end-date-container {
      padding-left: 4px;
      .edit-not-allowed {
        font-size: 14px;
        font-weight: 500;
        color: $warning;
        margin-bottom: 12px;
      }
    }
    #addresses-container {
      margin-top: 24px;
      margin-bottom: 12px;
      padding-left: 4px;
      #addresses-title {
        color: $secondary-text;
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 16px;
      }
      #existing-addresses-container {
        .existing-address {
          font-size: 16px;
          .description {
            color: $secondary-text;
            font-size: 14px;
          }
        }
      }
    }
  }
}
