<div ng-show="contributorsWithProfile.length > 0 || contributors.length > 0" ng-controller="PageHeaderBookDetailCtrl">
    <div class="page-detail-contributor-title">
        {{contributorPrefix}}
    </div>
    <div class="page-detail-header-contributor-with-Profile" ng-repeat="contributor in contributorsWithProfile"
         ng-click="openUserDetail(contributor.userId, contributor.isLoggedInUser)">
        <div ng-if="contributor.isLoggedInUser">Ich</div>
        <div ng-if="!contributor.isLoggedInUser">{{contributor.name}}</div>
    </div>
    <div class="page-detail-header-contributor" ng-repeat="contributor in contributors">
        {{contributor.name}}
    </div>
</div>