<div id="ely-page-detail">
    <div id="main-content">
        <div class="card-element">
            <div class="header-title">{{category}}
                <div class="options" ng-show="pageDetail.administrators.isAdmin">
                    <!--<img src="app/img/settings.png">-->
                    <md-menu>
                        <md-button ng-click="$mdOpenMenu($event)" class="md-icon-button md-primary" aria-label="Settings">
                            <md-icon md-svg-icon="system:setting"></md-icon>
                        </md-button>
                        <md-menu-content>
                            <md-menu-item>
                                <md-button ng-click="goEditPage(pageId, label)">Seite Bearbeiten</md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </div>
            </div>
            <div ng-include="'app/modules/page/pageDetail/book.html'" ng-if="label === 'Book'"></div>
        </div>
    </div>
</div>