<div id="content-page-detail">
    <div id="centerCol">
        <div id="page-detail-header">
            <div id="page-detail-inner-header">
                <div class="page-detail-header-image">
                    <img ng-src="{{pageDetail.page.titleUrl}}" ng-show="pageDetail.page.subCategory !== 'Youtube'">
                    <ely-iframe width="400" height="300" secure-link="https://www.youtube.com/embed/" src="pageDetail.page.link"
                                ng-if="pageDetail.page.subCategory === 'Youtube'"></ely-iframe>
                </div>
                <div class="page-detail-header-separator"></div>
                <div class="page-detail-header-list">
                    <div class="page-detail-header-title">
                        {{pageDetail.page.title}}
                    </div>
                    <div class="page-detail-header-category">
                        Kategorie: {{category}}
                    </div>
                    <div ng-show="contributorsWithProfile.length > 0 || contributors.length > 0">
                        <div class="page-detail-contributor-title">
                            {{contributorPrefix}}
                        </div>
                        <div class="page-detail-header-contributor-with-Profile" ng-repeat="contributor in contributorsWithProfile"
                             ng-click="openUserDetail(contributor.userId, contributor.isLoggedInUser)">
                            <div ng-if="contributor.isLoggedInUser">Ich</div>
                            <div ng-if="!contributor.isLoggedInUser">{{contributor.name}}</div>
                        </div>
                        <div class="page-detail-header-contributor" ng-repeat="contributor in contributors">
                            {{contributor.name}}
                        </div>
                    </div>
                    <div class="page-detail-header-commands" ng-controller="AddRemoveRecommendationCtrl">
                        <button class="btn btn-default" type="button"
                                ng-click="addNewRecommendation(pageDetail, pageId, label, pageDetail.page.title)"
                                ng-hide="pageDetail.recommendation.user">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Bewerten
                        </button>
                        <button class="btn btn-default" type="button" ng-click="removeRecommendation(pageDetail, pageId, label)"
                                ng-show="pageDetail.recommendation.user">Bewertung entfernen
                        </button>
                        <button class="btn btn-default" type="button" ng-click="goEditPage(pageId, label)"
                                ng-show="pageDetail.administrators.isAdmin"> Seite editieren
                        </button>
                    </div>
                    <div class="page-detail-header-rating-overviews">
                        <div class="page-detail-header-rating-overview">
                            <ely-star-rating is-readonly="true" is-x-small="true"
                                             number-of-selected-stars-readonly="pageDetail.recommendation.summary.contact.rating"></ely-star-rating>
                            <div class="page-detail-header-rating-overview-description">
                                (Kontakte {{pageDetail.recommendation.summary.contact.numberOfRatings}})
                            </div>
                        </div>
                        <div class="page-detail-header-rating-overview">
                            <ely-star-rating is-readonly="true" is-x-small="true"
                                             number-of-selected-stars-readonly="pageDetail.recommendation.summary.all.rating"></ely-star-rating>
                            <div class="page-detail-header-rating-overview-description">
                                (Alle {{pageDetail.recommendation.summary.all.numberOfRatings}})
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-detail-bottom-element">
            <h1 class="website-structure-title">Beschreibung</h1>

            <div id="page-detail-description-text">{{pageDetail.page.description}}</div>
        </div>
        <div ng-show="pageDetail.recommendation.summary.contact.numberOfRatings !== pageDetail.recommendation.summary.all.numberOfRatings">
            <ely-page-review only-contacts="true" title="Bewertungen deiner Kontakte"
                             ng-show="pageDetail.recommendation.summary.contact.numberOfRatings > 0"></ely-page-review>
            <ely-page-review only-contacts="false" title="Alle Bewertungen"
                             ng-show="pageDetail.recommendation.summary.all.numberOfRatings > 0"></ely-page-review>
        </div>
        <div ng-show="pageDetail.recommendation.summary.contact.numberOfRatings === pageDetail.recommendation.summary.all.numberOfRatings">
            <ely-page-review only-contacts="false" title="Bewertungen"></ely-page-review>
        </div>
        <div class="page-detail-bottom-element">
            <div class="page-detail-bottom-element-inner">
                <h1 class="website-structure-title">Administratoren</h1>

                <div class="user-mini-preview" ng-repeat="admin in pageDetail.administrators.list" ng-click="openUserDetails(admin.userId)">
                    <div class="user-mini-preview-content">
                        <img ng-src="{{admin.profileUrl}}">

                        <div class="user-mini-preview-name">
                            <div class="name">{{admin.name}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>