<md-card id="ely-user-detail-contact-preview">
    <div class="header" layout="row" layout-align="none end">
        <div class="title"><span class="number-contact" ng-if="ctrl.detail.numberOfContacting > 0">
            {{ctrl.detail.numberOfContacting}}</span> Personen kontaktierten {{ctrl.detail.user.forename}}</div>


        <!--<div class="subtitle" ng-if="ctrl.detail.numberOfContacting > 0">
            {{ctrl.detail.numberOfSameContacts}}
            <ng-pluralize count="ctrl.detail.numberOfSameContacts"
                          when="{'1': ' gemeinsamer Kontakt',
                                 'other': ' gemeinsame Kontakte'}"></ng-pluralize>
        </div>-->
    </div>
    <div class="preview-container">
        <div class="preview-image" ng-repeat="contacting in ctrl.detail.contacting" ng-click="ctrl.openUserDetail(contacting.userId)">
            <img ng-src="{{contacting.profileUrl}}" class="image">
            <div class="name">{{contacting.name}}</div>
        </div>
    </div>
</md-card>
