<md-dialog id="add-group" aria-label="Add Group">
    <form name="ctrl.createGroupForm" ng-cloak>
        <md-dialog-content class="md-dialog-content ely-dialog-content">
            <div class="md-title title">Neue Gruppe erstellen</div>
            <md-input-container class="ely-input-container">
                <label>Name</label>
                <input name="groupName" class="blog-input" ng-model="ctrl.groupName" required md-maxlength="30" md-no-asterisk
                       ng-disabled="ctrl.uploadStarted" ng-change="ctrl.nameChanged()"/>
                <div ng-messages="ctrl.createGroupForm.groupName.$error" ng-show="ctrl.createGroupForm.groupName.$dirty">
                    <div ng-message="required">Wird benötigt!</div>
                    <div ng-message="md-maxlength">Text ist zu lang</div>
                    <div ng-message="ely-types-exist">Diese Gruppe existiert bereits</div>
                </div>
            </md-input-container>
            <md-checkbox ng-model="ctrl.profileVisible" aria-label="Profile visible" class="select-privacy" ng-disabled="ctrl.uploadStarted">
                Mein Profil ist sichtbar
            </md-checkbox>
            <md-checkbox ng-model="ctrl.contactsVisible" ng-disabled="!ctrl.profileVisible || ctrl.uploadStarted" aria-label="Contacts visible"
                         class="select-privacy">
                Meine Kontakte sind sichtbar
            </md-checkbox>
            <md-checkbox ng-model="ctrl.imageVisible" ng-disabled="!ctrl.profileVisible || ctrl.uploadStarted" aria-label="Image visible"
                         class="select-privacy">
                Mein Profilbild ist sichtbar
            </md-checkbox>
            <md-checkbox ng-model="ctrl.profileDataVisible" ng-disabled="!ctrl.profileVisible || ctrl.uploadStarted" aria-label="Profile Data visible"
                         class="select-privacy">
                Meine Profildaten sind sichtbar
            </md-checkbox>
            <md-checkbox ng-model="ctrl.pinwallVisible" ng-disabled="!ctrl.profileVisible || ctrl.uploadStarted" aria-label="Pinwall visible"
                         class="select-privacy">
                Meine Bewertungen sind sichtbar
            </md-checkbox>
        </md-dialog-content>
        <md-dialog-actions>
            <md-button ng-click="ctrl.cancel()">Abbrechen</md-button>
            <md-button class="md-primary" ng-click="ctrl.accept()"
                       ng-disabled="!ctrl.validGroupName || ctrl.createGroupForm.groupName.$invalid || ctrl.uploadStarted">
                Hinzufügen
            </md-button>
        </md-dialog-actions>
    </form>
    <md-progress-linear ng-if="ctrl.uploadStarted" md-mode="indeterminate"></md-progress-linear>
</md-dialog>