<md-dialog id="add-group" aria-label="Add Group">
    <form name="ctrl.createGroupForm" ng-cloak>
        <div class="md-title ely-dialog-title">Neue Gruppe erstellen</div>
        <md-dialog-content>
            <div class="md-dialog-content ely-dialog-content">
                <ely-setting-add-group-input name-changed="ctrl.nameChanged" contacts-visible="ctrl.contactsVisible"
                                             image-visible="ctrl.imageVisible" pinwall-visible="ctrl.pinwallVisible">

                </ely-setting-add-group-input>
            </div>
        </md-dialog-content>
        <md-dialog-actions>
            <md-button ng-click="ctrl.cancel()">Abbrechen</md-button>
            <md-button class="md-primary md-raised" ng-click="ctrl.accept()"
                       ng-disabled="!ctrl.validGroupName || ctrl.createGroupForm.groupName.$invalid || ctrl.uploadStarted">
                Hinzufügen
            </md-button>
        </md-dialog-actions>
    </form>
    <md-progress-linear ng-if="ctrl.uploadStarted" md-mode="indeterminate"></md-progress-linear>
</md-dialog>