<md-card class="pinwall-no-element">
    <md-content>
        <div class="no-pinwall-title">Beiträge erstellen</div>
        <div class="no-pinwall-text">
            Beiträge auf Elyoos sind die Grundbausteine um Informationen zu teilen. Du kannst diese für ein
            <span class="link" ng-click="ctrl.createBookPage()">Buch</span>,
            ein <span class="link" ng-click="ctrl.createYoutubePage()">Video</span> oder einen
            <span class="link" ng-click="ctrl.createLinkPage()">Weblink</span> erstellen.
        </div>
    </md-content>
</md-card>