<md-card class="reason-overview-element">
    <md-card-header>
        <md-card-header-text class="md-title title">{{ctrl.element.title}}</md-card-header-text>
        <div class="number-of-rating" ng-show="ctrl.element.numberOfRatings > 0">+{{ctrl.element.numberOfRatings}}</div>
        <div class="number-of-rating" ng-show="ctrl.element.numberOfRatings === 0">0</div>
    </md-card-header>
    <md-card-actions>
        <md-card-icon-actions layout="row">
            <md-button class="md-icon-button" aria-label="like" ng-if="!ctrl.element.ratedByUser" ng-click="ctrl.rateReason()">
                <md-icon md-svg-icon="cardActions:thumbUp"></md-icon>
            </md-button>
            <md-button class="md-icon-button" aria-label="like" ng-if="ctrl.element.ratedByUser" ng-click="ctrl.removeRatingReason()">
                <md-icon md-svg-icon="cardActions:thumbDown"></md-icon>
            </md-button>
        </md-card-icon-actions>
    </md-card-actions>
</md-card>
