<md-card class="reason-overview-element">
    <md-card-header>
        <div class="rating-container" layout="column" layout-align="start center" ng-click="ctrl.rateReason()">
            <md-button class="md-icon-button arrow" aria-label="like">
                <md-icon md-svg-icon="cardActions:arrowUp" ng-class="{'enabled': !ctrl.element.ratedByUser}"></md-icon>
            </md-button>
            <div class="number-of-rating">{{ctrl.element.numberOfRatings}}</div>
            <md-button class="md-icon-button arrow" aria-label="dislike" ng-click="ctrl.removeRatingReason()">
                <md-icon md-svg-icon="cardActions:arrowDown" ng-class="{'enabled': ctrl.element.ratedByUser}"
                ></md-icon>
            </md-button>
        </div>
        <md-card-header-text class="md-title title" ng-click="ctrl.openReasonDetail()">{{ctrl.element.title}}</md-card-header-text>
    </md-card-header>
</md-card>
