<div class="visibility-container">
    <div class="header">
        <span class="title">Sichtbarkeit des Blog</span>
        <md-button class="md-raised md-primary done" aria-label="done" ng-click="ctrl.closeVisibility()" ng-disabled="">Fertig</md-button>
    </div>
    <md-divider></md-divider>
    <div class="public">
        <md-checkbox ng-model="ctrl.isPublic" aria-label="Visible to Public" class="box">
            Alle
        </md-checkbox>
    </div>
    <md-divider></md-divider>
    <div class="section-types">
        <div class="type" ng-repeat="privacyTypes in ctrl.privacyTypesSelected">
            <md-checkbox ng-model="privacyTypes.selected" aria-label="Visible to {{privacyTypes.type}}" ng-disabled="ctrl.isPublic">
                {{privacyTypes.type}}
            </md-checkbox>
        </div>
    </div>
</div>