#content-create-edit-youtube-page-common-area {
  margin-top: 10px;
  width: 100%;

  .ely-form-text-input{
    padding: 0 15px;
  }

  #inputYoutubeLink {
    width: 100%;
    //margin: 0 -15px 25px 15px;
  }
}