#content-create-edit-book-page-common-area {
  margin-top: 10px;
  width: 100%;
  padding-left: 320px;
  margin-left: 15px;

  #content-create-edit-book-page-common-inner-area {
    float: left;
    width: 100%;
    .ely-form-text-input {
      margin: 15px 0 15px 15px;
    }
  }
}