#ely-youtube-page {
  .header {
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 10px;
    .youtube-embedded {
      display: block;
      margin: 20px 0;
      height: 400px;
      width: 100%;
    }
    .header-content {
      width: 100%;
      .youtube-title {
        font-size: 24px;
        font-weight: 100;
        color: $primary-color;
        max-height: 68px;
        overflow: hidden;
      }
      .header-commands {
        margin-top: 10px;
        margin-bottom: 5px;
      }

      .page-detail-commons {
        position: static;
        bottom: 0;
      }
    }
  }
}