#ely-page-detail {
  height: 100%;
  #main-content {
    padding-top: 100px;
    margin-left: 250px;
    width: 720px;
    @include cardElement() {
      .header-title {
        margin: 10px 0;
        padding-bottom: 5px;
        color: #999;
        font-size: 18px;
        font-weight: 300;
        border-bottom: 1px solid #e5e5e5;

        .options {
          margin-right: 0px;
        }
      }
    }
  }
}