#ely-book-page {
  .header {
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 10px;
    .book-image {
      display: inline-block;
      vertical-align: top;
      height: 255px;
      width: 160px;
      img {
        max-height: 100%;
        max-width: 100%;
      }
    }
    .header-content {
      display: inline-block;
      vertical-align: top;
      width: 498px;
      padding-left: 15px;
      .book-title {
        font-size: 24px;
        font-weight: 100;
        color: $primary-color;
        max-height: 80px;
      }
      .authors {
        display: inline-block;
        font-size: 14px;
        font-weight: 300;
        .author {
          display: inline-block;
          margin-left: 5px;
          font-size: 14px;
          font-weight: 300;
        }
      }
      .header-commands {
        position: absolute;
        bottom: 65px;
      }
    }
  }
}