.page-rating-review {
  height: 150px;
  width: 658px;
  margin-bottom: 20px;

  .page-rating-review-summary {
    display: inline-block;
    height: 100%;
    width: 165px;
    text-align: center;

    .page-rating-review-number {
      font-size: 64px;
      line-height: 64px;
      font-weight: 100;
      margin-top: 20px;
      margin-bottom: 5px;
      color: #333;
    }

    .page-rating-review-total {
      margin-top: 7px;
      font-size: 12px;
      font-weight: 300;
    }
  }

  .page-rating-review-diagram {
    display: inline-block;
    vertical-align: top;
    padding-top: 15px;
    width: 493px;
    .page-rating-review-line {
      height: 24px;
      .page-rating-review-line-star {
        display: inline-block;
        vertical-align: middle;
        height: 16px;
        width: 16px;
        margin-right: 3px;
      }
      .page-rating-review-line-number {
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px;
        font-size: 11px;
        line-height: 11px;
      }
      .page-rating-review-line-block {
        display: inline-block;
        vertical-align: middle;
        width: 350px;
        height: 24px;
        .page-rating-review-line-block-5 {
          font-size: 11px;
          padding-top: 5px;
          padding-left: 5px;
          background-color: rgb(136, 177, 49);
          width: 100%;
          height: 100%;
        }
        .page-rating-review-line-block-4 {
          @extend .page-rating-review-line-block-5;
          background-color: rgb(153, 204, 0);
        }
        .page-rating-review-line-block-3 {
          @extend .page-rating-review-line-block-5;
          background-color: rgb(255, 207, 2);
        }
        .page-rating-review-line-block-2 {
          @extend .page-rating-review-line-block-5;
          background-color: rgb(255, 159, 2);
        }
        .page-rating-review-line-block-1 {
          @extend .page-rating-review-line-block-5;
          background-color: rgb(255, 111, 49);
        }
      }
    }
  }
}

.page-rating-comments-detail {
  width: 100%;
  padding-left: 0;
  display: table;

  .page-rating-comments-previews {
    width: 560px;
    display: table-cell;
    vertical-align: middle;

    .page-rating-comment-preview {
      float: left;
      max-height: 120px;
      margin-right: 10px;
      margin-bottom: 10px;
      .page-rating-comment-left {
        display: inline-block;
        width: 50px;
        height: 100%;
        .page-rating-comment-img {
          width: 48px;
          height: 48px;
          padding: 5px;
        }
      }
      .page-rating-comment-right {
        display: inline-block;
        vertical-align: top;
        margin-left: 10px;
        width: 210px;
        height: 100%;
        .page-rating-comment-header {
          .page-rating-comment-name {
            display: inline-block;
            vertical-align: top;
            font-weight: 500;
            font-size: 13px;
            max-width: 120px;
            height: 22px;
            text-overflow: ellipsis;
            overflow: hidden;
          }
          .page-rating-comment-created {
            display: inline-block;
            vertical-align: top;
            font-size: 11px;
            font-weight: 300;
            color: #AAAAAA;
            line-height: 18px;
            margin-left: 4px;
            margin-top: 1px;
          }
        }
        .page-rating-comment-description {
          width: 210px;
          white-space: normal;
          margin-top: 5px;
          padding-right: 20px;
          max-height: 70px;
          text-overflow: ellipsis;
          overflow: hidden;
          font-size: 13px;
          font-weight: 300;
        }
      }
    }
  }

  .comment-clear {
    height: 0;
    display:block;
    clear:both;
  }

  button.page-rating-comments-nav {
    width: 48px;
    min-width: 48px;
    display: table-cell;
    vertical-align: middle;
    margin: 0;
    height: 100%;
    .comments-nav-icon {
      width: 48px;
      height: 64px;
      margin-left: -5px;
    }
  }
}