#ely-page-detail {
  .page-detail-commons {
    position: absolute;
    bottom: 10px;
    .rating-overviews {
      .rating-overview {
        margin-top: 5px;
        .rating-overview-description {
          display: inline-block;
          font-size: 12px;
          font-weight: 300;
          margin-left: 5px;
        }
        .no-rating-description {
          @extend .rating-overview-description;
          margin-left: 0;
        }
      }
    }
  }

  .page-element {
    padding-bottom: 10px;
    border-top: 1px solid #e5e5e5;
  }
}