.pinwall-blog-card {
  @include cardElement();
  width: 100%;
  margin: 8px 0;
  .user-avatar {
    cursor: pointer;
  }
  .blog-header {
    cursor: pointer;
    .user-name {
      line-height: 16px;
      font-size: 14px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .blog-created {
      display: inline-block;
      margin-right: 8px;
      line-height: 14px;
      font-size: 12px;
      color: $secondary-text;
    }
    .public-type {
      font-size: 14px;
      line-height: 16px;
      font-weight: 500;
      color: $primary-color;
    }
  }
  .topic-description {
    padding: 0 16px;
  }
  .button-settings-container {
    padding: 0;
    .button-settings {
      margin: 0;
    }
  }
  .blog-title {
    cursor: pointer;
    padding: 0 16px;
    font-size: 16px;
    font-weight: 500;
    color: $primary-text;
  }
  .blog-image-container {
    cursor: pointer;
    margin-top: 8px;
    width: 100%;
  }
  .card-content-container {
    padding-bottom: 8px;
    .blog-text {
      cursor: pointer;
      color: $primary-text;
    }
  }
}


