.category-description {
  padding: 0 16px;
  .category-type {
    font-size: 14px;
    font-weight: 400;
    height: 24px;
    line-height: 24px;
    vertical-align: middle;
    padding: 2px 4px;
    border-radius: 4px;
    color: white;
  }
  .spiritual {
    background-color: #43A047;
  }
}


