#ely-pinwall-contacting {
  @include cardElement();
  width: 100%;
  margin: 8px 0;
  .card-title {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 12px;
  }
  .contacting-user {
    margin-bottom: 8px;
    .profile-image {
      height: 40px;
      width: 40px;
      border-radius: 50%;
    }
    .user-name {
      margin-left: 12px;
      line-height: 40px;
      font-size: 16px;
      font-weight: 500;
    }
  }
  .number-of-contacting {
    margin-top: 24px;
    .number {
      font-weight: 500;
      color: $primary-color;
    }
    font-size: 14px;
    font-weight: 500;
  }
}


