.pinwall-no-element {
  @include cardElement();
  width: 100%;
  padding: 16px;
  margin: 8px 0;
  .no-pinwall-title {
    font-size: 20px;
    color: $primary-text;
    font-weight: 500;
    margin-bottom: 16px;
  }
  .no-pinwall-text {
    font-size: 14px;
    color: $secondary-text;
    .link {
      cursor: pointer;
      color: $primary-color;
    }
    .link:hover {
      text-decoration: underline;
    }
  }
}


