.page-recommendation-actions {
  .page-action.md-fab.md-mini {
    height: 28px;
    width: 28px;
    line-height: 28px;
    min-height: 0;
    .action-icon {
      height: 16px;
      width: 16px;
    }
  }
  .number-container {
    margin-left: 2px;
    margin-right: 8px;
    color: $primary-text;
    height: 40px;
    .number {
      line-height: 40px;
      font-size: 14px;
      vertical-align: middle;
    }
  }
}


