.book-recommendation-desktop {
  padding: 0 16px 16px 16px;
  .content-container {
    overflow: hidden;
    .book-preview-image {
      width: 130px;
      margin-right: 12px;
    }
    .description-container {
      height: 207px;
      overflow: hidden;
      .category-description {
        padding: 0;
      }
      .book-description {
        font-size: 14px;
        color: $secondary-text;
        overflow: hidden;
        -ms-scroll-limit: 0 0 0 0;
      }
    }
  }
}


