.blog-recommendation-desktop {

  .blog-title {
    padding: 0 16px;
    font-size: 16px;
    font-weight: 500;
    color: $primary-text;
  }

  .blog-image-container {
    cursor: pointer;
    margin-top: 8px;
    margin-bottom: 16px;
    width: 100%;
  }
  .content-container {
    padding: 0 16px 8px 16px;
    overflow: hidden;
    .description-container {
      .blog-text {
        cursor: pointer;
        width: 100%;
        word-wrap: normal;
        font-size: 14px;
        color: $secondary-text;
      }
    }
  }
}


