.link-recommendation-desktop {
  .main-container {
    padding: 0 16px 8px 16px;
    .topic-description {
      margin-bottom: 4px;
    }
    .link-preview-image {
      cursor: pointer;
      width: 100%;
      margin-bottom: 8px;
    }
    .link-description {
      cursor: pointer;
      font-size: 14px;
      color: $secondary-text;
      overflow-y: hidden;
      max-height: 3.7em;
    }
  }
  .action-container {
    padding: 0 8px 8px 8px;
  }
}


