.card-recommendation {
  @include cardElement();
  width: 100%;
  margin: 8px 0;
  .header {
    cursor: pointer;
    .user-name {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .recommendation-created {
      font-size: 12px;
    }
  }

  .content-container {
    cursor: pointer;
    .page-title {
      font-weight: 500;
      font-size: 16px;
      max-height: 38px;
      overflow: hidden;
    }
    .description {
      margin-top: 8px;
      font-size: 14px;
      line-height: 16px;
      max-height: 48px;
      overflow: hidden;
      color: $secondary-text;
      margin-bottom: 8px;
    }
    .forename {
      font-weight: 400;
      font-size: 14px;
      color: $primary-text;
    }
    .page-rating {
      margin-bottom: 8px;
    }
    .pinwall-recommendation-rating-overview {
      .container {
        padding: 0;
        margin: 0;
        border: none;
      }
    }
  }
}


