.card-recommendation {
  @include cardElement();
  width: 100%;
  margin: 8px 0;
  .header {
    cursor: pointer;
    .user-name {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .recommendation-created {
      font-size: 12px;
      line-height: 24px;
      color: $secondary-text;
      vertical-align: middle;
      display: inline-block;
      margin-right: 8px;
    }
    .page-rating {
      margin-left: 4px;
    }
  }
  .topic-description {
    padding: 0 16px 4px 16px;
  }

  .content-container {
    padding-top: 0;
    cursor: pointer;
    .page-title {
      font-weight: 500;
      font-size: 16px;
      max-height: 38px;
      overflow: hidden;
    }
    .description {
      margin-top: 8px;
      font-size: 14px;
      line-height: 16px;
      max-height: 48px;
      overflow: hidden;
      color: $secondary-text;
      margin-bottom: 8px;
    }
    .forename {
      font-weight: 400;
      font-size: 14px;
      color: $primary-text;
    }
  }
  .page-recommendation-container {
    padding: 0 8px 8px 8px;
  }
}


