.pinwall-recommendation-card {
  @include cardElement();
  width: 100%;
  margin: 8px 0;
  .youtube-recommendation {
    .user-name {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .description {
      padding: 10px 16px;
      .page-title {
        font-weight: 500;
        padding-left: 2px;
        font-size: 14px;
        color: $primary-color;
      }
    }
  }
}


