.pinwall-recommendation-card {
  @include cardElement();
  width: 100%;
  margin: 8px 0;

  .book-recommendation {

    .header {
      .user-name {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .content-container {
      cursor: pointer;
      .title {
        font-weight: 500;
        font-size: 16px;
        max-height: 38px;
        overflow: hidden;
      }
      .description {
        margin-top: 8px;
        font-size: 14px;
        line-height: 16px;
        max-height: 48px;
        overflow: hidden;
        color: $secondary-text;
      }
      .forename {
        margin-top: 12px;
        font-weight: 400;
        font-size: 14px;
        color: $primary-text;
      }
    }
  }
}


