.blog-recommendation-desktop {
  padding: 0 16px 16px 16px;
  .content-container {
    overflow: hidden;
    .description-container {
      .blog-text {
        font-size: 14px;
        color: $secondary-text;
        overflow: hidden;
        -ms-scroll-limit: 0 0 0 0;
      }
    }
  }
}


