.book-recommendation-desktop {
  padding: 0 16px 16px 16px;
  .content-container {
    overflow: hidden;
    .book-preview-image {
      width: 130px;
      margin-right: 12px;
    }
    .description-container {
      position: relative;
      height: 207px;
      overflow: hidden;
      .topic-description {
        .topic-type {
          margin-top: 0;
        }
      }
      .book-description {
        height: 102px;
        overflow: hidden;
        font-size: 14px;
        color: $secondary-text;
        overflow: hidden;
        -ms-scroll-limit: 0 0 0 0;
      }
      .action-container {
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }
  }
}


