.place-recommendation {
  .place-preview-image {
    cursor: pointer;
    width: 100%;
    margin-bottom: 8px;
    img {
      width: 100%;
    }
  }
  .place-description {
    padding: 0 16px 8px 16px;
    cursor: pointer;
    font-size: 14px;
    color: $secondary-text;
    overflow-y: hidden;
    max-height: 3.2em;
    @media screen and (max-width: $gt-xxs) {
      font-size: 12px;
      max-height: 3em;
    }
  }
  .action-container {
    padding: 0 8px 8px 8px;
  }
}


