<md-dialog id="ely-add-feedback-comment-dialog">
        <form name="ctrl.feedbackCommentForm" class="ely-add-feedback-comment">
            <div class="title">Kommentar erstellen</div>
            <div class="description-container">
                <md-input-container class="input-container">
                    <label>Kommentar</label>
                    <textarea name="text" ng-model="ctrl.text" md-maxlength="3000"
                              ng-disabled="ctrl.uploadRunning" max-rows="10" required></textarea>
                    <div ng-messages="ctrl.feedbackCommentForm.text.$error">
                        <div ng-message="required">Wird benötigt!</div>
                        <div ng-message="md-maxlength">Text ist zu lang</div>
                    </div>
                </md-input-container>
            </div>
            <div layout="row" layout-align="start center" class="action-commands">
                <span flex></span>
                <md-button ng-click="ctrl.abort()" ng-hide="ctrl.abortDisabled && !ctrl.error">Abbrechen</md-button>
                <md-button class="md-primary md-raised"
                           ng-disabled="ctrl.uploadRunning || ctrl.feedbackCommentForm.$invalid"
                           ng-click="ctrl.uploadFeedbackComment()">Erstellen
                </md-button>
            </div>
        </form>
        <md-progress-linear ng-if="ctrl.uploadRunning" md-mode="indeterminate"></md-progress-linear>
</md-dialog>
