#add-group {
  max-width: 500px;
  .ely-dialog-content {
    padding-bottom: 0;
    .title {
      font-size: 18px;
      margin-bottom: 16px;
    }
    .ely-input-container {
      width: 100%;
    }
    .select-privacy {
      margin-bottom: 24px;
    }
  }
}