<md-content id="ely-contact">
    <md-tabs md-border-bottom md-center-tabs class="contact-tabs" ng-if="!ctrl.requestRunning && !ctrl.showUserQuery">
        <md-tab label="Kontakte" md-on-select="ctrl.contactSelect = true" md-on-deselect="ctrl.contactSelect = false">
            <md-content class="contact-tab-content" ng-if="ctrl.contactSelect">
                <ely-contact-overview></ely-contact-overview>
            </md-content>
        </md-tab>
        <md-tab label="Follower" md-on-select="ctrl.contactingSelect = true" md-on-deselect="ctrl.contactingSelect = false">
            <md-content class="contact-tab-content" ng-if="ctrl.contactingSelect">
                <ely-contacting-overview></ely-contacting-overview>
            </md-content>
        </md-tab>
    </md-tabs>
    <ely-load-screen ng-if="ctrl.requestRunning"></ely-load-screen>
    <ely-contact-search-user-overview ng-if="!ctrl.requestRunning && ctrl.showUserQuery"
                                      users="ctrl.userQueryResult"></ely-contact-search-user-overview>
</md-content>
