<md-content id="ely-contact">
    <md-tabs md-border-bottom md-center-tabs class="contact-tabs" ng-if="!ctrl.requestRunning && !ctrl.showUserQuery"
             md-selected="ctrl.selectedTab">
        <md-tab class="contact-tab" md-on-select="ctrl.contactSelect = true" md-on-deselect="ctrl.contactSelect = false">
            <md-tab-label>
                <span class="tab-me">Du</span>
                <md-icon md-svg-icon="tabs:arrowForward" class="icon ely-tab-icon"></md-icon>
                <md-icon md-svg-icon="tabs:people" class="icon ely-tab-icon"></md-icon>
                <md-tooltip md-direction="bottom">
                    Deine Kontakte
                </md-tooltip>
            </md-tab-label>
            <md-tab-body class="contact-tab-content" ng-if="ctrl.contactSelect">
                <ely-contact-overview></ely-contact-overview>
            </md-tab-body>
        </md-tab>
        <md-tab label="Follower" class="contact-tab" md-on-select="ctrl.contactingSelect = true" md-on-deselect="ctrl.contactingSelect = false">
            <md-tab-label>
                <span class="tab-me">Du</span>
                <md-icon md-svg-icon="tabs:arrowBack" class="icon ely-tab-icon"></md-icon>
                <md-icon md-svg-icon="tabs:people" class="icon ely-tab-icon"></md-icon>
                <md-tooltip md-direction="bottom">
                    Dich als Kontakt
                </md-tooltip>
            </md-tab-label>
            <md-tab-body class="contact-tab-content" ng-if="ctrl.contactingSelect">
                <ely-contacting-overview></ely-contacting-overview>
            </md-tab-body>
        </md-tab>
    </md-tabs>
    <ely-load-screen ng-if="ctrl.requestRunning"></ely-load-screen>
    <ely-contact-search-user-overview ng-if="!ctrl.requestRunning && ctrl.showUserQuery"
                                      users="ctrl.userQueryResult"></ely-contact-search-user-overview>
</md-content>
