<md-content id="ely-contact">
    <md-tabs md-border-bottom md-center-tabs class="contact-tabs" ng-if="!ctrl.requestRunning && !ctrl.showUserQuery">
        <md-tab label="Kontakte">
            <md-content class="contact-tab-content">
                <ely-contact-overview></ely-contact-overview>
                <div layout="row" class="add-new-group">
                    <span flex></span>
                    <md-button md-no-ink class="md-primary">Neue Gruppe</md-button>
                </div>
            </md-content>
        </md-tab>
        <md-tab label="Follower">
            <md-content class="contact-tab-content">

            </md-content>
        </md-tab>
    </md-tabs>
    <ely-load-screen ng-if="ctrl.requestRunning"></ely-load-screen>
    <ely-contact-search-user-overview ng-if="!ctrl.requestRunning && ctrl.showUserQuery"
                                      users="ctrl.userQueryResult"></ely-contact-search-user-overview>
</md-content>
