<div id="detail-user-pinwall" layout="column">
    <div id="user-pinwall-commands-container" flex="none">
        <div id="pinwall-commands" layout="row">
            <div layout="row" layout-align="start center">
                <!--<ely-icon-button icon="navFAB:filter" label="Filter" ng-click="ctrl.openFilterDialog()"></ely-icon-button>-->
            </div>
            <span flex></span>
            <div id="pinwall-order">
                <md-input-container>
                    <md-select ng-model="ctrl.filterType" aria-label="Order pinwall" class="md-no-underline select-order"
                               md-on-close="ctrl.filterTypeChanged()">
                        <md-option value="adminPopular">
                            <span ng-if="ctrl.$mdMedia('gt-xs')">Am meisten gelikte Beiträge von {{ctrl.userName}}</span>
                            <span ng-if="!ctrl.$mdMedia('gt-xs')">Am meisten gelikte Beiträge</span>
                        </md-option>
                        <md-option value="adminNewest">Neuste Beiträge von {{ctrl.userName}}</md-option>
                        <md-option value="recommendation">{{ctrl.userName}}'s Empfehlungen</md-option>
                    </md-select>
                </md-input-container>
            </div>
        </div>
    </div>
    <div class="pinwall-container" ely-infinite-scroll="ctrl.nextPinwallInfo" flex ng-if="!ctrl.noPinwall">
        <ely-pinwall-compact pinwall="ctrl.pinwall.pinwall" breakpoint="(min-width: 1750px)"></ely-pinwall-compact>
    </div>
    <md-card class="pinwall-no-element" ng-if="ctrl.noPinwall && ctrl.$mdMedia('min-width: 800px')">
        <md-card-content>
            <div class="no-pinwall-text-primary">{{ctrl.userName}} hat keine Beiträge die Du mit diesen Einstellungen sehen kannst.</div>
        </md-card-content>
    </md-card>
    <div class="pinwall-no-element" ng-if="ctrl.noPinwall && !ctrl.$mdMedia('min-width: 800px')">
        <div class="no-pinwall-text-primary">{{ctrl.userName}} hat keine Beiträge die Du mit diesen Einstellungen sehen kannst.</div>
    </div>
</div>
