<div class="privacy-container">
    <div class="title-container" layout="row">
        <div class="md-title title">{{ctrl.title}}</div>
        <div flex="none" class="change-button">
            <md-button class="md-icon-button md-primary" ng-click="ctrl.openEdit(ctrl.group)">
                <md-icon md-svg-icon="cardActions:edit"></md-icon>
            </md-button>
        </div>
    </div>
    <ul ng-if="!ctrl.group.profileVisible">
        <li class="description">Sehen nur Deinen Namen</li>
    </ul>
    <ul ng-if="ctrl.group.profileVisible && ctrl.isPublic">
        <li class="description">Sehen Dein komplettes Profil</li>
    </ul>
    <ul ng-if="ctrl.group.profileVisible && !ctrl.isPublic">
        <li class="description" ng-if="ctrl.group.contactsVisible">Sieht Deine Kontakte</li>
        <li class="description" ng-if="ctrl.group.imageVisible">Sieht Deine Profilbild</li>
        <li class="description" ng-if="ctrl.group.profileDataVisible">Sieht Deine Profiel Daten</li>
        <li class="description" ng-if="ctrl.group.pinwallVisible">Sieht Deine Pinwand</li>
    </ul>
</div>
