<div class="visibility-container">
    <div class="header">
        <span class="title">Sichtbarkeit des Blog</span>
        <md-button class="md-raised md-primary done" aria-label="done" ng-click="ctrl.closeVisibility()"
                   ng-disabled="!ctrl.validVisibility">Fertig
        </md-button>
    </div>
    <md-divider></md-divider>
    <div class="public">
        <md-checkbox ng-model="ctrl.isPublic" ng-change="ctrl.isPublicChanged()" aria-label="Visible to Public" class="box">
            Öffentlich
        </md-checkbox>
    </div>
    <md-divider></md-divider>
    <div class="section-types">
        <div class="type" ng-repeat="privacyTypes in ctrl.privacyTypes" ng-class="{'section-types-public': ctrl.isPublic}">
            <md-checkbox ng-model="privacyTypes.selected" aria-label="Visible to {{privacyTypes.type}}"
                         ng-change="ctrl.privacyTypesSelectedChanged(privacyTypes)">
                {{privacyTypes.type}}
            </md-checkbox>
        </div>
    </div>
</div>
