<div id="start-screen">
    <div id="start-container-mobile" ng-if="!ctrl.$mdMedia('gt-sm')">
        <div layout="column" layout-align="start center">
            <img src="app/img/start/logo.png" class="ely-logo">
            <div class="description">Das soziale Netzwerk für bewusste Menschen</div>
            <div class="text-phase-description" ui-sref="public.testphase">Geschlossene Testphase</div>
            <ely-login password-reset="ctrl.showPasswordReset" ng-show="!ctrl.showPasswordReset"></ely-login>
            <ely-password-reset-request back="ctrl.showPasswordReset" ng-show="ctrl.showPasswordReset"></ely-password-reset-request>
        </div>
    </div>
    <div id="start-container-desktop" ng-if="ctrl.$mdMedia('gt-sm')">
        <ely-start-screen-carousel></ely-start-screen-carousel>
        <!--<div id="left-column" flex layout="column" layout-align="start center">
            <div class="meaning-container">
                <div class="meaning-description meaning-world-change">
                    <h1 class="meaning-title md-headline">Die Welt zum Positiven verändern</h1>
                    <p class="meaning-text">Gemeinsam können wir alles erreichen, doch es beginnt bei Dir. Nutze Elyoos um Dich als Mensch
                        weiter zu
                        entwickeln. Um Lösungsvorschläge für aktuelle Probleme zu finden, damit die Welt zu einem besseren Ort wird.</p>
                </div>
            </div>
            <div class="meaning-container">
                <div class="meaning-description meaning-connecting">
                    <h1 class="meaning-title md-headline">Sich mit Gleichgesinnten austauschen</h1>
                    <p class="meaning-text">Profitiere von dem Wissen Anderer und gebe Deines weiter. Schreibe Blogs zu den Themen wie Spiritualität,
                        Persönliche Entwicklung und Umwelt. Empfehle Inhalte welche Dich inspirieren und Deinen Horizont erweitern. </p>
                </div>
            </div>
            <div class="meaning-container">
                <div class="meaning-description meaning-connecting">
                    <h1 class="meaning-title md-headline">Privatsphäre wahren</h1>
                    <p class="meaning-text">Du entscheidest was Andere von deinem Profil sehen können.</p>
                </div>
            </div>
        </div>
        <div id="right-column" flex="none">
            <div layout="column" layout-align="start center">
                <img src="app/img/start/logo.png" class="ely-logo">
                <div class="description">Das soziale Netzwerk für bewusste Menschen</div>
                <div class="text-phase-description" ui-sref="public.testphase">Geschlossene Testphase</div>
                <ely-login password-reset="ctrl.showPasswordReset" ng-show="!ctrl.showPasswordReset"></ely-login>
                <ely-password-reset-request back="ctrl.showPasswordReset" ng-show="ctrl.showPasswordReset"></ely-password-reset-request>
            </div>
        </div>-->
    </div>
    <!--<ely-public-foot-nav></ely-public-foot-nav>-->
</div>