.ely-question-answer-card {
  margin: 0 auto 8px auto;
  min-width: 280px;
  max-width: 400px;
  padding: 10px;

  .positive-rating {
    width: 48px;
    margin-right: 8px;
    .number {
      font-size: 20px;
      font-weight: 400;
    }
  }

  .description {
    font-size: 16px;
    font-weight: 400;
    color: $primary-color;
  }
}


