.ely-question-answer-card {
  margin: 0 auto 8px auto;
  min-width: 280px;
  max-width: 400px;
  padding: 10px;

  .answer-info-container {
    cursor: pointer;
    .category-icon {
      margin-bottom: 0;
    }
    .category-title {
      margin-left: 8px;
      font-size: 17px;
      line-height: 24px;
      vertical-align: middle;
      font-weight: 400;
    }
    .page-title {
      margin-top: 3px;
      font-size: 14px;
      font-weight: 400;
      color: $primary-color;
    }
    .answer-title {
      margin-top: 3px;
      font-size: 14px;
      font-weight: 400;
      color: $primary-color;
    }
  }
}


