#ely-question-detail-right-sidenav {
  height: 100%;
  padding: 20px 16px;
  .description {
    font-size: 18px;
    font-weight: 400;
    color: $primary-color
  }
  .category-description {
    margin-top: 8px;
    padding:0;
  }
}


