.pinwall-recommendation-rating-overview {
  .container {
    padding-top: 8px;
    margin-top: 8px;
    font-size: 14px;
    border-top: 1px solid $divider;
    .number {
      color: $primary-color;
      font-weight: 500;
    }
  }
}


