<div class="forum-add-page" layout="column">
    <div class="md-title ely-dialog-title">Seite auswählen</div>
    <md-dialog-content>
        <div class="md-dialog-content ely-dialog-content">
            <div class="autocomplete-container">
                <md-autocomplete md-input-name="autocompleteField"
                                 md-autofocus="true"
                                 md-no-cache="true"
                                 md-delay="100"
                                 md-min-length="3"
                                 md-search-text="ctrl.search"
                                 md-selected-item-change="ctrl.querySearchFull(ctrl.search)"
                                 md-selected-item="ctrl.selectedItem"
                                 md-item-text="item.title"
                                 md-items="item in ctrl.querySearch(ctrl.search)"
                                 md-floating-label="Suche Seite"
                                 ng-keypress="ctrl.keyPressed($event)">
                    <md-item-template>
                        <ely-autosuggestion-page item="item"></ely-autosuggestion-page>
                    </md-item-template>
                </md-autocomplete>
            </div>
            <ely-existing-page-overview pages="ctrl.searchResult.pages" has-select="true"
                                        select-changed="ctrl.selectedPage"></ely-existing-page-overview>
        </div>
    </md-dialog-content>
    <md-dialog-actions>
        <md-button ng-click="ctrl.cancel()" target="_blank" md-autofocus>Abbrechen</md-button>
        <md-button class="md-primary md-raised" ng-click="ctrl.addPage()"
                   ng-disabled="!ctrl.pageToAdd">Auswählen
        </md-button>
    </md-dialog-actions>
</div>
