<div id="ely-pinwall-user-recommendation">
    <div id="ely-pinwall-user-recommendation-container" layout="row" layout-wrap>
        <div ng-repeat="element in ctrl.pinwall" flex="100" flex-gt-sm="50">
            <ely-user-pinwall-recommendation-card element="element" ng-if="ctrl.$mdMedia('gt-xs')"></ely-user-pinwall-recommendation-card>
            <ely-user-pinwall-recommendation element="element" show-bottom-line="true" ng-if="!ctrl.$mdMedia('gt-xs')"></ely-user-pinwall-recommendation>
        </div>
    </div>
</div>