<div id="content-create-edit-page-common" ng-controller="PageCommonSectionCtrl" ng-show="state.actual === 3">
    <form name="commonForm" class="form-horizontal" role="form" novalidate>
        <div class="website-structure-header">
            <h1 class="website-structure-title">Allgemeines</h1>
        </div>
        <div ng-include="'app/modules/page/createEditPage/commonBook.html'" ng-if="category.seletedCategoryType === 'BookPage'"></div>
        <div ng-include="'app/modules/page/createEditPage/commonYoutube.html'" ng-if="category.seletedCategoryType === 'Youtube'"></div>
        <div id="content-create-edit-page-common-description-area">
                    <textarea class="form-control" placeholder="Beschreibung"
                              ng-maxlength="10000"
                              maxLength="10000"
                              ng-model="page.description" required></textarea>
        </div>
        <div>
            <button type="submit"
                    class="btn btn-default content-create-edit-page-common-commands"
                    ng-click="abortCreateEditPage()">
                Abbrechen
            </button>
            <button type="submit"
                    class="btn btn-default content-create-edit-page-common-commands"
                    ng-click="createPage()"
                    ng-class="{disabled: commonForm.$invalid}"
                    ng-hide="mode.edit">
                Seite erstellen
            </button>
            <button type="submit"
                    class="btn btn-default content-create-edit-page-common-commands"
                    ng-click="editPage()"
                    ng-class="{disabled: commonForm.$invalid || (!editChanged && !editChangedTitle)}"
                    ng-show="mode.edit">
                Seite &aumlndern
            </button>
        </div>
    </form>
</div>
</div>