<div>
    <div ng-include="'app/modules/page/createEditPage/selectPicture.html'"></div>
    <div id="create-book-page">
        <div ng-controller="PageCommonBookCtrl">
            <md-input-container>
                <label>Autor</label>
                <input md-maxlength="255" required="" name="inputDescriptionArea" aria-label="Autor"
                       ng-model="page.authors">

                <div ng-messages="commonForm.inputDescriptionArea.$error">
                    <div ng-message="required">Dieses Feld wird ben&ouml;tigt!</div>
                    <div ng-message="md-maxlength">Text ist zu lang!</div>
                </div>
            </md-input-container>
            <md-input-container>
                <label>Erscheinungsdatum</label>
                <input name="inputPublicationDate" aria-label="Erscheinungsdatum"
                       ng-model="page.publishDate">

                <div ng-messages="commonForm.inputPublicationDate.$error">
                    <div ng-message="custom">Gib ein g&#252ltiges Datum an (z.B. {{getDateExample()}})</div>
                </div>
            </md-input-container>
        </div>
    </div>
    <div id="description-area">
        <md-content>
            <md-input-container>
                <label>Beschreibung</label>
                <textarea md-maxlength="10000" required="" name="inputDescriptionArea" aria-label="Beschreibung"
                          ng-model="page.description"></textarea>

                <div ng-messages="commonForm.inputDescriptionArea.$error">
                    <div ng-message="required">Dieses Feld wird ben&ouml;tigt!</div>
                    <div ng-message="md-maxlength">Text ist zu lang!</div>
                </div>
            </md-input-container>
        </md-content>
    </div>
</div>