<div id="create-page-common" ng-controller="PageCommonSectionCtrl" ng-show="state.actual === 3">
    <div class="card-element">
        <form name="commonForm">
            <div class="description">{{category.selectedCategory}}</div>
            <div ng-include="'app/modules/page/createEditPage/commonBook.html'" ng-if="category.selectedCategoryType === 'Book'"></div>
            <div ng-include="'app/modules/page/createEditPage/commonYoutube.html'" ng-if="category.selectedCategoryType === 'Youtube'"></div>
            <div class="commands">
                <md-button class="md-primary md-raised ely-button"
                        ng-click="createPage()"
                        ng-disabled="commonForm.$invalid"
                        ng-hide="mode.edit">
                    Seite erstellen
                </md-button>
                <md-button class="md-primary md-raised ely-button"
                        ng-click="editPage()"
                        ng-disabled="commonForm.$invalid || (!editChanged && !editChangedTitle) || uploadRunning"
                        ng-show="mode.edit">
                    Seite &aumlndern
                </md-button>
                <md-button class="md-primary ely-button"
                           ng-click="abortCreateEditPage()">
                    Abbrechen
                </md-button>
            </div>
        </form>
    </div>
</div>