#change-password {
  max-width: 300px;
  .ely-dialog-content {
    padding-bottom: 0;
    .ely-dialog-title {
      margin-bottom: 32px;
    }
    .ely-input-container {
      width: 100%;
      margin: 0;
    }
  }
}