#change-profile-data {
  max-width: 500px;
  .ely-dialog-content {
    padding-bottom: 0;
    .ely-dialog-title {
      margin-bottom: 32px;
    }
    .ely-input-container {
      width: 100%;
      margin: 0;
    }
    .select-gender {
      margin: 24px 0 16px 0;
    }
  }
}