#modify-group-setting {
  max-width: 700px;
  padding: 0 24px;
  .ely-dialog-content {
    padding-bottom: 0;
    .ely-dialog-title {
      .group {
        color: $primary-color;
      }
    }
    .privacy-divider {
      margin-bottom: 32px;
    }
    .privacy-element-description {
      font-size: 14px;
      color: $secondary-text;
      margin-bottom: 24px;
    }
    .select-privacy {
      margin-bottom: 12px;
    }
  }
}

#modify-group-setting-dialog {
  max-width: 500px;
}