#overview-group-setting {
  max-width: 700px;
  .ely-dialog-content {
    padding-bottom: 0;
    .privacy-description {
      font-size: 14px;
      margin-bottom: 16px;
    }
    .privacy-container {
      .title-container {
        .title {
          font-size: 16px;
          line-height: 16px;
          vertical-align: middle;
          margin-bottom: 0px;
          color: $primary-color;
          @media screen and (min-width: $gt-md) {
            line-height: 40px;
          }
        }
        .change-button {
          width: 40px;
        }
      }
      .description {
        font-size: 14px;
      }
    }
  }
}