#rename-group-name {
  max-width: 500px;
  .ely-dialog-content {
    padding-bottom: 0;
    .title {
      .name {
        color: $primary-color;
      }
      font-size: 18px;
      margin-bottom: 16px;
    }
  }
}