<div>
    <div ng-controller="BlogExtendedCtrl">
        <div class="home-pinwall-load-photo" ng-if="imageForUploadPreviewStart">
            <ely-spin></ely-spin>
        </div>
        <div class="home-pinwall-blog-photo-container" ng-if="imageForUploadPreview">
            <div>
                <img ng-src="{{imageForUploadPreview}}">
            </div>
        </div>
        <div class="home-pinwall-blog-photo-container-commands" ng-if="imageForUploadPreview">
            <div class="command-element" ng-click="deletePicture()" ng-disabled="user.uploadBlogIsRunning">
                <img id="trash" src="app/img/trash.png">
            </div>
        </div>
        <div class="home-pinwall-blog-attachment">
            <label>Anhang:</label>

            <div class="home-pinwall-blog-attachment-element" ng-click="attachPhoto()">
                <img src="app/img/home/blog/photos.png"/>

                <div class="attachment-text">Photo</div>
                <input type="file" ely-file-model="imageForUpload" class="select-file-dialog" ng-hide="true"
                       accept=".jpg, .png, jpeg" ng-disabled="user.uploadBlogIsRunning">
            </div>
        </div>
        <div class="home-pinwall-blog-visibility">
            <label>Sichtbar:</label>
            <button type="button" class="btn btn-default" ng-model="selectedPrivacyType" data-html="1" data-multiple="1" data-animation="am-flip-x"
                    bs-options="privacyType.type for privacyType in userInfo.privacyTypes" data-max-length="3" data-max-length-html="ausgew&auml;hlt"
                    data-placeholder="Gruppe" data-sort="false" bs-select ng-hide="selectPublic">
                Action <span class="caret"></span>
            </button>
            <div class="home-pinwall-blog-select-all" ng-class="{'is-selected': selectPublic}">
                <input type="checkbox" ng-model="selectPublic" ng-disabled="user.uploadBlogIsRunning"> F&uuml;r Alle
            </div>
        </div>
        <div class="home-pinwall-blog-send">
            <button class="btn btn-default btn-sm send-blog-button" type="button" ng-click="sendBlog()"
                    ng-disabled="!sendBlogAllowed || user.uploadBlogIsRunning">Posten
            </button>
            <button class="btn btn-default btn-sm" type="button" ng-click="abort()" ng-disabled="user.uploadBlogIsRunning">Abbrechen
            </button>
            <div class="upload-blog-running" ng-if="user.uploadBlogIsRunning">
                <ely-spin size="small"></ely-spin>
            </div>
        </div>
    </div>
</div>