<div class="home-pinwall-element home-pinwall-blog-element"
     ng-class="{'home-pinwall-blog-element-extended': showExpand, 'home-pinwall-blog-element-collapsed': !showExpand}">
        <textarea class="form-control home-pinwall-blog-input" placeholder="Schreibe einen Beitrag"
                  ng-focus="expandBlog()"></textarea>

    <div class="home-pinwall-blog-send" ng-show="isExpand">
        <button class="btn btn-default btn-sm" type="button" ng-click="sendBlog()"
                ng-class="{'disabled': settings.newMessage.trim() === ''}">Posten
        </button>
        <button class="btn btn-default btn-sm" type="button" ng-click="abort()">Abbrechen
        </button>
    </div>
</div>