<div class="card-element pinwall-blog-element"
     ng-class="{'pinwall-blog-element-extended': showExpand, 'pinwall-blog-element-collapsed': !showExpand, 'one-column': numberOfRows === 1, 'three-column': numberOfRows === 3}">
    <div class="blog-input-container">
        <md-input-container>
            <label>Schreibe einen Beitrag...</label>
            <textarea class="blog-input" ng-model="user.blogText"
                  ng-focus="expandBlog()" ng-disabled="user.uploadBlogIsRunning"></textarea>
        </md-input-container>
    </div>
    <div ng-include="'app/modules/home/homePinwallBlog/blog.html'" ng-if="showExpand"></div>
</div>