<div class="pinwall-element pinwall-blog-element"
     ng-class="{'pinwall-blog-element-extended': showExpand, 'pinwall-blog-element-collapsed': !showExpand, 'one-column': numberOfRows === 1, 'three-column': numberOfRows === 3}">
        <textarea class="form-control blog-input" ng-model="user.blogText" placeholder="Schreibe einen Beitrag"
                  ng-focus="expandBlog()" ng-disabled="user.uploadBlogIsRunning"></textarea>

    <div ng-include="'app/modules/home/homePinwallBlog/blog.html'" ng-if="showExpand"></div>
</div>