<div class="question-overview-element">
    <div layout="row" class="container">
        <div class="activity-rating" flex="none" layout="column" layout-align="center center">
            <div class="number">{{ctrl.element.activityRating}}</div>
            <div class="rating-description">Aktivität</div>
        </div>
        <div flex="grow">
            <div layout="row">
                <div class="description" ng-click="ctrl.openDetail(ctrl.element.questionId)">{{ctrl.element.description}}</div>
                <span flex></span>
                <md-menu md-position-mode="target-right target" class="menu-settings-container" ng-if="ctrl.element.isAdmin"
                         ng-disabled="ctrl.requestRunning">
                    <md-button ng-click="$mdOpenMenu($event)" class="md-icon-button menu-settings" aria-label="Settings">
                        <md-icon md-svg-icon="cardActions:moreVert"></md-icon>
                    </md-button>
                    <md-menu-content>
                        <md-menu-item>
                            <md-button ng-click="ctrl.deleteQuestion(ctrl.element.questionId)">Löschen</md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </div>
            <ely-topics-color is-text-expanded="true" topics="ctrl.element.topic"></ely-topics-color>
        </div>
    </div>
    <md-progress-linear ng-if="ctrl.requestRunning" md-mode="indeterminate"></md-progress-linear>
</div>
