<md-card class="card-recommendation">
    <md-card-header class="header">
        <md-card-avatar ng-click="ctrl.openUserDetail()">
            <img class="md-user-avatar" ng-src="{{ctrl.element.profileUrl}}"/>
        </md-card-avatar>
        <md-card-header-text>
            <span class="md-title user-name" ng-click="ctrl.openUserDetail()">{{ctrl.element.name}}</span>
            <div>
                <div class="md-subhead recommendation-created">{{ctrl.getFormattedDate(ctrl.element.created, 'LLL')}}</div>
                <ely-topics-color topics="ctrl.element.topic"></ely-topics-color>
            </div>
        </md-card-header-text>
    </md-card-header>
    <md-card-content ng-click="ctrl.openPageDetail()" class="content-container">
        <div class="page-title">{{ctrl.element.title}}</div>
        <div class="description" ng-if="ctrl.element.description">{{ctrl.element.description}}</div>
        <div class="description" ng-if="ctrl.element.text">{{ctrl.element.text}}</div>
    </md-card-content>
    <ely-blog-actions element="ctrl.element" request-running="ctrl.requestRunning"
                              ng-if="ctrl.element.label === 'Blog' || ctrl.element.pinwallType === 'Blog'"></ely-blog-actions>
    <div class="page-recommendation-container">
        <ely-pinwall-page-recommendation-actions element="ctrl.element" request-running="ctrl.requestRunning"
                                                 ng-if="ctrl.element.label !== 'Blog' && ctrl.element.pinwallType !== 'Blog'">
        </ely-pinwall-page-recommendation-actions>
    </div>
    <md-progress-linear ng-if="ctrl.requestRunning" md-mode="indeterminate"></md-progress-linear>
</md-card>
