#ely-map-overview-recommendations {
  height: 100%;
  background-color: white;
  .map-recommendation-border {
    border-bottom: 1px solid #ccc;
  }
  .selected {
    background-color: $background-normal;
  }
  .ely-map-recommendation {
    padding: 8px;
    .recommendation-image {
      cursor: pointer;
      position: relative;
      width: 48px;
      height: 48px !important;
      border-radius: 50%;
      opacity: 0.99;
      overflow: hidden;
      img {
        position: absolute;
        left: 50%;
        top: 50%;
        height: 100%;
        width: auto;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
      }
    }
    .recommendation-container {
      position: relative;
      height: 50px;
      padding-left: 12px;
      .recommendation-title {
        cursor: pointer;
        font-size: 14px;
        font-weight: 500;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .recommendation-title:hover {
        text-decoration: underline;
      }
      .number-of-recommendations {
        position: absolute;
        bottom: 0;
        line-height: 18px;
        font-size: 12px;
        .thumb-up-icon {
          height: 14px;
          width: 14px;
          min-height: 14px;
          min-width: 14px;
          margin-right: 4px;
        }

        .number {
          position: relative;
          top: 2px;
        }
      }
    }
    .ely-topics-vertical-color {
      padding: 0;
      height: 50px;
    }
  }
}


