<div ng-show="ctrl.pagePreviews.length > 0 && !ctrl.hide" class="page-overview-container" ng-style="{'width': ctrl.containerWidth + 'px'}">
    <div class="website-structure-header">
        <h1 class="website-structure-title">{{ctrl.title}}</h1>
        <md-button class="md-primary md-raised ely-button page-overview-expand" ng-click="ctrl.startExpand()"
                   ng-show="!ctrl.expand && ctrl.numberOfElements < ctrl.totalNumberOfPages">Mehr
        </md-button>
    </div>
    <div class="page-preview-container" ng-class="{'page-preview-expand-container': ctrl.expand}">
        <div ng-repeat="pagePreview in ctrl.pagePreviews" class="page-preview-inner-container">
            <ely-page-preview page-preview="pagePreview" video-width="{{ctrl.videoWidth}}"
                              video-height="{{ctrl.videoHeight}}"></ely-page-preview>
        </div>
    </div>
    <div class="page-overview-next" ng-click="ctrl.nextPages()"
         ng-show="ctrl.expand && ctrl.expandSkipPages + ctrl.expandNumberOfPages < ctrl.totalNumberOfPages"><img
            src="app/img/expand-down.png"></div>
</div>