<div ng-show="pagePreviews.length > 0 && !search.length > 0" class="page-overview-container" ng-style="{'width': containerWidth + 'px'}"
     ng-click="expand=true">
    <div class="website-structure-header">
        <h1 class="website-structure-title">{{title}}</h1>
        <button type="button" class="btn btn-default page-overview-expand" ng-hide="expand"
                ng-show="numberOfElements < totalNumberOfPages">Mehr
        </button>
    </div>
    <div ng-class="{'page-preview-container': longFormat && !expand, 'page-preview-short-container': !longFormat&& !expand, 'page-preview-expand-container': expand}">
        <div ng-repeat="pagePreview in pagePreviews" class="page-preview-inner-container">
            <ely-page-preview page-preview="pagePreview" long-format="{{longFormat}}" video-width="{{videoWidth}}"
                              video-height="{{videoHeight}}"></ely-page-preview>
        </div>
    </div>
</div>