<md-card id="ely-setting-overview">
    <div class="title" ng-click="ctrl.colapsed = !ctrl.colapsed">
        <md-icon md-svg-icon="cardActions:setting" class="setting-icon-left"></md-icon>
        <div class="description-container" layout="row" layout-align="center center">
            <div class="description">Einstellungen</div>
        </div>
        <span flex></span>
        <md-icon ng-if="ctrl.colapsed" md-svg-icon="cardActions:arrowDown" class="setting-icon-right"></md-icon>
        <md-icon ng-if="!ctrl.colapsed" md-svg-icon="cardActions:arrowUp" class="setting-icon-right"></md-icon>
    </div>
    <div ng-if="!ctrl.colapsed" class="content">
        <div class="setting" layout="row" layout-align="center center" ng-click="ctrl.openChangeProfileData()">
            <div class="setting-description">Profil</div>
        </div>
        <div class="setting" layout="row" layout-align="center center" ng-click="ctrl.openChangePassword()">
            <div class="setting-description">Passwort ändern</div>
        </div>
        <div class="setting" layout="row" layout-align="center center" ng-click="ctrl.openPrivacyOverview()">
            <div class="setting-description">Privatsphäre</div>
        </div>
    </div>
</md-card>
